
button.invite-button {
    min-width: 10rem;
    margin-right: 0 !important;
    &.invite-sent {
        background: lightgreen !important;
    }
    &.invite-accepted {
        background: green !important;
        color: #fff;
    }
    &.error {
        background: red;
    }
}

.time-lable {
    min-width: 5rem;
}

.cellWidthSmall {
    min-width: 13rem;
}

.account-button {
    min-width: 12rem;
}