<!-- start of wrapper -->
<div
  fxLayout="row"
  class="moduleContainerWrapper"
  fxLayoutAlign="center center"
>
  <!-- column container for modules -->
  <div
    class="moduleContainer"
    fxLayout="column"
    fxFlex="80"
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayoutGap="1rem">

    <div 
      fxLayout="row">
      <button 
        style="margin-top:0.5rem"
        mat-button
        [routerLink]="'/edu'">
        {{'buttons.standard.back-to-overview' | translate}}
      </button>
    </div>

    <ng-container *ngIf="institutionId">
      <app-institution-profile [institutionId]="institutionId" layout="blockLogoRightImageBottom"></app-institution-profile>
    </ng-container> 

    <div
      class="fxContent mat-elevation-z2 padding16"
      fxLayout="column"
      fxLayoutGap="0em">

      <p class="mat-title">
        {{'edu.edu-coaches.headline' | translate}}
        <!--Manage institutional accounts-->
      </p>
      <p>
        {{'edu.edu-coaches.description' | translate}}
        <!-- See below an overview of all accounts for your institution. You can create, invite, configure and delete accounts from this list. -->
      </p>

      <div class="spacer"></div>
      
      <mat-progress-bar *ngIf="progressBar | async"></mat-progress-bar>
      <app-create-accounts [mode]="'institution'" [institutionId]="institutionId"></app-create-accounts>   

    </div>

    <div fxLayout="row">
      <button 
        mat-button
        [routerLink]="'/edu'">
        {{'buttons.standard.back-to-overview' | translate}}
      </button>
    </div>
    
  </div>
</div>

<app-footer></app-footer>
