.mat-badge-content {
    font-size: 9px;
    background: green !important;
    width: auto;
    padding: 0rem 0.3rem;
    border-radius: 0.3rem;
    height: 1.2rem;
    line-height: 1.2rem;
}
button {
    margin-right: 1rem;
}
.mat-stroked-button {
    color: #fff;
    border-color: rgb(0,84,150);
}
.mat-stroked-button.linkActive {
    color: #fff;
    border-color: #fff;
}
button:hover {
    background: rgba(#fff, 0.3);
}