
<!-- start of wrapper -->
<div fxLayout="row" 
  class="moduleContainerWrapper"
  fxLayoutAlign="center center">

  <!-- column container for modules -->
  <div 
    class="moduleContainer"
    fxLayout="column" 
    fxFlex="80" 
    fxFlex.sm="100"
    fxFlex.xs="100" 
    fxLayoutGap="1em">

    <!--progress bar-->
    <mat-progress-bar 
      class="localProgressBar"
      mode="indeterminate"
      *ngIf="false">
    </mat-progress-bar>

    <ng-container *ngIf="institutionId">
      <app-institution-profile [institutionId]="institutionId" layout="blockLogoRightImageBottom"></app-institution-profile>
    </ng-container>

    <ng-container *ngIf="(a.isEdu$ | async) else notEdu">

      <div 
        class="fxContent mat-elevation-z2 padding16"
        fxLayout="column" 
        fxLayoutGap="1rem">

        <h2>
          {{'my-students.headline' | translate}}
          <!--My students-->
        </h2>

        <mat-tab-group>
          
          <!-- legacy invite function -->
          <ng-container
            *ngIf="false">
            <mat-tab [label]="'my-students.tab1.tab' | translate">
              <div class="spacer"></div>
              <p class="mat-title">
                {{'my-students.tab1.subheadline' | translate}}
                <!--Manage your connected student accounts-->
              </p>
              <p>
                {{'my-students.tab1.description' | translate}}
                <!--See below an overview of all students, that are connected with this coach account. Per account access to the coaches classroom can be granted or denied. "Remove connection" disconnects the student from the coach, so that he can not visit his classroom any more.-->
              </p>
              <app-studentlist [userId]="userId"></app-studentlist>
            </mat-tab>
          </ng-container>

          <!-- new account creation and invite function -->
          <mat-tab [label]="'my-students.tab2.tab' | translate"> 
            <div class="spacer"></div>
            <p class="mat-title">
              {{'my-students.tab2.subheadline' | translate}}
              <!--Create & connect new student accounts-->
            </p>

            <p>
              {{'my-students.tab2.description' | translate}}
              <!--Enter the email address of a student that should be connected with this coach account. This creates an invite email for a student that has no doozzoo account yet or it will connect an already existing account automatically. In both cases the student will receive an email explaining how to log into doozzoo and to enter the "my coaches" page.-->
            </p>
            <ng-container *ngIf="institutionId && userId">
              <app-create-accounts [mode]="'institutionCoach'" [institutionId]="institutionId" [coachId]="userId"></app-create-accounts>
            </ng-container>


          </mat-tab>

          <mat-tab [label]="'my-students.tab3.tab' | translate">
            <!-- legacy invite function -->
            <ng-container *ngIf="(institutionCoach | async)?.allowInvites; else managedInvite">
              <ng-container *ngIf="userId">
                <app-invite-student [userId]="userId" layout="coach"></app-invite-student>
              </ng-container>
            </ng-container>
          </mat-tab>
        </mat-tab-group>

      </div>

      <ng-template #managedInvite>
        <div class="spacer"></div>
        <span class="mat-title">
          {{'edu.general.invited-by-your-institution' | translate}}
          <!--Your students are invited by your Institution. Please contact your institution backoffice.-->
        </span>
      </ng-template>

    </ng-container>

    <ng-template #notEdu>
      
      <div 
        class="fxContent mat-elevation-z2 padding16"
        fxLayout="column" 
        fxLayoutGap="1rem">   
        
        <h2>
          {{'my-students.headline' | translate}}
          <!--My students-->
        </h2>
      
        <mat-tab-group>
            
          <!-- legacy invite function -->
          <mat-tab [label]="'my-students.tab1.tab' | translate">
            <div class="spacer"></div>
            <p class="mat-title">
              {{'my-students.subheadline' | translate}}
              <!--Manage list of connected student accounts-->
            </p>
            <p>
              {{'my-students.tab1.description' | translate}}
              <!--See below an overview of all students, that are connected with this coach account. Per student the access to the coaches sessions can be granted or denied. "Remove connection" disconnects the student from the coach, so that the student also loses access to shared data.-->
            </p>
            <ng-container *ngIf="userId">
              <app-studentlist [userId]="userId"></app-studentlist>
            </ng-container>
          </mat-tab>

          <mat-tab [label]="'my-students.tab-invite&connect.tab' | translate">
            <!-- legacy invite function -->
            <ng-container *ngIf="userId">
              <app-invite-student [userId]="userId" layout="coach"></app-invite-student>
            </ng-container>
          </mat-tab>
        </mat-tab-group>

      </div>

    </ng-template>

  </div>
</div>

<app-tango-button buttonConfig="center"></app-tango-button>

<app-footer></app-footer>

