
<!-- start of module -->
<!-- should be in a fxLayout="column" div-->
<div 
  fxLayout="column"
  fxLayoutGap="1rem">

  <!-- create section START -->
  <ng-container *ngIf="(institutionCoachAllowInvites | async) || mode === 'institution'; else invitesNotAllowed">
    <p>
      {{'create-accounts.subheadline' | translate}}
      <!--Enter an email address, to create an account:-->
    </p>
    <!-- create row START -->
    <div 
      name="createAccountsFormRow"
      fxLayout="row" 
      fxLayoutAlign="start center" 
      fxLayoutGap="1rem">
      
      <mat-form-field fxFlex="30">
        <input
          matInput
          name="email"
          placeholder="{{'forms.please-enter-email' | translate}}"
          required
          maxlength="60"
          minlength="6"
          type="email"
          [formControl]="accountFormEmail"
          [(ngModel)]="accountEmailValue"/>
        <mat-hint align="end">{{ accountFormEmail.value?.length || 0 }}/60</mat-hint>
        <mat-error *ngIf="accountFormEmail.invalid">
          {{'forms.valid-email' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="30">
        <input
          matInput
          name="email2"
          (paste)="$event.preventDefault()"
          placeholder="{{'forms.please-repeat-email' | translate}}"
          [disabled]="accountFormEmail.invalid"
          [(ngModel)]="accountEmailValue2"
          autocomplete="off"
        />
        <mat-error *ngIf="accountEmailValue === accountEmailValue2">
          {{'forms.emails-not-equal' | translate}}
          <!--the emails you entered are not the same, please repeat!-->
        </mat-error>
      </mat-form-field>
    
      <mat-form-field fxFlex="10">
        <mat-label>{{'general.select-role' | translate}}</mat-label>
        <mat-select
          required
          [disabled]="mode !== 'institution'"
          [(ngModel)]="accountRole"
          placeholder="{{'general.role' | translate}}"
          name="role"
          id="role">
          <mat-option disabled>{{'general.select-role' | translate}}</mat-option>
          <mat-option value="0">{{'general.roles.student' | translate}}</mat-option>
          <mat-option value="1">{{'general.roles.coach' | translate}}</mat-option>
          <mat-option value="3">{{'general.roles.admin' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    
      <span fxFlex="auto"></span>

      <button
        name="createAccount"
        mat-raised-button
        color="primary"
        (click)="create()"
        [disabled]="accountFormEmail.invalid || !(accountEmailValue === accountEmailValue2)">
        {{'buttons.standard.create-account' | translate}}
      </button>

    </div>
    <!-- create row END -->
    <mat-divider></mat-divider>

  </ng-container>
  <ng-template #invitesNotAllowed>
    <span class="warnMessage">
      {{'edu.general.invited-by-your-institution' | translate}}
      <!--Your students are invited by your Institution. Please contact your institution backoffice.-->
    </span>
    <div class="spacer"></div>
  </ng-template>
  <!-- create section END -->

  <!-- list pagination START -->
  <div
    name="listHeadlinePaginationRow" 
    fxLayout="row"
    fxLayoutAlign="start center">
<!--
    <h2 class="mat-title no-margin">
      {{'create-accounts.headline' | translate}}
    </h2>

    <span fxFlex="auto"></span>
-->
    <pagination-controls (pageChange)="p = $event" [id]="inputType"></pagination-controls>

    <span fxFlex="auto"></span>

    <span>{{'general.total' | translate}}: {{ (accountsList | async)?.length }}</span>

    <span fxFlex="auto"></span>

    <mat-form-field
      class="roleSelect">
      <mat-label>{{'general.pagesize' | translate}}</mat-label>
      <mat-select
        [(ngModel)]="itemsPerPageValue"
        placeholder="Pagesize">
        <mat-option value="5">5</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="15">15</mat-option>
        <mat-option value="20">20</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      *ngIf="mode !== 'institutionCoach'"
      class="roleSelect">
      <mat-label>{{'edu.create-accounts.filter-by-role' | translate}}</mat-label>
      <mat-select
        [(ngModel)]="filterRole"
        placeholder="{{'edu.create-accounts.filter-by-role' | translate}}"
        (selectionChange)="doSelectRole($event)">
        <mat-option value="-1">{{'general.roles.all' | translate}}</mat-option>
        <mat-option value="0">{{'general.roles.student' | translate}}</mat-option>
        <mat-option value="1">{{'general.roles.coach' | translate}}</mat-option>
        <mat-option value="3">{{'general.roles.admin' | translate}}</mat-option>
      </mat-select>
    </mat-form-field>

    <span fxFlex="auto"></span>

    <mat-form-field 
      class="filterInput">
      <input 
        name="filterInput"
        matInput 
        [formControl]="filterInputControl"
        placeholder="filter user">
    </mat-form-field>

  </div>
  <mat-divider></mat-divider>
  <!-- list pagination END -->

  <!-- list errors / progress START -->
  <ng-container *ngIf="!(accountsList | async)">
    <p>{{'general.wait-a-sec' | translate}}</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>

  <ng-container *ngIf="(accountsList | async) as al">
    <p *ngIf="al.length === 0">
      {{'general.sorry-no-data' | translate}}
      <!--Sorry, no data found-->
    </p>
  </ng-container>
  <!-- list errors / progress END -->

<!--
  <pre style="font-size:9px">accountsList: {{ accountsList | async | json }}</pre>
  <pre style="font-size:9px">accountsCoachObs: {{ accountsCoachObs | async | json }}</pre>
-->
  
  <!-- list row START -->

  <div 
    name="listTableHeaderRow" 
    class="mat-caption tableHeaderRow"
    fxLayout="row" 
    fxLayoutAlign="start center" 
    fxLayoutGap="0.5rem">

    <span>E-mail | Name</span>

    <span fxFlex="auto"></span>

    <div class="rolesColumn">
      <span>{{'general.role' | translate}}</span>
    </div>

    <div 
      fxHide.lt-md="true"
      class="timesColumn">
      <span>{{'create-accounts.last-sign-in' | translate}}</span><br>
      <span>{{'create-accounts.creation-time' | translate}}</span>
    </div>

    <!-- room access for coach -->
    <div 
      *ngIf="mode === 'institutionCoach'"
      class="toggleColumn roomAccess"
      matTooltip="{{'edu.create-accounts.tooltip-session-access' | translate}}">
      <span>{{'edu.create-accounts.session-access' | translate}}</span>
    </div>

    <div 
      *ngIf="mode !== 'institutionCoach'"
      class="toggleColumn invites">

        <span matTooltip="{{'edu.create-accounts.tooltip-allow-invites' | translate}}">
          {{'edu.create-accounts.allow-invites' | translate}}
        </span>

    </div>

    <div 
      *ngIf="mode !== 'institutionCoach'"
      class="toggleColumn activate">

      <span
        matTooltip="{{'edu.create-accounts.tooltip-toggles-general-access' | translate}}">
        {{'buttons.standard.access' | translate}}
      </span>

    </div>

    <div class="menuColumn">
      {{'buttons.standard.action-menu' | translate}}
    </div>

  </div>
  
  <!--
  <pre style="font-size:9px">Fresh: {{ freshInvites | async | json }}</pre>
  -->

  <div
    name="freshAccountsListRow" 
    fxLayout="column"
    *ngFor="let item of (freshInvites | async); index as _index"
    class="rowHover itemRow">

    <div
      *ngIf="item.status === 'created' || item.status === 'inviteSentPrepare' || item.status === 'error'" 
      class="innerItemRow freshInvites"
      fxLayout="row" 
      fxLayoutAlign="start center" 
      fxLayoutGap="0.5rem">
      
      <div
        fxLayout="row"
        fxLayoutAlign="start center" 
        class="name-column">

        <div>
          <app-display-avatar [userId]="item.userId"></app-display-avatar>
        </div>

        <ng-container>
          <div class="name-div">
            <span>{{ item.email }}</span><br>
            <span *ngIf="item.name; else noName">{{ item.name }}</span>
            <ng-template #noName>
              <span class="mat-caption">{{'profile.not-filled-yet' | translate}}</span>
            </ng-template>
          </div>
          <!-- dont show for institutionCoach-->
          <button
            class="edit-account-button"
            *ngIf="item.role === 1 && mode !== 'institutionCoach' && item.status !== 'error'"
            [routerLink]="'/edu/' + institutionId + '/' + item.userId"
            style="margin-left: 0.5rem"
            [matTooltip]="'buttons.standard.edit' | translate"
            mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </ng-container>

        <ng-container *ngIf="youngerThan24hrs(item.createdOn) && item.status === 'error'">
          <!-- error codes: emailSendError | studentAssignedToCoachError | emailAlreadyExistsNoUserRoleError | genericError -->
          <span
            fxLayout="row"
            fxLayoutAlign="center center" 
            fxFlex="auto" 
            class="errorMessageRow" 
            *ngIf="item.errorMessage === 'genericError' || item.errorMessage === 'emailAlreadyExistsNoUserRoleError'"
            matTooltip="{{'create-accounts.errors.something-went-wrong' | translate}}">
            {{'general.error' | translate}}
            <mat-icon style="color: #fff">error_outline</mat-icon>
            <!-- generic error | emailAlreadyExistsNoUserRoleError -->
          </span>
          <span
            fxLayout="row"
            fxLayoutAlign="center center" 
            fxFlex="auto"  
            class="errorMessageRow" 
            *ngIf="item.errorMessage === 'studentAssignedToCoachError'"
            matTooltip="{{'create-accounts.errors.coach-not-connect-with-student' | translate}}">
            {{'general.error' | translate}}
            <mat-icon style="color: #fff">error_outline</mat-icon>
            <!--Coach could not be connected with student-->
          </span>
          <span 
            fxLayout="row"
            fxLayoutAlign="center center"
            fxFlex="auto" 
            class="errorMessageRow" 
            *ngIf="item.errorMessage === 'emailAlreadyExistsConflictingRolesError' || item.errorMessage === 'emailAlreadyExistsWithRoleCoachError'"
            matTooltip="{{'edu.create-accounts.email-exists-conflicting-role' | translate}}">
            {{'general.error' | translate}}
            <mat-icon style="color: #fff">error_outline</mat-icon>
            <!-- Email exists, conflicting role, role coach not allowed -->
          </span>
        </ng-container>

      </div>

      <!-- show initiation passwort -->
      <ng-container
        *ngIf="item.password && item.status === 'inviteSent'">
        <div
          matRipple 
          class="password-hint-row mat-caption"
          fxLayout="column"
          [title]="item.password"
          cdkCopyToClipboard="Username: {{ item.email }} Password: {{ item.password }}"
          matTooltip="{{'general.click-to-copy-to-clipboard' | translate}}">
          <span>
            {{'edu.create-accounts.initiation-password' | translate}}:<br>
            {{ item.password }}
            <mat-icon 
              class="password-inline-clipboard"
              [inline]="true">
              content_paste
            </mat-icon>
          </span>
        </div>
      </ng-container>

      <ng-container *ngIf="youngerThan24hrs(item.createdOn) && !(item.status === 'error')">
        <button
        mat-raised-button
        class="invite-button"
        (click)="sendInvite(item)"
        [ngClass]="{
          'invite-sent': item.status === 'inviteSent',
          'invite-accepted': item.status === 'inviteAccepted' || item.status === 'studentAssignedToCoach'|| item.status === 'coachAssignedToInstitution',
          'blink': item.status === 'inviteSentPrepare',
          'error': item.status === 'error'
        }"
        [disabled]="
          item.status === 'inviteSent' ||
          item.status === 'inviteSentPrepare' ||
          item.status === 'inviteAccepted' ||
          item.status === 'error' ||
          item.status === 'studentAssignedToCoach' ||
          item.status === 'coachAssignedToInstitution'">
        
          {{ buttonLabel(item.status) }}

        <mat-icon
          fxHide.lt-md="true">
          {{ icon(item.status) }}
        </mat-icon>

        </button>
      </ng-container>

      <span fxFlex="auto"></span>

      <div class="rolesColumn">
        <app-edit-role [active]="this.mode === 'institution'" [role]="item.role" [key]="item.key" [userId]="item.userId" (selectRole)="selectRole($event)"></app-edit-role>
      </div>

      <div 
        fxHide.lt-md="true"
        class="timesColumn">
        <ng-container>    
          <div 
            class="mat-caption"
            fxLayout="column">
              <span>{{ item.lastSignInTime | date: "d MMM y, H:m" }}</span>
              <span>{{ item.creationTime | date: "d MMM y, H:m" }}</span>
          </div>
        </ng-container>
      </div>

      <!-- room access for coach -->
      <div 
        *ngIf="mode === 'institutionCoach'"
        class="toggleColumn roomAccess">
        <app-room-access [coachId]="coachId" [userId]="item.userId"></app-room-access>
      </div>

      <div
        *ngIf="mode !== 'institutionCoach'" 
        class="toggleColumn invites">

        <!-- dont show for coach view -->
        <ng-container 
          *ngIf="item.role === 1">
          <mat-slide-toggle
            class="toggleAllowInvites"
            [ngClass]="{'slide-toggle-checked': item.allowInvites, 'slide-toggle-unchecked': !item.allowInvites}"
            [color]="'primary'"
            [checked]="item.allowInvites"
            [labelPosition]="'before'"
            (change)="toggleAllowInvites(item, $event)"
            [matTooltip]="item.allowInvites ? ('edu.create-accounts.allow-invites' | translate) : 'not allow invites'">
          </mat-slide-toggle>    
        </ng-container>
      </div>

      <div 
        *ngIf="mode !== 'institutionCoach'"
        class="toggleColumn activate">
        <mat-slide-toggle
          class="toggleAccess"
          [ngClass]="{'slide-toggle-checked': item.activated, 'slide-toggle-unchecked': !item.activated}"
          [color]="'primary'"
          [checked]="item.activated"
          [labelPosition]="'before'"
          (change)="toggleAccess(item, $event)"
          [matTooltip]="item.activated ? ('buttons.standard.access-active' | translate) : ('buttons.standard.access-inactive' | translate)">
        </mat-slide-toggle>
      </div>

      <div class="menuColumn">
        <mat-menu #appMenu="matMenu">

          <ng-container *ngIf="item.password && item.status === 'inviteSent'">
            <mat-divider></mat-divider>
            <div
              matRipple 
              class="password-hint-row mat-caption"
              [title]="item.password"
              fxLayout="column"
              cdkCopyToClipboard="Username: {{ item.email }} Password: {{ item.password }}"
              matTooltip="{{'general.click-to-copy-to-clipboard' | translate}}">
              <span>
                {{'edu.create-accounts.initiation-password' | translate}}:<br>
                {{ item.password }}
                <mat-icon 
                  class="password-inline-clipboard"
                  [inline]="true">
                  content_paste
                </mat-icon>
              </span>
            </div>
            <mat-divider></mat-divider>
          </ng-container>

          <!-- coach must have the possibility to disconnect account -->
          <button
            mat-menu-item
            (click)="confirmRemovePeer(item)"
            *ngIf="mode === 'institutionCoach'">
            {{'edu.create-accounts.disconnect-account' | translate}}
            <!-- disconnect account -->
          </button>

          <!-- deletion only possible for admin and initiator -->
          <button
            mat-menu-item
            (click)="confirmRemove(item)"
            *ngIf="mode === 'institution'">
            {{'buttons.standard.delete' | translate}}
            <!-- delete -->
          </button>

          <!-- deletion only possible for admin and initiator -->
          <button
            mat-menu-item
            (click)="confirmRemove(item)"
            *ngIf="item.initiatorId === coachId">
            {{'buttons.standard.delete' | translate}}
            <!-- delete -->
          </button>

        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_horiz</mat-icon>
        </button>

      </div>

    </div>

    <!-- peers row START -->
    <!-- *ngIf="mode === 'institution' && !item.errorMessage? === 'emailAlreadyExistsConflictingRolesError'" -->
    <div 
      *ngIf="mode === 'institution' && !item.status === 'error'"
      fxLayout="column"  
      fxLayoutGap="1rem">
      
      <ng-container *ngIf="item.userId">
        <app-peers 
          class="peersApp"
          [key]="item.key" 
          [userId]="item.userId" 
          [institutionId]="institutionId"
          [accountsListObs]="accountsList"
          [role]="item.role">
        </app-peers>
      </ng-container>

    </div>

    <!--<mat-divider style="margin-top: 1rem;"></mat-divider>-->
  </div>

  <mat-divider></mat-divider>

  <div
    name="accountsListRow" 
    fxLayout="column"
    *ngFor="let item of (accountsList | async) | filterAccounts: (filterargs | async) | paginate: { itemsPerPage: itemsPerPageValue, currentPage: p, id: inputType }; index as _index;"
    class="rowHover itemRow">

    <div
      *ngIf="!(item.status === 'created' || item.status === 'inviteSentPrepare')" 
      class="innerItemRow"
      fxLayout="row" 
      fxLayoutAlign="start center" 
      fxLayoutGap="0.5rem">
      
      <div
        fxLayout="row"
        fxFlex="40"
        fxLayoutAlign="start center" 
        class="name-column">

        <div>
          <app-display-avatar [userId]="item.userId"></app-display-avatar>
        </div>

        <ng-container>
          <div 
            class="name-div">
            <span class="name-email">{{ item.email }}</span><br>
            <span *ngIf="item.name; else noName">{{ item.name }}</span>
            <ng-template #noName>
              <span class="mat-caption">{{'profile.not-filled-yet' | translate}}</span>
            </ng-template>
          </div>
          <!-- dont show for institutionCoach-->
          <!--
          <button
            class="edit-account-button"
            *ngIf="item.role === 1 && mode !== 'institutionCoach' && item.status !== 'error'"
            [routerLink]="'/edu/' + institutionId + '/' + item.userId"
            style="margin-left: 0.5rem"
            mat-stroked-button>
            {{'buttons.standard.edit' | translate}}
          </button>
          -->
          <button
            class="edit-account-button"
            *ngIf="item.role === 1 && mode !== 'institutionCoach' && item.status !== 'error'"
            [routerLink]="'/edu/' + institutionId + '/' + item.userId"
            style="margin-left: 0.5rem"
            [matTooltip]="'buttons.standard.edit' | translate"
            mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </ng-container>

        <ng-container *ngIf="youngerThan24hrs(item.createdOn) && item.status === 'error'">
          <!-- error codes: emailSendError | studentAssignedToCoachError | emailAlreadyExistsNoUserRoleError | genericError -->
          <span
            fxLayout="row"
            fxLayoutAlign="center center" 
            fxFlex="auto" 
            class="errorMessageRow" 
            *ngIf="item.errorMessage === 'genericError' || item.errorMessage === 'emailAlreadyExistsNoUserRoleError'"
            matTooltip="{{'create-accounts.errors.something-went-wrong' | translate}}">
            {{'general.error' | translate}}
            <mat-icon style="color: #fff">error_outline</mat-icon>
            <!-- generic error | emailAlreadyExistsNoUserRoleError -->
          </span>
          <span
            fxLayout="row"
            fxLayoutAlign="center center" 
            fxFlex="auto"  
            class="errorMessageRow" 
            *ngIf="item.errorMessage === 'studentAssignedToCoachError'"
            matTooltip="{{'create-accounts.errors.coach-not-connect-with-student' | translate}}">
            {{'general.error' | translate}}
            <mat-icon style="color: #fff">error_outline</mat-icon>
            <!--Coach could not be connected with student-->
          </span>
          <span 
            fxLayout="row"
            fxLayoutAlign="center center"
            fxFlex="auto" 
            class="errorMessageRow" 
            *ngIf="item.errorMessage === 'emailAlreadyExistsConflictingRolesError' || item.errorMessage === 'emailAlreadyExistsWithRoleCoachError'"
            matTooltip="{{'edu.create-accounts.email-exists-conflicting-role' | translate}}">
            {{'general.error' | translate}}
            <mat-icon style="color: #fff">error_outline</mat-icon>
            <!-- Email exists, conflicting role, role coach not allowed -->
          </span>
        </ng-container>

      </div>

      <!-- show initiation passwort -->
      <ng-container
        *ngIf="item.password && item.status === 'inviteSent'">
        <div
          matRipple 
          class="password-hint-row mat-caption"
          fxLayout="column"
          [title]="item.password"
          cdkCopyToClipboard="Username: {{ item.email }} Password: {{ item.password }}"
          matTooltip="{{'general.click-to-copy-to-clipboard' | translate}}">
          <span>
            {{'edu.create-accounts.initiation-password' | translate}}:<br>
            {{ item.password }}
            <mat-icon 
              class="password-inline-clipboard"
              [inline]="true">
              content_paste
            </mat-icon>
          </span>
        </div>
      </ng-container>

      <ng-container *ngIf="youngerThan24hrs(item.createdOn) && !(item.status === 'error')">
        <button
        name="sendInvite"
        mat-raised-button
        class="invite-button"
        (click)="sendInvite(item)"
        [ngClass]="{
          'invite-sent': item.status === 'inviteSent',
          'invite-accepted': item.status === 'inviteAccepted' || item.status === 'studentAssignedToCoach'|| item.status === 'coachAssignedToInstitution',
          'blink': item.status === 'inviteSentPrepare',
          'error': item.status === 'error'
        }"
        [disabled]="
          item.status === 'inviteSent' ||
          item.status === 'inviteSentPrepare' ||
          item.status === 'inviteAccepted' ||
          item.status === 'error' ||
          item.status === 'studentAssignedToCoach' ||
          item.status === 'coachAssignedToInstitution'">
        
          {{ buttonLabel(item.status) }}

        <mat-icon
          fxHide.lt-md="true">
          {{ icon(item.status) }}
        </mat-icon>

        </button>
      </ng-container>

      <span fxFlex="auto"></span>

      <div class="rolesColumn">
        <app-edit-role [active]="this.mode === 'institution'" [role]="item.role" [key]="item.key" [userId]="item.userId" (selectRole)="selectRole($event)"></app-edit-role>
      </div>

      <div 
        fxHide.lt-md="true"
        class="timesColumn">
        <ng-container>    
          <div 
            class="mat-caption"
            fxLayout="column">
              <span>{{ item.lastSignInTime | date: "d MMM y, H:m" }}</span>
              <span>{{ item.creationTime | date: "d MMM y, H:m" }}</span>
          </div>
        </ng-container>
      </div>

      <!-- room access for coach -->
      <div 
        *ngIf="mode === 'institutionCoach'"
        class="toggleColumn roomAccess">
        <app-room-access [coachId]="coachId" [userId]="item.userId"></app-room-access>
      </div>

      <div
        *ngIf="mode !== 'institutionCoach'" 
        class="toggleColumn invites">

        <!-- dont show for coach view -->
        <ng-container 
          *ngIf="item.role === 1">
          <mat-slide-toggle
            class="toggleAllowInvites"
            [color]="'primary'"
            [checked]="item.allowInvites"
            [labelPosition]="'before'"
            (change)="toggleAllowInvites(item, $event)"
            [matTooltip]="item.allowInvites ? ('edu.create-accounts.allow-invites' | translate) : 'not allow invites'">
          </mat-slide-toggle>    
        </ng-container>
      </div>

      <div 
        *ngIf="mode !== 'institutionCoach'"
        class="toggleColumn activate">
        <mat-slide-toggle
          class="toggleAccess"
          [color]="'primary'"
          [checked]="item.activated"
          [labelPosition]="'before'"
          (change)="toggleAccess(item, $event)"
          [matTooltip]="item.activated ? ('buttons.standard.access-active' | translate) : ('buttons.standard.access-inactive' | translate)">
        </mat-slide-toggle>
      </div>

      <div class="menuColumn">
        <mat-menu #appMenu="matMenu">

          <ng-container *ngIf="item.password && item.status === 'inviteSent'">
            <mat-divider></mat-divider>
            <div
              matRipple 
              class="mat-menu-text-content"
              fxLayout="column"
              [title]="item.password"
              cdkCopyToClipboard="Username: {{ item.email }} Password: {{ item.password }}"
              matTooltip="{{'general.click-to-copy-to-clipboard' | translate}}">
              <span>
                {{'edu.create-accounts.initiation-password' | translate}}:<br>
                {{ item.password }}
                <mat-icon 
                  class="password-inline-clipboard"
                  [inline]="true">
                  content_paste
                </mat-icon>
              </span>
            </div>

            <mat-divider></mat-divider>
          </ng-container>

          <!-- coach must have the possibility to disconnect account -->
          <button
            mat-menu-item
            (click)="confirmRemovePeer(item)"
            *ngIf="mode === 'institutionCoach'">
            {{'edu.create-accounts.disconnect-account' | translate}}
            <!-- disconnect account -->
          </button>

          <!-- deletion only possible for admin and initiator -->
          <button
            mat-menu-item
            (click)="confirmRemove(item)"
            *ngIf="mode === 'institution'">
            {{'buttons.standard.delete' | translate}}
            <!-- delete -->
          </button>

          <!-- deletion only possible for admin and initiator -->
          <button
            mat-menu-item
            (click)="confirmRemove(item)"
            *ngIf="item.initiatorId === coachId">
            {{'buttons.standard.delete' | translate}}
            <!-- delete -->
          </button>

        </mat-menu>

        <button 
          name="appMenuTriggerButton"
          mat-icon-button 
          [matMenuTriggerFor]="appMenu">
          <mat-icon>more_horiz</mat-icon>
        </button>

      </div>

    </div>

    <!-- peers row START -->
    <!-- *ngIf="mode === 'institution' && !item.errorMessage? === 'emailAlreadyExistsConflictingRolesError'" -->
    <div 
      *ngIf="mode === 'institution'"
      fxLayout="column"  
      fxLayoutGap="1rem">
      
      <ng-container *ngIf="item.userId">
        <app-peers 
          class="peersApp"
          [key]="item.key" 
          [userId]="item.userId" 
          [institutionId]="institutionId"
          [accountsListObs]="accountsList"
          [role]="item.role">
        </app-peers>
      </ng-container>

    </div>

    <mat-divider style="margin-top: 1rem;"></mat-divider>
  </div>


  

</div>
