
button.invite-button {
    margin-right: 0 !important;
    padding: 0 8px !important;
    &.invite-sent {
        background: lightgreen !important;
    }
    &.invite-accepted {
        background: green !important;
        color: #fff;
    }
    &.error {
        background: orange;
    }
}

.name-column {
    min-width: 120px !important;
    /* max-width: 330px !important; */
    
    /* ellipsis needs -> overflow: hidden & white-space: nowrap; to work properly */
    /*
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    */
}

.name-div {
   /* ellipsis needs -> overflow: hidden & white-space: nowrap; to work properly */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.time-lable {
    min-width: 7rem;
}

.cellWidthSmall {
    min-width: 14rem;
}

.account-button {
    min-width: 14rem;
}

.mat-menu-item.auto-height {
    height: auto;
}

.mat-menu-text-content {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}
.password-hint-row {
    font-size: 12px;
    min-width: 128px;
    cursor: pointer;
}

.tableHeaderRow {
    font-weight: bold;
    text-align: center;
}

.timesColumn {
    min-width: 110px;
    text-align: center;
}

.toggleColumn, 
.peersColumn,
.menuColumn {
    width: 3rem;
    text-align: center;
}

.rolesColumn {
    width: 54px;
    text-align: center;
}

.toggleColumn {
    width: 5rem;
}

.toggleAllowInvites,
.toggleAllowAccess {
    margin: 0 0.5rem;
    text-align: center;
}

.password-hint-row,
.errorMessageRow {
    margin: 0 0.5rem;
}

.errorMessageRow {
    font-size: 0.8rem;
    background: rgba(red, 1);
    line-height: 36px;
    padding: 0 0.5rem;
    border-radius: 0.2rem;
    color: #fff;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.role {
    margin: 0.2rem;
    border-radius: 0.2rem;
    &.student {
        background: lightgreen;
    }
    &.coach {
        background: orange;
    }
}
.roleSelect {
    width: 5rem;
    margin-right: 0.5rem;
}

.rowHover:hover {
    background: #efefef;
}

.edit-account-button {
    min-width: unset !important;
    padding: 0 8px !important;
}

.freshInvites {
    border-bottom: 1px solid orange;
    background: #efefef;
    padding: 1rem 0;
}

div[name="freshAccountsListRow"] {
    margin-bottom: 0 !important;
}

mat-icon.password-inline-clipboard {
    vertical-align: middle !important;
    margin-left: 0.1rem !important;
}