
<ng-container *ngIf="data.context === 'anonymousParticipants'; else default">
  <h2 mat-dialog-title>Remove participant?</h2>
  <mat-dialog-content>
    <span>Remove selected participant from session?</span>
  </mat-dialog-content>
</ng-container>

<ng-template #default>
  <h2 mat-dialog-title>Remove student?</h2>
  <mat-dialog-content>
    <span>Remove selected student from your list?</span><br>
    <span>Be aware, that you have to invite him again and that he has no access to your meeting room any more!</span>
  </mat-dialog-content>
</ng-template>

<mat-dialog-actions class="flex row end">
  <button 
    name="button-cancel"
    class="button-cancel"
    mat-raised-button 
    mat-dialog-close>
    Cancel
  </button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <span class="flex-item"></span>
  <button 
    name="button-confirm"
    class="button-confirm"
    mat-raised-button 
    color="primary"
    [mat-dialog-close]="true"
    cdkFocusInitial>
    Remove
  </button>
</mat-dialog-actions>
