<div 
    cdkDrag
    cdkDragLockAxis="x"
    fxLayout="row"
    fxLayoutAlign="center center"
    class="apps-container tuner"
    *ngIf="vm$ | async as vm">

    <section *ngIf="(vm.apps | appPosition:'tunerId')?.mode === 'default'">

        <!--<pre style="font-size: 9px;">{{ (vm.apps | appPosition:'tunerId')?.mode }}</pre>-->

        <div 
            class="apps default mat-elevation-z6">

            <mat-icon class="toggleMode" role="img" (click)="toggleMode()">
                remove_circle_outline
            </mat-icon>

            <!-- drag handle cross arrow -->
            <mat-icon
                cdkDragHandle
                class="drag-handle" 
                role="img">
                open_with
            </mat-icon>

            <mat-icon 
                *ngIf="remoteStatus"
                class="remoteStatus blink-fast" 
                color="warn">
                settings_remote
            </mat-icon>

          <div class="app-title">
              <span class="mat-title">{{'apps.tuner.headline' | translate}}</span>
          </div>

          <div fxLayout="column">

            <!-- tuner listen mode -->
            <div fxLayout="row" fxLayoutAlign="center center">

                <div 
                    fxLayout="row" 
                    fxLayoutAlign="center center"
                    class="flex-item">
                    <mat-icon 
                        *ngIf="flag < 0"
                        class="material-icons" 
                        role="img">
                        arrow_upward
                    </mat-icon>
                </div>
                
                <div 
                    fxLayout="row" 
                    fxLayoutAlign="center center"
                    class="flex-item">
                    <span class="note" [ngClass]="{green: flag === 0}">{{note}}</span>
                </div>

                <div 
                    fxLayout="row" 
                    fxLayoutAlign="center center"
                    class="flex-item">
                    <mat-icon 
                        *ngIf="flag > 0"
                        class="material-icons" 
                        role="img">
                        arrow_downward
                    </mat-icon>
                </div>
  
            </div>

            <!-- tuner play mode -->
            <div
                fxLayout="row" 
                fxLayoutAlign="center center"
                class="pitch-row">
                <button mat-icon-button *ngIf="isPlaying" class="mat-icon-button" (click)="stepPlay(-1)">
                    <mat-icon>remove_circle_outline</mat-icon>
                </button>
                <div class="md-title" layout="row" layout-align="center center">
                    <span>{{pitch}}</span>
                    <span *ngIf="pitch">Hz</span>
                </div>
                <button mat-icon-button *ngIf="isPlaying" class="mat-icon-button" (click)="stepPlay(+1)">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>       
            </div>

            <div    
                fxLayout="row"
                fxLayoutAlign="center center">
                <mat-slider
                fxFlex="auto"
                    class="pitch-slider"
                    [ngModel]="pitchValue"
                    min="415"
                    max="444"
                    (input)="setPitchValue($event)">
                </mat-slider>
                &nbsp;
                <span
                    class="mat-caption pitch-slider-label">
                    A = {{ pitchValue }}Hz
                </span>
            </div>

            <div class="flex column">

                <div class="flex row space-between end">
                    <svg height="10" width="2">
                        <line x1="0" y1="0" x2="0" y2="50" class="tunerStroke" />
                    </svg>
                    <svg height="10" width="2">
                        <line x1="0" y1="0" x2="0" y2="50" class="tunerStroke" />
                    </svg>
                    <svg height="20" width="2">
                        <line x1="0" y1="0" x2="0" y2="50" class="tunerStroke" />
                    </svg>
                    <svg height="10" width="2">
                        <line x1="0" y1="0" x2="0" y2="50" class="tunerStroke" />
                    </svg>
                    <svg height="10" width="2" style="margin-right: -1px">
                        <line x1="0" y1="0" x2="0" y2="50" class="tunerStroke" />
                    </svg>
                </div>

                <mat-progress-bar 
                    [mode]="determinate" 
                    [value]="flag + 50">
                </mat-progress-bar>
  
            </div>
            <div 
                class="flex row center space-around"
                style="margin-top:1em">
                <button 
                    mat-raised-button 
                    class="mat-mini-fab" 
                    color="{{ mic ? 'primary' : ''}}"
                    [disabled]="isPlaying"
                    (click)="toggleMic()">
                    <!-- mic | mic_none -->
                    <mat-icon *ngIf="!mic">mic_none</mat-icon>
                    <mat-icon *ngIf="mic">mic</mat-icon>
                </button>
                <button 
                    mat-raised-button
                    class="mat-mini-fab"
                    color="{{ isPlaying ? 'primary' : ''}}"
                    [disabled]="mic"
                    (click)="togglePlay()">
                    <!-- volume_up | volume_mute -->
                    <mat-icon *ngIf="!isPlaying">volume_mute</mat-icon>
                    <mat-icon *ngIf="isPlaying">volume_up</mat-icon>
                </button>       
            </div>
              
          </div>

        </div>

    </section> 

    <section *ngIf="(vm.apps | appPosition:'tunerId')?.mode === 'small'">

        <div 
            cdkDragHandle
            fxLayout="row"
            fxLayoutAlign="center center"
            class="apps tuner small mat-elevation-z6">

            <mat-icon class="ng-scope material-icons toggleMode" role="img" (click)="toggleMode()">
                add_circle_outline
            </mat-icon>

            <div 
                fxLayout="row" 
                fxLayoutAlign="center center"
                class="note" [ngClass]="{green: flag === 0}">
                <span class="md-title">{{ note }}</span>
            </div>

            <span class="appLabel md-caption">{{'apps.tuner.headline' | translate}}</span>

        </div>            
    </section> 

</div>