

.tuner.default {
    width: 200px;
    height: 300px;
}
.tuner.green {
    background: lightgreen;
}
.tunerStroke {
    stroke: #ccc;
    stroke-width:2px;
}
.tuner .app-title {
    margin-bottom: 0rem;
}
.tuner .note {
    font-size: 32px;
    text-align: center;
    line-height: 60px;
    background-color:#ccc;
    border-radius:50%; 
    width:60px !important; 
    height:60px !important; 
    overflow: hidden;
    transition: background 0.5s; 
}
.tuner .note.green {
    background-color:rgb(0, 170, 0);
    color:#fff;
}
.tuner .pitch-row {
    margin: 0.6rem 0 0 0;
    min-height: 40px;
}
.tuner .pitch-slider-label {
    margin-right: 0.5rem;
}
/* minimized version */
.tuner.small {
    width: 56px;
    height: 56px;
}
.tuner.small .note {
    /* background-color:#fff; */
    font-size: 24px;
    border-radius:50%; 
    width:40px !important; 
    height:40px !important; 
    overflow: hidden;
    transition: background 0.5s; 
    margin: 0;
}
.tuner svg {
    align-self: flex-end;
}