
/* row layout */
.audioConstraintsSelection.layout-column {
    mat-checkbox {
        padding: 1em 0;
        border-bottom: 1px solid #efefef;
    }
    .audioConstraintsSelection.layout-column mat-checkbox:first-child {
        border-top: 1px solid #efefef;
    }
}

/* row layout */
.audioConstraintsSelection.layout-row {
    .row-margin {
        margin-right: 2em;
    }
}

.mat-checkbox-inner-container {
    margin-right: 12px !important;
}

