
<section *ngIf="layout === 'row'" class="audioConstraintsSelection layout-row" name="audioConstraintsSelection">
  <div class="flex column constraints-checkbox">
      <mat-checkbox 
        class="row-margin"  
        [(ngModel)]="constraints.audio.echoCancellation"
        id="echoCancellation"
        (change)="submitSelection($event)">
        {{'presession.constraints.echo-cancelation' | translate}}
      </mat-checkbox>
      <mat-checkbox 
        class="row-margin" 
        [(ngModel)]="constraints.audio.noiseSuppression"
        id="noiseSuppression"
        (change)="submitSelection($event)">
        {{'presession.constraints.noise-supression' | translate}}
      </mat-checkbox>
      <mat-checkbox 
        class="row-margin" 
        [(ngModel)]="constraints.audio.autoGainControl"
        id="autoGainControl"
        (change)="submitSelection($event)">
        {{'presession.constraints.auto-gain-control' | translate}}
      </mat-checkbox>


      <!--<div class="spacer"></div>
      <a
        name="save-settings"
        href="/presession"
        mat-raised-button>
        {{'buttons.standard.save-settings' | translate}}
      </a>-->

  </div>
</section>

<section 
  *ngIf="layout === 'column'" 
  class="audioConstraintsSelection layout-column" 
  name="audioConstraintsSelection">
  
  <div class="flex column">
      <mat-checkbox 
        class="constraints-checkbox"
        style="color:#000" 
        [(ngModel)]="constraints.audio.echoCancellation"
        (change)="submitSelection($event)">
        {{'presession.constraints.echo-cancelation' | translate}}
      </mat-checkbox>
      <mat-checkbox 
        class="constraints-checkbox" 
        [(ngModel)]="constraints.audio.noiseSuppression"
        (change)="submitSelection($event)">
        {{'presession.constraints.noise-supression' | translate}}
      </mat-checkbox>
      <mat-checkbox 
        class="constraints-checkbox" 
        [(ngModel)]="constraints.audio.autoGainControl"
        (change)="submitSelection($event)">
        {{'presession.constraints.auto-gain-control' | translate}}
      </mat-checkbox>
      <p *ngIf="wasClicked && deviceInfo.browser === 'chrome'" class="hint">
        {{'presession.constraints.changes-of-constraints' | translate}}
        <!--Changes of audio constraints take effekt only after reloading this page.-->
      </p>
  </div>
</section>