
<ng-container>
  <div
    class="buttonLockToggle">
      <button
        name="sessionLockRoom"
        class="sessionLockButton"
        [ngClass]="{ 'locked': currentRoomlock, 'unlocked': !currentRoomlock }"
        mat-icon-button
        [matTooltip]="(currentRoomlock ? 'room.lock-button.lock-session' : 'room.lock-button.unlock-session') | translate"
        matTooltipPosition="right"
        [disabled]="false"
        (click)="toggleLock()">
        <mat-icon> {{ currentRoomlock ? 'lock' : 'lock_open' }} </mat-icon>
      </button>
  </div>
</ng-container>
