
.buttonLockToggle button {
    position: absolute;
    top: 10.5rem; // pos 3
    left: 16px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
    color: green;
    border: 1px solid rgba($color: green, $alpha: 0.4);
    &.locked {
        color: red;
        mat-icon {
            color: red;
        }
    }
    &:hover {
        border-color: rgba($color: orange, $alpha: 0.8);
    }
}

.buttonLockToggle {
    background: transparent;
}