
.login-dialog-standalone {
    &.wrapper {
        min-width: 530px;
        min-height: 500px !important;
        width: 100vw;
        height: 100vh;
    }
    .start-button {
        line-height: 42px !important;
        padding: 0 24px;
    }
}