
<div
  class="login-dialog-standalone wrapper"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="1rem">
  <ng-container *ngIf="!(ats.loginStatus$ | async); else loggedIn">
    <!--<mat-spinner></mat-spinner>-->
    <app-login-button layout="single"></app-login-button>
  </ng-container>
  <ng-template #loggedIn>
    <span class="mat-title">{{ welcomeMessage }}</span>
    <a 
      class="start-button"
      [href]="redirectUrl"
      [target]="target"
      mat-raised-button>
      <span class="mat-title">{{ buttonLabel }}</span>
    </a>
  </ng-template>
</div>
