
<ng-container
    *ngIf="debug">
    <div class="generic-debug right">
        <pre>anonymous roomData: {{ waitingroomData | json }}</pre><br>
        anonymousName: {{ anonymousName.value | json }}<br>
        participantAccess: {{ participantAccess }}<br>
    </div>
</ng-container>

<div
    fxLayout="column">

    <ng-container *ngIf="!waitingroomData.displayName; else anonymousGuest">

        <p>{{'room.waitingroom.enter-name-guest' | translate}}</p>

        <mat-form-field class="anonymousName" appearance="outline">
        <input
            matInput
            name="anonymousName"
            placeholder="{{'forms.please-enter-your-name' | translate}}"
            required
            maxlength="60"
            minlength="3"
            [formControl]="anonymousName"/>
        <mat-hint *ngIf="anonymousName.value?.length < 3">
            <strong>{{'room.waitingroom.min-length-3' | translate}}</strong>
        </mat-hint>
        <mat-hint align="end">{{ anonymousName.value?.length || 0 }}/60</mat-hint>
        <mat-error *ngIf="anonymousName.invalid">
            {{'room.waitingroom.hint-min-length-3' | translate}}
            <!--Please enter your name with at least 3 chars, this is mandatory to join the session-->
        </mat-error>
        </mat-form-field>

        <button
            mat-raised-button
            color="primary"
            (click)="saveName()"
            [disabled]="anonymousName.invalid">
            {{'buttons.standard.submit' | translate}}
        </button>

    </ng-container>

    <ng-template #anonymousGuest>

        <ng-container 
            *ngIf="!participantAccess || waitingroomData.participantQuotaFull; else participantAccessTpl">

            <p>
                {{'room.waitingroom.host-has-been-informed' | translate}}
                <!--The session host has been informed that you are waiting to join. When the button below gets active, you can enter the session-->
            </p>
            <!-- participant Quota full -->
            <p 
                *ngIf="waitingroomData.participantQuotaFull"
                class="warn-message">
                {{'room.waitingroom.no-access-quota' | translate}}
                <!--No access. The maximal number of participants has been reached for this session. Please contact your coach.-->
            </p>
            
        </ng-container>
        <ng-template #participantAccessTpl>
            <p>
                <span>
                {{'room.waitingroom.click-to-join' | translate}}
                <!--Click the button below to join the session-->
                </span>
                <span *ngIf="waitingroomData.displayName">- <strong>{{ waitingroomData.displayName }}</strong> ({{'room.waitingroom.guest' | translate}})</span>
            </p>
        </ng-template>
    
        <button
            mat-raised-button
            name="joinSessionAnonymous"
            color="primary"
            [routerLink]="'/' + waitingroomData.prefix + '/' + waitingroomData.roomToken"
            [disabled]="!participantAccess || waitingroomData.participantQuotaFull">
            {{'room.waitingroom.join-session' | translate}}
        </button>

    </ng-template>

</div>
