<!-- start of wrapper -->
<div
  fxLayout="row"
  class="moduleContainerWrapper"
  fxLayoutAlign="center center">

  <!-- column container for modules -->
  <div
    class="moduleContainer"
    fxLayout="column"
    fxFlex="80"
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayoutGap="1rem">

    <div 
      fxLayout="row">
      <button 
        style="margin-top:0.5rem"
        mat-button
        [routerLink]="'/edu/' + institutionId">
        {{'buttons.standard.back-to-overview' | translate}}
      </button>
    </div>

    <div
      class="fxContent mat-elevation-z2 padding16"
      fxLayout="column"
      fxLayoutGap="1rem">
      <h2>
        {{'edu.general.institution-coach' | translate}}
      </h2>

      <p class="mat-title">
        {{'forms.general.contact-data' | translate}}
      </p>
      <app-user-content-row [userId]="institutionCoachId"></app-user-content-row>
    
    </div>

    <!-- 
    <ng-container *ngIf="institutionCoachId">
      <app-invite-student [userId]="institutionCoachId" layout="institution"></app-invite-student>
    </ng-container>
    -->

    <div
      class="fxContent mat-elevation-z2 padding16"
      fxLayout="column"
      fxLayoutGap="1rem">

      <h2>
        {{'edu.edu-coaches-detail.headline' | translate}}
        <!-- Manage connected student accounts -->
      </h2>

      <mat-tab-group>

        <!-- legacy invite function -->
        <!--
        <mat-tab label="Connected student accounts">
          <div class="spacer"></div>
          <p class="mat-title">List of connected student accounts</p>
          <p>See below an overview of all students, that are connected with this coach account. Per account access to the coaches classroom can be granted or denied. "Remove connection" disconnects the student from the coach, so that he can not visit his classroom any more.</p>
          <app-studentlist [userId]="institutionCoachId"></app-studentlist>
        </mat-tab>
        -->

        <!-- new account creation and invite function -->
        <mat-tab label="{{'edu.edu-coaches-detail.create-and-connect' | translate}}"> 
          <div class="spacer"></div>
          <p class="mat-title">{{'edu.edu-coaches-detail.create-and-connect' | translate}}</p>
          <p>
            {{'edu.edu-coaches-detail.description' | translate}}
            <!--Enter the email address of a student that should be connected with this coach account. This creates an invite email for a student that has no doozzoo account yet or it will connect an already existing account automatically. In both cases the student will receive an email explaining how to log into doozzoo and to enter the "my coaches" page.-->
          </p>
          <ng-container *ngIf="institutionCoachId">
            <app-create-accounts [mode]="'institutionCoach'" [institutionId]="institutionId" [coachId]="institutionCoachId"></app-create-accounts>
          </ng-container>
        </mat-tab>

        <mat-tab label="{{'edu.edu-coaches-detail.connect-manually' | translate}}">
          <!-- legacy invite function -->
          <ng-container *ngIf="institutionCoachId">
            <app-invite-student [userId]="institutionCoachId" layout="coach"></app-invite-student>
          </ng-container>
        </mat-tab>
      </mat-tab-group>

    </div>

    <div fxLayout="row">
      <button 
        mat-button
        [routerLink]="'/edu/' + institutionId">
        {{'buttons.standard.back-to-overview' | translate}}
      </button>
    </div>

  </div>


<!-- END of wrapper -->
</div>

<app-footer></app-footer>