
<mat-form-field fxFlexFill>
    <mat-select 
      placeholder="Select audio in"
      [ngModel]="audioInSelected"
      (selectionChange)="doSelectAudioIn($event)"
      name="selectAudioIn">
      <mat-option 
        *ngFor="let item of deviceList$ | async; index as idx"
        [value]="item.deviceId">
        {{ item.label }}
      </mat-option>
    </mat-select>
</mat-form-field>

<!--<pre>{{ deviceList$ | async | json }}</pre>-->
