
#eduLogo {
    width: 68%;
    height: auto;
    margin: 2em 0;
}

.welcomeHeadline {
    img {
        height: 6rem;
    }
}

.institutionIcon {
    height: 70px;
    width: 70px;
    font-size: 70px;
    margin-right: 1rem;
}