<!-- start of wrapper -->
<div
  fxLayout="row"
  class="moduleContainerWrapper"
  fxLayoutAlign="center center"
>
  <!-- column container for modules -->
  <div
    class="moduleContainer"
    fxLayout="column"
    fxFlex="60"
    fxFlex.sm="80"
    fxFlex.xs="100"
    fxLayoutGap="1em">

    <div 
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlex.gt-sm="60"
      fxFlex="80"
      fxFlex.xs="100">

      <img id="eduLogo" src="assets/img/doozzoo_logo_edu_1200.png" />

    </div>

    <div
      class="fxContent mat-elevation-z2 padding16"
      fxLayout="column"
      fxLayoutGap="1em">

      <div
        class="welcomeHeadline" 
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="1rem">
        <h2>
          {{'edu.home.welcome' | translate}}
          <!-- Willkommen bei doozzoo.edu für Institutionen -->
        </h2>
        <span fxFlex="auto"></span>
        <mat-icon color="primary" class="institutionIcon">school</mat-icon>
      </div>
      
      <p *ngIf="!(ats.loginStatus$ | async)">
        {{'edu.home.home-login' | translate}}
        <!--Bitte melde dich mit den Zugangsdaten ein, die du von deiner Institution erhalten hast.-->
      </p>

      <!-- login section START -->
      <div
        *ngIf="!(ats.loginStatus$ | async)"
        style="margin-top: 2em" 
        fxLayout="column" 
        fxLayoutGap="1rem">

          <app-login-button [layout]="'single'"></app-login-button>

          <button
            name="passwordForgotten" 
            mat-flat-button
            (click)="cs.do('loginDialog', { tabIndex: 2 })"> 
            {{'buttons.standard.dont-remember-password' | translate}}
            <!-- Password forgotten -->
          </button>

      </div>
      <!-- login section END -->
    </div>

    <ng-container 
      *ngIf="(ats.loginStatus$ | async)">
      <!--  after login section START -->

      <ng-container *ngIf="(ats.perm([3]) | async)">
        <!-- role institutional admin -->
        
        <div
        *ngIf="(ats.loginStatus$ | async)"
        class="fxContent mat-elevation-z2 padding16"
        fxLayout="column"
        fxLayoutGap="1em">
        <h2 class="md-title">
          {{'edu.home.access-institution-backoffice' | translate}}
          <!-- Access your institution backoffice -->
        </h2>     
  
        <div
          fxLayout="column" 
          *ngFor="let item of (eduUserList | async)">
  
          <div 
            fxLayout="row"
            fxLayoutAlign="start center">
            <span class="mat-title">{{item.name}} </span>
            <span fxFlex="auto"></span>
            <button
              class="edu-backoffice" 
              name="edu-backoffice"
              color="primary"
              mat-raised-button 
              [routerLink]="'/edu/' + item.key">
              {{'edu.home.enter-backoffice' | translate}}
              <!-- Enter backoffice -->
            </button>
  
          </div>
          <mat-divider></mat-divider>
  
        </div>
  
        <!--eduUserList: <pre>{{ _eduUserList | async | json}}</pre>-->
  
        <p *ngIf="!(eduUserList | async)">
          {{'general.wait-a-sec' | translate}}
        </p>
      </div>


      </ng-container>
      <!--  after login section END -->
    </ng-container>

  </div>
</div>

<app-footer></app-footer>
