

/* all apps */
.closeButton {
  color: #666;
  position: relative;
  margin-top: -10px;
  text-align: right;
  border-radius: 50%;
}
.closeButton:hover {
  color: #000;
  background: #efefef;
  cursor: pointer;
}
.mat-spinner {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  z-index: 10;
}
.errorMessage {
  padding: 0.5em;
  border-radius: 3px;
  background: orange;
}
.successMessage {
  padding: 0.5em;
  border-radius: 3px;
  background: lightgreen;
}

/* otherwise unwanted horizontal scroll */
.mat-tab-body-content {
  overflow-x: hidden !important;
  overflow-y: scroll;
}

.iconColor {
  &.green {
      color: green;
  }
  &.red {
      color: red;   
  } 
}

.mat-hint {
  color: white;
  background: red;
  padding: 0 0.5rem;
}

.mat-tab-label-active .mat-tab-label-content {
  font-weight: bold;
  color: rgb(0,84,150);
}



