<!--progress spinner-->
<mat-spinner 
  class="mat-spinner"
  *ngIf="localProgress"
  diameter="80">
</mat-spinner>


<div fxLayout="row" fxLayoutAlign="end">
    <mat-icon
      name="loginDialogCloseButton" 
      class="closeButton" 
      role="img" 
      (click)="close()">
        clear
    </mat-icon>
</div>

<mat-tab-group
  (selectedTabChange)="tabChanged($event)"
  [selectedIndex]="selectedIndex">

  <!-- hide in case a user is already existing -->
  <!-- (a.showLoginRegister$ | async) -->
  <ng-container *ngIf="true">

    <mat-tab label="{{'buttons.standard.login' | translate}}">
      <!--login start-->
  
      <div mat-dialog-content>
  
        <div fxLayout="column">
          <p *ngIf="!errorCode">
            {{'forms.please-enter-email-password' | translate}}
            <!--Please enter E-Mail and Password:-->
          </p>
          <section *ngIf="errorCode">
              <p class="errorMessage">{{ errorMessage }}</p>
          </section>
          
          <mat-form-field appearance="outline">
            <input 
              matInput
              name="email"
              placeholder="E-Mail" 
              [formControl]="emailCtrl"
              [(ngModel)]="email"
              required>
            <mat-error *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)">{{'forms.valid-email' | translate}}</mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <input 
              matInput
              name="password"
              [type]="!hide ? 'password' : 'text'"
              placeholder="{{'forms.password' | translate}}"
              [formControl]="passwordCtrl"
              [(ngModel)]="password"
              [minlength]="6"
              required>
              <button 
                mat-icon-button matSuffix (click)="hide = !hide" 
                [attr.aria-label]="'Unhide password'" 
                [attr.aria-pressed]="hide">
                <mat-icon>{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            <mat-error *ngIf="passwordCtrl.invalid">{{'forms.please-enter-password' | translate}}</mat-error>
          </mat-form-field>
        </div>
  
        <!--end dialog content-->
      </div>
  
      <div fxLayout="column" style="margin-top:1rem">
  
        <button
          name="loginSubmit" 
          [disabled]="passwordCtrl.invalid || emailCtrl.invalid" 
          mat-raised-button
          color="primary" 
          (keyup.enter)="login()" 
          (click)="login()">
          {{'buttons.standard.login' | translate}}
          <!--login-->
        </button>
  
        <ng-container
          *ngIf="!isPreEdu && !(a.isEdu$ | async)">
  
          <p class="center">
            {{'buttons.standard.or-login-with' | translate}}
            <!--or login with...-->
          </p>
          <!-- social providers START -->
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <button name="loginProviderGoogle" mat-mini-fab (click)="loginProvider('google')" style="background: #4285F4; color: #fff">
              <mat-icon md-svg-src="//assets/icons/google.svg" class="s24" aria-label="Google">
                <svg aria-labelledby="simpleicons-google-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-google-icon">Google icon</title><path d="M12.24 10.285V14.4h6.806c-.275 1.765-2.056 5.174-6.806 5.174-4.095 0-7.439-3.389-7.439-7.574s3.345-7.574 7.439-7.574c2.33 0 3.891.989 4.785 1.849l3.254-3.138C18.189 1.186 15.479 0 12.24 0c-6.635 0-12 5.365-12 12s5.365 12 12 12c6.926 0 11.52-4.869 11.52-11.726 0-.788-.085-1.39-.189-1.989H12.24z"/></svg>
              </mat-icon>
              <!--Google login-->
            </button>
            <button name="loginProviderFacebook" *ngIf="true" mat-mini-fab (click)="loginProvider('facebook')" style="background: #3B5998; color: #fff">
              <mat-icon md-svg-src="assets/icons/facebook.svg" class="s24" aria-label="Facebook">
                <svg aria-labelledby="simpleicons-facebook-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-facebook-icon">Facebook icon</title><path d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0"/></svg>
              </mat-icon>
              <!--Facebook login-->
            </button>
            <button name="loginProviderTwitter" *ngIf="true" mat-mini-fab (click)="loginProvider('twitter')" style="background: #1DA1F2; color: #fff">
              <mat-icon md-svg-src="assets/icons/twitter.svg" class="s24" aria-label="Twitter">
                <svg aria-labelledby="simpleicons-twitter-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-twitter-icon">Twitter icon</title><path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"/></svg>
              </mat-icon>
          <!--Twitter login-->
            </button>
            <button name="loginProviderGit" *ngIf="false" mat-mini-fab (click)="loginProvider('github')" style="background: #F05032; color: #fff">
              <mat-icon md-svg-src="assets/icons/git.svg" class="s24" aria-label="GitHub">
                <svg aria-labelledby="simpleicons-git-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-git-icon">Git icon</title><path d="M23.546 10.93L13.067.452c-.604-.603-1.582-.603-2.188 0L8.708 2.627l2.76 2.76c.645-.215 1.379-.07 1.889.441.516.515.658 1.258.438 1.9l2.658 2.66c.645-.223 1.387-.078 1.9.435.721.72.721 1.884 0 2.604-.719.719-1.881.719-2.6 0-.539-.541-.674-1.337-.404-1.996L12.86 8.955v6.525c.176.086.342.203.488.348.713.721.713 1.883 0 2.6-.719.721-1.889.721-2.609 0-.719-.719-.719-1.879 0-2.598.182-.18.387-.316.605-.406V8.835c-.217-.091-.424-.222-.6-.401-.545-.545-.676-1.342-.396-2.009L7.636 3.7.45 10.881c-.6.605-.6 1.584 0 2.189l10.48 10.477c.604.604 1.582.604 2.186 0l10.43-10.43c.605-.603.605-1.582 0-2.187"/></svg>
              </mat-icon>
              <!--GitHub login-->
            </button>
          </div>
          <!-- social providers END -->
  
        </ng-container>
  
        <br>      
        <button mat-button (click)="selectedIndex=2">
          {{'buttons.standard.dont-remember-password' | translate}}
          <!--Don't remember your password?-->
        </button>
        
      </div>
      <!--login end-->
    </mat-tab>
  
    <mat-tab label="{{'buttons.standard.register' | translate}}">
      <!--register start-->
  
      <div mat-dialog-content>
  
        <div fxLayout="column">
          <p>
            {{'login.register.subheadline' | translate}}
            <!--Please enter E-Mail and Password to register at doozzoo:-->
          </p>
          <section *ngIf="successStatus">
            <p 
              name="successMessageRegister" 
              class="successMessage register"
              [innerHTML]="'login.register.description' | translate">
              <!--We sent you an email. Please COPY and PASTE the Verification-Link into <strong>THIS BROWSER</strong>!<br>
              <span class="mat-caption">Be patient: The email might need some time to be delivered. Check your Spam folder as well.</span>
              -->
            </p>
          </section>
          <section *ngIf="errorCode">
            <p class="errorMessage">{{ errorMessage }}</p>
          </section>
  <!--
          {{ email }} {{ emailRepeated }} <br>
          {{ emailCtrl.errors | json }} | status: {{ email !== emailRepeated }}
  -->
          <mat-form-field appearance="outline">
            <input
              matInput
              class="iconColor"
              name="email"
              placeholder="E-Mail" 
              [formControl]="emailCtrl"
              [(ngModel)]="email"
              required>
              <mat-icon 
                *ngIf="(emailCtrl.dirty || emailCtrl.touched)" 
                matSuffix 
                class="iconColor"
                [ngClass]="{ 'green': emailCtrl.valid, 'red': emailCtrl.invalid }">
                {{ emailCtrl.valid ? 'check_box' : 'warning' }} 
              </mat-icon>
            <mat-error *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)">{{'forms.valid-email' | translate}}</mat-error>
          </mat-form-field>
  
          <mat-form-field 
            appearance="outline"
            *ngIf="emailCtrl.valid">
            <input
              matInput
              class="iconColor"
              name="emailRepeated"
              placeholder="{{'forms.please-repeat-email' | translate}}" 
              [disabled]="emailCtrl.invalid"
              [formControl]="emailRepeatedCtrl"
              [(ngModel)]="emailRepeated"
              (paste)="$event.preventDefault()"
              autocomplete="off"
              required>
              <mat-icon 
                *ngIf="emailCtrl.valid" 
                matSuffix 
                class="iconColor"
                [ngClass]="{ 'green': email === emailRepeated, 'red': email !== emailRepeated }">
                {{ email === emailRepeated ? 'check_box' : 'warning' }} 
              </mat-icon>
            <mat-hint *ngIf="(email !== emailRepeated) && (emailRepeatedCtrl.dirty || emailRepeatedCtrl.touched)">{{'forms.emails-not-equal' | translate}}
              <!--The email addresses you entered are not the same, please repeat!-->
            </mat-hint>
          </mat-form-field>
          
          <mat-form-field 
            appearance="outline"
            *ngIf="emailCtrl.valid && (email === emailRepeated)">
            <input 
              matInput
              type="password" 
              name="password"
              placeholder="{{'forms.password' | translate}}"
              [formControl]="passwordCtrl"
              [(ngModel)]="password"
              required>
              <mat-icon 
                *ngIf="passwordCtrl.dirty || passwordCtrl.touched" 
                matSuffix 
                class="iconColor"
                [ngClass]="{ 'green': passwordCtrl.valid, 'red': passwordCtrl.invalid }">
                {{ passwordCtrl.valid ? 'check_box' : 'warning' }} 
              </mat-icon>
            <!-- <mat-hint>errors: {{ passwordCtrl.errors | json }} valid: {{ passwordCtrl.valid }}</mat-hint> -->
            <mat-error *ngIf="passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)">{{'forms.please-enter-password' | translate}}, minimal length 8 chars</mat-error> 
          </mat-form-field>
  
          <mat-form-field 
            appearance="outline"
            *ngIf="passwordCtrl.valid">
            <input 
              matInput
              class="iconColor"
              type="password" 
              name="passwordRepeated"
              placeholder="{{'forms.please-repeat-password' | translate}}"
              [formControl]="passwordRepeatedCtrl"
              [(ngModel)]="passwordRepeated"
              (paste)="$event.preventDefault()"
              autocomplete="off"
              required>
              <mat-icon 
                *ngIf="passwordRepeatedCtrl.dirty || passwordRepeatedCtrl.touched" 
                matSuffix 
                class="iconColor"
                [ngClass]="{ 'green': password === passwordRepeated, 'red': password !== passwordRepeated }">
                {{ password === passwordRepeated ? 'check_box' : 'warning' }} 
              </mat-icon>
              <mat-hint *ngIf="(password !== passwordRepeated) && (passwordRepeatedCtrl.dirty || passwordRepeatedCtrl.touched)">Passwords entered are different!!</mat-hint>
          </mat-form-field>
        </div>
  
        <!--end dialog content-->
      </div>
  
      <div fxLayout="column" style="margin-top:1rem">
  
        <button
          name="registerSubmit" 
          [disabled]="emailCtrl.invalid || (email !== emailRepeated) || passwordCtrl.invalid || (password !== passwordRepeated)" 
          mat-raised-button
          color="primary" 
          (click)="register()"
          cdkFocusInitial>
          {{'buttons.standard.register' | translate}}
          <!--Register-->
        </button>
  
        <ng-container
          *ngIf="!isPreEdu && !(a.isEdu$ | async)">
  
          <!-- social providers START -->
          <p class="center">
            {{'buttons.standard.or-login-with' | translate}}
            <!--or login with...-->
          </p>
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <button mat-mini-fab (click)="loginProvider('google')" style="background: #4285F4; color: #fff">
              <mat-icon md-svg-src="//assets/icons/google.svg" class="s24" aria-label="Google">
                <svg aria-labelledby="simpleicons-google-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-google-icon">Google icon</title><path d="M12.24 10.285V14.4h6.806c-.275 1.765-2.056 5.174-6.806 5.174-4.095 0-7.439-3.389-7.439-7.574s3.345-7.574 7.439-7.574c2.33 0 3.891.989 4.785 1.849l3.254-3.138C18.189 1.186 15.479 0 12.24 0c-6.635 0-12 5.365-12 12s5.365 12 12 12c6.926 0 11.52-4.869 11.52-11.726 0-.788-.085-1.39-.189-1.989H12.24z"/></svg>
              </mat-icon>
              <!--Google login-->
            </button>
            <button *ngIf="true" mat-mini-fab (click)="loginProvider('facebook')" style="background: #3B5998; color: #fff">
              <mat-icon md-svg-src="assets/icons/facebook.svg" class="s24" aria-label="Facebook">
                <svg aria-labelledby="simpleicons-facebook-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-facebook-icon">Facebook icon</title><path d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0"/></svg>
              </mat-icon>
              <!--Facebook login-->
            </button>
            <button *ngIf="true" mat-mini-fab (click)="loginProvider('twitter')" style="background: #1DA1F2; color: #fff">
              <mat-icon md-svg-src="assets/icons/twitter.svg" class="s24" aria-label="Twitter">
                <svg aria-labelledby="simpleicons-twitter-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-twitter-icon">Twitter icon</title><path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"/></svg>
              </mat-icon>
          <!--Twitter login-->
            </button>
            <button *ngIf="false" mat-mini-fab (click)="loginProvider('github')" style="background: #F05032; color: #fff">
              <mat-icon md-svg-src="assets/icons/git.svg" class="s24" aria-label="GitHub">
                <svg aria-labelledby="simpleicons-git-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-git-icon">Git icon</title><path d="M23.546 10.93L13.067.452c-.604-.603-1.582-.603-2.188 0L8.708 2.627l2.76 2.76c.645-.215 1.379-.07 1.889.441.516.515.658 1.258.438 1.9l2.658 2.66c.645-.223 1.387-.078 1.9.435.721.72.721 1.884 0 2.604-.719.719-1.881.719-2.6 0-.539-.541-.674-1.337-.404-1.996L12.86 8.955v6.525c.176.086.342.203.488.348.713.721.713 1.883 0 2.6-.719.721-1.889.721-2.609 0-.719-.719-.719-1.879 0-2.598.182-.18.387-.316.605-.406V8.835c-.217-.091-.424-.222-.6-.401-.545-.545-.676-1.342-.396-2.009L7.636 3.7.45 10.881c-.6.605-.6 1.584 0 2.189l10.48 10.477c.604.604 1.582.604 2.186 0l10.43-10.43c.605-.603.605-1.582 0-2.187"/></svg>
              </mat-icon>
              <!--GitHub login-->
            </button>
          </div>
        </ng-container>
        <!-- social providers END -->
  
        <br>      
        <button mat-button (click)="selectedIndex=2">
          {{'buttons.standard.dont-remember-password' | translate}}
          <!--Don't remember your password?-->
        </button>
        
      </div>
      <!--register end-->
    </mat-tab>
  
  </ng-container>

  <!--reset start-->
  <mat-tab label="{{'buttons.standard.reset-password' | translate}}">

    <div mat-dialog-content>

      <div 
        *ngIf="errorCode"
        fxLayout="column">
          <p class="errorMessage">{{ errorMessage }}</p>
      </div>
      <div 
        *ngIf="successStatus"
        fxLayout="column">
        <p class="successMessage ResetPassword">
          {{'login.reset.description' | translate}}
          <!--Reset E-Mail has been send, please close popup window and check your mailbox!-->
        </p>
      </div>

      <form
        *ngIf="!errorCode && !successStatus" 
        [formGroup]="forgottenFormGroup">
        <div fxLayout="column">

          <ng-container *ngIf="errorCode">
            <p class="errorMessage">{{ errorMessage }}</p>
          </ng-container>

          <p>
            {{'login.reset.subheadline' | translate}}
            <!--Please enter the E-Mail to which we should send the password reset link.-->
          </p>

          <!-- name is for testing -->
          <mat-form-field appearance="outline">
            <input
              matInput
              name="forgottenEmail"
              class="iconColor"
              formControlName="forgottenEmailCtrl"
              placeholder="{{'forms.please-enter-email' | translate}}" 
              required>  
              
              <mat-icon 
                *ngIf="(forgottenFormGroup.controls.forgottenEmailCtrl.dirty || forgottenFormGroup.controls.forgottenEmailCtrl.touched)" 
                matSuffix 
                class="iconColor"
                [ngClass]="{ 'green': forgottenFormGroup.controls.forgottenEmailCtrl.valid, 'red': forgottenFormGroup.controls.forgottenEmailCtrl.invalid }">
                {{ forgottenFormGroup.controls.forgottenEmailCtrl.valid ? 'check_box' : 'warning' }} 
              </mat-icon>

              <mat-error *ngIf="forgottenFormGroup.controls.forgottenEmailCtrl.invalid">{{'forms.valid-email' | translate}}</mat-error>

          </mat-form-field>
              
          <mat-form-field 
            appearance="outline"
            *ngIf="forgottenFormGroup.controls.forgottenEmailCtrl.valid">
            <input
              matInput
              name="forgottenEmailRepeated"
              class="iconColor"
              placeholder="{{'forms.please-repeat-email' | translate}}" 
              formControlName="forgottenEmailRepeatedCtrl"
              (paste)="$event.preventDefault()"
              autocomplete="off"
              required>
            
            <mat-icon 
              *ngIf="forgottenFormGroup.controls.forgottenEmailRepeatedCtrl.dirty || forgottenFormGroup.controls.forgottenEmailRepeatedCtrl.touched" 
              matSuffix 
              class="iconColor"
              [ngClass]="{ 'green': forgottenFormGroup.value.forgottenEmailRepeatedCtrl === forgottenFormGroup.value.forgottenEmailCtrl, 'red': forgottenFormGroup.value.forgottenEmailRepeatedCtrl !== forgottenFormGroup.value.forgottenEmailCtrl }">
              {{ forgottenFormGroup.value.forgottenEmailRepeatedCtrl === forgottenFormGroup.value.forgottenEmailCtrl ? 'check_box' : 'warning' }} 
            </mat-icon>
            
            <mat-hint *ngIf="(forgottenFormGroup.value.forgottenEmailRepeatedCtrl !== forgottenFormGroup.value.forgottenEmailCtrl) && (forgottenFormGroup.controls.forgottenEmailRepeatedCtrl.dirty || forgottenFormGroup.controls.forgottenEmailRepeatedCtrl.touched)">
              {{'forms.emails-not-equal' | translate}}
            </mat-hint>

          </mat-form-field>
        
        </div>
      </form>
      
    <!--end dialog content-->
    </div>

    <div fxLayout="column" style="margin-top:1rem">

      <button
        *ngIf="!errorCode && !successStatus" 
        name="resetPassword"
        [disabled]="forgottenFormGroup.invalid || forgottenFormGroup.pristine || forgottenFormGroup.value.forgottenEmailRepeatedCtrl !== forgottenFormGroup.value.forgottenEmailCtrl" 
        mat-raised-button
        color="primary" 
        (click)="passwordForgotten()"
        cdkFocusInitial>
        {{'buttons.standard.reset-password' | translate}}
        <!--Reset password-->
      </button>
      
    </div>
    <!--reset end-->
  </mat-tab>

  <!-- verify email -->
  <ng-container
    *ngIf="true">
    <mat-tab label="{{'buttons.standard.verify-email' | translate}}" [disabled]="!(a.userAndNotEmailVerified$ | async)">
      <!--reset start-->
      <div mat-dialog-content>
        <div fxLayout="column">
          <ng-container *ngIf="successStatus">
            <p 
              name="successMessageRegister" 
              class="successMessage register" 
              [innerHTML]="'login.register.description' | translate">
            <!--We sent you an email. Please COPY and PASTE the Verification-Link into <strong>THIS BROWSER</strong>!<br>
            <span class="mat-caption">Be patient: The email might need some time to be delivered. Check your Spam folder as well.</span>
            -->
          </ng-container>
          <ng-container *ngIf="errorCode === 'auth/user-exists-email-not-verified'">
            <p>
              {{'login.verification.description' | translate}}
              <!--Please enter the E-Mail-Address to which we should send the E-Mail verification link.-->
            </p>
          </ng-container>
          <section *ngIf="errorCode">
              <p class="errorMessage">{{ errorMessage }}</p>
          </section>

          <ng-container *ngIf="errorCode === 'auth/user-exists-email-not-verified'">
            <mat-form-field
              appearance="outline">
              <input
                matInput
                class="iconColor"
                name="email"
                placeholder="E-Mail" 
                [formControl]="emailCtrl"
                [(ngModel)]="email"
                required>
                <mat-icon 
                  *ngIf="(emailCtrl.dirty || emailCtrl.touched)" 
                  matSuffix 
                  class="iconColor"
                  [ngClass]="{ 'green': emailCtrl.valid, 'red': emailCtrl.invalid }">
                  {{ emailCtrl.valid ? 'check_box' : 'warning' }} 
                </mat-icon>
              <mat-error *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)">{{'forms.valid-email' | translate}}</mat-error>
            </mat-form-field>

            <mat-form-field 
              appearance="outline"
              *ngIf="emailCtrl.valid">
              <input
                matInput
                class="iconColor"
                name="emailRepeated"
                placeholder="{{'forms.please-repeat-email' | translate}}" 
                [disabled]="emailCtrl.invalid"
                [formControl]="emailRepeatedCtrl"
                [(ngModel)]="emailRepeated"
                (paste)="$event.preventDefault()"
                autocomplete="off"
                required>
                <mat-icon 
                  *ngIf="emailCtrl.valid" 
                  matSuffix 
                  class="iconColor"
                  [ngClass]="{ 'green': email === emailRepeated, 'red': email !== emailRepeated }">
                  {{ email === emailRepeated ? 'check_box' : 'warning' }} 
                </mat-icon>
              <mat-hint *ngIf="(email !== emailRepeated) && (emailRepeatedCtrl.dirty || emailRepeatedCtrl.touched)">{{'forms.emails-not-equal' | translate}}
                <!--The email addresses you entered are not the same, please repeat!-->
              </mat-hint>
            </mat-form-field>
          </ng-container>

        </div>

        <!--end dialog content-->
      </div>

      <div fxLayout="column" style="margin-top:1rem">

        <button
          *ngIf="errorCode === 'auth/user-exists-email-not-verified'" 
          name="verifySubmit"
          [disabled]="emailCtrl.invalid || emailRepeatedCtrl.invalid || (email !== emailRepeated)" 
          mat-raised-button
          color="primary" 
          (click)="verify()"
          cdkFocusInitial>
          {{'buttons.standard.verify-email' | translate}}
        </button>
        
      </div>
      <!--reset end-->
    </mat-tab>
  </ng-container>

</mat-tab-group>







