
<div
  class="moduleContainerWrapper main-pane">

  <app-media-list layout="standalone"></app-media-list>

</div>

<app-footer></app-footer>

<app-direct-share-windows [dsSessionId]="'haenschenKlein'"></app-direct-share-windows>

