
.unique-warn {
    margin-bottom: 0.2rem;
    display: inline-block;
}

::ng-deep .dialog-myrooms-edit {

    span.prefix {
        background-color: lightgrey;
        padding: 0 3px;
        border-radius: 3px;
    }
    .mat-form-field-prefix, 
    .mat-form-field-suffix {
        position: relative !important;
        padding: 0 4px;
    }
    .roomToken .mat-form-field-prefix {
        top: 0rem !important;
    }
    .mat-form-field-label {
        top: 1.6rem;
    }
}

.mat-form-field-label-wrapper {
    top: -1.1em;
}

.icon-pointer {
    cursor: pointer;
}

mat-icon.protected {
    color: darkgreen;
}
mat-icon.un-protected {
    color: lightgrey;
}