
<!--{{ data | json }}-->

<div
  class="dialog-myrooms-edit"
  mat-dialog-content>

  <ng-container *ngIf="data.type === 'myroomsEdit'">
    <p>{{'myrooms.myrooms-edit.dialog.headline' | translate}}</p>
    <mat-form-field fxFlexFill class="roomToken" appearance="outline">
      
      <input
        matInput
        placeholder="{{ 'media.dialogs.rename-selected' | translate }}"
        (keyup.enter)="confirm()"
        [formControl]="roomTokenValue"
      />
      <span class="prefix" matPrefix *ngIf="data.prefix">{{ data.prefix }}</span>

      <mat-hint *ngIf="!roomTokenValue.valid">Must be between 6-24 chars long and only consist of lowercase chars (a-z), numbers or dash (-).</mat-hint>

      <mat-error *ngIf="roomTokenValue.errors?.maxlength">Too long, must be less then 24 chars (actual: {{roomTokenValue.errors?.maxlength.actualLength}})</mat-error>
      <mat-error *ngIf="roomTokenValue.errors?.minlength">Too short, must be more then 6 chars (actual: {{roomTokenValue.errors?.minlength.actualLength}})</mat-error>
    
    </mat-form-field>

    <div 
      fxLayout="column">
      <span
        *ngIf="(this.uniqueRoomNameLookup$ | async) === false"
        class="unique-warn warn-message"> 
        This room name is already in use, try a new one!
      </span>
    </div>

    <mat-form-field 
      fxFlexFill 
      *ngIf="roomTokenValue.valid"
      class="roomPassword" 
      appearance="outline">
      <mat-label>Room password (optional)</mat-label>
      <input
        matInput
        placeholder="enter password"
        (keyup.enter)="confirm()"
        [formControl]="roomPassword"/>

      <mat-icon
        [ngClass]="{ 'protected': roomPassword.valid && roomPassword.value?.length >= 6, 'un-protected': !(roomPassword.valid && roomPassword.value?.length >= 6) }" 
        matPrefix>{{ roomPassword.valid && roomPassword.value?.length >= 6 ? 'lock' : 'lock_open' }}</mat-icon>

      <mat-icon
        class="icon-pointer"
        *ngIf="roomPassword.value?.length >= 6" 
        (click)="resetRoomPassword()"
        matSuffix>
        clear
      </mat-icon>

      <mat-hint *ngIf="!roomPassword.valid">Must be 6 to 12 chars long and only consist of lowercase chars (a-z), numbers or dash (-).</mat-hint>

    </mat-form-field>

  </ng-container>
  
</div>
<!--<pre>
valid: {{ roomTokenValue.valid }}
dirty: {{ roomTokenValue.dirty }}
valid: {{ roomPassword.valid }}
dirty: {{ roomPassword.dirty }}
uniqueRoomNameLookup$: {{ uniqueRoomNameLookup$ | async }}
buttonDisabled$: {{ buttonDisabled$ | async }}
</pre>-->
<div mat-dialog-actions class="flex row end">
  <button mat-raised-button (click)="cancel()">
    {{ "buttons.standard.cancel" | translate }}
  </button>
  <span class="flex-item"></span>
  <button
    mat-raised-button
    color="primary"
    (keyup.enter)="confirm()"
    [disabled]="!(buttonDisabled$ | async) || !(this.uniqueRoomNameLookup$ | async)"
    (click)="confirm()"
    cdkFocusInitial>
    {{ "buttons.standard.confirm" | translate }}
  </button>
</div>
