
button {
    margin-right: 1rem;
}
.archiveButton {
    margin: 0 0.5rem 0.5rem 0.5rem;
}

.resolution {
    padding: 0.5rem;
}

.radio-margin {
    margin-right: 0.5rem;
}

.archiving-hint {
    margin: 0 0.5rem 1rem 0.5rem;
}

.archiving-icon.recording {
    color: red;
}