

<button 
  name="archiveMenu"
  [ngClass]="{'blink': recordButtonStatus}"
  mat-icon-button
  [matMenuTriggerFor]="archiveMenu"
  *ngIf="(a.perm([1,2]) | async)"
  matTooltip="{{'room.archiving.record-lesson' | translate}}">
  <mat-icon aria-label="archive lessons">archive</mat-icon>
</button>

<mat-menu 
  #archiveMenu
  yPosition="above">
  <ng-container>

    <div
      class="archiving-hint hint"
      *ngIf="!ft?.archiving">
      <!-- TODO: remove rooterlink, session must be terminated when leaving -->
      <span>Archiving is an add on feature. <a href="/login">Book it here</a></span>
      <!--<span>Archiving is an add on feature. It's comming soon!</span>-->
    </div>

    <div 
      fxLayout="column"
      fxLayoutGap="0.5rem">
      <button
        name="archiveButton"
        [disabled]="!ft?.archiving"
        matTooltip="Add on feature: archive lessons"
        class="archiveButton"
        mat-raised-button
        [color]="recordButtonStatus ? 'primary' : 'normal'"
        (click)="toggleArchive()">
        <mat-icon
          class="archiving-icon"
          [ngClass]="{'recording': !recordButtonStatus}">
          {{ recordButtonStatus ? 'stop' : 'lens' }}
        </mat-icon>
        {{ recordButtonStatus ? 'stop archiving' : 'start archiving' }}
      </button>
    </div>

<!--
    <mat-divider></mat-divider>
    <div 
      fxLayout="column"
      fxLayoutGap="0.5rem"
      class="resolution">
      <label class="radio-margin">Video resolution</label>
      <mat-radio-group 
        fxLayout="row"
        [(ngModel)]="resolution">
        <mat-radio-button class="radio-margin" value="normal">
          normal
        </mat-radio-button>
        <mat-radio-button 
          *ngIf="ft?.archivingHighRes"
          class="radio-margin" 
          value="high">
          high
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-divider></mat-divider>
-->
  </ng-container>
</mat-menu>