
.image-wrapper {
    max-width: calc(90vw - 50px);
    max-height: calc(90vh - 50px);
    /* overflow: scroll; */
}
.image-wrapper img {
    width: 100%;
    height: auto;
}
.mat-spinner {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    z-index: 10;
}