
<div class="image-wrapper">
  <!--progress spinner-->
  <mat-spinner 
    class="mat-spinner"
    *ngIf="localProgress"
    diameter="80">
  </mat-spinner>
  <!--image node-->
  <img #image title="{{inputAsset.filename}}">
</div>
