
<div 
  fxLayout="row">
  <div 
    *ngFor="let item of testArr"
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="0.3rem"
    class="mat-caption">
    <p>{{item.name}}</p>
    <button 
      color="{{ item.isToMaster ? 'primary' : 'default' }}"
      mat-raised-button 
      (click)="item.toggleToMaster()">
      <span class="mat-caption">master</span>
    </button>
    <button
      color="{{ item.isToClass ? 'primary' : 'default' }}" 
      mat-raised-button 
      (click)="item.toggleToClass()"><span class="mat-caption">class</span></button>
    <button 
      color="{{ item.isMuted ? 'primary' : 'default' }}"
      mat-raised-button 
      (click)="item.toggleMute()"><span class="mat-caption">mute</span></button>
  </div>
</div>


