
<!--<ng-container *ngIf="vm$ | async as vm">
  <pre class="generic-debug left">{{vm | json}}</pre><br>
</ng-container>-->

<div class="activate-apps-container">
    <ng-container *ngIf="vm$ | async as vm">
        <button
            *ngIf="vm.state?.userId === vm.state?.ownerId && vm.state?.participants.length > 0"
            [matBadge]="vm.state?.participants | participantsActive" 
            [matBadgeHidden]="(vm.state?.participants | participantsActive) === 0"
            matBadgeSize="medium"
            name="activateApps"
            class="activateApps"
            mat-icon-button
            [matMenuTriggerFor]="activateApps"
            matTooltip="{{'apps.toolbar.tooltip.manage-apps-access' | translate}}">
            <mat-icon aria-label="activate Apps">group_add</mat-icon>
        </button>
        <mat-menu #activateApps="matMenu" yPosition="below">

            <!--<button
                *ngFor="let item of vm.state?.participants" 
                [ngClass]="{ 'selected': item.short === this.translate.currentLang }"
                mat-menu-item 
                (click)="switchToLang(item.short)">
                {{ item.label }}
            </button>-->

            <ng-container *ngIf="vm.state.participants?.length > 0; else noParticipants">
                <button
                    *ngFor="let item of vm.state?.participants" 
                    class="toolbar-status"
                    (click)="doActivateApps(item, !item.toolbarStatus)"
                    [ngClass]="{'enabled': item.toolbarStatus, 'disabled': !item.toolbarStatus }"
                    matTooltip="{{'apps.toolbar.tooltip.toggle-access' | translate}}"
                    mat-menu-item>
                    <mat-icon>apps</mat-icon>
                    {{ item.name }}
                </button>
            </ng-container>

            <ng-template #noParticipants>
                <span mat-menu-item>
                    {{'apps.toolbar.activate-apps.no-participants' | translate}}
                </span>
            </ng-template>

        </mat-menu>
    </ng-container>
</div>