@import '/src/vars.scss';

.activate-apps-container {
    padding: 0.5rem 1.5rem 0 0;
}

button.toolbar-status {
    &.enabled mat-icon {
        opacity: 1;
        color: $primary-color;
    }
    &.disabled mat-icon {
        opacity: 0.3;
        color: #000;
    }
}

button.activateApps {
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
    color: green;
    border: 1px solid rgba($color: green, $alpha: 0.4);
    &.locked {
        color: orange;
        mat-icon {
            color: orange;
        }
    }
    &:hover {
        border-color: rgba($color: orange, $alpha: 0.8);
    }
}