
<button
  name="languageMenu"
  mat-icon-button
  [matMenuTriggerFor]="languageMenu"
  matTooltip="Choose language">
  <mat-icon aria-label="Choose language">language</mat-icon>
</button>


<mat-menu #languageMenu="matMenu" yPosition="below">

    <button
      *ngFor="let item of languages" 
      [ngClass]="{ 'selected': item.short === this.translate.currentLang }"
      mat-menu-item 
      (click)="switchToLang(item.short)">
      {{ item.label }}
    </button>
    
</mat-menu>
