
<!-- case owner is not in session -->
<ng-container *ngIf="(_roomAccess | async) === 'noRoom'">
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="1rem">
    <span
      fxFlex="1 1 auto"
      fxHide.lt-sm="true"
      class="messageNotInClassroom">
      {{'general.back-in-a-second' | translate}}
    </span> 
    <button
      mat-raised-button
      class="buttonGoToClassroom"
      color="primary"
      [disabled]="true" 
      [routerLink]="[roomId]">
      {{'my-coaches.join-session' | translate}}
    </button>
  </div>
</ng-container>

<!-- case owner is in session and room unlocked for participant -->
<ng-container *ngIf="(_roomAccess | async) === 'join'">
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="1rem">
    <span
      fxHide.lt-sm="true"
      class="messageInClassroomUnlocked">
      {{'my-coaches.click-to-join' | translate}}
      <!--Click to join the session-->
    </span> 
    <button
      mat-raised-button
      class="buttonGoToClassroom"
      color="primary"
      [disabled]="false" 
      [routerLink]="[roomId]">
      {{'my-coaches.join-session' | translate}}
    </button>
  </div>
</ng-container>

<!-- case owner is in session and room is locked for participant and he did not already click knock knock -->
<ng-container *ngIf="(_roomAccess | async) === 'wait'">
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="1rem">
    <span
      fxHide.lt-sm="true"
      class="messageInClassroomLocked mat-caption"
      [innerHTML]="'my-coaches.your-coach-is-busy' | translate">
      <!--Your coach is busy in a session.<br> 
      Let him know that you are here.-->
    </span> 

    <button
      mat-raised-button
      color="primary"
      class="buttonKockKnock"
      (click)="doKnockKnock(true)">
      {{'my-coaches.i-am-ready' | translate}}
      <!--I am ready to join!-->
    </button>

  </div>
</ng-container>

<!-- case owner is in session and room is locked for participant and he did not already click knock knock -->
<ng-container *ngIf="(_roomAccess | async) === 'isWaiting'">
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="1rem">
    <span
      fxHide.lt-sm="true"
      class="messageInClassroomLocked"
      [innerHTML]="'my-coaches.join-soon' | translate">
      <!--Wait a moment, <br> 
      you can join soon.-->
    </span> 
    <mat-icon color="primary">weekend</mat-icon>
    <button
      *ngIf="false"
      mat-raised-button
      class="buttonKockKnock"
      (click)="doKnockKnock(false)">
      {{'my-coaches.have-to-leave' | translate}}
      <!--Sorry, have to leave!-->
    </button>
  </div>
</ng-container>
<!--
<span class="mat-caption">
  ra: {{ _roomAccess | async }} iw: {{ _isWaiting | async }}
</span>
-->
