

.buttonVideoToggle button {
    position: absolute;
    top: 3rem;
    left: 16px;
    z-index: 100;
    background: rgba(255,255,255,0.3);
    color: #fff;
}

.buttonVideoToggle {
    background: transparent;
}

.buttonVideoToggle:not(.hero) {
    display: none;
}

/* by whatever reasons not applied automatically after change to "append" approach */
/*
.OT_root.OT_subscriber {
    width: 100% !important; 
    height: 100% !important;
}
*/

.mini-container {
    padding-top: 5px;
    .mat-icon-button {
        height: 30px;
        line-height: 30px;
        z-index: 10;
    }
}

.level-meter {
    position: absolute;
    right: -2px;
    top: 0;
    height: 40px;
    width: 80%;
    background: linear-gradient(90deg, transparent 0%, rgba(0,85,150,0.8) 50%);
    background-size: 0;
    background-position: right;
    background-repeat: no-repeat;
}

.items .level-meter {
    width: 100%;
}

.items.mini .level-meter {
    width: 100%;
}

/*
::ng-deep .subscriber.audioActive {
    border: 5px solid red;
}
*/
