

balasfisdljdfdsf
<ng-container *ngIf="(freshRecordings | async) as fr">
  <ng-container *ngIf="fr.length > 0">

    <div class="spacer"></div>

    <!--{{ freshRecordings | async | json }}-->
    <span class="mat-title">
      {{'media.archiving.in-transition' | translate}}
      <!--Archived sessions in transition--><sup>*</sup></span>

    <ng-container *ngFor="let item of fr">
      <div
        class="fresh-recordings-row"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="1rem">
        
        <mat-icon>ondemand_video</mat-icon> 
        <span>
          {{'media.archiving.session-archive' | translate}}
          <!--Session archive--></span>
        <span>{{ item.createdAt | date: 'medium' }}</span>

        <span fxFlex="auto"></span>

        <app-archiving-link [linkId]="item.id"></app-archiving-link>

      </div>
      <mat-divider></mat-divider>
    </ng-container>
    <span class="mat-caption"><sup>*</sup> 
      {{'media.archiving.processing-and-copying' | translate}}
      <!--Processing and copying the session recording to your media library needs some time. During this phase you can donwload the video directly from out media server-->.
    </span>

  </ng-container>
</ng-container>