<div class="video-wrapper">
  <!--progress spinner-->
  <mat-spinner 
    class="mat-spinner"
    *ngIf="localProgress"
    diameter="80">
  </mat-spinner>
  <!--image node-->
  <video #video title="{{inputAsset.filename}}" controls></video>
</div>