
<!-- stripe - credit sepa form -->
<div>
  <form 
    fxLayout="column"
    #checkout="ngForm" 
    [formGroup]="sepaForm"
    (ngSubmit)="onSubmit(checkout)" 
    class="checkout">

    <div 
      mat-elevation-z2 
      class="StripeFormPane mat-elevation-z2" 
      fxLayout="column" 
      fxLayoutGap="0.5rem">

      <!-- sepa block START -->
      <div 
        fxFlexLayout="row"
        fxLayoutGap="0.5rem">

        <mat-form-field fxFlex="50" fxFlexFill>
          <input
            matInput
            name="accountholderName"
            formControlName="accountholderName"
            placeholder="{{'stripe.account-holder' | translate}}"
            required>
          <mat-error *ngIf="!sepaForm.controls.accountholderName.valid">
            {{'stripe.please-enter-accountholder' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" fxFlexFill>
          <input 
            matInput
            formControlName="email"
            name="email" 
            type="email" 
            placeholder="E-mail" 
            [disabled]="true"
            required>
            <mat-error *ngIf="!sepaForm.controls.email.valid">
              {{'forms.please-enter-email' | translate}}
            </mat-error>
        </mat-form-field>
      </div>  

      <div 
        fxFlexLayout="row"
        fxLayoutGap="0.5rem"
        fxLayoutAlign="start center">

        <div 
          fxLayout="row"
          fxLayoutAlign="start center"
          fxFlex="10">
          <span>{{'stripe.enter-iban' | translate}}</span>
        </div>

        <div fxFlex="2 2 auto" id="iban-element" #ibanInfo>
          <!-- A Stripe Element will be inserted here. -->
        </div>

        <button
          [disabled]="(submitButtonStatus || !sepaForm.valid || !sepaForm.dirty || error !== null)" 
          name="sepaSubmit"
          fxFlex="30" 
          mat-raised-button
          color="primary"
          type="submit">
          <div 
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayoutGap="0.5rem">
            <mat-spinner
              *ngIf="submitButtonStatus"
              diameter="20"
              color="warn">
            </mat-spinner>
            <span>{{ !submitButtonStatus ? 'Submit IBAN' : 'processing...' }}</span>
          </div>
        </button>

      </div>

      <!-- <div id="bank-name"></div> -->

      <!-- Used to display form errors. -->
      <div 
        *ngIf="errorMessage"
        id="error-message" 
        role="alert">
        {{ errorMessage }}
      </div>
      
      <div class="spacer"></div>
      <mat-divider></mat-divider>
      <!-- Display mandate acceptance text. -->
      <div 
        id="mandate-acceptance"
        fxFlexLayout="row">
        <p class="mat-caption" [innerHTML]="'stripe.iban-acceptance-text' | translate">
          <!--By providing your IBAN and confirming this payment, you authorise
          (A) Rocketship Inc.and Stripe, our payment service provider, to send instructions to your bank to debit your account and (B) your bank to debit your account in accordance with those instructions. You are entitled to a refund from your bank under the terms and conditions of your agreement with your bank. A refund must be claimed within 8 weeks starting from the date on which your account was debited.-->
        </p>
      </div>
    <!-- sepa block END -->
    </div>

  </form>
</div>