
.mat-icon-button {
    /*
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    */
    &.mat-icon-mini {
        width: 24px;
        height: 24px;
        line-height: 24px;
    }
}