<mat-checkbox 
    labelPosition="before"
    class="checkbox"
    [(ngModel)]="selected"
    [indeterminate]="isIndeterminate"
    (change)="doShareAsset($event.checked)">
    <ng-container *ngIf="docKeyArr.length > 0">({{ docKeyArrSnapKeyLength }})</ng-container>
</mat-checkbox>
