
<!--
userId: {{ userId }}<br>
quantity: {{ quantity | async | json }}<br>
numberOfActivatedStudents: {{ numberOfActivatedStudents | json }}<br>
<pre>studentListObs: {{ studentListObs | async | json }}</pre><br>
<pre>studentList: {{ studentList | json }}</pre>
-->
<ng-container *ngIf="(quantity | async) as qa; else noPackage">
    <p
        class="successMessage text-center">
        {{'my-students.your-subscription-up-to' | translate}} <strong>{{ qa * packageSize }}</strong> {{'general.students' | translate}}
        <!--Your subscription: Up to <strong>{{ qa * packageSize }}</strong> students.-->
    </p>
    <p 
        *ngIf="(qa * packageSize) === numberOfActivatedStudents"
        class="warnMessage text-center">
        {{'my-students.you-reached-maximum-package' | translate}}.<br> 
        {{'my-students.upgrade-here' | translate}} <a mat-stroked-button routerLink="/login"><strong>{{'buttons.standard.upgrade' | translate}}</strong></a>
    </p>
</ng-container>
<ng-template #noPackage>
    <p class="warnMessage text-center">
        No subscription found! <a mat-stroked-button routerLink="/login">Subscribe now</a>
    </p>
</ng-template>




