
<span *ngIf="(privateData | async) as _name">
  {{ _name.firstname }} {{ _name.lastname }}
</span>
<span *ngIf="(contactData | async) as _contact">
  <!--
  <img 
    *ngIf="_contact.avatar"
    [src]="_contact.avatar">
  -->
  ({{ _contact.nickname }})
</span>