
<!-- stripe - credit card form -->
<div>
  <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">

    <div mat-elevation-z2 class="StripeFormPane mat-elevation-z2" fxLayout="row" fxLayoutGap="0.5rem"
      fxLayoutAlign="start start">

      <div fxFlex="70" class="form-row StripeFormRow">
        <label for="card-info">
          {{'stripe.enter-cc' | translate}}
          <!--Enter your credit card-->
        </label>
        <div id="card-info" #cardInfo></div>
        <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
      </div>

      <button
        name="cardSubmit"
        [disabled]="submitButtonStatus" 
        fxFlex="30" 
        mat-raised-button color="primary" 
        type="submit">
        <div 
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="0.5rem">
          <mat-spinner
            *ngIf="submitButtonStatus"
            diameter="20"
            color="warn">
          </mat-spinner>
          <span>{{ !submitButtonStatus ? 'Submit credit Card' : 'processing...' }}</span>
        </div>
      </button>

    </div>

  </form>
</div>
<!-- card block END -->