<!-- start of wrapper -->
<div
  fxLayout="row"
  class="moduleContainerWrapper"
  fxLayoutAlign="center center"
>
  <!-- column container for modules -->
  <div
    style="margin-left:350px"
    class="moduleContainer"
    fxLayout="column"
    fxFlex="80"
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayoutGap="1em">

    <div 
    class="fxContent mat-elevation-z2 padding16"
    fxLayout="column" 
    fxLayoutGap="1em">

      <h2 class="md-title">Widget home Admin</h2>
      <div fxLayout="column">
        <mat-form-field>
          <mat-label>Show / Hide</mat-label>
          <mat-select [(ngModel)]="widgetShow" (selectionChange)="triggerShowHide()">
            <mat-option value="show">show</mat-option>
            <mat-option value="hide">hide</mat-option>
            <mat-option value="permanent">permanent</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100" fxFlexFill>
          <mat-label>id</mat-label>
          <input [(ngModel)]="widgetId" matInput name="id" placeholder="ID" />
        </mat-form-field>

        <mat-form-field fxFlex="100" fxFlexFill>
          <mat-label>timeout</mat-label>
          <input
            type="number"
            [(ngModel)]="widgetTimeout"
            matInput
            name="Timeout"
            placeholder="Timeout"
          />
        </mat-form-field>

        <mat-form-field fxFlex="100" fxFlexFill>
          <mat-label>Headline</mat-label>
          <input
            [(ngModel)]="widgetContent.header"
            matInput
            name="headline"
            placeholder="headline"
          />
        </mat-form-field>

        <mat-form-field fxFlex="100" fxFlexFill>
          <mat-label>Content</mat-label>
          <textarea 
            rows="5"
            [(ngModel)]="widgetContent.body" 
            matInput></textarea>
        </mat-form-field>

        <mat-form-field fxFlex="100" fxFlexFill>
          <mat-label>Date</mat-label>
          <input
            [(ngModel)]="widgetContent.date"
            matInput
            name="date"
            placeholder="date"
          />
        </mat-form-field>

        <mat-form-field fxFlex="100" fxFlexFill>
          <mat-label>Image Url</mat-label>
          <input
            [(ngModel)]="widgetContent.url"
            matInput
            name="imageUrl"
            placeholder="Image Url"
          />
        </mat-form-field>

        <mat-form-field fxFlex="100" fxFlexFill>
          <mat-label>Image Link</mat-label>
          <input
            [(ngModel)]="widgetContent.imgLink"
            matInput
            name="imageLink"
            placeholder="Image Link"
          />
        </mat-form-field>

        <ng-container *ngIf="widgetContent.url">
          <img style="width: 300px" [src]="widgetContent.url">
        </ng-container>

        <mat-divider></mat-divider>

        <button (click)="triggerShowHide()" color="primary" mat-raised-button>Submit</button>
        
      </div>

    </div>

  </div>
</div>

<app-footer></app-footer>

<app-widget adminpath="'welt'"></app-widget>
