
<ng-container *ngIf="!(ats.featureToggles$ | async)?.archiving; else hasArchiving">
  <div
    fxLayout="column"
    fxLayoutGap="1rem">
    <span class="mat-title">
      {{'stripe.archiving.headline' | translate}}
      <!--Session archiving-->
    </span>
    <span>
      {{'stripe.archiving.description' | translate}}
      <!--Archiving allows you to record your sessions as a composed video of all participants. This provides a great added value for your students, as they can recap the content of your joint session afterwards. Archiving can be started from your session room. After you stopped the recording, the video composing will provided automatically into your media library to "My session recordings". From there you can view, download and share the recording with your students.-->
    </span>
    <span>
      {{'stripe.archiving.add-on' | translate}}
      <!--Archiving is an add on feature which is payed per use. Book by selecting below!-->
    </span>
  </div>
  <div class="spacer"></div>
</ng-container>

<ng-template #hasArchiving>
  <div
    fxLayout="column"
    fxLayoutGap="1rem">
    <span class="mat-title">{{'stripe.archiving.headline' | translate}}</span>
    <span>
      {{'stripe.archiving.you-booked' | translate}}:
      <!--You have booked the following add-on option:-->
    </span>
  </div>
  <div class="spacer"></div>
</ng-template>

<div
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="1rem">
  <ng-container 
    *ngIf="(ats.featureToggles$ | async)?.archiving; else noArchiving">
    <div fxFlex="2 2 auto">
      <button
        fxFlex="2 2 auto" 
        class="archivingConfirmed"
        mat-button (click)="openConfirm(true)">
        <mat-icon
          class="archiving-checkbox">
          check_box
        </mat-icon>
        {{'stripe.archiving.button.archiving-booked' | translate}}
        <!--Archiving booked-->
      </button>
    </div>
    <span fxFlex="1 1 auto">
      {{ pricePerMinute | currency:'EUR'}} 
      {{'stripe.archiving.billing-description' | translate}}
      <!--per minute recorded video. Accumlated usage will be billed on a monthly basis.-->
    </span>
  </ng-container>

  <ng-template #noArchiving>

    <div 
      fxLayout="column"
      fxLayoutGap="1rem">
      <div 
        fxLayout="row" 
        fxLayoutAlign="start center">

        <mat-checkbox 
          name="revocationStatusCheckbox"
          style="margin-left: 0.7rem"
          [checked]="revocationStatus"
          (change)="submitRevocation($event)">
        </mat-checkbox>
    
        <span 
          style="margin-left: 0.5rem"
          [innerHTML]="'stripe.archiving.revocation' | translate">

          <!-- With the purchase of the Archiving function I waive my <a href="https://doozzoo.freshdesk.com/a/solutions/articles/36000234701" target="_blank">right of revocation</a> -->

        </span>
      </div>
      <div 
        fxLayout="row" 
        fxLayoutAlign="start center"
        fxLayoutGap="1rem">
        <div fxFlex="2 2 auto">
          <button
            class="archivingBook"
            [disabled]="!revocationStatus"
            mat-raised-button
            color="primary" 
            (click)="openConfirm(false)">
            <mat-icon class="archiving-checkbox">check_box_outline_blank</mat-icon>
            {{'stripe.archiving.button.click-to-book' | translate}}
            <!--Click now to book Archiving-->
          </button>
        </div>
        <span fxFlex="1 1 auto">
          {{ pricePerMinute | currency:'EUR'}} 
          {{'stripe.archiving.billing-description' | translate}}
          <!--cost per minute recorded video. Accumlated usage will be billed on a monthly basis.-->
        </span>
      
      </div>
    </div>

  </ng-template>

  <!--
  <mat-checkbox 
    required
    name="archivingHighRes"
    [checked]="(ats.featureToggles$ | async)?.archivingHighRes"
    (change)="setArchivingHighRes($event)">
    <strong>Archiving (HD quality)</strong>
  </mat-checkbox>
  -->

<!--
  {{ this.archivingObsv | async }}<br>
  {{ (ats.featureToggles$ | async)?.archiving }}<br>
  {{ (ats.featureToggles$ | async)?.archivingHighRes }}
-->
</div>
