
<div
  *ngIf="showHide"
  #directshareWindow
  class="directShare mat-elevation-z2"
  [ngClass]="{'focus': focus, 'audio' : contentType==='audio', 'remote' : remoteStatus }"
  fxLayout="column"

  (mousedown)="focus = true"
  (mouseup)="focus = false"

  [ngDraggable]="draggableStatus"
  [handle]="directshareHeader"
  [ngResizable]="true"
  [rzHandles]="rzHandles"
  [position]="position"
  (started)="onStart($event)" 
  (stopped)="onStop($event)" 
  (movingOffset)="dragEmitter.emit($event)"
  (endOffset)="dragEmitter.emit($event)"

  (rzStart)="rzEmitter.emit($event)"
  (rzStop)="rzEmitter.emit($event)"
  (rzResizing)="rzEmitter.emit($event)"
  
  [preventDefaultEvent]="true">

  <div
    #directshareHeader
    class="dsHeader"
    fxLayout="row" 
    fxLayoutAlign="start center">
      <span fxFlex="1 1 100%">{{ asset.filename }}</span>

      <mat-icon 
        *ngIf="remoteStatus"
        class="remoteStatus blink-slow" 
        color="warn">
        settings_remote
      </mat-icon>

      <span fxFlex="1 1 auto"></span>
      <button 
        mat-icon-button
        (click)="close()">
        <mat-icon>
          close
        </mat-icon>
      </button>
  </div>
  <div 
    #directshareContent
    class="dsContent">
    <app-image *ngIf="contentType==='image'" [inputAsset]="asset"></app-image>
    <app-pdf 
      *ngIf="contentType==='pdf'"
      [remoteStatus]="remoteStatus" 
      [inputAsset]="asset"></app-pdf>
    <app-looper 
      *ngIf="contentType==='audio'" 
      [inputAsset]="asset">
    </app-looper>
    <app-video 
      *ngIf="contentType==='video'" 
      [inputAsset]="asset">
    </app-video>
  </div>
</div>

