$primary-color: 		rgb(0,84,150);

.directShare {
    min-width: 630px;
    min-height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(128, 128, 128, 0.8);
    z-index: 20;
    border: 5px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    overflow: hidden;
}
.directShare:hover {
    box-shadow: 0 0 30px;
}
.directShare.focus {
    box-shadow: 0 0 40px;
    border: 5px solid $primary-color;
}

.directShare.audio { 
    height: 235px; 
}

.dsHeader {
    background: #333;
    color: #efefef;
    padding-left: 8px;
    min-height: 40px;
}
.dsHeader button {
    z-index: 30;
}
.dsContent {
    overflow: scroll;
}

.directShare.remote {
    border-color: green;
}


