/* Vars */
@import '../../../vars.scss';

table.plans {
    border-collapse: collapse;
    thead {
        background: lightgreen;
        font-weight: bold;
    }
    th.planSelected {
        background: $primary-color;
        color: #fff;
    }
    tr {
        &.highlight {
            background: lightgreen;
        }
        &.strong {
            font-weight: bold;
        }
        &.no-border {
            border: none;
        }
    }
    /*
    thead th:last-child {
        border-top: 3px solid $primary-color;
    }
    tr:last-child td:last-child {
        border-bottom: 3px solid $primary-color;
    }
    */
    th,td {
        padding: 0.5rem;
    }
    th:not(:first-child), 
    td:not(:first-child) {
        width: 25%;
        padding: 0.5rem;
        text-align: center;
        border-left: 1px solid #ccc;
    }
    /*
    th:last-child,
    td:last-child {
        border-left: 3px solid $primary-color;
        border-right: 3px solid $primary-color;
        &:first-child {
            border-top: 3px solid $primary-color;
        }
    }
    */
    .highlight-dimmed {
        background: rgba($color: lightgreen, $alpha: 0.5) !important;
        font-weight: normal;
        text-align: left;
    }

}

button.select-plan {
    width: 100%;
    background: lightgrey;
    &:hover:not(.disabled) {
        background: lightgreen;
        box-shadow: 0 0 18px rgba(0,0,0,1);
        color: #000;
        font-weight: bold;
    }
    &.selected {
        background: lightgreen;
    }
}

.yes {
    color: green;
    vertical-align: middle;
}

.no {
    color: red;
    vertical-align: middle;
}
.check {
    vertical-align: text-bottom;
}