<ng-container *ngIf="(vm$ | async) as vm">

  <h2 class="mat-headline">
    {{'plan.choose-your-plan' | translate}}
  </h2>

  <table class="plans">
    <thead>
      <tr>
        <th class="highlight-dimmed">{{'plan.plans' | translate}}</th>
        <th [ngClass]="{ planSelected: vm.state.plan === 'starter'}">
          {{'plan.workshop-room-free' | translate}}
          <mat-icon *ngIf="vm.state.plan === 'starter'" class="check">check</mat-icon>
        </th>
        <th [ngClass]="{ planSelected: vm.state.plan === 'pro'}">
          {{'plan.workshop-room-go' | translate}}
          <mat-icon *ngIf="vm.state.plan === 'pro'" class="check">check</mat-icon>
        </th>
        <th [ngClass]="{ planSelected: vm.state.plan === 'premium'}">
          {{'plan.workshop-room-pro' | translate}}
          <mat-icon *ngIf="vm.state.plan === 'premium'" class="check">check</mat-icon>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="highlight">
        <td class="highlight-dimmed">{{'plan.price-per-month' | translate}}</td>
        <td>{{'plan.free' | translate}}</td>
        <td>12,50 €</td>
        <td>{{'plan.starting-at' | translate}} 14,95 €</td>
      </tr>
      <tr class="strong">
        <td>{{'plan.features' | translate}}</td>
        <td>{{'plan.workshop-room' | translate}} + {{'plan.static-room-name' | translate}}</td>
        <td>{{'plan.workshop-room' | translate}} + {{'plan.static-room-name' | translate}}</td>
        <td>
          {{'plan.best-of-both' | translate}}: {{'plan.media-library-for-students' | translate}} + {{'plan.workshop-room' | translate}} + {{'plan.static-room-name' | translate}}
        </td>
      </tr>

      <!--<tr>
        <td>{{'plan.time-inclusive' | translate}}</td>
        <td>100 min.</td>
        <td>600 min.</td>
        <td>{{'plan.flatrate-plus' | translate}} 600 min. {{'plan.workshop-room' | translate}}</td>
      </tr>
      <tr>
        <td>{{'plan.additional' | translate}} 100min.</td>
        <td>-</td>
        <td>1,99 €</td>
        <td>1,99 €</td>
      </tr>-->
      <tr>
        <td>{{'plan.individual-room-name' | translate}}</td>
        <td><mat-icon class="no">block</mat-icon></td>
        <td><mat-icon class="yes">check_circle</mat-icon></td>
        <td><mat-icon class="yes">check_circle</mat-icon></td>
      </tr>
      <tr>
        <td>{{'plan.media-library-for-students' | translate}}</td>
        <td><mat-icon class="no">block</mat-icon></td>
        <td><mat-icon class="yes">check_circle</mat-icon></td>
        <td><mat-icon class="yes">check_circle</mat-icon></td>
      </tr>
      <tr class="highlight">
        <td class="highlight-dimmed">{{'plan.groups' | translate}}</td>
        <td><mat-icon class="no">block</mat-icon><br>(<span [innerHTML]="'plan.only-1:1' | translate"></span>)</td>
        <td><mat-icon class="yes">check_circle</mat-icon><br>(<span [innerHTML]="'plan.up-to-inclusive' | translate: {upToInclusive:5}"></span>)</td>
        <td><mat-icon class="yes">check_circle</mat-icon><br>(<span [innerHTML]="'plan.up-to-inclusive' | translate: {upToInclusive:20}"></span>)</td>
      </tr>
      <!--<tr>
        <td><span [innerHTML]="'plan.goup-size-upgradable' | translate: { number: 25 }"></span></td>
        <td><mat-icon class="no">block</mat-icon></td>
        <td><span><mat-icon class="yes">check_circle</mat-icon></span><br>(<span [innerHTML]="'plan.up-to-inclusive' | translate: { upToInclusive:5 }"></span>)</td>
        <td><mat-icon class="yes">check_circle</mat-icon><br>(<span [innerHTML]="'plan.up-to-inclusive' | translate: { upToInclusive:20 }"></span>)</td>
      </tr>-->
      <tr>
        <td>{{'plan.local-latency-compensation' | translate}}</td>
        <td><mat-icon class="yes">check_circle</mat-icon></td>
        <td><mat-icon class="yes">check_circle</mat-icon></td>
        <td><mat-icon class="yes">check_circle</mat-icon></td>
      </tr>
      <tr class="highlight">
        <td class="highlight-dimmed">{{'plan.musictools+' | translate}}</td>
        <td>3 month free</td>
        <td><mat-icon class="yes">check_circle</mat-icon></td>
        <td><mat-icon class="yes">check_circle</mat-icon></td>
      </tr>
      <tr>
        <td>{{'plan.lesson-recording' | translate}}</td>
        <td><mat-icon class="no">block</mat-icon></td>
        <td><mat-icon class="yes">check_circle</mat-icon></td>
        <td><mat-icon class="yes">check_circle</mat-icon></td>
      </tr>
      <tr class="no-border">
        <td></td>
        <td>
          <button
            name="selectPlanStarter"
            (click)="selectPlan('starter')"
            class="select-plan"
            [ngClass]="{'selected': planSelected === 'starter', 'disabled': vm.state.plan === 'premium'}"
            [disabled]="vm.state.plan === 'premium' && vm.accountStatus === 'planSubscribed'"
            mat-raised-button>
            <mat-icon *ngIf="planSelected === 'starter'">check</mat-icon>
            {{'plan.select-plan' | translate}}
          </button>
        </td>
        <td>
          <button
            name="selectPlanPro"
            (click)="selectPlan('pro')"
            class="select-plan disabled"
            [ngClass]="{'selected': planSelected === 'pro', 'disabled': vm.state.plan === 'premium'}"
            [disabled]="true"
            mat-raised-button>
            <mat-icon *ngIf="planSelected === 'pro'">check</mat-icon>
            <!--Select plan-->
            <!--{{'plan.select-plan' | translate}}-->
            {{'plan.comming-soon' | translate}}
          </button>
        </td>
        <td>
          <button
            name="selectPlanPremium"
            (click)="selectPlan('premium')"
            class="select-plan"
            [ngClass]="{'selected': planSelected === 'premium'}"
            mat-raised-button>
            <mat-icon *ngIf="planSelected === 'premium'">check</mat-icon>
            {{'plan.select-plan' | translate}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="spacer"></div>
  <div class="spacer"></div>

  <!--{{ planSelected }}; {{ vm.state.plan }}-->

  <ng-container
      *ngIf="planSelected === 'starter'">
      <div
          fxLayout="column"
          fxLayoutGap="1rem">

          <ng-container 
            *ngIf="(myroomsCount$ | async) as count">
          
            <span 
              *ngIf="count.roomsCount === 0"
              [innerHTML]="'plan.you-selected-plan1' | translate">
              <!--You selected plan <strong>Workshop Room Starter</strong>. Click the button below to confirm your selection and start teaching with doozzoo!-->
            </span>

            <button
              name="confirmPlanStarter"
              *ngIf="count.roomsCount === 0 || vm.state.plan === 'premium'; else alreadyBooked"
              (click)="confirmPlan('starter')"
              class="confirm-plan"
              [disabled]="count.roomsCount > 0 && vm.state.plan === 'starter'"
              [ngClass]="{ 'disabled': count.roomsCount > 0 && vm.state.plan === 'starter', 'enabled': count.roomsCount === 0 && vm.state.plan !== 'premium'}"
              mat-raised-button
              color="primary">
              {{'plan.confirm-selection' | translate}}
            </button>

            <ng-template #alreadyBooked>
              <!--myroomsCount$: {{ (myroomsCount$ | async) }}-->
              <span 
                class="warn-message"
                [innerHTML]="'plan.plan1-has-been-setup' | translate">
                <!--Your <strong>Workshop Room Starter</strong> has been set up. Please be aware, that only one room can be created in this Plan. Please upgrade, if you need more.-->
              </span>
            </ng-template>

          </ng-container>

      </div>
  </ng-container>
  <ng-container
      *ngIf="planSelected === 'premium'">
      <div
          fxLayout="column"
          fxLayoutGap="1rem">
          <span
            [innerHTML]="'plan.you-selected-plan3' | translate">
            <!--You selected plan <strong>Pro Coach Premium</strong>. Click the button below to confirm your selection and click "next" to continue your registration.-->
          </span>
          <button
            name="confirmPlanPremium"
            (click)="confirmPlan('premium')"
            [disabled]="planSelected === 'premium' && vm.state.plan === 'premium'"
            [ngClass]="{ 'disabled': planSelected === 'premium' && vm.state.plan === 'premium'}"
            class="confirm-plan"
            mat-raised-button
            color="primary">
            {{'plan.confirm-selection' | translate}}
          </button>
      </div>
  </ng-container>

</ng-container>
