<!-- start of wrapper -->
<div fxLayout="row"
  class="moduleContainerWrapper" 
  fxLayoutAlign="center center">

  <!-- column container for modules -->
  <div 
    class="moduleContainer"
    fxLayout="column" 
    fxFlex="80" 
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayoutGap="1em">

    <div 
      class="fxContent mat-elevation-z2 padding16"
      fxLayout="column" 
      fxLayoutGap="1em">

      <h2>Statistics - KPIs</h2>

      <!--
      <pre>{{ kpis | async | json }}</pre>
      -->
      <div
        *ngIf="kpis | async; else loading">
      </div>
      <ng-template #loading>
        <mat-progress-bar></mat-progress-bar>
      </ng-template>

      <p class="mat-title">Users in general</p>
      <table mat-table [dataSource]="kpis | async"
        class="mat-elevation-z3">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.timestamp | date }} </td>
        </ng-container>

        <ng-container matColumnDef="coaches">
          <th mat-header-cell *matHeaderCellDef> Coaches </th>
          <td mat-cell *matCellDef="let element"> {{element.coaches}} </td>
        </ng-container>
        
        <ng-container matColumnDef="students">
          <th mat-header-cell *matHeaderCellDef> Students </th>
          <td mat-cell *matCellDef="let element"> {{element.students}} </td>
        </ng-container>

        <ng-container matColumnDef="disconnectedStudents">
          <th mat-header-cell *matHeaderCellDef> Orph. Students </th>
          <td mat-cell *matCellDef="let element"> {{element.disconnectedStudents}} </td>
        </ng-container>

        <ng-container matColumnDef="disconnectedStudents7">
          <th mat-header-cell *matHeaderCellDef> Orph. Students 7 </th>
          <td mat-cell *matCellDef="let element"> {{element.disconnectedStudents7}} </td>
        </ng-container>

        <ng-container matColumnDef="disconnectedStudents30">
          <th mat-header-cell *matHeaderCellDef> Orph. Students 30 </th>
          <td mat-cell *matCellDef="let element"> {{element.disconnectedStudents30}} </td>
        </ng-container>

        <ng-container matColumnDef="admins">
          <th mat-header-cell *matHeaderCellDef> Admins </th>
          <td mat-cell *matCellDef="let element"> {{element.admins}} </td>
        </ng-container>

        <ng-container matColumnDef="institutionalCoaches">
          <th mat-header-cell *matHeaderCellDef> Inst. Coaches </th>
          <td mat-cell *matCellDef="let element"> {{element.institutionalCoaches}} </td>
        </ng-container>
        
        <ng-container matColumnDef="institutionalStudents">
          <th mat-header-cell *matHeaderCellDef> Inst. Students </th>
          <td mat-cell *matCellDef="let element"> {{element.institutionalStudents}} </td>
        </ng-container>

        <ng-container matColumnDef="institutionalAdmins">
          <th mat-header-cell *matHeaderCellDef> Inst. Admins </th>
          <td mat-cell *matCellDef="let element"> {{element.institutionalAdmins}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay1"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay1"></tr>   

      </table>

      <p class="mat-title">Active users</p>
      <table mat-table [dataSource]="kpis | async"
        class="mat-elevation-z3">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.timestamp | date }} </td>
        </ng-container>

        <ng-container matColumnDef="activeCoaches1">
          <th mat-header-cell *matHeaderCellDef> Coaches 1d  </th>
          <td mat-cell *matCellDef="let element"> {{element.activeCoaches1}} </td>
        </ng-container>
        
        <ng-container matColumnDef="activeStudents1">
          <th mat-header-cell *matHeaderCellDef> Students 1d </th>
          <td mat-cell *matCellDef="let element"> {{element.activeStudents1}} </td>
        </ng-container>

        <ng-container matColumnDef="activeCoaches7">
          <th mat-header-cell *matHeaderCellDef> Coaches 7d  </th>
          <td mat-cell *matCellDef="let element"> {{element.activeCoaches7}} </td>
        </ng-container>
        
        <ng-container matColumnDef="activeStudents7">
          <th mat-header-cell *matHeaderCellDef> Students 7d </th>
          <td mat-cell *matCellDef="let element"> {{element.activeStudents7}} </td>
        </ng-container>

        <ng-container matColumnDef="activeCoaches30">
          <th mat-header-cell *matHeaderCellDef> Coaches 30d  </th>
          <td mat-cell *matCellDef="let element"> {{element.activeCoaches30}} </td>
        </ng-container>
        
        <ng-container matColumnDef="activeStudents30">
          <th mat-header-cell *matHeaderCellDef> Students 30d </th>
          <td mat-cell *matCellDef="let element"> {{element.activeStudents30}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay2"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay2"></tr>   

      </table>

      <p class="mat-title">Sessions</p>
      <table mat-table [dataSource]="kpis | async"
        class="mat-elevation-z3">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.timestamp | date }} </td>
        </ng-container>

        <ng-container matColumnDef="sessions1numSessions">
          <th mat-header-cell *matHeaderCellDef> 1d </th>
          <td mat-cell *matCellDef="let element"> {{element.sessions1numSessions}} </td>
        </ng-container>
        
        <ng-container matColumnDef="sessions1duration">
          <th mat-header-cell *matHeaderCellDef> duration* 1d </th>
          <td mat-cell *matCellDef="let element"> {{element.sessions1duration}} </td>
        </ng-container>

        <ng-container matColumnDef="sessions7numSessions">
          <th mat-header-cell *matHeaderCellDef> 7d </th>
          <td mat-cell *matCellDef="let element"> {{element.sessions7numSessions}} </td>
        </ng-container>
        
        <ng-container matColumnDef="sessions7duration">
          <th mat-header-cell *matHeaderCellDef> duration* 7d </th>
          <td mat-cell *matCellDef="let element"> {{element.sessions7duration}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay3"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay3"></tr>   

      </table>
      <span class="mat-caption"><sup>*</sup> duration in seconds</span><br>

    </div>
  </div>
</div>
