@import '/src/vars.scss';

.mat-dialog-title {
    margin-bottom: 0.5em;
}

.avatarThumb {
    border-radius: 50%; 
    width: 36px; 
    height: 36px;
    margin: 0 0.5em 0 0.2rem;
}

.customerListRow {
    padding: 0.3rem 0;
    &:hover {
        background: $grey-light;
    }
}

.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.filter-pane {
    padding-right: 0;
}

.content-loader {
    min-height: 160px;
}

/*
.checkboxBulk {
    background: pink;
}
*/