<h1 mat-dialog-title>"{{ headlineLabel$ | async }}" {{'media.dialogs.shared-with' | translate}}...</h1>

<div
  class="filter-pane"
  fxLayout="row"
  fxLayoutAlign="start center">
  <mat-form-field 
    class="filterInput"
    appearance="outline">
    <input 
      matInput 
      placeholder="{{'media.filter-documents' | translate}}" 
      [(ngModel)]="filterargs"
      autocomplete="off">
      <mat-icon
          [ngClass]="{ showPointer: filterargs?.length > 0 }"
          (click)="filterargs = null" 
          matSuffix>
          {{ filterargs?.length > 0 ? 'clear' : 'search' }}
      </mat-icon>
  </mat-form-field>

  <span fxFlex></span>

  <!--<pre style="font-size:9px">{{ data?.isBulkOperation }}</pre>-->

  <mat-checkbox
    #checkAll
    [disabled]="data?.isBulkOperation" 
    class="checkbox"
    labelPosition='before'
    (change)="cts.do('shareAllAssets', $event.checked)">
    {{'buttons.standard.select-all' | translate}}
  </mat-checkbox>

</div>


<div mat-dialog-content>

  <!--<pre style="font-size: 9px">customerListSorted: {{ customerListSorted$ | async | json }}</pre>-->

  <ng-container *ngIf="(customerListSorted$ | async) as cls; else loading">
    <div *ngFor="let customer of cls | sortBy:'asc':'contact.nickname' | filterContacts: filterargs;">
      <div 
        class="customerListRow"
        fxLayout="row"
        fxLayoutAlign="start center">
        <img 
          *ngIf="customer.contact?.avatar else defaultAvatar"
          class="avatarThumb" 
          [src]="customer.contact?.avatar">
        <ng-template #defaultAvatar>
          <img 
          src="assets/img/avatars/avataaars-default.png"
          class="avatarThumb">
        </ng-template>
        <span>{{ customer.contact?.nickname }}&nbsp;</span>
        <span 
          *ngIf="customer.contact?.email"
          class="mat-caption">
            ({{ customer.contact?.email }})
        </span>
        
        <span fxFlex></span>

        <!--<span style="font-size: 9px">{{ customer.key }}</span>-->

        <app-checkbox-share-single
          *ngIf="!data?.isBulkOperation"
          [checkboxTrigger]="checkAll.checked"
          [data]="data" 
          [recipientId]="customer.key">
        </app-checkbox-share-single>

        <app-checkbox-share-bulk
          *ngIf="data?.isBulkOperation"
          class="checkboxBulk"
          [data]="data" 
          [recipientId]="customer.key">
        </app-checkbox-share-bulk>

        <!--<app-checkbox-share  
          [data]="data" 
          [recipientId]="customer.key">
        </app-checkbox-share>-->

      </div>
    </div>
    <!--<pre style="font-size: 9px">{{ customerListSorted$ | async | json }}</pre>-->
  </ng-container>

  <ng-template #loading>
    <div 
      fxLayout="column">
      <div
        class="content-loader" 
        fxLayout="row" 
        fxLayoutAlign="center center">
        <mat-spinner diameter="80"></mat-spinner>
      </div>
    </div>
  </ng-template>
  
</div>


<div mat-dialog-actions class="flex row end">
  <span class="flex-item"></span>
  <button mat-raised-button (click)="close()">{{'buttons.standard.close' | translate}}</button>
</div>