<h1 mat-dialog-title>Clip title</h1>
<div mat-dialog-content>
  <p>Enter a title for your clip:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.clipTitle">
  </mat-form-field>
</div>
<div 
  fxLayout="row"
  fxLayoutAlign="end center"
  mat-dialog-actions>
  <button 
    mat-button 
    (click)="close('cancel')">
    Cancel
  </button>
  <span class="flex-item"></span>
  <button 
    mat-raised-button
    color="primary" 
    (click)="close('confirm')"
    cdkFocusInitial>
    Save clip
  </button>
</div>