<div
    fxLayout="row"
    fxLayoutAlign="center center"
    cdkDrag
    cdkDragLockAxis="x"
    *ngIf="(vm$ | async) as vm">

    <section [hidden]="(vm.apps | appPosition:'keyboardId')?.mode !== 'default'">

        <div 
            class="apps default keyboard-pane mat-elevation-z6">

            <mat-icon 
                class="ng-scope material-icons toggleMode" 
                role="img" 
                (click)="toggleMode()">
                remove_circle_outline
            </mat-icon>

            <mat-icon
                (click)="toogleKeys()"
                class="toggleMode toggleKeysActive"
                matTooltip="click to toggle keyboard input"q>
                {{ keysActive ? 'piano' : 'piano_off' }}
            </mat-icon>  

            <div class="keyboard-container">
                <div id="keyboardDiv" class="keyboard">
                    <div class="keyboard__key keyboard__key--white" data-note="48">C</div>
                    <div class="keyboard__key keyboard__key--black" data-note="49">C&#9839;</div>
                    <div class="keyboard__key keyboard__key--white" data-note="50">D</div>
                    <div class="keyboard__key keyboard__key--black" data-note="51">D&#9839;</div>
                    <div class="keyboard__key keyboard__key--white" data-note="52">E</div>
                    <div class="keyboard__key keyboard__key--white" data-note="53">F</div>
                    <div class="keyboard__key keyboard__key--black" data-note="54">F&#9839;</div>
                    <div class="keyboard__key keyboard__key--white" data-note="55">G</div>
                    <div class="keyboard__key keyboard__key--black" data-note="56">G&#9839;</div>
                    <div class="keyboard__key keyboard__key--white" data-note="57">A</div>
                    <div class="keyboard__key keyboard__key--black" data-note="58">A&#9839;</div>
                    <div class="keyboard__key keyboard__key--white" data-note="59">B</div>
                    <div class="keyboard__key keyboard__key--white" data-note="60">C</div>
                    <div class="keyboard__key keyboard__key--black" data-note="61">C&#9839;</div>
                    <div class="keyboard__key keyboard__key--white" data-note="62">D</div>
                    <div class="keyboard__key keyboard__key--black" data-note="63">D&#9839;</div>
                    <div class="keyboard__key keyboard__key--white" data-note="64">E</div>
                    <div class="keyboard__key keyboard__key--white" data-note="65">F</div>
                    <div class="keyboard__key keyboard__key--black" data-note="66">F&#9839;</div>
                    <div class="keyboard__key keyboard__key--white" data-note="67">G</div>
                    <div class="keyboard__key keyboard__key--black" data-note="68">G&#9839;</div>
                    <div class="keyboard__key keyboard__key--white" data-note="69">A</div>
                    <div class="keyboard__key keyboard__key--black" data-note="70">A&#9839;</div>
                    <div class="keyboard__key keyboard__key--white" data-note="71">B</div>
                    <div class="keyboard__key keyboard__key--white" data-note="72">C</div>
                </div>
            </div>

        </div>

    </section>

    <section *ngIf="(vm.apps | appPosition:'keyboardId')?.mode === 'small'">
        <div 
            fxLayout="row"
            fxLayoutAlign="center center"
            [ngClass]="{'note-active': noteActive}"
            class="apps small keyboard-pane mat-elevation-z6">

            <mat-icon 
                class="ng-scope material-icons toggleMode" 
                role="img" 
                (click)="toggleMode()">
                add_circle_outline
            </mat-icon>

            <div
                (click)="toogleKeys()"
                fxLayout="row"
                fxLayoutAlign="center center" 
                class="icon-container big"
                matTooltip="click to toggle keyboard input">
                <mat-icon
                    [inline]="true">
                    {{ keysActive ? 'piano' : 'piano_off' }}
                </mat-icon>  
            </div>

            <span class="appLabel md-caption">{{'apps.keyboard.title' | translate}}</span>

        </div>      
    </section>
</div>


