/* Vars */
/* #005596 */
/*
$primary-color: 		rgb(0,84,150); 
$primary-color-light: 		rgb(112, 190, 250);
$grey: #ccc;
$grey-light: rgb(239, 239, 239);
$footer-height:     50px;
$primary-font-family: Quicksand, sans-serif;
$radius-default: 4px;
*/

@import '/src/vars.scss';

.icon-container {
    &.big {
        font-size: 40px;
        cursor: pointer;
    }
}

mat-icon.toggleKeysActive {
    right: 24px;
    color: #000;
    background: #fff;

    &:hover {
        box-shadow: 0 0 5px rgba(0,0,0,1);
    }
}

.apps.default.keyboard-pane {
    width: 510px;
    height: 112px;
    padding: 8px;
}

/* 
hight of container is determining the height of the keyboard
width is fixed by the white keys in px
*/
$keyboard-height: 100px;
$keys-white: 32px;

.keyboard-container {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 12px 8px 0 8px;
    height: $keyboard-height;
}
.keyboard {
    display: flex;
    background-color: black;
    padding: 2px 0 4px 2px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 100%;
}
.keyboard__key {
    width: $keys-white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 8px;
    cursor: pointer;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: white;
    margin-right: 2px;
}
.keyboard__key--white.keyboard__key--active,
.keyboard__key--white:hover {
    background-color: #eee;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
}
.keyboard__key--black {
    background-color: black;
    color: white;
    width: $keys-white * 0.63;
    height: $keyboard-height * 0.66;
    margin-left: -10px;
    margin-right: -10px;
    z-index: 1;
    position: relative;
}
.keyboard__key--black.keyboard__key--active,
.keyboard__key--black:hover {
    background-color: #555; /* was #333 */
}
.keyboard__key--black::after {
    content: '';
    position: absolute;
    top: 0;
    right: 3px;
    bottom: 8px;
    left: 3px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3));
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.keyboard__key--black:hover::after {
    right: 4px;
    left: 4px;
    bottom: 5px;
}

.note-active {
    background: orange;
}

.apps-container {
    cursor: grab;
    &.cdk-drag-placeholder {
        cursor: grabbing;
    }
}