
<div
    fxLayout="column"
    fxLayoutAlign="center center"
    class="mixerChannelStrip">

    <!-- <canvas ng-if="false" style="border:1px solid #ccc" ng-cloak></canvas> -->

    <div
        fxLayout="column">
        <span class="mat-caption strip-label">{{ gainObj.name }}</span>
        <span class="mat-caption">{{ gainObj.volLevelVar$ | async | number:0 }}</span>
        <!--<span class="mat-caption">{{ gainObj.level | number:0 }}</span>-->
    </div>

    <!--{{ gainObj.meterLevelVar$ | async | number:0 }}-->

    <!--<app-activity-meter
        layout="pulse"
        [meterValue]="gainObj.meterLevelVar$ | async | number:'1.0-2'">
    </app-activity-meter>-->

    <mat-slider
        *ngIf="gainObj"
        [max]="0"
        [min]="-30"
        [step]="1"
        [ngModel]="gainObj.volLevelVar$ | async"
        (input)="gainObj.setLevel($event.value)"
        [disabled]="gainObj.isMuted"
        [vertical]="true">
    </mat-slider>

    <div
        fxLayout="row"
        fxLayoutAlign="center center">    
        <mat-checkbox
            [ngModel]="gainObj.isToMaster"
            [disabled]="isMicrophone"
            (change)="gainObj.setToMaster($event.checked)"
            matTooltip="{{'apps.mixer.tooltip.local-monitor' | translate}}">
        </mat-checkbox>
    </div>

    <div 
        fxLayout="row"
        fxLayoutAlign="center center">                 
        <mat-checkbox
            [ngModel]="gainObj.isToClass"
            [disabled]="isMicrophone || inClassroom"
            (change)="gainObj.setToClass($event.checked)"
            matTooltip="{{'apps.mixer.tooltip.published-to-session' | translate}}">
        </mat-checkbox>
    </div>

    <div 
        fxLayout="row"
        sfxLayoutAlign="center center">      
        <mat-checkbox
            [ngModel]="gainObj.isMuted"
            [disabled]="false"
            (change)="gainObj.setMute($event.checked)"
            matTooltip="{{'apps.mixer.tooltip.mute-channel' | translate}}">
        </mat-checkbox>
    </div>

</div>