

.cblabel { 
    padding: 0.8em 0 0 0;
}
.sliderLayout, .sliderLayout .md-slider-wrapper { 
    height: 120px;
}
.mixerChannelStrip { 
    margin: 0 0.2em 0 0.2em;
}
span.mat-caption {
    text-align: center;
    
}
span.mat-caption.strip-label {
    white-space: nowrap;
}

.mixerChannelStrip .mat-checkbox {
    width: 16px;
}