<div id="audioTrimmer" class="flex column">

    <div id="waveform" #waveform class="waveform"></div>

    <!--progress bar-->
    <mat-progress-bar 
      mode="indeterminate"
      *ngIf="localProgress">
    </mat-progress-bar>
    <div *ngIf="!localProgress" style="height:4px; width: 100%; background:#ccc"></div>
    
    <div class="flex row center align-center controlsRow">
        <button 
          mat-icon-button 
          (click)="playPause()"
          matTooltip="{{'apps.recorder.tooltip.play-clip' | translate}}">
            <mat-icon>
                {{ isPlaying ? 'pause' : 'play_arrow' }}
            </mat-icon>
        </button>
        <!-- TODO: FF bug, if button was disabled, event is not fired with first click -->
        <button 
          mat-icon-button 
          (click)="doShorten()" 
          [disabled]="regionArr.length < 1"
          matTooltip="{{'apps.recorder.tooltip.trim' | translate}}">
            <mat-icon>
                crop
            </mat-icon>
        </button>
        <button 
          mat-icon-button 
          (click)="undoTrim()" 
          [disabled]="trimmedBuffer === null"
          matTooltip="{{'apps.recorder.tooltip.undo' | translate}}">
            <mat-icon>
                undo
            </mat-icon>
        </button>
        <button 
          mat-icon-button 
          (click)="saveTrimmedAudio()" 
          [disabled]="trimmedBuffer === null"
          matTooltip="{{'apps.recorder.tooltip.save-trimmed-audio' | translate}}">
            <mat-icon>
                save
            </mat-icon>
        </button>
        <button 
          mat-icon-button 
          (click)="downloadTrimmedAudio()"
          matTooltip="{{'apps.recorder.tooltip.download-mp3' | translate}}">
            <mat-icon>
                save_alt
            </mat-icon>
        </button>
    </div>               
</div>