#audioTrimmer {
    background: #efefef;
    border-radius: 4px;
    width: 312px;
}
#audioTrimmer .waveform {
    min-height: 40px;
    height: 40px;
}
#audioTrimmer .wavesurfer-region {
    background-color: rgba(10, 10, 10, 0.3) !important;
}
/* width of the handles, to resize the region */ 
#audioTrimmer .wavesurfer-handle {
    width: 3px !important;
    max-width: 3px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}