$primary-color: 		rgb(0,84,150); /* #005596 */


.micLevelWrapper {
    background: #ccc;
}

.levelmeter-wrapper {
    .levelmeter.pulse {
        width: 50px;
        height: 50px;
    }
}

.miclevel {
    width:100%;
    height:100px;
    border: 1px solid rgba($primary-color, 0.5);
}

.levelmeter.default {
    border: 1px solid $primary-color !important;
}

.levelmeter.pulse {
    border: 1px solid $primary-color;
}
