

<!--<div class="miclevelWrapper">
  <canvas class="miclevel" #myMeter width="100%" height="20"></canvas>
</div>-->

<ng-container *ngIf="layout === 'pulse'; else default">
  <div class="levelmeter-wrapper">
    <svg class="levelmeter pulse" width="100%" height="100%">
      <circle class="pulse1-background" fill="orange" cx="50%" cy="50%" r="25"/>
      <circle class="pulse1" fill="rgb(0,84,150)" cx="50%" cy="50%" r="5"/>
    </svg>
  </div>
</ng-container>

<ng-template #default>
  <svg class="levelmeter default" width="100%" height="30px">
    <g class="bars">
      <rect class="rectBar1" fill="rgb(0,84,150)" width="25%" height="30"></rect>;
      <!--<rect #rectBar2 id="rectBar2" fill="green" width="90%" height="40"></rect>;-->
      <!--<rect #rectBar3 id="rectBar3" fill="orange" width="50%" height="20"></rect>-->
    </g>
  </svg>
</ng-template>