@import '/src/vars.scss';

mat-sidenav-container {
    /* background-color: yellow; */
    background: url('../../assets/img/morphbackground4.jpg') center / cover; 
    background-attachment: fixed;
}

.leaveRoomMenuePane {
    padding: 0 0.5rem;
    width: 14rem;
}

.debugMsgWindow{
    position: absolute;
    top:10px;
    left: 10px;
    z-index: 200;
    width: 400px;
    font-size: 9px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    padding: 1em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    overflow: hidden;
    display: flex;
    flex-flow: row;
    justify-content: center;
    z-index: 500;
}

.overlay>div {
    width: 66%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.overlay>div>mat-spinner {
    margin-left: calc(50% - 50px);
    margin-bottom: 3em;
}

.overlay>div>p {
    /* */
    color: #333;
    text-align: center;
    padding: 1em;
    border-radius:5px;
    background: rgba(255,255,255,0.5);
}

.overlay>div>.error {
    /* */
    color: #333;
    text-align: center;
    padding: 1em;
    border-radius:5px;
    background: rgba(255,255,255,0.5);
}

div#room {
    height: 100vh;
}

#footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100vw;

    overflow-x: scroll;
    overflow: visible;

    z-index: 100;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    /*
    background: url('assets/img/doozzoo_logo_w.png');
    background-position: calc(94vw - 60px) 50%;
    background-size: 120px;
    background-repeat: no-repeat;
    */
    background-color: #005596;
    padding: 0 1em;
    color: #fff;
}
#footerLogo {
    height: 40px;
}
#footer span {
    align-self: center;
    font-size: 18px;
    /* letter-spacing: 0.02em; */
    font-weight: 200;
}
#footer button, .footer-button {
    align-self: center;
    margin-right: 1em;
}
#reset {
    position: fixed;
    left: 4em;
    bottom: 80px;
}

.sidenavContent,
.sidenavContentRight {
    padding: 0;
    min-width: 300px; 
    opacity: 0.9;
}

mat-icon.off {
    color: red;
}

#footer .footer-logo-img {
    align-self: center;
    margin-right: 2em;
    height: 40px;
}
#footer .footer-logo-img img {
    height: 40px;
}

.content-logo-img img {
    position: absolute;
    bottom: 60px;
    z-index: 2;
    height: 40px;
    left: 16px;
}

/* footer buttons */
.mat-button {
    /* padding: 0 8px; */
}
.mat-button.linkActive:not(.mat-stroked-button) {
    color: #005596;
    background-color: #fff;
}
.mat-stroked-button {
    /* padding: 0 8px; */
    border-color: #005596;
    margin-right: 0 !important;
}
.mat-stroked-button.linkActive {
    color: #fff;
    border-color: #fff;
}
.footerLoginButton {
    margin-left: 1em;
}

/* room controls */
.roomControls {
    position: absolute;
    bottom: 22px;
    z-index: 50;
    left: 50%;
    transform: translateX(-50%);
}

.roomControls {
    .mat-icon {
        color: #005596;
    }
    .mat-fab {
        background:#4dc84d;
        opacity: 0.8;
        .mat-icon {
            color: #fff;
        }
    }
    .mat-fab.start {
        background:rgb(31, 185, 31);
    }
    .mat-fab.stop {
        background:red;
    }
    .mat-fab[disabled] {
        background:#ccc;
        opacity: 0.5;
    }
    .mat-mini-fab {
        background:#efefef;
        opacity: 0.8;
        
    }
}

.trialTimer {
    font-family: 'Fira Mono', monospace;
    font-weight:100; 
    font-size: 14px; 
    margin-right: 1rem;
    .mat-icon {
        margin-right: 4px;
    }
    &.blink {
        color: orange;
    }
}

// button top left
.buttonGridToggle button {
    position: absolute;
    top: 3.5rem; // pos 1 -> then +3.5...
    left: 16px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
    color: green;
    border: 1px solid rgba($color: green, $alpha: 0.4);
    &.mat-button-disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
    &:hover:not(.mat-button-disabled) {
        border-color: rgba($color: orange, $alpha: 0.8);
    }
}

/* chat icon highlight */
.mat-icon-button.new-chat {
    color: orange;
}

.pro-audio-logo {
    width: 174px;
    height: auto;
    position: absolute;
    left: 1rem;
    bottom: calc(1rem + 50px);
    z-index: 10;
}

button[name="home"] {
    &:hover {
        background: rgba(255,255,255,0.9);
        color: $primary-color;
    }
    mat-icon {
        transform: rotate(180deg);
    }
}

