<mat-sidenav-container fxFlex="100%" hasBackdrop="false">
  <mat-sidenav
    #sidenavRight
    [fxFlex.gt-sm]="sidenavContent === 'media' ? '75%' : '50%'"
    fxFlex.lt-md="90%"
    fxFlex.xs="100%"
    class="sidenavContentRight"
    mode="over"
    position="end"
  >
    <ng-container *ngIf="vm$ | async as vm">
      <!-- close button -->
      <div
        fxLayout="row"
        fxLayoutAlign="end center"
        style="padding-right: 16px"
      >
        <button
          name="sidenavRightCloseButton"
          mat-icon-button
          (click)="sidenavRight.toggle()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div *ngIf="sidenavContent === 'media'">
        <app-media-list
          [layout]="isMobile ? 'session-mobile' : 'session'"
        ></app-media-list>
      </div>

      <div [hidden]="!(sidenavContent === 'chat')">
        <ng-container *ngIf="vm.state.sessionState === 'connected'">
          <app-chat
            [session]="session"
            [userName]="vm.state.nickName"
            [user]="vm.state.userId"
          >
          </app-chat>
        </ng-container>
      </div>

      <div
        *ngIf="sidenavContent === 'participants'"
        class="padding16"
        style="padding-top: 0">
        <ng-container *ngIf="vm.state.userId">
          <app-participant-list
            [participantsArr]="vm.state.participants"
            [userId]="vm.state.userId"
            [roomId]="vm.state.prefixedRoomToken"
          >
          </app-participant-list>
        </ng-container>
      </div>

      <div 
        *ngIf="sidenavContent === 'roomSettings'"
        class="padding16"
        style="padding-top: 0">
          <ng-container *ngIf="true">
            <app-room-settings></app-room-settings>
          </ng-container>
      </div>
      
    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content class="mat-sidenav-content">
    <ng-container *ngIf="vm$ | async as vm">
      <div id="room">
        <div fxShow.lt-sm="true" fxHide.gt-xs="true" class="content-logo-img">
          <img src="assets/img/doozzoo_logo_w.png" />
        </div>

        <div *ngIf="vm.state.token" id="wrapper">
          <app-publisher
            [userName]="vm.state.nickName"
            [session]="session"
            [userId]="vm.state.userId"
            [photoURL]="vm.state.photoURL"
            [isOwner]="vm.state.isOwner"
            (publisherStatus)="sessionStore.setPublisherStatus($event)"
          >
          </app-publisher>

          <app-screensharer
            *ngIf="screenshareObserver | async"
            [userName]="vm.state.nickName"
            [session]="session"
            [userId]="vm.state.userId"
            [photoURL]="vm.state.photoURL"
            [isOwner]="vm.state.isOwner"
          >
          </app-screensharer>

          <app-subscriber
            *ngFor="let stream of streams; let idx = index"
            [index]="idx"
            [stream]="stream"
            [session]="session"
          >
          </app-subscriber>

          <app-thumbs-toolbar></app-thumbs-toolbar>
        </div>

        <ng-container *ngIf="vm.state.publisherStatus">
          <app-toolbar
            [toolbarVariant]="'session'"
            [isMobile]="isMobile"
          ></app-toolbar>
        </ng-container>

        <div id="footer" fxLayout="row" fxLayoutAlign="start center">
          <button
            [matMenuTriggerFor]="leaveRoom"
            name="home"
            mat-icon-button
            matTooltip="{{ 'room.tooltip.home' | translate }}"
          >
            <mat-icon aria-label="go home">logout</mat-icon>
          </button>

          <mat-menu #leaveRoom="matMenu">
            <div
              class="leaveRoomMenuePane"
              fxLayout="column"
              fxLayoutGap="0.5rem"
            >
              <span *ngIf="a.perm([-1, 0]) | async">
                {{ "room.leave.non-coach" | translate }}
                <!--Really want to leave? Click here-->
              </span>
              <span *ngIf="a.perm([1]) | async">
                {{ "room.leave.coach" | translate }}
                <!--Really want to leave and to terminate this session for all users? Click here-->
              </span>
              <button
                class="leaveRoomMenueButton"
                name="leaveRoomMenueButton"
                color="primary"
                mat-raised-button
                (click)="deleteRoom()"
              >
                {{ "buttons.session.leave-session" | translate }}
                <!--Leave session-->
              </button>
            </div>
          </mat-menu>

          <button
            name="chat"
            [ngClass]="{
              'new-chat': chatObserver | async,
              blink: chatObserver | async
            }"
            *ngIf="ots.connectionsStatus$ | async"
            mat-icon-button
            (click)="
              _sidenavRight('chat'); gas.eventEmitter('room', 'click', 'chat')
            "
            matTooltip="{{ 'room.tooltip.session-chat' | translate }}"
          >
            <mat-icon aria-label="media">chat</mat-icon>
          </button>

          <mat-spinner
            name="waitForPublisherSpinner"
            *ngIf="!vm.state.publisherStatus"
            diameter="30"
            color="warn"
          >
          </mat-spinner>

          <!-- mobile menue -->
          <ng-container *ngIf="vm.state.publisherStatus && isMobile">
            <mat-menu #appMenu="matMenu">
              <button
                name="chat"
                [ngClass]="{ 'new-chat': chatObserver | async }"
                *ngIf="a.perm([-2, -1, 0, 1, 2]) | async"
                mat-menu-item
                (click)="
                  _sidenavRight('chat');
                  gas.eventEmitter('room', 'click', 'chat')
                "
              >
                <mat-icon aria-label="media">chat</mat-icon>
              </button>
              <mat-divider></mat-divider>

              <button
                mat-menu-item
                (click)="
                  _sidenavRight('media');
                  gas.eventEmitter('room', 'click', 'media')
                "
                matTooltip="Media"
              >
                <mat-icon aria-label="media">library_books</mat-icon>
                Media
              </button>
              <mat-divider></mat-divider>

              <button
                mat-menu-item
                (click)="
                  ots.controlsEmitter.emit('cam');
                  gas.eventEmitter('room', 'click', 'toggleCam')
                "
                matTooltip="Cam on/off"
              >
                <mat-icon
                  aria-label="Camera on/off"
                  [ngClass]="{ off: !camStatus }"
                  >{{ camStatus ? "videocam" : "videocam_off" }}</mat-icon
                >
                <span>{{
                  camStatus ? "Toggle Camera OFF" : "Toggle Camera ON"
                }}</span>
              </button>

              <mat-divider></mat-divider>

              <button
                mat-menu-item
                (click)="
                  ots.controlsEmitter.emit('mic');
                  gas.eventEmitter('room', 'click', 'toggleMic')
                "
                matTooltip="Mic on/off"
              >
                <mat-icon
                  aria-label="Microphone on/off"
                  [ngClass]="{ off: !micStatus }"
                  >{{ micStatus ? "mic" : "mic_off" }}</mat-icon
                >
                <span>{{
                  camStatus ? "Toggle Microphone OFF" : "Toggle Microphone ON"
                }}</span>
              </button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <!-- shown as footer buttons on mobile as well -->

            <!-- play/listen toggle & display -->
            <app-icon-bar [isMobile]="isMobile"> </app-icon-bar>

            <button
              mat-icon-button
              (click)="
                cs.controllsEmitter.next('toolbar');
                gas.eventEmitter('room', 'click', 'toolbar')
              "
              matTooltip="Toggle Toolbar"
            >
              <mat-icon aria-label="show/hide toolbar">apps</mat-icon>
            </button>

            <button
              mat-icon-button
              (click)="
                ots.deviceEmitter.emit({ type: 'videoinput' });
                gas.eventEmitter('room', 'click', 'toggleVideo')
              "
              [disabled]="!(moreThanOneCam$ | async)"
              matTooltip="{{ 'room.tooltip.switch-cams' | translate }}"
            >
              <mat-icon aria-label="Switch cameras">missed_video_call</mat-icon>
            </button>
          </ng-container>

          <!-- DESKTOP menue -->
          <ng-container *ngIf="vm.state.publisherStatus && !isMobile">
            <!--
                <button 
                  mat-button 
                  (click)="sidenav.toggle()"
                  matTooltip="Select Devices">
                  <mat-icon aria-label="go home">perm_camera_mic</mat-icon>
                </button>
                -->
            <button
              name="media"
              mat-icon-button
              (click)="
                _sidenavRight('media');
                gas.eventEmitter('room', 'click', 'media')
              "
              matTooltip="{{ 'room.tooltip.media' | translate }}"
            >
              <mat-icon aria-label="media">library_books</mat-icon>
            </button>

            <!--<button 
                  *ngIf="(a.perm([1,2]) | async)"
                  mat-icon-button 
                  class="participantsSidenavButton"
                  (click)="cs.roomSidenavEmitter.emit('participants'); gas.eventEmitter('room', 'click', 'participants');"
                  matTooltip="{{'room.tooltip.participants' | translate}}">
                  <mat-icon aria-label="media">people</mat-icon>
                </button>-->

            <ng-container>
              <button
                [disabled]="!vm.myToolbarStatus && !vm.state.isOwner"
                mat-icon-button
                name="apps"
                (click)="
                  cs.controllsEmitter.next('toolbar');
                  gas.eventEmitter('room', 'click', 'toolbar')
                "
                matTooltip="{{ 'room.tooltip.toggle-toolbar' | translate }}"
              >
                <mat-icon aria-label="show/hide toolbar">apps</mat-icon>
              </button>
            </ng-container>

            <button
              mat-icon-button
              (click)="
                ots.deviceEmitter.emit({ type: 'videoinput' });
                gas.eventEmitter('room', 'click', 'toggleVideo')
              "
              [disabled]="!(moreThanOneCam$ | async)"
              matTooltip="{{ 'room.tooltip.switch-cams' | translate }}"
            >
              <mat-icon aria-label="Switch Cams">missed_video_call</mat-icon>
            </button>

            <button
              name="cam-on-off"
              mat-icon-button
              (click)="
                ots.controlsEmitter.emit('cam');
                gas.eventEmitter('room', 'click', 'toggleCam')
              "
              matTooltip="{{ 'room.tooltip.cam-on-off' | translate }}"
            >
              <mat-icon
                aria-label="Cam on/off"
                [ngClass]="{ off: !camStatus }"
                >{{ camStatus ? "videocam" : "videocam_off" }}</mat-icon
              >
            </button>

            <button
              name="mic-on-off"
              mat-icon-button
              (click)="
                ots.controlsEmitter.emit('mic');
                gas.eventEmitter('room', 'click', 'toggleMic')
              "
              matTooltip="{{ 'room.tooltip.mic-on-off' | translate }}"
            >
              <mat-icon
                aria-label="Mic on/off"
                [ngClass]="{ off: !micStatus }"
                >{{ micStatus ? "mic" : "mic_off" }}</mat-icon
              >
            </button>

            <!-- play/listen toggle & display -->
            <app-icon-bar *ngIf="true"> </app-icon-bar>

            <ng-container *ngIf="vm$ | async as vm">
              <app-achiving
                *ngIf="
                  !deviceService.isMobile() &&
                  isOwner &&
                  vm.state.plan !== 'starter'
                "
                [userId]="user"
                [session]="session"
              >
              </app-achiving>
            </ng-container>

            <app-screensharer-controlls
              *ngIf="!isMobile"
              [hidden]="!vm.state.publisherStatus"
              class="footer-button"
            >
            </app-screensharer-controlls>

            <app-clipboard-button></app-clipboard-button>
            <!--
                <button
                  name="room-settings"
                  *ngIf="true"
                  mat-icon-button 
                  (click)="_sidenavRight('roomSettings'); gas.eventEmitter('room', 'click', 'roomSettings');"
                  matTooltip="room settings">
                  <mat-icon aria-label="media">settings</mat-icon>
                </button>
  -->
          </ng-container>

          <span style="flex: 2"></span>

          <!-- only show for testdrives -->
          <ng-container
            *ngIf="
              (as$ | async)?.accountStatus === 'testDrive' && !vm.state.plan
            "
          >
            <div
              *ngIf="sessionStore.testTimerState$ | async as timer"
              class="trialTimer"
              [ngClass]="{ blink: timer < 10 }"
              fxHide.lt-sm="true"
              fxLayout="row"
              fxLayoutAlign="center center"
              matTooltip="{{ 'room.tooltip.test-mode-time' | translate }}"
            >
              <mat-icon>timer</mat-icon>
              {{ timer | secToMin }}
            </div>
          </ng-container>

          <ng-container>
            <app-session-time
              *ngIf="
                vm.state.isOwner &&
                (vm.state.plan === 'starter' || vm.state.plan === 'pro')
              "
              [minutesAvailable]="vm.state.minutesAvailable"
              [plan]="vm.state.plan"
              (stopSession)="stopSession()"
            >
            </app-session-time>
          </ng-container>

          <app-language style="margin-right: 1rem"></app-language>

          <div fxHide.lt-sm="true" class="footer-logo-img">
            <img src="assets/img/doozzoo_bechstein_logo_2021_500_w.png">
          </div>

        </div>
      </div>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-container *ngIf="vm$ | async as vm">
  
  <!-- direct share -->
  <!--<app-direct-share *ngIf="vm.state.publisherStatus"></app-direct-share>-->
  <ng-container *ngIf="true">
    <app-direct-share-windows
      [dsSessionId]="vm.state.sessionId"
      *ngIf="vm.state.sessionId">
    </app-direct-share-windows>
  </ng-container>

  <!-- button to toggle screen grid mode, below -->
  <ng-container *ngIf="thumbsArr">
    <div class="buttonGridToggle">
      <button
        name="toggleViewMode"
        [title]="viewMode"
        mat-icon-button
        matTooltip="{{
          'room.tooltip.toggle-video-screen-layout' | translate
        }} - {{ viewMode }}"
        matTooltipPosition="right"
        [disabled]="thumbsArr.length < 2"
        (click)="tms.thumbsEmitter.emit({ action: 'toggleViewMode', id: 'foo' })">
        <mat-icon [ngClass]="{ turnLeft: layoutGrid }">{{
          getToggleViewModeIcon()
        }}</mat-icon>
      </button>
    </div>
  </ng-container>

  <app-errors></app-errors>

  <ng-container *ngIf="isOwner && vm.state.publisherStatus">
    <app-lock-button
      [userId]="vm.state.userId"
      [roomId]="vm.state.prefixedRoomToken">
    </app-lock-button>
    <app-waiting-participants
      [isWaiting]="(sessionStore.waitingParticipants$ | async)?.isWaiting"
      [haveAccess]="(sessionStore.waitingParticipants$ | async)?.haveAccess">
    </app-waiting-participants>
  </ng-container>

  <ng-container *ngIf="isProAudio()">
    <img class="pro-audio-logo" src="assets/img/proaudiomode-logo.png" />
  </ng-container>

</ng-container>

<ng-container 
  *ngIf="(waitForPublisher$ | async) as status">
  <ng-container 
    *ngIf="status !== 'success' && status !== 'close'">

    <div class="overlay">
      <div>
        <ng-container *ngIf="status === 'waiting'">
          <mat-spinner></mat-spinner>
          <p class="mat-display-1">
            {{'room.pre-load-text' | translate}}
            <!--Please wait a sec, we are setting up your room. It will be ready in a moment...-->
          </p>
        </ng-container>
        <ng-container *ngIf="status === 'error'">
          <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-icon-button (click)="closeErrorDialog()">
              close <mat-icon>clear</mat-icon>
            </button>
          </div>
          
          <p class="mat-headline">{{'login.messages.generic-error' | translate}}!</p>
          <div class="error">
            <span>1. {{'general.check-internet-connection' | translate}}</span><br><br>
            2. {{'general.reset-settings' | translate}} <button 
              mat-raised-button 
              color="primary"
              (click)="publisherStore.resetState(); router.navigate(['/']);">
              {{'buttons.standard.reset' | translate}}
            </button><br><br>
            3. <span>{{'general.access-devices-allowed' | translate}}!</span><br><br>
            4. <span>{{'general.restart-browser' | translate}}</span>
          </div><br>

          <div class="error">
            <span [innerHTML]="'general.contact-support' | translate"></span>
          </div>

          <button 
            mat-button
            (click)="router.navigate(['/'])">
            <mat-icon>chevron_left</mat-icon>
            {{'buttons.standard.back-to-home' | translate}}
          </button>

          {{ waitForPublisher$ | async }}

        </ng-container>
      </div>
    </div>

  </ng-container>
</ng-container>

<ng-container *ngIf="debug">
  <div id="roomDebug" class="generic-debug">
    <pre>vm$: {{ vm$ | async | json }}</pre>
    <pre>
testTimerState$ {{ sessionStore.testTimerState$ | async | json }}
accountStatus$ {{ accountStore.accountStatus$ | async }}
publisherStatus {{ vm.state.publisherStatus }}
participantQuota: {{ sessionStore.participantQuotaFull$ | async }}
    </pre>
  </div>
</ng-container>
