<h2 mat-dialog-title>Delete clip?</h2>
<mat-dialog-content>
  <span>Delete "{{ data.clipTitle }}"?</span><br>
  <span>Be aware, that this can not be undone!</span>
</mat-dialog-content>
<mat-dialog-actions class="flex row end">
  <button 
  mat-raised-button 
    mat-dialog-close>
    Cancel
  </button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <span class="flex-item"></span>
  <button 
    mat-raised-button 
    color="primary"
    [mat-dialog-close]="true"
    cdkFocusInitial>
    Confirm
  </button>
</mat-dialog-actions>
