<!-- start of module -->
<!-- should be in a fxLayout="column" div-->
<div 
  fxLayout="column"
  fxLayoutGap="1rem">

  <p>
    Student Liste
    <!--Enter an email address, to create an account:-->
  </p>

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">

  </div>

  <mat-divider></mat-divider>

  <h2 class="mat-title">
    Accounts list
    <!--List of accounts-->
  </h2>

  <ng-container *ngIf="!(accountsList | async)">
    <p>{{'general.wait-a-sec' | translate}}</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>

  <ng-container *ngIf="(accountsList | async) as al">
    <p *ngIf="al.length === 0">
      {{ 'general.sorry-no-data' | translate }}
      <!--Sorry, no data found-->
    </p>
  </ng-container>

  <pre 
    *ngIf="false"
    class="mat-caption">
    al: {{ accountsList | async | json }}
  </pre>

  <div 
    fxLayout="row"
    fxLayoutAlign="center start">

    <pagination-controls (pageChange)="p = $event" [id]="inputType"></pagination-controls>

    <span fxFlex="auto"></span>

    <mat-form-field 
      class="filterInput">
      <input 
        matInput 
        placeholder="filter user" 
        [(ngModel)]="filterargs">
    </mat-form-field>

  </div>

  <div
    fxLayout="column"
    *ngFor="let item of accountsList | async | filterAccounts: filterargs | paginate: { itemsPerPage: itemsPerPageValue, currentPage: p, id: inputType }; index as _index;"
    class="rowHover itemRow">

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">

      <ng-container *ngIf="!(item.status === 'error') else errormsg">

        <ng-container *ngIf="item.userId; else noUserId">
          <app-user-content-row [userId]="item.userId"></app-user-content-row>
        </ng-container>
        <ng-template #noUserId>
          <span>The user account is not active yet. </span>
          <span class="mat-caption">&nbsp;( {{item.status}} )</span>
        </ng-template>

      </ng-container>

      <ng-template #errormsg>
        <!-- error codes: emailSendError | studentAssignedToCoachError | emailAlreadyExistsError | genericError -->
        <span>
          Errormessages
          <!--Something went wrong-->
        </span>
        <span class="mat-caption">({{ item.email }})</span>
      </ng-template>

      <span fxFlex="auto"></span>

      <button
        *ngIf="item.role === 1"
        class="account-button" 
        mat-stroked-button 
        [disabled]="!item.userId"
        [routerLink]="'/edu/' + institutionId + '/' + item.userId">
        edit
      </button>

      <ng-container>
        <div fxLayout="column cellWidthSmall" class="mat-caption">
          <span *ngIf="item.role === 0">{{'general.roles.student' | translate}}</span>
          <span *ngIf="item.role === 1">{{'general.roles.coach' | translate}}</span>
          <span *ngIf="item.role === 3">{{'general.roles.admin' | translate}}</span>
        </div>
      </ng-container>

      <ng-container
        *ngIf="item.status === 'inviteAccepted'">
        <div fxLayout="column" class="mat-caption cellWidthSmall">
          <div fxLayout="row" fxLayoutGap="1rem">
            <span class="time-lable">
              {{'create-accounts.last-sign-in' | translate}}
              <!--Last sign in-->
            </span>
            <span>{{ item.lastSignInTime | date: "d MMM y, H:m" }}</span>
          </div>
          <div fxLayout="row" fxLayoutGap="1rem">
            <span class="time-lable">
              {{'create-accounts.creation-time' | translate}}
              <!--Creation time-->
            </span>
            <span>{{ item.creationTime | date: "d MMM y, H:m" }}</span>
          </div>
        </div>
      </ng-container>

      <mat-menu #appMenu="matMenu">

        <button
          *ngIf="item.role === 1"
          class="account-button" 
          mat-menu-item
          [disabled]="!item.userId"
          [routerLink]="'/edu/' + institutionId + '/' + item.userId">
          edit
        </button>

      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_horiz</mat-icon>
      </button>

    </div>
    
  </div>


<!-- end of module -->
</div>