
.loginFallback {
    padding: 1em;   
}

#footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100vw;

    overflow-x: scroll;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    /*
    background: url('assets/img/doozzoo_logo_w.png');
    background-position: calc(94vw - 60px) 50%;
    background-size: 120px;
    background-repeat: no-repeat;
    */
    background-color: #005596;
    padding: 0 1em;
    color: #fff;
}
#footer .footer-logo-img {
    align-self: center;
    margin-right: 2em;
    height: 40px;
}
#footer .footer-logo-img img {
    height: 40px;
}
.content-logo-img img {
    position: absolute;
    bottom: 60px;
    z-index: 2;
    height: 40px;
    left: 16px;
}

#loginDebug {
    font-size: .6rem;
    position: fixed;
    top: 0;
    left: 0;
    background: 
    rgba(200,255,255,.8);
    padding: .5rem;
}