
<!-- start of wrapper -->
<div 
  fxLayout="row"
  class="moduleContainerWrapper"  
  fxLayoutAlign="center center" 
  fxLayoutGap="1em">

  <!-- column container for modules -->
  <div 
    class="moduleContainer"
    fxLayout="column" 
    fxFlex="80" 
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayoutGap="1em">

    <!--modeState {{ modeState | async | json }}<br>-->

    <ng-container *ngIf="(accountStore.vm$ | async) as vm">

      <ng-container 
        *ngIf="vm.accountStatus === 'isAnonymous'">
        <div 
          class="fxContent mat-elevation-z2 loginFallback"
          fxLayout="column">
          <span style="margin-bottom: 1em">
            {{'login.please-login-to-edit-profile' | translate}}
            <!--Please login to edit your profile-->
          </span>
          <button 
            mat-raised-button
            (click)="cs.do('loginDialog', { tabIndex: 0 })"
            color="primary">
            {{'buttons.standard.login' | translate}}
            <!--Login-->
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="modeState | async as mst">
        <ng-container *ngIf="mst.modeState; else stepper">

          <!-- generic email handler template -->
          <app-email-handler 
            [modes]="mst.currentMode" 
            [actionCode]="mst.actionCode">
          </app-email-handler>

        </ng-container>

        <!-- stepper template -->
        <ng-template #stepper>

          <mat-horizontal-stepper
            [selectedIndex]="defaultStepperIndex$ | async"
            *ngIf="vm.accountStatus !== 'isAnonymous'" 
            [linear]="false"
            (selectionChange)="doSelectionChange($event)"
            #stepper>
    
            <!-- email verification -->
            <mat-step [editable]="isEditable">
              <!-- #docregion step-label -->
              <ng-template matStepLabel>{{'buttons.standard.verify-email' | translate}}</ng-template>
              <!-- #enddocregion step-label -->
              <ng-container>
                <app-verify-email 
                  [actionCode]="mst.actionCode" 
                  [emailVerified]="vm.state.emailVerified">
                </app-verify-email>
              </ng-container>

              <div class="spacer"></div>
              <div class="spacer"></div>
              
              <div
                fxLayout="row">
                <span fxFlex></span>
                <button 
                  name="emailVerifiedNext" 
                  mat-raised-button 
                  matStepperNext
                  color="primary"
                  [disabled]="!vm.state.emailVerified">{{'general.next' | translate}}</button>
              </div>
            </mat-step>
    
            <!-- profile -->
            <mat-step [editable]="isEditable">
              <!-- #docregion step-label -->
              <ng-template matStepLabel>{{'login.fill-out-profile' | translate}}</ng-template>
    
              <ng-container *ngIf="vm.state.role > -1 || vm.state.emailVerified">
                <app-profile ></app-profile>
              </ng-container>

              <div class="spacer"></div>
              <div class="spacer"></div>
    
              <div
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="1rem">
                <button 
                  mat-raised-button 
                  matStepperPrevious>{{'general.back' | translate}}</button>
                <span fxFlex></span>
                <button
                  name="profileVerifiedNext" 
                  mat-raised-button 
                  matStepperNext
                  color="primary"
                  [disabled]="!(vm.profileType !== null)">{{'general.next' | translate}}</button>
              </div>

            </mat-step>
    
            <!-- plan -->
            <mat-step
              *ngIf="stepsVisible$ | async" 
              [editable]="isEditable">
              <!-- #docregion step-label -->
              <ng-template matStepLabel>{{'login.select-plan' | translate}}</ng-template>
    
              <ng-container *ngIf="vm.state.userId">
                <app-plans [userId]="vm.state.userId"></app-plans>
              </ng-container>

              <div class="spacer"></div>
              <div class="spacer"></div>
              
              <div
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="1rem">
                <button
                  name="planPrevious"  
                  mat-raised-button 
                  matStepperPrevious>{{'general.back' | translate}}</button>
                <span fxFlex></span>
                <button
                  name="selectPlanNext" 
                  mat-raised-button 
                  matStepperNext
                  color="primary">
                  {{'general.next' | translate}}
                </button>
              </div>
            </mat-step>
    
            <!-- subscribe -->
            <mat-step 
              *ngIf="subscriptionVisible$ | async"
              [editable]="isEditable">
              <!-- #docregion step-label -->
              <ng-template matStepLabel>{{'login.subscribe' | translate}}</ng-template>
    
              <ng-container *ngIf="vm.state.userId !== null">
                <app-stripe 
                  [userId]="vm.state.userId" [nickName]="vm.state.nickName"></app-stripe>
              </ng-container>

              <div class="spacer"></div>
              <div class="spacer"></div>
    
              <div
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="1rem">
                <button 
                  name="subscriptionPrevious" 
                  mat-raised-button 
                  matStepperPrevious>{{'general.back' | translate}}</button>
                <span fxFlex></span>
                <button
                  name="subscriptionNext" 
                  mat-raised-button 
                  matStepperNext
                  color="primary"
                  [disabled]="vm.accountStatus !== 'planSubscribed'">{{'general.next' | translate}}</button>
              </div>
            </mat-step>
    
            <!-- done -->
            <mat-step>
              <ng-template matStepLabel>{{'general.done' | translate}}</ng-template>
              <span class="mat-title">{{'login.congrats-done' | translate}}</span>

              <!-- student success -->
              <div 
                *ngIf="vm.state.role === 0 && vm.profileType === 'student'"
                fxLayout="column">
                <p 
                  class="successMessage student"
                  [innerHTML]="'profile.you-successfully-registered-student' | translate: {nickname: vm.state.nickName}">
                </p>
                <button 
                  mat-raised-button
                  color="primary"   
                  [routerLink]="['/mycoaches']">
                  {{'profile.visit-my-coaches' | translate}}
                </button>
              </div>

              <!-- coach success -->
              <div 
                *ngIf="vm.state.role === 1 && vm.profileType === 'coach'"
                fxLayout="column">
                <p
                  class="successMessage coach"
                  [innerHTML]="'profile.you-successfully-applied-as-coach' | translate:{nickname: vm.state.nickName}">
                </p>
                <p>{{'login.success-coach-start-teaching' | translate}}</p>
                <button 
                  mat-raised-button
                  color="primary"   
                  [routerLink]="['/mystudents']">
                  {{'buttons.navigation.my-students' | translate}}
                </button>
              </div>

              <div class="spacer"></div>
              <div class="spacer"></div>

              <div
                fxLayout="row">
                <button 
                  name="donePrevious"  
                  mat-raised-button 
                  matStepperPrevious>{{'general.back' | translate}}</button>
                <span fxFlex></span>
                <button 
                  name="doneReset"
                  mat-button 
                  (click)="stepper.reset()">{{'general.reset' | translate}}</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>

        </ng-template>
      </ng-container>

    </ng-container>

  </div> 

</div>
<!-- end of wrapper -->

<app-footer></app-footer>
