
<!-- {{ mediaModeObs$ | async | json }} -->

<ng-container *ngIf="user?.featureToggles?.mediaModeToggle">
    <p class="mat-title">{{'presession.media-mode' | translate}}</p>
    <div>
    <mat-radio-group 
        fxLayout="column" 
        class="resolutionSection" 
        (change)="toggleMediaMode($event)">
        <div
        fxLayout="row">
        <mat-radio-button 
            [checked]="currentMediaMode === 'routed'"
            name="resolution_1280x720"
            value="routed">
            routed (via media server)
        </mat-radio-button>
        </div>
        <div
        fxLayout="row">
        <mat-radio-button 
            [checked]="currentMediaMode === 'relayed'"
            name="resolution_640x480"
            value="relayed">
            relayed (peer to peer)
        </mat-radio-button>
        </div>
    </mat-radio-group>

    <p class="mat-caption">{{'presession.media-server-description' | translate}}</p>

    </div>
    <div class="spacer"></div>
</ng-container>

