<!-- remoteRings component-->
<div
    *ngIf="remoteStatus !== null && remoteStatus !== undefined">
    <span
        *ngIf="remoteRingsLabel"
        [ngClass]="{ 'disabled': disabled }" 
        class="mat-caption remoteRingsLabel">
        {{ remoteRingsLabel }}
    </span>
    <button
        name="remote-rings"
        [ngClass]="{ 'disabled': disabled }"
        (click)="setRemoteStatus.emit(!remoteStatus)"
        [disabled]="disabled"
        mat-icon-button>

        <ng-container *ngIf="remoteStatus; else remoteStatusFalse">             
            <svg class="rings svg-canvas-2" width="32" height="24">
                <circle id="cone2" cx="12" cy="12" r="6" [attr.stroke]="color" stroke-width="2" fill="transparent" />
                <circle id="ctwo2" cx="20" cy="12" r="6" [attr.stroke]="color" stroke-width="2" fill="transparent" />
            </svg> 
        </ng-container>

        <ng-template #remoteStatusFalse>
            <svg class="rings svg-canvas-1" width="32" height="24">
                <circle id="cone" cx="8" cy="12" r="6" [attr.stroke]="color" stroke-width="2" fill="transparent" />
                <circle id="ctwo" cx="24" cy="12" r="6" [attr.stroke]="color" stroke-width="2" fill="transparent" />
            </svg>
        </ng-template>
    
    </button>
</div>
