<!-- -->

<span class="mat-title">{{'cookie-consent.widget-h1' | translate}}</span>

<div 
    fxLayout="column"
    fxLayoutGap="1rem">

    <p>
        {{'cookie-consent.paragraph1' | translate}}
        <!--We need technical and functional cookies to ensure the functionality of doozzoo. Analysis and statistics cookies provide information about general and specific usage and help us to further improve doozzoo. You can edit these settings anytime by clicking <mat-icon style="vertical-align: middle" color="primary" inline="true">privacy_tip</mat-icon> in the footer of the page.-->
    </p>

    <button
        name="accept"
        aria-label="accept"
        mat-raised-button
        color="primary"
        (click)="accept('option1')">
        {{'buttons.standard.accept' | translate}}
    </button>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="text-center">{{'cookie-consent.individual-settings' | translate}}</span>
            </mat-panel-title>
            <!--<mat-panel-description>
                This is a summary of the content
            </mat-panel-description>-->
        </mat-expansion-panel-header>

        <div
            fxLayout="column">
            <mat-slide-toggle
                color="primary"
                [checked]="true"
                [disabled]="true">
                {{'cookie-consent.functional-cookies' | translate}}
            </mat-slide-toggle>
            <p [innerHTML]="'cookie-consent.paragraph2' | translate">
                .
                <!--We need the technical and functional cookies to ensure the functionality of doozzoo.-->
            </p>
        </div>
        <div
            fxLayout="column">
            <mat-slide-toggle
                name="individual-settings"
                aria-label="individual settings"
                color="primary"
                [(ngModel)]="data.cookieConsent.trackingCookies">
                {{'cookie-consent.analysis-statistics' | translate}}
            </mat-slide-toggle>
            <p [innerHTML]="'cookie-consent.paragraph3' | translate">
                .
                <!--Analysis and statistics cookies provide information about general and specific usage and help us to further improve doozzoo. See privacy policy. 
                <strong>Note: </strong>For institutional users, these cookies are automatically disabled after login.-->
            </p>
        </div>

        <div
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap.lt-sm="1rem"
            fxLayoutAlign.gt-xs="start center">
        
            <div
            fxLayout="column">
                <button
                    name="accept-individual-settings"
                    aria-label="accept individual settings"
                    mat-stroked-button
                    (click)="accept('option2')">
                    {{'cookie-consent.button-accept-individual' | translate}}
                </button>
            </div>
            <span fxFlex></span>
            <div
                fxLayout="column">
                <button
                    mat-raised-button
                    color="primary"
                    (click)="accept('option1')">
                    {{'cookie-consent.button-accept-all' | translate}}
                </button>
            </div>
        
        </div>

        <div class="spacer"></div>
        <div class="spacer"></div>

        <div
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayoutGap="1rem">
            <span><a target="_blank" href="https://info.doozzoo.com/imprint/">{{'home.imprint' | translate}}</a></span>
            <span><a target="_blank" href="https://info.doozzoo.com/privacy-policy/">{{'home.privacy-policy' | translate}}</a></span>
        </div>

    </mat-expansion-panel>

</div>



