
/* adjust expansion panel styles */
.mat-expansion-panel-header-title {
    justify-content: center !important;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

::ng-deep .cookie-consent-dialog-container {
    mat-dialog-container {
        overflow: auto !important;
        max-height: 100vh !important;
    }
    /* optimizing for mobile mat-dialog */
    @media screen and (max-width: 599px) {
        max-width: 100vw !important;
        mat-dialog-container {
            overflow: scroll !important;
            max-height: 100vh !important;
        }
    }
}

