#subscriptionDiv {
    padding: 0.5rem;
    background: aliceblue;
}

.saveEmphasize {
    background: lightgreen !important;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 90%;
    display: inline-block;
}

.price {
    /* text-decoration: underline; */
}

.subValue {
    background: lightgreen;
    padding: 0.3rem;
    border-radius: 0.3rem;
    margin-right: 1rem;
}

/* overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: row;
    justify-content: center;
    z-index: 500;
    background: rgba(0,0,0,0.7);
}

.overlay>div>mat-spinner {
    /* margin-left: calc(50% - 50px); */
    margin-bottom: 3em;
}

.overlay>div>.overlayBox {
    /* */
    color: #333;
    text-align: center;
    padding: 1em;
    border-radius:5px;
    background: rgba(255,255,255,0.7);
}

#stripeDebug {
    font-size: .6rem;
    position: fixed;
    top: 0;
    left: 0;
    background: 
    rgba(255,255,255,.8);
    padding: .5rem;
}