<pre 
  *ngIf="stripeDebug"
  class="generic-debug right">
  {{ vm$ | async | json }}
</pre>

<!-- stripe check out START -->
<div
  *ngIf="vm$ | async as vm" 
  fxLayout="column"
  style="margin-top: 3rem">

  <!-- ### subscription ### -->
  <div
    id="subscriptionDiv"
    class="fxContent"
    fxLayout="column" 
    fxLayoutGap="1em"
    #subscriptionDiv>

    <h2 class="mat-headline">
      {{'stripe.headline' | translate}}
      <!--Your subscription-->
    </h2>

    <!-- subscription container START -->
      <ng-container
        *ngIf="vm.hasSubscription; else noSubscription">

        <!--<pre style="font-size:0.5rem">{{su|json}}</pre>-->

        <!--<app-voucher (vouchercode)="assignVoucherCode($event)"></app-voucher>
        <mat-divider></mat-divider>-->

        <app-book-archiving 
          *ngIf="accountStore.state?.userId !== null"
          [userId]="accountStore.state?.userId">
        </app-book-archiving>
        <mat-divider></mat-divider>

        <div class="subRow" fxLayout="row">
          <span fxFlex="30">{{'stripe.number-of-students' | translate}}</span>
          <strong fxFlex="2 2 70">
          <span 
            name="numberOfStudents" 
            class="subValue"
            [innerHTML]="'stripe.up-to-n-students' | translate: {numberOfStudents: vm.state.students}">
            {{vm.state.students}}
            <!--Up to {{su.students}} students-->
          </span>
        </strong>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row">
          <span fxFlex="30">{{'stripe.payment-interval' | translate}}<!--Payment interval--><sup>*</sup></span>
          <div fxFlex="2 2 70">
            <span *ngIf="vm.state.interval === 'month'">{{'stripe.monthly' | translate}}</span>
            <span *ngIf="vm.state.interval === 'year'">{{'stripe.anually' | translate}}</span>
            <span *ngIf="vm.state.discount > 0" style="margin-left: 1rem"> -  {{'stripe.you-save' | translate}} {{ vm.state.discount }}%</span>
          </div>
        </div>
        <mat-divider></mat-divider>

        <div fxLayout="row">
          <span fxFlex="30">{{'stripe.subscription-period' | translate}}<!--Subscription period--></span>
          <span fxFlex="2 2 70">{{ (vm.state.current_period_end * 1000) | date }}</span>
          <!--<span fxFlex="2 2 70">{{'general.from' | translate}} {{ (vm.current_period_start * 1000) | date }} {{'general.to' | lowercase | translate}} {{ (vm.current_period_end * 1000) | date }}</span>-->
        </div>
        <mat-divider></mat-divider>

        <ng-container *ngIf="vm.state.coupon">
          <div fxLayout="row">
            <span fxFlex="30">{{'stripe.coupons-redeemed' | translate}}<!--Coupon redeemed--></span>
            <span fxFlex="2 2 70">{{ vm.state.coupon?.name }}</span>
          </div>
          <mat-divider></mat-divider>
        </ng-container>
        
        <div 
          fxLayoutAlign="center center"
          fxLayoutGap="1rem"
          fxLayout="row">
            <!--<span><sup>*</sup> {{'stripe.save-up-to' | translate}}</span>-->
            <span 
              [innerHTML]="'stripe.cancel-subscription' | translate">
              <!-- Cancel subscription? <a href="https://doozzoo.freshdesk.com/support/solutions/articles/36000222611" target="_blank">More info here</a> -->
            </span>
            <span fxFlex="2 2 auto"></span>

            <button
              name="changePlan"
              fxFlex="20"
              mat-stroked-button 
              (click)="vmAction('changePlan'); scrollDown();">
              {{'stripe.change-plan' | translate}}
              <!--Change plan-->
            </button>

            <button
              name="changePaymentType"
              fxFlex="20" 
              [disabled]="false"
              (click)="vmAction('changeSource'); showSubscription = false;"
              mat-stroked-button>
              {{'stripe.change-payment-type' | translate}}
            </button>

        </div>

      </ng-container>

      <ng-template #noSubscription>
          <ng-container
            *ngIf="!(vm.state.vmAction === 'changePlan')">
            <p 
              class="warnMessage"
              [innerHTML]="'stripe.no-plan-selected-yet' | translate">
              <!--<strong>No plan selected yet.</strong> Select below and choose your subscription.-->
            </p>

            <app-voucher (vouchercode)="assignVoucherCode($event)"></app-voucher>

          </ng-container> 

          <p 
            *ngIf="(vm.state.vmAction === 'choosePlanNoSubscription')"
            class="successMessage">
            {{'stripe.enter-payment-data' | translate}}
            <!--Enter payment data and subscribe.-->
          </p>

      </ng-template>
    <!-- subscription container END -->

    <div class="spacer"></div>

    <!-- use [hidden] otherwise nested asyncs will not subscribe -->
    <div *ngIf="!vm.hasSubscription || vm.state.vmAction === 'changePlan' || vm.state.vmAction === 'choosePlan'">
      
      <h2 class="mat-headline">
        {{'stripe.subscription-price-calculator' | translate}}
        <!--Subscription price calculator-->
      </h2>

      <!-- plans / subscription selector START -->
      <!-- the right plan package is selected by myPlans->interval->index (we have to calc back and forth) -->
      <!-- pkg then used in the sub component accordingly -->
      <ng-container 
        *ngIf="myPlans(vm.state.interval)[vm.state.quantity-1] as pkg">
          <div fxLayout="column">

            <div
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="0.5rem">

              <mat-form-field 
                fxFlex="1 2 33%">
                  <mat-select
                    [(ngModel)]="vm.state.quantity" 
                    required 
                    placeholder="{{'stripe.number-of-students' | translate}}"
                    (selectionChange)="selectionPackage($event)"
                    name="package">
                    <mat-option *ngFor="let pkg of myPlans(interval); index as idx" [value]="idx+1">
                      {{ pkg.students }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="false">{{'forms.required' | translate}}</mat-error> 
              </mat-form-field>

              <mat-form-field
                fxFlex="1 2 33%">
                <mat-select 
                  [(ngModel)]="interval"
                  required 
                  placeholder="{{'stripe.payment-interval' | translate}}"
                  name="interval">
                  <mat-option value="month" selected>
                    {{'stripe.monthly' | translate}}
                  </mat-option>
                  <!--
                  <mat-option value="year">
                    {{'stripe.anually' | translate}}
                  </mat-option>
                  -->
                </mat-select>
                <mat-error *ngIf="false">{{'forms.required' | translate}}</mat-error> 
              </mat-form-field>

              <p 
                fxFlex="2 1 33%"
                class="mat-title"
                style="text-align: center">
                <span class="subValue">{{'stripe.you-save' | translate}} {{ pkg.discount }}%</span>
              </p>

            </div>

            <div
              fxLayout="column">

              <p class="mat-title">{{'stripe.headline' | translate}}: 
                <span class="price subValue">{{ pkg.price | currency:'EUR' }}
                  <ng-container
                    *ngIf="interval === 'month'; else anually">
                    {{'stripe.monthly' | translate}}
                  </ng-container>
                  <ng-template #anually>
                    {{'stripe.anually' | translate}}
                  </ng-template>
                </span> 
                <span>{{'stripe.for-up-to' | translate}}&nbsp;</span> 
                <span class="price subValue">{{ pkg.students }} {{'general.students' | translate}}.</span>
              </p>

              <!-- ### in case of subscription available ### -->
              <ng-container *ngIf="vm.hasSubscription">
                <button
                  class="choosePlan2"
                  name="choosePlan2"
                  mat-raised-button 
                  color="primary"
                  [disabled] = "!vm.state.quantityChange || (vm.state.vmAction === 'choosePlan')"
                  (click)="vmAction('choosePlan'); scrollDown();">
                  <!-- click only creates an event for UI actions: disable button, unhide payment pane -->
                  <mat-icon>looks_one</mat-icon>
                  <span style="font-weight:bold; margin-left: 0.5rem;">{{'stripe.choose-plan' | translate}}</span>
                </button>
              </ng-container>

              <!-- NOT stripeSubscriptionAvailable-->
              <ng-container *ngIf="!vm.hasSubscription" #firstContact>
                <button
                  class="choosePlan1"
                  mat-raised-button 
                  color="primary"
                  [disabled] = "vm.state.vmAction === 'choosePlanNoSubscription'"
                  (click)="vmAction('choosePlanNoSubscription'); scrollDown();">
                  <mat-icon>looks_one</mat-icon>
                  <span style="font-weight:bold; margin-left: 0.5rem;">{{'stripe.choose-plan' | translate}}.</span>
                </button>
              </ng-container>
    
            </div>
                  
          </div>

      </ng-container>
      <!-- plans / subscription selector END -->
    
    </div>

  </div>


  <!-- ### payment block ### -->
  
  <ng-container
    *ngIf="(vm.state.vmAction === 'changeSource') || (vm.state.vmAction === 'choosePlanNoSubscription')">

    <h3 
      name="paymentBlockHeadline"
      style="margin-top: 3rem"
      class="mat-headline">
      {{'stripe.payment-data' | translate}}
      <!--Payment data-->
    </h3>

    <!-- ### show defaultSource if available ### -->
    <ng-container
      *ngIf="vm.state.defaultSource as sds">

      <!--sds: <pre>{{ sds | json }}</pre>-->

      <span class="mat-title">
        {{'stripe.your-current-payment-data' | translate}}
        <!--Your current payment data-->
      </span>
      <mat-divider></mat-divider> 
      <div
        class="subRow paymentBlock" 
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="0.5rem">

        <ng-container *ngIf="sds.object === 'card'; else sepa">       
          <p fxFlex="1 1 auto">
            {{'stripe.your-credit-card' | translate}}
            <!--Your credit card-->
          </p>
          <span style="margin-right: 0.5rem">
              <mat-icon>credit_card</mat-icon>
          </span>
          <p 
            class="subValue monospace" 
            fxFlex="2 2 auto">
            {{ sds.brand }}&nbsp;&nbsp;
            ....{{ sds.last4 }}&nbsp;&nbsp;
            {{ sds.exp_month }}/{{ sds.exp_year }}
          </p>
        </ng-container>
        <ng-template #sepa>
          <p fxFlex="1 1 auto">
            {{'stripe.sepa-debit' | translate}}
            <!--SEPA Einzugsermächtigung -->
          </p>
          <span 
            style="margin-right: 0.5rem">
              <mat-icon>account_balance</mat-icon>
          </span>
          <p 
            class="subValue monospace" 
            fxFlex="2 2 auto">
            BIC {{ sds.sepa_debit.bank_code }}&nbsp;
            IBAN {{ sds.sepa_debit.country }}
            ....{{ sds.sepa_debit.last4 }}&nbsp;
            {{'stripe.account-holder' | translate}}: {{ sds.owner.name }}
          </p>
          <div
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="0.5rem"
            fxFlex="1 1 auto">
            <a
              style="margin-right: 1rem"
              [href]="sds.sepa_debit.mandate_url"
              target="_blank"
              [matTooltip]="'stripe.sepa-mandate-document' | translate">
              <mat-icon>policy</mat-icon>
              <span
                style="vertical-align: super; margin-left: 0.3rem;"
                class="mat-caption">
                {{'stripe.sepa-mandate-document' | translate}}
              </span>
            </a>
          </div>
        </ng-template>

      </div>
      <mat-divider style="margin-bottom: 1rem;"></mat-divider>
    </ng-container>
    
    <ng-container
      *ngIf="!vm.hasSource || vm.state.vmAction === 'changeSource'">
      
      <p>
        <span>
          {{'stripe.to-change-your-payment-method' | translate}}: 
          <!-- To change your payment method -->
        </span>
        <span>
          {{'stripe.choose-your-payment-type' | translate}}
          <!-- Choose your payment type and enter payment data -->
        </span>
      </p>

      <ng-container>

        <mat-radio-group
          name="cardOrSepa"
          style="margin-bottom: 0.5rem"
          fxLayout="row"
          fxLayoutGap="0.5rem"
          [(ngModel)]="cardOrSepa">

          <mat-radio-button 
              value="card">
              <span>
                {{'stripe.creditcard' | translate}}
              </span>
          </mat-radio-button>
          <mat-radio-button 
              value="sepa">
              <span>
                {{'stripe.sepa-debit' | translate}}
          </span>
          </mat-radio-button>
        </mat-radio-group> 
      
        <ng-container *ngIf="cardOrSepa === 'card'">
          <app-creditcard></app-creditcard>
        </ng-container>
        <ng-container *ngIf="cardOrSepa === 'sepa'">
          <app-sepa></app-sepa>
        </ng-container>

      </ng-container>

      <div style="margin-bottom: 3rem;"></div>
    </ng-container>

  </ng-container>

  <!-- final confirm START -->
  <ng-container
    *ngIf="(vm.state.vmAction === 'choosePlanNoSubscription') || (vm.state.vmAction === 'choosePlan')">
    <div
      fxLayout="column"
      style="padding: 0.5rem">
      <button
        name="subscribeNow"
        fxFlex="20" 
        [disabled]="!vm.hasSource"
        (click)="doSubscribe(vm.state.quantity, vm.state.interval); vmAction('didSubscribe')"
        mat-raised-button
        color="primary">
        <mat-icon>looks_two</mat-icon>
        <span style="font-weight:bold; margin-left: 0.5rem;">
          {{'stripe.subscribe-now' | translate}}
          <!--Subscribe now-->
        </span>
      </button>
    </div>
  </ng-container>
  <!-- final confirm END -->
</div>



<!-- stripe check out END -->

<!-- UI overlay -->
<div
  name="subscriptionOverlay"
  *ngIf="stripeStore.showOverlay$ | async" 
  class="overlay">
  <div 
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="1rem">
      <mat-spinner></mat-spinner>
      <div 
        class="overlayBox"
        fxLayout="column"
        fxLayoutAlign="center center">

        <p 
          *ngIf="(timer | async) < 5"
          class="mat-headline"
          [innerHTML]="'stripe.your-subscription-has-been-updated' | translate">
          <!--Your subscription has been updated!<br>Wait a moment for seeing the changes in "Your subscription".-->
        </p>

        <p 
          *ngIf="(timer | async) >= 5"
          class="mat-headline">
          {{'stripe.close-to-see-updates' | translate}}
          <!--Please close and reload browser for seeing the changes in "Your subscription".-->
        </p>

        <button 
          name="closeOverlay"
          *ngIf="(timer | async) > 5"
          mat-raised-button
          color="primary"
          (click)="vmAction('closeOverlay')">
          {{'buttons.standard.close' | translate}}
        </button>

      </div>
  </div>
</div>

<ng-container *ngIf="stripeDebug">
  <div id="stripeDebug">
<pre>
stripeIdAvailable (stripe account): {{ stripeIdAvailable | async }}
stripeSubscriptionAvailable (stripe subscription): {{ stripeSubscriptionAvailable | async }}
stripeSourcesAvailable (any payment type): {{ stripeSourcesAvailable | async }}
currentSubscription: {{ currentSubscription | async | json }}
subscriptionChangeDetect: {{ subscriptionChangeDetect | async | json }}
stripeControllActions: {{stripeControllActions | async}}
showSubscription {{ showSubscription }}
quantityChange {{ quantityChange }}
subscriptionStatus$ {{ subscriptionStatus$ | async | json }}
</pre>  
  </div>
  </ng-container>


