
<!--<ng-container *ngIf="vm$ | async as vm">
  <pre class="generic-debug right">{{vm | json}}</pre><br>
</ng-container>-->

<ng-container *ngIf="vm$ | async as vm">

  <!-- handle, must be outside of the toolbar area -->
  <div 
    *ngIf="vm.open"
    #toolbarHandle
    id="toolbar-handle-n"
    cdkDrag
    [cdkDragConstrainPosition]="constrainDragPosition"
    cdkDragLockAxis="y"
    (cdkDragMoved)="moveHandle($event)"
    (cdkDragEnded)="moveHandelStopped($event)"
    [ngStyle]="{'bottom.px': vm.height + 50}"
    fxLayout="row"
    fxLayoutAlign="center center">
    <mat-icon style="font-size: 22px; color: green">swap_vert</mat-icon>
  </div>

  <!-- toolbar area -->
  <div
    *ngIf="vm.open"
    #toolbarContainer
    cdkDropList
    (cdkDropListDropped)="dropApps($event)"
    cdkDropListOrientation="horizontal"
    id="apps-toolbar"
    class="variant-apps apps-list"
    [ngClass]="{'variant-apps': toolbarVariant === 'apps', 'variant-session': toolbarVariant === 'session'}"
    [ngStyle]="{'height.px': (handlePosition$ | async)}"
    fxLayout="row"
    [fxLayoutAlign]="fxLayoutAlignValue"
    fxLayout.lt-sm="column"
    [fxLayoutAlign.gt-sm]="fxLayoutAlignValue">

    <ng-container 
      *ngIf="toolbarVariant === 'session'">
      <app-activate-apps></app-activate-apps>
    </ng-container>
    
    <ng-container 
      *ngIf="!(deviceService.browser.toLowerCase() === 'safari' && this.deviceService.isTablet())">
      <app-tuner
        id="tuner"
        [fxFlexOrder]="(vm.apps | appPosition:'tunerId')?.order">
      </app-tuner>
    </ng-container>

    <app-metronome
      id="metronome"
      [toolbarVariant]="toolbarVariant"
      [fxFlexOrder]="(vm.apps | appPosition:'metronomeId')?.order">
    </app-metronome>

    <app-mixer 
      id="mixer"
      [fxFlexOrder]="(vm.apps | appPosition:'mixerId')?.order">
    </app-mixer>

    <!-- hide from iPad & Safari -->
    <!-- *ngIf="!(deviceService.browser.toLowerCase() === 'safari' && this.deviceService.isTablet())" -->
    <app-recorder
      *ngIf="!(deviceService.browser.toLowerCase() === 'safari')" 
      id="recorder"
      [fxFlexOrder]="(vm.apps | appPosition:'recorderId')?.order"
      [inputHeight]="'flexible'">
    </app-recorder>

    <app-keyboard
      id="keyboard"
      [fxFlexOrder]="(vm.apps | appPosition:'keyboardId')?.order">
    </app-keyboard>

<!--
    <app-test
      id="test"
      class="apps-container"
      [fxFlexOrder]="(vm.apps | appPosition:'#test')">
    </app-test>
-->

  </div>
</ng-container>

