$toolbar-default-height: 360px;
$toolbar-min-height: 96px;
$toolbar-handle-height: 20px;

#apps-toolbar.variant-session {
    position: absolute;
    /* height: calc(70vh - 50px); */
    height: 360px;
    width: 100vw;
    bottom: 50px;
    left: 0;
    z-index: 10;
    padding: 12px 1em 0 1em;
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: rgba($color: #fffefe, $alpha: 0.1);
}

#apps-toolbar.variant-apps {
    position: absolute;
    min-height: $toolbar-min-height;
    height: $toolbar-default-height;
    width: 100vw;
    bottom: 50px;
    left: 0;
    z-index: 10;
    padding: 12px 1em 0 1em;
    /* overflow: hidden; */
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: rgba($color: #fffefe, $alpha: 0.1);
}

// Anfasser on top 
.ng-resizable-handle {
    position: absolute;
    left: 0;
    top: 0;
    
    height: 36px;
    background-color: rgba($color: #000, $alpha: 0.3) !important;
    /* background-color: rgba($color: #fffefe, $alpha: 0.2);  */
    z-index: -1;
    border-top: 1px dashed rgba(255, 255, 255, 0.2);
}

.ng-resizable-handle:hover {
    background-color: rgba($color: #fffefe, $alpha: 0.3);
}


/* new approach */
#toolbar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: $toolbar-min-height;
    background: lightgreen;
}

/* handles and regarding constraints element */
#toolbar-handle-n {
    z-index: 100;
    position: absolute;
    bottom:50px;
    left:0;
    height: $toolbar-handle-height;
    width: 100%;
    background-color: rgba($color: #000, $alpha: 0.1);
    border-top: 1px dashed rgba(255, 255, 255, 0.2);
    cursor: grab;
    &:hover {
        background-color: rgba($color: #000, $alpha: 0.2);
    }
}
#drag-constraints {
    position: absolute;
    top: 0;
    bottom: $toolbar-min-height + 50px;
    width: 100%;
    /* background: rgba($color: lightgreen, $alpha: 0.4); */
}