<ng-container
  *ngIf="vm$ | async as vm">

  <div
    #remoteButton
    class="remoteButton">
    <mat-slide-toggle
      [checked]="vm.state.remoteStatus"
      (change)="doChange($event.checked); doShowIconbar()"
      [disabled]="!vm.state.isSender">
    </mat-slide-toggle>
  </div>

  <div
    [hidden]="!showIconbar"
    class="iconbar">
    <div 
      fxLayout="row"
      fxLayoutAlign="start center"
      class="content">

      <div
        class="audioDirection" 
        fxLayout="row"
        fxLayoutAlign="center center">
        <span>
          <ng-container *ngIf="vm.state.isSender; else isCoach">
            {{'general.you' | translate}}:
          </ng-container>
          <ng-template #isCoach>
            {{'general.roles.coach' | translate}}:
          </ng-template>
          <ng-container *ngIf="!vm.state.remoteStatus; else doListen">
            {{'room.audioMode.PLAY' | translate}}
          </ng-container>
          <ng-template #doListen>
            {{'room.audioMode.LISTEN' | translate}}
          </ng-template>
        </span>

        <i class="material-icons direction-arrow" [ngClass]="vm.state.remoteStatus ? 'back' : 'forward'">
            arrow_forward
        </i>

        <span>
          <ng-container *ngIf="!vm.state.isSender; else isStudent">
            {{'general.you' | translate}}:
          </ng-container>
          <ng-template #isStudent>
            {{'general.roles.student' | translate}}:
          </ng-template>
          <ng-container *ngIf="vm.state.remoteStatus; else doListen">
            {{'room.audioMode.PLAY' | translate}}
          </ng-container>
          <ng-template #doListen>
            {{'room.audioMode.LISTEN' | translate}}
          </ng-template>
        </span>

      </div>
        
      <app-audio-mode
        *ngIf="!isMobile" 
        style="margin-left: 1rem">
      </app-audio-mode>

    </div>

    <div class="arrow">
        <svg 
          viewBox="0 0 200 100"
          fill="#efefef" 
          style="width: 15px; height: 15px;">
            <path d="
                M 0,0 
                l 200,0 
                l -100,100 
                Z
              " />        
          </svg>
    </div>
    <div class="close">
      <button 
        mat-icon-button
        (click)="doClose()">
        <mat-icon aria-label="close">close</mat-icon>
      </button>
    </div>
  </div>
</ng-container>


