.remoteButton {
    margin-right: 1rem;
}
.iconbar {
    position: absolute;
    bottom: 70px;
}
.iconbar > .content {
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    background: #efefef;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    z-index: 100;
    color: #333;
}
.iconbar > .content mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
}
.iconbar > .arrow {
    z-index: 100;
    position: absolute;
    bottom: -15px;
    left: 10px;
}
.iconbar > .close {
    position: absolute;
    z-index: 100;
    top: -5px;
    right: -5px;
}
.close button {
    margin: 0;
    color: #000;
}

.direction-arrow {
    margin: 0 0.5rem;
}
.direction-arrow.forward {
    transform: rotate(0deg);
    transition: 1s ease-in-out;
}
.direction-arrow.back {
    transform: rotate(180deg);
    transition: 0.5s ease-in-out;
}