<ng-template #waiting>
  <p class="wait-message">{{'general.wait-a-sec' | translate}}</p>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<ng-container *ngIf="studentListSorted$ | async as sl; else waiting">

     <!--<pre>studentListSorted: {{ studentListSorted$ | async | json }} </pre>-->

    <app-package-hint [userId]="userId" [studentList]="sl"></app-package-hint>

    <app-betatester-hint [userId]="userId"></app-betatester-hint>

    <ng-container *ngIf="sl.length === 0">
      <p class="warn-message">{{'my-students.no-students-found' | translate}}</p>
    </ng-container>

    <ul class="listMyStudents" style="padding:0">

      <li 
        class="student-list-item"
        id="{{item.key}}" 
        fxLayout="row" 
        style="border-bottom: 1px solid #efefef;" 
        *ngFor="let item of sl | sortBy:'asc':'name'; trackBy:trackByFn" 
        fxLayoutAlign="space-between center">

        <app-user-content-row [userId]="item.key"></app-user-content-row>

        <span fxFlex="auto"></span>

        <mat-checkbox
          [ngClass]="{ 'test-checked-true': item.value, 'test-checked-false': !item.value }"
          class="toggleAccess"
          [checked]="item.value"
          [labelPosition]="'before'"
          (change)="toggleAccess(item, $event)"
          matTooltip="{{'my-students.tooltips.manage-access' | translate}}">
          <span *ngIf="item.value">{{'my-students.activated' | translate}}</span>
          <span *ngIf="!item.value">{{'my-students.deactivated' | translate}}</span>
        </mat-checkbox>

        <button 
          mat-stroked-button 
          matTooltip="{{'my-students.tooltips.remove-student' | translate}}"
          (click)="confirmRemove(item)">
          {{'buttons.standard.remove' | translate}}
        </button>
         
      </li>

    </ul>

  </ng-container>
