<!-- start of wrapper -->
<div fxLayout="row"
  class="moduleContainerWrapper" 
  fxLayoutAlign="center center">

  <!-- column container for modules -->
  <div 
    class="moduleContainer"
    fxLayout="column" 
    fxFlex="80" 
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayoutGap="1em">

    <div 
      class="fxContent mat-elevation-z2 padding16"
      fxLayout="column" 
      fxLayoutGap="1em">

      <h2 class="md-title">List of users</h2>

      <!--<pre>{{ profileList$ | async | json }}</pre>-->

      <!--<p 
        *ngIf="!(profileList$ | async)">
        {{'general.wait-a-sec' | translate}}
      </p>

      <mat-progress-bar 
        class="localProgressBar"
        mode="indeterminate"
        *ngIf="!(profileList$ | async)">
      </mat-progress-bar>-->

      <div class="flex row center align-center">

        <mat-form-field>
          <mat-select
            [formControl]="filterKey"
            placeholder="enter filter key">
            <mat-option *ngFor="let key of keys" [value]="key">
              {{ key }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!--<mat-form-field>
          <input 
            matInput 
            placeholder="enter user Id"
            [formControl]="filterKey">
        </mat-form-field>-->

        <mat-form-field>
          <input 
            matInput 
            placeholder="enter user Id"
            [formControl]="filterValue">
        </mat-form-field>

        <span fxFlex></span>

      </div>

      <ng-template #noValues>
        <span>no data found....</span>
      </ng-template>

      <ng-container *ngIf="profileList$ | async as pl; else noValues">

        <div 
          fxLayout="row"
          fxLayoutGap="1rem">
          <button mat-stroked-button (click)="filterSub$.next({ key: 'paginateEndAt', value: pl[0].key })">previous chunk of {{ pagesize}}</button>
          <button mat-stroked-button (click)="filterSub$.next({ key: 'paginateStartAt', value: pl[pl.length - 1].key })">next chunk of {{ pagesize }}</button>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
          <span>current chunk pagination: </span>
          
          <pagination-controls (pageChange)="p = $event" [id]="inputType"></pagination-controls>

          <span fxFlex></span>
          
          <mat-form-field class="filterInput">
            <input 
              matInput 
              placeholder="filter chunk for IDs" 
              [(ngModel)]="filterargs">
          </mat-form-field>

        </div>

        <ul id="listMyCoaches" style="padding:0">

          <li 
            fxLayout="row" 
            fxLayoutGap="1rem"
            style="border-bottom: 1px solid #efefef;" 
            *ngFor="let item of pl | filterUser: filterargs | paginate: { itemsPerPage: itemsPerPageValue, currentPage: p, id: inputType }; index as _index;"
            fxLayoutAlign="space-between center">

              <!--<app-user-content-row [userId]="item.key"></app-user-content-row>-->
              <div
                fxLayout="column"
                fxLayoutGap="0.2rem">
                <span *ngIf="item.key | userName:'email' | async as name; else loading">{{ name }}</span>
                <ng-template #loading><span>loading...</span></ng-template>
                <span 
                  class="mat-caption key-label"
                  matRipple 
                  #tooltip
                  (cdkCopyToClipboardCopied)="tooltip.style = 'background: yellow'; tooltip.innerHTML = 'key was copied to clipboard'" 
                  [cdkCopyToClipboard]="item.key">
                  {{ item.key }}
                </span>
              </div>

              <span style="flex: 2"></span>

              <mat-checkbox
                (change)="doChange('mediaMode', item.key, $event)"
                [ngModel]="item.payload.val().featureToggle?.mediaModeToggle" 
                [disabled]="item.payload.val().role !== 1" 
                name="mediaMode">
                mediaMode 
              </mat-checkbox>

              <mat-checkbox
                (change)="doChange('betatester', item.key, $event)"
                [ngModel]="item.payload.val().betatester" 
                [disabled]="item.payload.val().role !== 1" 
                name="betatester">
                betatester 
              </mat-checkbox>

              <mat-checkbox
                (change)="doChange('studentLimit50', item.key, $event)"
                [ngModel]="item.payload.val().featureToggle?.maxStudentCount"
                [disabled]="item.payload.val().role !== 1" 
                matTooltip="check to allow up to 50 students for this coach"
                name="studentLimit">
                up to 50 stud.
              </mat-checkbox>

              <mat-form-field
                fxFlex="10%">
                <mat-select
                  (selectionChange)="doChange('role', item.key, $event)"
                  [ngModel]="item.payload.val().role"
                  placeholder="role"
                  name="role">
                  <mat-option *ngFor="let r of rolesArr" [value]="r.value">
                    {{ r.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <button 
                mat-stroked-button
                [routerLink]="['/admin/listusers/' + item.key]">
                user details
              </button>
              
          </li>

        </ul>
      </ng-container>

    </div>
  </div>
</div>

<app-footer></app-footer>
