
.looperWrapper {
    /* width: 60vw; */
    width: 100%;
    min-width: 630px;
    height: 190px;
    min-height: 188px;
}

.controlsRow > #controlsRowCover {
    width: 100%;
    height: 58px;
    background: rgba(192, 192, 192, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10; /* should cover all controls */ 
}

#waveform{
    background-color: rgba(0,0,0,1);
    min-width: 500px;
}

.transportTime {
    width: auto;
    margin-right: 1em;
}

.localProgressBar {
    position: absolute;
    margin-top: 0px;
    z-index: 20;
}

.mat-icon-20 {
    height: 20px;
    width: 20px;
    font-size: 20px;    
}

.mat-icon-hover:hover {
    color: #efefef;
}

.safariFallbackDiv {
    height: 99%;
}
.safariAudioElement {
    width: 90%;
    background: rgb(0,84,150); 
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
.safariWaveform {
    // height: 0px;
    display: none;
}

/* TODO: looper styles were not applied, moved to styles.css */




