
<!-- looper -->   
<div fxLayout="column" class="looperWrapper">

  <!-- matTooltip="{{'apps.looper.tooltip-click-and-track' | translate}}" -->
  <div
    id="waveform"
    (mousedown)="stopDrag('down')"
    (mouseup)="stopDrag('up')"
    #waveform>
  </div>

  <!-- standard looper -->
  <ng-container>

    <!--progress bar-->
    <mat-progress-bar
      *ngIf="loading" 
      class="localProgressBar"
      mode="indeterminate"
      [value]="px | async">
    </mat-progress-bar>

    <div 
      fxLayout="row" 
      fxLayoutAlign="space-around center" 
      class="controlsRow">
      <!-- ui blocking area -->
      <div 
        *ngIf="disableControlls"
        id="controlsRowCover">
      </div>
      
      <section 
        fxLayout="row" 
        fxLayoutAlign="center center" 
        name="zoom"
        matTooltip="{{'apps.looper.tooltip-zoom' | translate}}"
        class="monospaceControlls">

        <div 
          fxLayout="row" 
          fxLayoutAlign="center center"
          fxLayoutGap="0.5rem">
          <!-- loading [disabled]="factor <= 1 || disableControlls" -->
          <div fxLayout="column">
            <div 
              name="looper-zoom-in-icon" 
              (dblclick)="zoom(1)"
              (click)="zoom(0.2)">
              <mat-icon class="mat-icon-20 mat-icon-hover">
                  zoom_in
              </mat-icon>
            </div>
            <div 
              name="looper-playback-out-icon"          
              (dblclick)="resetZoom()"
              (click)="zoom(-0.2)">
              <mat-icon class="mat-icon-20 mat-icon-hover">
                  zoom_out
              </mat-icon>
            </div>
          </div>
          <span class="" *ngIf="true">{{ factor | number: '1.1-1' }}x</span>
        </div>

      </section>

      <section 
        fxLayout="row" 
        fxLayoutAlign="space-around center" 
        name="transport"
        class="monospaceControlls">

        <div 
          matTooltip="{{'apps.looper.tooltip-songposition' | translate}}"
          class="transportTime">
          <span >{{ source | async | secToMin }}</span>
          <span>/</span>
          <span>{{ ws.getDuration() | secToMin }}</span>
        </div>

        <button 
          name="looper-play-button"
          mat-mini-fab 
          color="primary" 
          [ngStyle]="{'background-color': !ws.isPlaying() ? '' : 'orange'}" 
          (click)="playPause()"
          [disabled]="loading || disableControlls">
          <mat-icon *ngIf="!ws.isPlaying()">play_arrow</mat-icon>
          <mat-icon *ngIf="ws.isPlaying()">pause</mat-icon>
        </button>

        <button 
          name="looper-to-start-button"
          *ngIf="true"
          matTooltip="{{'apps.looper.tooltip-to-start' | translate}}"
          mat-icon-button 
          (click)="toStart()"
          [disabled]="loading || disableControlls">
          <mat-icon>
            first_page
          </mat-icon>
        </button>

      </section>

    <!-- hiden on ios/mobile device, does not work with touch -->

      <section
        name="loop"
        fxLayout="row" 
        fxLayoutAlign="center center"
        class="monospaceControlls" 
        hide-xs>

        <button
          name="looper-loop-all-button" 
          matTooltip="{{'apps.looper.tooltip-loop-all' | translate}}"
          mat-icon-button 
          (click)="regionAllLoop()"
          [disabled]="regionArr.length < 1 || disableControlls">
          <mat-icon
            style="transform: rotate(-90deg)">
            height
          </mat-icon>
        </button>

        <button 
          name="looper-toggle-loop-button" 
          mat-icon-button 
          ngClass="{'': currentRegion.loop}" 
          (click)="regionLoop()" 
          [disabled]="regionArr.length < 1 || disableControlls" 
          style="margin:0; padding:0">
          <mat-icon 
            class="iconBackground" 
            ngClass="{'iconHighlight': currentRegion.loop}"
            matTooltip="{{'apps.looper.tooltip-toogle-loop' | translate}}">
            loop
          </mat-icon>
        </button>

        <div>
          <div 
            fxLayout="row" 
            fxLayoutAlign="center center"
            class="regionLabels monospaceControlls"
            matTooltip="{{'apps.looper.tooltip-loop-region-from-to' | translate}}">
            <span>{{ currentRegion.start | secToMin }}</span>
            <span *ngIf="currentRegion">/</span>
            <span>{{ currentRegion.end | secToMin }}</span>
          </div>
        </div>
      </section>

      <section 
        name="playbackRate"
        fxLayout="row" 
        fxLayoutAlign="center center"
        class="monospaceControlls">

        <div 
          fxLayout="row" 
          fxLayoutAlign="center center"
          fxLayoutGap="0.5rem"
          matTooltip="{{'apps.looper.tooltip-set-playback' | translate}}">

          <div fxLayout="column">
            <div 
              name="looper-playback-plus-icon" 
              style="margin-left:0;padding-left:0" 
              (click)="stepPlaybackRate(+1)">
              <mat-icon class="mat-icon-20 mat-icon-hover">add_circle_outline</mat-icon> 
            </div>
            <div
              name="looper-playback-minus-icon" 
              style="margin-right:0;padding-right:0" 
              (click)="stepPlaybackRate(-1)">
              <mat-icon class="mat-icon-20 mat-icon-hover">remove_circle_outline</mat-icon>                   
            </div>
          </div>
          
          <span *ngIf="true">{{ pbrLabel | number : '1.2' }}x</span>
        </div>	
      </section>

      <section 
        name="pitch"
        fxLayout="row" 
        fxLayoutAlign="center center"
        class="monospaceControlls">

        <div 
          fxLayout="row" 
          fxLayoutAlign="center center"
          fxLayoutGap="0.5rem"
          matTooltip="{{'apps.looper.tooltip-pitch' | translate}}">

          <div 
            fxLayout="column">
            <div 
              name="looper-pitch-plus-icon" 
              style="margin-left:0;padding-left:0" 
              (click)="stepPitch(+1)">
              <mat-icon class="mat-icon-20 mat-icon-hover">add_circle_outline</mat-icon> 
            </div>
            <div
              name="looper-playback-minus-icon" 
              style="margin-right:0;padding-right:0" 
              (click)="stepPitch(-1)">
              <mat-icon class="mat-icon-20 mat-icon-hover">remove_circle_outline</mat-icon>                   
            </div>
          </div>

          <span *ngIf="true">
            {{ pitch > 0 ? '+' : '' }}{{ pitch === 0 ? '&nbsp;' : '' }}{{ pitch | number : '1.0' }}st
          </span>

        </div>	
      </section>

      <ng-container
        *ngIf="channelstrip">
        <mat-menu 
          #appMenu="matMenu"
          class="fader-menu">
          <div
            fxLayout="column"
            fxLayoutAlign="center center">
            <span class="mat-caption">{{ channelstrip.volLevelVar$ | async | number:0 }}</span>
            <mat-slider
              [max]="0"
              [min]="-30"
              [step]="1"
              [ngModel]="channelstrip.volLevelVar$ | async"
              (input)="channelstrip.setLevel($event.value)"
              [disabled]="false"
              [vertical]="true">
            </mat-slider>
            <mat-checkbox
              [ngModel]="channelstrip.isToMaster"
              [disabled]="false"
              (change)="channelstrip.setToMaster($event.checked)"
              matTooltip="{{'apps.mixer.tooltip.local-monitor' | translate}}">
            </mat-checkbox>
            <mat-checkbox
              [ngModel]="channelstrip.isMuted"
              [disabled]="false"
              (change)="channelstrip.setMute($event.checked)"
              matTooltip="{{'apps.mixer.tooltip.mute-channel' | translate}}">
            </mat-checkbox>
          </div>
        </mat-menu>
        <button
          mat-icon-button
          matTooltip="Set volume"
          [matMenuTriggerFor]="appMenu">
          <mat-icon>{{ channelstrip.isMuted || !channelstrip.isToMaster ? 'volume_off' : 'volume_up' }}</mat-icon>
        </button>
      </ng-container>
<!--
      <ng-container>
        <mat-checkbox
          [ngModel]="ws.autoCenter"
          [disabled]="false"
          (change)="setAutoCenter($event)"
          matTooltip="autocenter...">
          Transport off
        </mat-checkbox>
      </ng-container>
-->
    </div>
  </ng-container>

</div>
