/* Vars */
$primary-color: 		rgb(0,84,150); /* #005596 */
$primary-color-light: 		rgb(112, 190, 250);
$grey: #ccc;
$grey-light: rgb(239, 239, 239);
$footer-height:     50px;
$primary-font-family: Quicksand, sans-serif;
$radius-default: 4px;


ul.listMyStudents {
    min-width: 25rem;
    margin: 0 0 1rem 0;
    >:first-child {
        border-top: 1px solid $grey-light;
    }
    &.isWaiting {
        border-left: 5px solid orange;
    }
    &.inSession {
        border-left: 5px solid lightgreen;
    }
    &.notInSession {
        opacity: 0.6;
        border-left: 5px solid rgba(255,255,255,0);
    }
}
.anonymous-avatar {
    height:36px; 
    width:36px;
    margin: 0 0.5rem 0 0.3rem !important;
}
.waiting-icon {
   line-height: 28px; 
}
.listMyStudentsRow {
    padding-right: 1rem !important;
    min-height: 3rem;
}

/* determins the with of the component even if there is no content */
.headerRow {
    padding: 0 1rem 0 0.5rem;
    min-width: 20rem;
}


div.labelDivider {
    height: 1rem;
    margin-bottom: 1px;
    hr {
        border: none;
        background: none; /* $grey-light; */
        height: 1px;
    }
    span.label {
        text-align: center;
        display: inline-block;
        padding: 0 0.5rem;
        min-width: 6rem;
        background: $grey-light;
        border-top-left-radius: $radius-default;
        border-top-right-radius: $radius-default;
    }
}

.sortDiv {
    padding-left: 10px !important;
}

.sessionLockButton {
    color: green;
    &.locked {
        color: red;
        mat-icon {
            color: red;
        }
    }
}

button.toolbar-status {
    &.enabled {
        opacity: 1;
        color: $primary-color;
    }
    &.disabled {
        opacity: 0.3;
        color: #000;
    }
}
