
<div
  class="headerRow"
  fxLayout="row"
  fxLayoutAlign="start center">
  <span class="mat-title no-margin">
    {{'my-students.headline' | translate}}
  </span>
  <span fxFlex="1 1 auto"></span>

  <!--lock: {{ roomLockObs | async | json }}-->

  <!--<ng-container *ngIf="roomLockObs | async as _lock">Hallo {{_lock.locked.locked}}</ng-container>-->

  <ng-container *ngIf="roomLockObs | async as _lock">
    <button
      name="sessionLockParticipants"
      class="sessionLockButton"
      [ngClass]="{ 'locked': _lock.locked, 'unlocked': !_lock.locked }"
      mat-icon-button
      [matTooltip]="(_lock.locked ? 'room.lock-button.lock-session' : 'room.lock-button.unlock-session') | translate"
      matTooltipPosition="right"
      [disabled]="false"
      (click)="cs.do('sessionLock', _lock.locked)">
      <mat-icon> {{ _lock.locked ? 'lock' : 'lock_open' }} </mat-icon>
    </button>
  </ng-container>

</div>

<ng-container *ngIf="isWaiting | async as pa">

  <!--<pre style="font-size: 9px;">{{ pa | json }}</pre>-->

  <div
    *ngIf="pa.length > 0" 
    class="labelDivider"
    fxLayout="row"
    fxLayoutAlign="start center">
    <div class="sortDiv" fxFlex="1 1 auto">
      <button mat-icon-button (click)="toggleSort()">
        <span class="mat-caption">{{'general.order' | translate}}</span> 
        <mat-icon>{{ toggleSortValue === 'asc' ? 'arrow_drop_down' : 'arrow_drop_up'}}</mat-icon>
      </button> 
    </div>
    <span 
      fxFlex="1 1 auto"
      class="label mat-caption">
      {{'my-students.is-waiting' | translate}}
    </span>
    <span fxFlex="2 2 auto"></span>
  </div>

  <ul class="listMyStudents isWaiting" style="padding:0">
    <li 
      class="listMyStudentsRow"
      id="{{item.key}}" 
      fxLayout="row" 
      style="border-bottom: 1px solid #efefef;" 
      *ngFor="let item of pa | sortBy: toggleSortValue; trackBy:trackByFn" 
      fxLayoutAlign="space-between center">

      <ng-container *ngIf="item.registrationStatus !== 'isAnonymous'; else _isAnonymous">
        <app-user-content-row layout="mini" [userId]="item.key"></app-user-content-row>
      </ng-container>
      <ng-template #_isAnonymous>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="1rem">
          <img class="anonymous-avatar" src="/assets/img/avatars/avataaars-default.png">
          <span>{{ item.name }}</span>
        </div>
      </ng-template>

      <span style="flex: 2"></span>

      <ng-container *ngIf="item.isWaiting">
        <mat-icon
          class="waiting-icon blink">
          emoji_people
        </mat-icon>
      </ng-container>

      <!--<ng-container 
        *ngIf="item.registrationStatus === 'isAnonymous' || item.registrationStatus === 'isRegistered'">
        <button
          class="removeAnonymous" 
          (click)="confirmRemove(item.key)"
          mat-icon-button>
          <mat-icon>delete_outline</mat-icon>
        </button>
      </ng-container>-->

      <mat-slide-toggle
        class="toggleAccess"
        [color]="'primary'"
        [checked]="item.access"
        [labelPosition]="'before'"
        (change)="toggleAccess(item, $event)"
        matTooltip="{{ item.access ? 'Room access granted' : 'Room access denied' }}">
      </mat-slide-toggle>
       
    </li>

  </ul>
</ng-container>

<ng-container *ngIf="inSession | async as pa">

  <!--<pre style="font-size: 9px;">{{ pa | json }}</pre>-->
  <div 
    *ngIf="pa.length > 0"
    class="labelDivider"
    fxLayout="row"
    fxLayoutAlign="start center">
    <div class="sortDiv" fxFlex="1 1 auto">
      <button mat-icon-button (click)="toggleSort()">
        <span class="mat-caption">{{'general.order' | translate}}</span> 
        <mat-icon>{{ toggleSortValue === 'asc' ? 'arrow_drop_down' : 'arrow_drop_up'}}</mat-icon>
      </button> 
    </div>
    <span 
      fxFlex="1 1 auto"
      class="label mat-caption">
      {{'my-students.in-session' | translate}}
    </span>
    <span fxFlex="2 2 auto"></span>
  </div>

  <ul class="listMyStudents inSession" style="padding:0">
    <li 
      class="listMyStudentsRow"
      id="{{item.key}}" 
      fxLayout="row" 
      style="border-bottom: 1px solid #efefef;" 
      *ngFor="let item of pa | sortBy: toggleSortValue; trackBy:trackByFn" 
      fxLayoutAlign="space-between center">

      <ng-container 
        *ngIf="item.registrationStatus !== 'isAnonymous'; else _isAnonymous">
        <app-user-content-row style="margin-right: 1rem" layout="mini" [userId]="item.key"></app-user-content-row>
      </ng-container>
      <ng-template #_isAnonymous>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="1rem">
          <img class="anonymous-avatar" src="/assets/img/avatars/avataaars-default.png">
          <span>{{ item.name }}</span>
        </div>
      </ng-template>

      <span style="flex: 2"></span>

      <ng-container>
        <!--<mat-checkbox
          [checked]="item.toolbarStatus"
          (change)="assignSender(item, $event.checked)">
          remote {{item.toolbarStatus}}
        </mat-checkbox>-->
        <button
          class="toolbar-status"
          (click)="assignSender(item, !item.toolbarStatus)"
          [ngClass]="{'enabled': item.toolbarStatus, 'disabled': !item.toolbarStatus }"
          matTooltip="Toggle access to Apps"
          mat-icon-button>
          <mat-icon>apps</mat-icon>
        </button>
      </ng-container>

      <ng-container *ngIf="item.isWaiting">
        <mat-icon
          class="waiting-icon blink">
          emoji_people
        </mat-icon>
      </ng-container>

      <!--<ng-container 
        *ngIf="item.registrationStatus === 'isAnonymous' || item.registrationStatus === 'isRegistered'">
        <button
          class="removeAnonymous" 
          (click)="confirmRemove(item.key)"
          mat-icon-button>
          <mat-icon>delete_outline</mat-icon>
        </button>
      </ng-container>-->

      <mat-slide-toggle
        class="toggleAccess"
        [color]="'primary'"
        [checked]="item.access"
        [labelPosition]="'before'"
        (change)="toggleAccess(item, $event)"
        matTooltip="{{ item.access ? 'Room access granted' : 'Room access denied' }}">
      </mat-slide-toggle>
       
    </li>

  </ul>
</ng-container>

<ng-container *ngIf="notInSession | async as pa">

  <!--<pre style="font-size: 9px;">{{ pa | json }}</pre>-->
  <div 
    *ngIf="pa.length > 0"
    class="labelDivider"
    fxLayout="row"
    fxLayoutAlign="start center">
    <div class="sortDiv" fxFlex="1 1 auto">
      <button mat-icon-button (click)="toggleSort()">
        <span class="mat-caption">{{'general.order' | translate}}</span> 
        <mat-icon>{{ toggleSortValue === 'asc' ? 'arrow_drop_down' : 'arrow_drop_up'}}</mat-icon>
      </button> 
    </div>
    <span 
      fxFlex="1 1 auto"
      class="label mat-caption">
      {{'my-students.not-in-session' | translate}}
    </span>
    <span fxFlex="2 2 auto"></span>
  </div>

  <ul class="listMyStudents notInSession" style="padding:0">
    <li 
      class="listMyStudentsRow"
      id="{{item.key}}" 
      fxLayout="row" 
      style="border-bottom: 1px solid #efefef;" 
      *ngFor="let item of pa | sortBy: toggleSortValue: 'name' ; trackBy:trackByFn" 
      fxLayoutAlign="space-between center">

      <ng-container *ngIf="item.registrationStatus !== 'isAnonymous'; else _isAnonymous">
        <app-user-content-row layout="mini" [userId]="item.key"></app-user-content-row>
      </ng-container>
      <ng-template #_isAnonymous>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="1rem">
          <img class="anonymous-avatar" src="/assets/img/avatars/avataaars-default.png">
          <span>{{ item.name }}</span>
        </div>
      </ng-template>

      <span style="flex: 2"></span>

      <ng-container *ngIf="item.isWaiting">
        <mat-icon
          class="waiting-icon blink">
          emoji_people
        </mat-icon>
      </ng-container>

      <!--<ng-container 
        *ngIf="item.registrationStatus === 'isAnonymous' || item.registrationStatus === 'isRegistered'">
        <button
          class="removeAnonymous" 
          (click)="confirmRemove(item.key)"
          mat-icon-button>
          <mat-icon>delete_outline</mat-icon>
        </button>
      </ng-container>-->

      <mat-slide-toggle
        class="toggleAccess"
        [color]="'primary'"
        [checked]="item.access"
        [labelPosition]="'before'"
        (change)="toggleAccess(item, $event)"
        matTooltip="{{ item.access ? 'Room access granted' : 'Room access denied' }}">
      </mat-slide-toggle>
       
    </li>

  </ul>
</ng-container>
