<!-- -->
<div *ngFor="let item of ds.windowsArr; index as index">
  <app-direct-share-multi 
    [dsSessionId]="dsSessionId"
    [window]="item" 
    [index]="index">
  </app-direct-share-multi>
</div>


