
.peersRow {
    margin-top: 1rem;
}

.chip-label {
    font-size: 0.7rem;
    max-width: 8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mat-standard-chip {
    &.coach {
        background: orange !important;
    }
    &.student {
        background: lightgreen !important;
    }
}
/*
.peers-option-row {
    &.coach {
        background: rgba(orange, 0.7)  !important;
    }
    &.student {
        background: rgba(white, 0.2) !important;
    }
}
*/
pre {
    font-size: 9px;
}

.waitForChip {
    margin-bottom: -8px;
}