
<!--<pre>peers: {{ peersObservable | async | json }}</pre>-->
<!--{{ institutionId }} | {{ userId }}-->
<!--<pre>accountsObservable: {{ accountsObservable | async | json }}</pre>-->

<!--<pre>accountsObservableSelected: {{ accountsObservableSelected | async | json }}</pre>
<pre>accountsObservableFiltered: {{ accountsObservableFiltered | async | json }}</pre>
<pre>accountsArr: {{ accountsArr | json }}</pre>-->

<div 
  class="peersRow"
  fxLayout="column"
  fxLayoutGap="0.5rem">

  <mat-form-field 
    fxFlexFill
    class="example-chip-list">
    <mat-chip-list #chipList aria-label="peers selection">
      <mat-chip
        *ngFor="let item of (accountsObservableSelected | async) | sortBy: 'asc': 'email'; trackBy: trackByKeyFn"
        [ngClass]="{'coach': item.role === 1, 'student': item.role === 0 }"
        [selectable]="true"
        [removable]="true"
        (removed)="confirmRemove(item.peerKey)">
        <span>
          {{ item.email }}
        </span>
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="{{'peers.connect-accounts' | translate}}"
        [formControl]="myControl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>

    <mat-autocomplete 
      #auto="matAutocomplete" 
      (optionSelected)="add($event)"
      [displayWith]="displayFn">
      <mat-option disabled>{{'peers.please-select-to-connect-user' | translate}}</mat-option>
      <mat-option 
        *ngFor="let option of (accountsObservableFiltered | async) | filterAccounts: myControl.value | sortBy: 'asc': 'email'; trackBy: trackByKeyFn" 
        class="peers-option-row"
        [ngClass]="{ 'coach' : option.role === 1, 'student' : option.role === 0 }"
        [value]="option">
        <span>{{option.email}} </span>
        <span class="mat-caption">({{ option.role === 1 ? 'coach' : 'student' }})</span>
      </mat-option>
    </mat-autocomplete>
    <mat-progress-bar class="waitForChip" *ngIf="waitForChip" mode="indeterminate"></mat-progress-bar>
  </mat-form-field>

</div>


