

.error-avatar {
    position: relative;
    left: calc(50% - 28px);
    /*top: -56px;*/
    margin-top: -64px;
    height: 64px;
}

.mat-dialog-title {
    margin: 0 0 20px;
    display: block;
    text-align: center;
    font-weight: bold;
    color: orangered;
    font-size: 1.4rem;
}

.error-expansion-panel {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.raw-error {
    overflow-wrap: break-word;
    font-size: 0.8rem;
}

.mat-expansion-panel-body {
    overflow: scroll !important;
}
