
<img class="error-avatar" src="assets/img/avatars/avataaars_error.svg">
<h1 mat-dialog-title>
    {{ data.errorTitle }}
</h1>
<div
    fxLayout="column"
    fxLayoutGap="0rem"
    mat-dialog-content>

    <span class="mat-title">
    {{ data.errorHeadline }}  
    </span>

    <span class="mat-title">
        {{ data.errorSuggestion }}  
    </span>

    <mat-expansion-panel class="error-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Error details
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="raw-error">{{ data.errorRaw }}</div>

    </mat-expansion-panel>


    
  
</div>
<div mat-dialog-actions
    fxLayout="row"
    fxLayoutAlign="end center">
  <button 
  mat-raised-button 
  color="primary"
  (click)="onNoClick()">Close</button>
  <!--<button mat-button cdkFocusInitial>Close</button>-->
</div>
