
<!--roomExists$: {{ roomExists$ | async }}-->
<ng-container
    *ngIf="(roomExists$ | async) === true; else createButton">
    <button
        mat-raised-button
        (click)="gotoRoom()"
        matTooltip="Room exists, click to join">
        <mat-icon>meeting_room</mat-icon>
        {{roomToken}}
        <mat-progress-bar 
            class="busy-button" 
            mode="indeterminate">
        </mat-progress-bar>
    </button>
</ng-container>

<ng-template #createButton>
    <button
        mat-raised-button
        (click)="createMyRoom()">
        <mat-icon>meeting_room</mat-icon>
        {{roomToken}}
    </button>
</ng-template>
