

<section 
  *ngIf="uiAction === 'resetPassword'"> 

  <div 
    class="fxContent mat-elevation-z2"
    fxLayout="column">
    <!--progress bar-->
      <mat-progress-bar 
      class="localProgressBar"
      mode="indeterminate"
      *ngIf="localProgress">
    </mat-progress-bar>
    <div
      class="padding16"
      fxLayout="column">
      <span class="mat-title">{{'buttons.standard.reset-password' | translate}}</span>
      <form name="resetPassword">

        <div fxLayout="column">
            
          <section name="resetPassword" class="messages">

              <p *ngIf="!errorCode && !successMessage">
                {{'login.reset.enter-a-new-password' | translate}}:
                <!--Please enter a new password for:-->
              </p>

              <p class="successMessage" *ngIf="successMessage">
                {{'login.reset.password-has-been-updated' | translate}}
                <!--Your password has been updated!-->
              </p>

              <p class="errorMessage" *ngIf="errorCode === 'generic'">
                {{'general.something-went-wrong-try-again' | translate}}
                <!--Something went wrong, please try again!-->
              </p>
              <p class="errorMessage" *ngIf="errorCode === 'auth/invalid-action-code'">
                {{'login.email-handler.invalid-code' | translate}}
                <!--The action code is invalid. This can happen if the code is malformed, expired, or has already been used.-->
              </p>
              <p><strong>{{email}}</strong></p>

          </section>
          
          <mat-form-field>
            <input 
              matInput
              type="password" 
              name="password"
              placeholder="{{'login.reset.enter-a-new-password' | translate}}"
              [formControl]="passwordCtrl"
              [(ngModel)]="password"
              [minlength]="6"
              required>
            <mat-error *ngIf="passwordCtrl.required">
              {{'login.reset.enter-a-new-password' | translate}}
              <!--Please enter a password-->
            </mat-error>
          </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="end space-between">
            <!--
            <button  
              mat-flat-button  
              (click)="router.navigateByUrl('/')">
              Go to home
            </button>
            -->
            
            <span fxFlex="1 1 auto"></span>

            <button
              name="resetPassword" 
              mat-raised-button
              color="primary"   
              (click)="confirmPasswordReset()"
              [disabled]="errorCode !== null || successMessage"
              cdkFocusInitial>
              {{'buttons.standard.reset-password' | translate}}
            </button>

          </div>

        </div>
          
      </form>
    </div>
  </div>

</section>

<ng-container 
  *ngIf="uiAction === 'verifyEmail'">
  <div 
  class="fxContent mat-elevation-z2"
  fxLayout="column">
    <!--progress bar-->
    <mat-progress-bar 
      class="localProgressBar"
      mode="indeterminate"
      *ngIf="localProgressBar">
    </mat-progress-bar>

    <div
      *ngIf="true" 
      class="padding" 
      fxLayout="column">
      <span class="mat-title">
        {{'login.email-handler.account-verification' | translate}}
        <!--Account verification-->
      </span>

          <div fxLayout="column">
              
              <section name="verifyEmail" class="messages">

                  <ng-container
                    *ngIf="successMessage">
                    <div fxLayout="column">
                      <p class="successMessage">
                        {{'login.email-handler.account-verified' | translate}}
                        <!--Your account has been verified!-->
                      </p>
<!--
                      <button 
                        mat-raised-button  
                        (click)="refreshFbUser()">
                        refresh...
                      </button>
-->

                      <a
                        class="verificationContinue"
                        href="/login"
                        color="primary" 
                        mat-raised-button>
                        {{'profile.continue-registration' | translate}}
                      </a>

                    </div>
                  </ng-container>

                  <p class="errorMessage" *ngIf="errorCode === 'generic'">{{'general.something-went-wrong-try-again' | translate}}</p>
                  <p class="errorMessage" *ngIf="errorCode === 'auth/invalid-action-code'">
                    {{'login.email-handler.invalid-code' | translate}}
                    <!--The action code is invalid. This can happen if the code is malformed, expired, or has already been used.-->
                  </p>
                  <span><strong>{{email}}</strong></span>

              </section>

          </div>
          
    </div>
  </div>
</ng-container> 

<section *ngIf="uiAction === 'default' && !(a.loginStatus$ | async)"> 
  <div
    *ngIf="" 
    class="fxContent mat-elevation-z2"
    fxLayout="column">
    <!--progress bar-->
      <mat-progress-bar 
      class="localProgressBar"
      mode="indeterminate"
      *ngIf="localProgressBar">
    </mat-progress-bar>
    <div
      class="padding16"
      fxLayout="column"
      fxLayoutGap="1em">
      <span class="mat-title">
        {{'general.please' | translate}} {{'buttons.standard.login' | translate}}...
        <!--Please login...-->
      </span>
      <app-login-button></app-login-button>
      <button 
        mat-raised-button
        [disabled]="(a.loginStatus$ | async)"
        (click)="cs.do('loginDialog', { tabIndex: 1 })">
        {{'buttons.standard.register' | translate}}
      </button>
    </div>
  </div>

</section>
