
.thumbs-all-toolbar {
    z-index: 1; /* changed from 100 */
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 135px;
    background: rgba(#efefef, 0.7);
    /* border: 1px solid rgba(#fff, 0.4) */;

    padding-top: 5px;
    .mat-icon-button {
        height: 30px;
        line-height: 30px;
        z-index: 10;
    }
}

.overflow {
    font-size: 1rem;
    font-weight: bold;
    height: 30px;
    color: rgba(#fff, 0.5);
    background: rgba(0,84,150, 0.7);
    border-radius: 50%;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    margin: 7px 5px 0 5px;
}

.mute-all-icon {
    margin-top: 0;
    /*
    .mat-icon {
        color: rgba(0,84,150, 1);
    }
    */
}

.placeholder {
    height: 35px;
}
