
<div
  *ngIf="tms.getThumbsTotalWidth() > 0 || tms.viewModeGet() === 'multi' || tms.viewModeGet() === 'galery'"
  class="thumbs-all-toolbar"
  [ngStyle]="{ 'right.px': tms.getThumbsTotalWidth() }"
  fxLayout="column"
  fxLayoutAlign="start center">

  <button
    class="mute-all-icon"
    mat-icon-button
    matTooltip="Show/collapse video thumbnails"
    [disabled]="tms.getRestCount() > 0"
    (click)="toggleShowThumbs()">
    <mat-icon>{{ tms.getCollapseMode() ? 'arrow_back_ios': 'arrow_forward_ios' }}</mat-icon>
  </button>

  <button
    class="mute-all-icon"
    mat-icon-button
    matTooltip="Mute all participants"
    [disabled]="false"
    (click)="toggleMuteAudio()">
    <mat-icon>{{ audioState ? 'volume_up': 'volume_off' }}</mat-icon>
  </button>

  <div 
    *ngIf="tms.getRestCount() > 0; else noOverflow"
    class="overflow">
    {{ tms.getRestCount() }}+
  </div>

  <ng-template #noOverflow>
    <div class="placeholder"></div>
  </ng-template>

</div>

