
<ng-container
*ngIf="avatarURL; else dummyAvatar">
<img
  class="avatarIcon"  
  [src]="avatarURL"
  style="width:58px"
  matTooltip="click to edit avatar"
  [matMenuTriggerFor]="appMenu">
</ng-container>

<ng-template #dummyAvatar>
<img
  class="avatarIcon"
  [src]="avatar.avatarArr[0]"
  style="width:58px"
  matTooltip="click to edit avatar"
  [matMenuTriggerFor]="appMenu">
</ng-template>

<mat-menu #appMenu="matMenu">
<mat-list class="avatarIconList">
  <mat-list-item *ngFor="let a of avatar.avatarArr">
    <img 
      [src]="a" 
      style="width:58px"
      (click)="setAvatar(a)">
  </mat-list-item>
</mat-list>
</mat-menu>
