<!--<pre>{{ fileToUploadArray | json }}</pre><br>
disabled: {{ disabled}}<br>
maxFileCount: {{ maxFileCount}}<br>
fileToUploadArray: {{ fileToUploadArray.length }}<br>
lessFilesAlert: {{ lessFilesAlert }}<br>-->

<div
    #dropZone
    fxLayout="row" 
    fxLayoutAlign="start center"
    id="default"
    [attr.data-dragdrop-allowed]="disabled ? 'disallowed' : 'allowed'"
    (click)="disabled ? '' : fileUploadId.click()"
    class="upload-area upload-trigger-pane mat-caption"
    [ngClass]="{ 'isDragOver': dragOverStatus, 'isDisabled': disabled, 'session-mode': layout === 'session', 'standalone-mode': layout === 'standalone', 'session-mobile-mode': layout === 'session-mobile' }">

    <ng-container *ngIf="(!disabled && fileToUploadArray.length === 0) else isDisabled">
        <ng-container
            *ngIf="!lessFilesAlert else lessFilesAlertMsg">
            {{ (layout !== 'session-mobile' ? 'media.for-uploading' : 'media.for-uploading-session') | translate }}
        </ng-container> 
        <ng-template #lessFilesAlertMsg>
            <span 
                class="mat-caption warn-message"
                [innerHTML]="'media.not-more-than-max' | translate:{maxFileCount:maxFileCount}">
                <!--Do not chose more than {{ maxFileCount }} files at once!-->
            </span>
        </ng-template>
    </ng-container>
    <ng-template #isDisabled>
        <span 
            class="mat-caption doEllipsis upload-disabled">
            {{'media.upload-is-disabled' | translate}}
        </span>
    </ng-template>

    <span fxFlex></span>

    <!-- remote control for file input-->
    <button
        [disabled]="disabled || fileToUploadArray.length > 0"
        mat-icon-button>
        <mat-icon>
            cloud_upload
        </mat-icon>
    </button>

    <div class="fileContainer">
        <input 
          #fileUploadId 
          id="fileUploadId" 
          type="file" 
          name="file" 
          multiple 
          (change)="selectAndUpload($event)">
    </div>
</div>

<div
    *ngIf="true"
    fxLayout="column"
    class="upload-progress-area">
    <!--<pre style="font-size: 9px">{{ tagsSelectedIds | json}}</pre>-->
    <div 
        *ngFor="let item of fileToUploadArray; first as isFirst"
        class="upload-progress-item">
        <app-upload-item 
            [inputFileObj]="item" 
            [user]="user" 
            [tags]="tagsSelectedIds"
            (uploadStatus)="uploadStatusEvents($event)"></app-upload-item>
    </div>
</div>



