@import '/src/vars.scss';

/* upload area */
.upload-area {
    padding: 0.2rem 0.4rem 0.2rem 1rem;
    margin: 0 0 0.5rem 0;
    border: 1px solid;
    border-color: lightgrey;
    border-right: none;
    border-radius: 0.3rem;
    &:not(.session-mobile-mode) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &.session-mobile-mode {
        margin: 0;
        border-right: 1px solid lightgrey;
        cursor: pointer;
    }

    &.dragEnter {
        background-color: $primary-color;
        color: $grey-light;
    }

    &:hover {
        /* padding: 0.2rem 0.4rem; */
        background-color: aquamarine;
    }

    .tag-label {
        padding: 0.2rem;
        background: aquamarine;
        border-width: 1px;
        border-radius: 0.1rem;
        border-color: lightgray;
        border-style: solid;
    }

    &.isDisabled {
        background: orange;
    }

    .upload-trigger-pane {
        cursor: pointer;
    }

    .upload-disabled {
        cursor: not-allowed;
    }
}

.upload-progress-area {
    padding: 0.2rem 0 0.2rem 0;
    margin: 0;
    border-right: none;
    border-radius: 0.3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
    overflow: hidden;
}

.upload-progress-item {
    width: auto;
}

.isDragOver {
    background-color: aquamarine;
}

/* defacto hide this element */
#fileUploadId {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}