
<div
*ngIf="!deviceService.isMobile()"
class="infoNavigation"  
fxLayout="row"
fxLayoutAlign="start center"
fxLayoutGap="0.5rem">
  <a mat-button href="http://info.doozzoo.com" target="_blank">
    {{'buttons.navigation.info' | translate}}
  </a>
  <a mat-button href="https://info.doozzoo.com/#features" target="_blank">
    {{'buttons.navigation.features' | translate}}
  </a>
  <a mat-button href="https://info.doozzoo.com/#pricing" target="_blank">
    {{'buttons.navigation.pricing' | translate}}
  </a>
  <a mat-button href="http://info.doozzoo.com/blog" target="_blank">
    {{'buttons.navigation.blog' | translate}}
  </a>
  <a fxHide fxHide.gt-xs="false" mat-button href="https://doozzoo.freshdesk.com/support/home" target="_blank">
    {{'buttons.navigation.faq' | translate}}
  </a>
</div>

<div
  *ngIf="deviceService.isMobile()"
  class="infoNavigationMobile"  
  fxLayout="row"
  fxLayoutAlign="start center">
  <a mat-button href="http://info.doozzoo.com" target="_blank">
    {{'buttons.navigation.info' | translate}}
  </a>
  <a mat-button href="https://info.doozzoo.com/#features" target="_blank">
    {{'buttons.navigation.features' | translate}}
  </a>
  <a mat-button href="https://info.doozzoo.com/#pricing" target="_blank">
    {{'buttons.navigation.pricing' | translate}}
  </a>
  <a mat-button href="http://info.doozzoo.com/blog" target="_blank">
    blog
  </a>
  <!--
  <a fxHide fxHide.gt-xs="false" mat-button href="https://doozzoo.freshdesk.com/support/home" target="_blank">
    {{'buttons.navigation.faq' | translate}}
  </a>
  -->
</div>