
/* = mat-title: */
a {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}
.infoNavigation {
    background: rgba(255,255,255,0.2);
    border-radius: 0.4rem;
    padding: 0 0.2rem;
    border: 1px solid rgba(0,0,0,0.05); 
    margin-right: 1rem;
}
.infoNavigationMobile {
    font-size: 1rem;
    background: rgba(255,255,255,0.2);
    border-radius: 0.4rem;
    padding: 0 0rem;
    border: 1px solid rgba(0,0,0,0.05); 
    margin-right: 1rem;
}
