
<!-- student registration success -->
<!--<p 
  *ngIf="usr.role === 0 && !(usr.userActions === 'coachRequestPending' || usr.userActions === 'inviteComplete')" 
  class="successMessage student"
  [innerHTML]="'profile.you-successfully-registered-student' | translate">
</p>-->

<!-- success invite complete-->
<!--<p 
  *ngIf="usr.userActions === 'inviteComplete'" 
  class="successMessage student"
  fxLayout="column">
  <span style="margin-bottom: 1em"
  [innerHTML]="'profile.you-successfully-connected-to-coach' | translate"></span>
  <button 
      mat-raised-button
      color="primary"   
      [routerLink]="['/mycoaches']">
      {{'profile.visit-my-coaches' | translate}}
    </button>
</p>-->

<ng-container
  *ngIf="(vm$ | async) as vm">

  <p 
    *ngIf="vm.state.role === 0 && vm.profileType === 'student'" 
    class="successMessage student"
    [innerHTML]="'profile.you-successfully-registered-student-edit' | translate: {nickname: vm.state.nickName}">
  </p>

  <ng-container 
    *ngIf="inviteStatus">
    <p 
      class="successMessage invitedStudent"
      [innerHTML]="'invite.fill-in-profile' | translate:{ nickname: inviteStatus?.nickname }">
      <!-- Hello, you have been invited by coach "{{ dp?.nickname }}".<br>
      Please register or login below, to directly join your coach's lessons. -->
    </p>
  </ng-container>

  <form 
    name="profileFormCustomer"
    [formGroup]="profileForm"
    (ngSubmit)="saveProfile()"
    fxLayout="column">

    <div class="formRow" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex="50" fxFlexFill>
        <input 
          matInput
          name="firstname"
          placeholder="{{'forms.firstname' | translate}}" 
          formControlName="firstname"
          required>
        <mat-error *ngIf="profileForm.get('firstname').errors">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50" fxFlexFill>
        <input 
          matInput
          name="lastname"
          placeholder="{{'forms.lastname' | translate}}" 
          formControlName="lastname"      
          required>
        <mat-error *ngIf="profileForm.get('lastname').errors">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>
    
    <div class="formRow" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="10" fxFlexFill>
          <app-avatar 
            *ngIf="userId !== null" 
            [userId]="vm.state.userId" 
            [avatarURL]="avatarURL">
          </app-avatar>
        </div>
      <mat-form-field fxFlex="45" fxFlexFill>
        <input 
          matInput
          placeholder="{{'forms.nickname' | translate}}" 
          formControlName="nickname"
          minlength="4"
          required>
        <mat-error *ngIf="profileForm.get('nickname').errors">{{'forms.required' | translate}} and {{'forms.at-least-4' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="45" fxFlexFill>
        <input 
          matInput
          placeholder="E-mail" 
          formControlName="email"
          disabled     
          required>
          <mat-error *ngIf="profileForm.get('email').errors">{{'forms.valid-email' | translate}}</mat-error>
      </mat-form-field>
    </div>

    <div class="formRow padding" fxLayout="row" fxLayoutAlign="start center">
      <!-- TODO: issues to integrate with reactive forms -->
      <mat-checkbox 
        required
        name="dataApproval"
        formControlName="dataApproval">
      </mat-checkbox>

      <span 
        style="margin-left: 1em"
        [innerHTML]="'forms.accept-terms-conditions' | translate">
        <!--Please click here to accept our <a href="https://info.doozzoo.com/terms-conditions/" target="_blank">terms & conditions</a> and press "save profile" below to start using doozzoo.-->
      </span>
    </div>

    <button
      name="profileFormCustomerSubmit" 
      [disabled]="!profileForm.valid || !profileForm.dirty"
      mat-raised-button
      color="primary">
      {{'buttons.standard.submit' | translate}}
    </button>

  </form>
</ng-container>

