<!-- start of wrapper -->
<div
  fxLayout="row"
  class="moduleContainerWrapper"
  fxLayoutAlign="center center"
>
  <!-- column container for modules -->
  <div
    class="moduleContainer"
    fxLayout="column"
    fxFlex="80"
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayoutGap="1em"
  >
    <div class="fxContent mat-elevation-z2 padding16" fxLayout="column">
      <h2>
        {{'testdrive.headline' | translate}}
        <!--Your doozzoo test drive for free-->
      </h2>
      <span class="mat-title"
        [innerHTML]="'testdrive.description' | translate">
        <!--Wanna test drive all features? Click the button below and test drive in
        3 simple steps:-->
      </span>

      <span class="mat-title">
        <ul class="list-123">
          <li><mat-icon class="iconVerticalAlignBaseline">looks_one</mat-icon> {{'testdrive.start-session' | translate}} </li>
          <li><mat-icon class="iconVerticalAlignBaseline">looks_two</mat-icon> {{'testdrive.share-url' | translate}} </li>
          <li><mat-icon class="iconVerticalAlignBaseline">looks_3</mat-icon> {{'testdrive.testpartner-opens-link' | translate}} </li>
        </ul>
      </span>

      <!--<span class="mat-title">{{'testdrive.you-can-test-now' | translate}}.</span>-->

      <!-- compatibility START-->
      <!--<ng-container
        *ngIf="deviceInfo.browser.toLowerCase() !== 'chrome' &&
            deviceInfo.browser.toLowerCase() !== 'firefox';
          else compatible">
        <span class="mat-title">{{'testdrive.compatibility-check' | translate}}:</span>
        <span>
          <mat-icon style="color:red" class="iconVerticalAlignBaseline">warning</mat-icon>
          {{'testdrive.compatibility-description' | translate}}
        </span>
      </ng-container>

      <ng-template #compatible>
        <span class="mat-title">
          <mat-icon style="color:green" class="iconVerticalAlignBaseline"
            >check_box</mat-icon>
          {{'testdrive.fully-compatible' | translate}}
        </span>
      </ng-template>-->
      <!-- compatibility END-->

      <app-tango-button 
        fxFlex="70"
        buttonConfig="default">
      </app-tango-button>
      <span class="mat-caption" [innerHTML]="'testdrive.hint' | translate">
        <!--Hint: Test drive is <strong>limited in time</strong> and
        <strong>doozzoo cloud</strong> functions are disabled.-->
      </span>

      <div class="spacer"></div>
      <div class="spacer"></div>

      <span class="mat-title no-margin">{{'testdrive.hint-headline' | translate}}</span>
      <ul class="list-hints" [innerHTML]="'testdrive.hint-content' | translate"></ul>

      <div class="spacer"></div>

      <span class="mat-title no-margin">{{'testdrive.compatibility-headline' | translate}}</span>
      <ul class="list-hints" [innerHTML]="'testdrive.compatibility-content' | translate"></ul>
      <span [innerHTML]="'testdrive.knowledgebase-hint' | translate"></span>

    </div>
  </div>
</div>

<app-footer></app-footer>
