.pdf-wrapper {
    max-width: calc(90vw - 50px);
    max-height: calc(90vh - 50px);
    /* overflow: scroll; */
    position: relative;
    top: 40px;
    left: 0;
}
.mat-spinner {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    z-index: 10;
}
.pdf-viewer {
    display: block;
}

.pdf-controls {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 10;
    background-color: rgba($color: #000000, $alpha: 0.6);
    width: 100%;

    .mat-icon-button,
    .controls-label 
    {
        color: rgba($color: #ffffff, $alpha: 0.6);   
    }
}
