<!--progress spinner-->
<mat-spinner 
  class="mat-spinner"
  *ngIf="localProgress"
  diameter="80">
</mat-spinner>

<div 
  class="pdf-controls"
  fxLayout="row"
  fxLayoutAlign="start center">

  <!-- paginate -->

  <button 
    mat-icon-button
    [disabled]="page === 1 || disableControlls"
    (click)="doPaginate(-1)">
    <mat-icon>
      arrow_back_ios
    </mat-icon>
  </button>

  <span class="controls-label noUserSelect">Page {{ page }} of {{ numPages }}</span>

  <button 
    mat-icon-button
    [disabled]="page === numPages || disableControlls"
    (click)="doPaginate(+1)">
    <mat-icon>
        arrow_forward_ios
    </mat-icon>
  </button>

  <!-- zoom -->
  <button 
    mat-icon-button
    [disabled]="disableControlls"
    (click)="doZoom(-0.1)">
    <mat-icon>
      remove_circle_outline
    </mat-icon>
  </button>
  <button 
    mat-icon-button
    [disabled]="disableControlls"
    (click)="doZoom(+0.1)">
    <mat-icon>
      add_circle_outline
    </mat-icon>
  </button>
  <span class="mat-caption controls-label noUserSelect" *ngIf="disableControlls">Controls disabled</span>
</div>
<div class="pdf-wrapper">

  <!-- <pre style="font-size:10px;">{{ window | json }}</pre> -->

  <pdf-viewer 
    class="pdf-viewer"
    [src]="pdfSrc"
    [show-all]="false" 
    [page]="page"
    [zoom]="zoom"
    [render-text]="true"
    [autoresize]="false"
    [original-size]="true"
    (after-load-complete)="loadComplete($event)">
  </pdf-viewer>
</div>
