<!-- start of wrapper -->

<div
  fxLayout="row"
  class="moduleContainerWrapper"
  fxLayoutAlign="center center">
  
  <div
    class="moduleContainer"
    fxLayout="column"
    fxFlex="80"
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayoutGap="1rem">

    <div fxLayout="row">
      <button 
        style="margin: 1rem 0 0 1rem;"
        mat-button
        [routerLink]="'/home'">
        {{'buttons.standard.back-to-home' | translate}}
      </button>
    </div>

    <div
      class="fxContent mat-elevation-z2 padding16"
      fxLayout="column"
      fxLayoutGap="0.5rem">

      <ng-container *ngIf="(mergedRoomObs | async) as roomData; else waiting">

        <h2>{{'room.waitingroom.headline' | translate}} <span style="font-weight: bold"> - {{ roomData.roomToken }}</span></h2>
        
        <!--<pre>mergedRoomObs: {{ roomData | json }}</pre>-->

        <!-- lock -->
        <p *ngIf="roomData.roomLocked; else notLocked">{{'room.waitingroom.session-room-is-locked' | translate}} <mat-icon class="lock locked">lock</mat-icon></p>
        <ng-template #notLocked>
          <p>{{'room.waitingroom.session-room-is-open' | translate}} <mat-icon class="lock unlocked">lock_open</mat-icon></p>
        </ng-template>

        <div class="spacer"></div>

        <app-registered-wait 
          *ngIf="roomData.role > -1; else anonymous"
          [waitingroomData]="roomData">
        </app-registered-wait>

        <ng-template #anonymous>
          <app-anonymous-wait 
            [waitingroomData]="roomData">
          </app-anonymous-wait>

          <div class="spacer"></div>
          <p class="textcenter">...{{'general.or' | translate}}...</p>
          <div class="spacer"></div>
         
          <p>
            {{'room.waitingroom.login-first-to-join-registered' | translate}}
            <!--Please <u>login first</u>, to join the session as <strong>Registered</strong> doozzoo user.-->
          </p>
          <app-login-button layout="singleDefault"></app-login-button>

        </ng-template>

      </ng-container>

      <ng-template #waiting>
        <p>{{'general.wait-a-sec' | translate}}</p>
        <mat-progress-bar 
          class="localProgressBar"
          mode="indeterminate">
        </mat-progress-bar>
      </ng-template>  
    
    </div>

  </div>

</div>

<app-footer></app-footer>


