
<ng-container *ngIf="active; else passive">
  <div 
    fxLayout="column" 
    class="mat-caption menu-trigger"
    [ngClass]="{ 'role-mismatch': !(roleMatch | async) }"
    [matTooltip]="'edu.create-accounts.edit-roles' | translate"
    [matMenuTriggerFor]="appMenu">
    <span class="role student" *ngIf="role === 0">{{'general.roles.student' | translate}}</span>
    <span class="role coach" *ngIf="role === 1">{{'general.roles.coach' | translate}}</span>
    <span class="role admin" *ngIf="role === 3">{{'general.roles.admin' | translate}}</span>
  </div>
</ng-container>
<ng-template #passive>
  <div 
    fxLayout="column" 
    class="mat-caption">
    <span class="role student" *ngIf="role === 0">{{'general.roles.student' | translate}}</span>
    <span class="role coach" *ngIf="role === 1">{{'general.roles.coach' | translate}}</span>
    <span class="role admin" *ngIf="role === 3">{{'general.roles.admin' | translate}}</span>
  </div>
</ng-template>

<mat-menu 
    #appMenu="matMenu">

    <ng-container *ngIf="!(roleMatch | async)">
        <button
            mat-menu-item
            class="repair-menu-button"
            (click)="doRepairRole()">
            do Repair
        </button>
    </ng-container>

    <button
      mat-menu-item
      [disabled]="role === 0"
      (click)="doSelectRole(0)">
      {{'general.roles.student' | translate}}
      <mat-icon *ngIf="role === 0">check</mat-icon>
    </button>

    <button
      mat-menu-item
      [disabled]="role === 1"
      (click)="doSelectRole(1)">
      {{'general.roles.coach' | translate}}
      <mat-icon *ngIf="role === 1">check</mat-icon>
    </button>

</mat-menu>
