
.menu-trigger {
    cursor: pointer;
}

.role {
    margin: 0.2rem;
    border-radius: 0.2rem;
    &.student {
        background: lightgreen;
    }
    &.coach {
        background: orange;
    }
}

.role-mismatch>span {
    background: red;
    color: #fff;
    text-decoration: line-through;
}

.repair-menu-button {
    background: red;
    color: #fff;
    &:hover {
        background: darkred !important;
    }
}
