<!--  nothing to say today-->
<router-outlet></router-outlet>
<!-- cookie hint component -->

<app-button-iframe [url]="'https://doozzoo.freshdesk.com'"></app-button-iframe>

<!--<app-cookie-hint></app-cookie-hint>-->

<ng-container *ngIf="rootDebug">
    <div class="generic-debug center">
      <pre>usr$:
{{ a.usr$ | async | json }}
loginStatus$: {{ a.loginStatus$ | async }}
isEdu: {{ (a.isEdu$ | async) }}
perm 0,1,2,3 -> {{ a.perm([0]) | async }}, {{ a.perm([1]) | async }}, {{ a.perm([2]) | async }}, {{ a.perm([3]) | async }}
gas: {{ gas.eventFilter }}
      </pre>  
    </div>
</ng-container>

<ng-container *ngIf="accountDebug">
  <div class="generic-debug left">
    <pre>{{ accountStore.vm$ | async | json }}</pre>
  </div>
</ng-container>