p {
  font-family: Lato;
}


#rootDebug,
#audioDebug 
{
  font-size: .6rem;
  position: fixed;
  top: 0;
  right: 0;
  background: 
  rgba(255,255,255,.8);
  padding: .5rem;
  max-width: 15rem;
  z-index: 20000;
}