
#listInviteLinks {
    list-style: none;
    padding: 0;
}

#listInviteLinks li {
    border-bottom: 1px solid #efefef;
    padding: 8px 0;
}

.inviteLink {
    margin-right: 1em;
}

.inviteLinkStatus {
    margin-right: 1em;
}