  <!-- legacy invite mechanism -->
  <div class="spacer"></div>
  <p class="mat-title">{{'my-students.tab-invite&connect.tab' | translate}}</p>

  <ng-container *ngIf="false">
    stripePlan: {{ (stripePlan | async) * 5 }}<br>
    students: {{ students | async | json }}<br>
    students size: {{ (students | async)?.length }}<br>
    inviteList: {{ inviteList | async }}<br>
  </ng-container>

  <ng-container *ngIf="!betatester; else betatester">
    <ng-container *ngIf="((stripePlan | async) * 5) > (students | async)?.length; then invite else planexeeded"></ng-container>
  </ng-container>
  <ng-template #betatester>
    <ng-container *ngIf="betatester then invite"></ng-container>  
  </ng-template>

  <ng-template #planexeeded>
    <div fxLayout="column">
      <p class="warnMessage">
        Please note, you reached the limited number of possible students of your plan.<br>
        Your actual plan allows not more than {{ (stripePlan | async) * 5 }} students!<br>
        Click below to upgrade your plan!
      </p>
      <button
        mat-raised-button 
        color="primary"
        [routerLink]="'/login'">
        Upgrade plan
      </button> 
    </div>
  </ng-template>

  <ng-template #invite>

    <ng-container *ngIf="layout === 'institution'; else defaultWelcome">
      <p [innerHTML]="'my-students.tab-invite&connect.description-institution' | translate">
        <!-- Create an invite link and send it to your students, via e.g. E-mail or whatsapp.<br> 
        The invited student has 1. to open the link, 2. to sign in and 3. to fill out his profile.<br> 
        Then your student is connected with his coach and can directly visit his meeting room and join his lessons. -->
      </p>
    </ng-container>
    <ng-template #defaultWelcome>
      <p [innerHTML]="'my-students.tab-invite&connect.description-default' | translate">
        <!--Create an invite link and send it to your students, via e.g. E-mail or whatsapp.<br> 
        The invited student has 1. to open the link, 2. to sign in and 3. to fill out his profile.<br> 
        Then your student can directly visit your meeting room.-->
      </p>
    </ng-template>
    

    <div 
      *ngIf="inviteList | async as il"
      fxLayout="column">

      <ul id="listInviteLinks">
        <li 
          *ngFor="let item of il" 
          fxLayout="row" 
          fxLayoutAlign="space-between center"
          style="border-bottom: 1px solid #efefef">

            <span class="inviteLink">{{tld + item.key}}</span>
            
            <button 
              mat-icon-button 
              color="primary"
              (click)="c.copyToClipboard(tld + item.key); snackBar.open( 'Invite link was copied to clipboard','', { duration: 4000 })">
              <mat-icon>content_paste</mat-icon>
            </button>

            <span style="flex: 2"></span>

            <mat-slide-toggle
              class="inviteLinkStatus"
              [checked]="item.active"
              [labelPosition]="'before'"
              (change)="toggleLinkStatus(item.key, $event)"
              matTooltip="did you send out this link already?">
              <span *ngIf="item.active">
                {{'my-students.tab-invite&connect.link-send' | translate}}
                <!--Link send-->
              </span>
            </mat-slide-toggle>

            <button 
              mat-stroked-button 
              color="primary"
              (click)="remove(item.key)">
              {{'buttons.standard.remove' | translate}}
              <!--Remove-->
            </button>

        </li>
      </ul>

    </div>

    <div fxLayout="column">
      <button
        name="createInviteLink" 
        mat-raised-button 
        color="primary"
        [disabled]="!(a.usr$ | async)"
        (click)="createInviteLink()">
        {{'my-students.tab2.create-invite-link' | translate}}
        <!--Create invite link-->
      </button>
    </div>
    
  </ng-template>
  