/*      */
.blockImageRight {
    img.institution-keyvisual {
        height: 100px;
    }
}

.welcomeHeadline {
    text-align: center;
}

/* blockLogoRightImageBottom */
.blockLogoRightImageBottom {
    .institution-keyvisual {
        width: 100%;
        height: auto;
    }
}

/* homeWelcomeLogo */
.homeWelcomeLogo {
    .institution-logo {
        width: 80%;
        height: auto;
    }  
    margin-bottom: 2rem;  
}