
<ng-container *ngIf="(institution | async) as inst">

  <ng-container *ngIf="layout === 'blockImageRight'">
    <div 
      class="fxContent mat-elevation-z2 padding16 blockImageRight"
      fxLayout="column" 
      fxLayoutGap="0">
        <div fxLayout="row">
          <div fxLayout="column">
            <span class="mat-headline">{{ inst.name }}</span> 
            <span [innerHTML]="inst.description"></span>
          </div>
          <span fxFlex="auto"></span>
        <img class="institution-keyvisual" *ngIf="inst.keyvisual" [src]="inst.keyvisual">
        </div>
    </div>
  </ng-container>

  <ng-container *ngIf="layout === 'blockLogoRightImageBottom'">
    <div 
      class="fxContent mat-elevation-z2 padding16 blockLogoRightImageBottom"
      fxLayout="column" 
      fxLayoutGap="1rem">

        <div 
          fxLayout="row"
          fxLayoutAlign="center center">
          <div fxLayout="column">
            <span class="mat-headline">{{ inst.name }}</span> 
            <span [innerHTML]="doSafeHtml(inst.description)"></span>
          </div>
          <span fxFlex="auto"></span>
          <img class="institution-logo" *ngIf="inst.keyvisual" [src]="inst.logo">
        </div>

        <div fxLayout="row">
          <img class="institution-keyvisual" *ngIf="inst.keyvisual" [src]="inst.keyvisual">
        </div>

    </div>
  </ng-container>

  <ng-container *ngIf="layout === 'blockNoImage'">
    <div 
      class="fxContent mat-elevation-z2 padding16 blockNoImage"
      fxLayout="column" 
      fxLayoutGap="0">
        <span class="mat-title">{{ inst.name }}</span> 
        <span [innerHTML]="inst.description"></span>          
    </div>
  </ng-container>

  <ng-container *ngIf="layout === 'homeWelcome'">
    <div 
      class="homeWelcome"
      fxLayout="column" 
      fxLayoutAlign="center center"
      fxLayoutGap="1rem">
        <h2 class="welcomeHeadline">
          Willkommen bei der {{ inst.name }}
        </h2>  
    </div>
  </ng-container>

  <ng-container *ngIf="layout === 'homeWelcomeTitleLogo'">
    <div 
      class="homeWelcomeLogo"
      fxLayout="column" 
      fxLayoutAlign="center center"
      fxLayoutGap="1rem">
        <h2 class="welcomeHeadline">
          Herzlich willkommen bei
        </h2> 
        <img class="institution-logo" *ngIf="inst.logo" [src]="inst.logo"> 
    </div>
  </ng-container>

  <ng-container *ngIf="layout === 'homeWelcomeLogo'">
    <div 
      class="homeWelcomeLogo"
      fxLayout="column" 
      fxLayoutAlign="center center"
      fxLayoutGap="1rem">
        <img class="institution-logo" *ngIf="inst.logo" [src]="inst.logo"> 
    </div>
  </ng-container>

</ng-container>



