

button {
    margin-right: 1rem;
}
.session-time {
    margin-right: 1rem;
    font-size: 14px;
    span {
        margin: 0 1rem 0 0.5rem;
    }
}
.session-time-tooltip {
    position: absolute;
    bottom: 70px;
    max-width: 300px;
}
.session-time-tooltip > .content {
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    background: #efefef;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    z-index: 100;
    color: #333;
}
.session-time-tooltip > .content .inner-content {
    padding: 0 0 0.5rem 0;
}
.session-time-tooltip > .content mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
}
.session-time-tooltip > .arrow {
    z-index: 99;
    position: absolute;
    bottom: -15px;
    left: 10px;
}
.session-time-tooltip > .close {
    position: absolute;
    top: -6px;
    right: -6px;
}
.close button {
    margin: 0;
    color: #000;
}