
<!--<button 
  *ngIf="(a.perm([-1,1,2]) | async)"
  name="session-time"
  mat-icon-button 
  (click)="showStatus()"
  (mouseleave)="hoverState = false"
  (mouseenter)="showStatus()">
  <mat-icon aria-label="clipboard">history</mat-icon>
</button>-->

<div
    class="session-time"
    [ngClass]="{'blink': minutesAvailable < 10 }"
    (click)="doShowTooltip()"
    (mouseleave)="hoverState = false"
    (mouseenter)="doShowTooltip()"
    fxLayout="row" 
    fxLayoutAlign="center center">
    <mat-icon>history</mat-icon>
    <span>{{ minutesAvailable }}&nbsp;min.</span>
</div>

<div 
  *ngIf="showTooltip"
  class="session-time-tooltip">
  <div 
    fxLayout="column"
    class="content">
    
    <div class="inner-content">
        <span [innerHTML]="'plan.session-time.content' | translate: { minutesAvailable:minutesAvailable, plan: plan }">
            <!--You have {{minutesAvailable}} minutes left in your plan "{{plan}}". Go to "Profile" to upgrade or click below-->
        </span>
    </div>
    <a 
        mat-raised-button
        color="primary"
        (click)="doStopSession()">
        {{'plan.session-time.upgrade-plan' | translate}}
    </a>

  </div>
  <div class="arrow">
      <svg 
        viewBox="0 0 200 100"
        fill="#efefef" 
        style="width: 15px; height: 15px;">
          <path d="
              M 0,0 
              l 200,0 
              l -100,100 
              Z
            " />        
        </svg>
  </div>
  <div class="close">
    <button 
      mat-icon-button
      (click)="doClose()">
      <mat-icon aria-label="close">close</mat-icon>
    </button>
  </div>
</div>