
<!--<pre style="font-size: 9px">archivings: {{ archivings$ | async | json }}</pre>-->

<div mat-dialog-title>
    <button class="dialog-close" mat-icon-button mat-dialog-close tabindex="-1">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="dialog-content">
    <ng-container *ngIf="(archivings$ | async)?.archives as archives; else waiting">
        <span class="mat-title">{{'media.archiving.fallback-popup.headline' | translate}}</span><br>
        <span>{{'media.archiving.fallback-popup.description' | translate}}.</span>
        <mat-action-list>
            <a mat-list-item 
                style="text-decoration: none;"
                [href]="archive.url"
                target="_blank"
                *ngFor="let archive of archives"
                matTooltip="{{'media.archiving.fallback-popup.tooltip' | translate}}"
                >
                <mat-icon matListIcon>ondemand_video</mat-icon>
                <p matLine>
                    <span>{{ archive.createdAt | date:'medium' }}</span>
                </p>
            </a>
        </mat-action-list>
    </ng-container>
    <ng-template #waiting>{{'general.wait-a-sec' | translate}}</ng-template>
</div>



  
