.publisher {
    background: rgba(255,255,255,0.3);
}

.buttonVideoToggle button {
    position: absolute;
    top: 3rem;
    left: 16px;
    z-index: 100;
    background: rgba(255,255,255,0.3);
    color: #fff;
}

.buttonVideoToggle {
    background: transparent;
}

.buttonVideoToggle:not(.hero) {
    display: none;
}

/* audio settings sidenav button */
.publisher-more-wrapper {
    position: absolute;
    /* bottom: 5rem; */
    top: 7rem; // pos 2 -> 
    left: 16px;
    z-index: 100;
    span {
        margin-left: 0.5rem;
        color: green;
        &:hover {
            color: rgba($color: orange, $alpha: 0.8);
        }
    }
    cursor: pointer;
}
.publisher-more {
    background: rgba(0, 0, 0, 0.7);
    color: green;
    border: 1px solid rgba($color: green, $alpha: 0.4);
    &:hover {
        border-color: rgba($color: orange, $alpha: 0.8);
    }
}