
<p>test works!</p>

<div 
    style="background: #fff; padding: 1rem;"
    fxLayout="column" 
    fxLayoutGap="1rem">

    <app-waiting-participants userId="2X1ZM44k8lXX6t2w1X17fx76DPK2"></app-waiting-participants>

    <!--
    keyArr: {{ keyArr | json }}<br>

    <span>isWaiting</span>
    <pre style="font-size: 9px;">{{ isWaiting | async | json }}</pre>
    <hr>
    <span>inSession</span>
    <pre style="font-size: 9px;">{{ inSession | async | json }}</pre>
    <hr>
    <span>notInSession</span>
    <pre style="font-size: 9px;">{{ notInSession | async | json }}</pre>
    <hr>
    -->
</div>
