
<div 
  name="voucher"
  class="fxContent voucherPane"
  fxLayout="column"
  fxFlex="100">

  <!--
  <span>Existing Vouchers:</span>
  <ul>
    <li *ngFor="let item of (vouchers | async)?.data"><pre>{{item.id}} | {{item.name}}</pre></li>
  </ul>
  -->
  <div 
    fxLayout="row"
    fxFlex="100"
    fxLayoutGap="1rem">
    <mat-form-field 
      class="coupon"
      fxFlex="50" 
      fxFlexFill>
      <input 
        matInput
        name="voucherInput"
        placeholder="{{'voucher.enter-and-save' | translate}}"
        [(ngModel)]="voucherToken"
        (ngModelChange)="checkVoucher($event)">

          <mat-icon 
            *ngIf="valResult"
            matSuffix 
            class="iconColor"
            [ngClass]="{ 'green':valResult?.isValid, 'red': !valResult?.valid }">
            {{ valResult?.isValid ? 'check_box' : 'cancel' }} 
          </mat-icon>
          <mat-hint
            name="voucherHint"
            *ngIf="!valResult?.isValid && validVoucherLength(voucherToken) && !progressBar">
            {{'voucher.not-valid' | translate}}
            <!--Your Coupon code is not valid, please check again...-->
          </mat-hint>

    </mat-form-field>
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      fxFlex="50" 
      class="youSave">
      <mat-spinner 
        *ngIf="progressBar"
        diameter="40"
        mode="indeterminate">
      </mat-spinner>
      <span 
        name="voucherName"
        *ngIf="valResult">{{ valResult.name }}</span>
    </div>
  </div> 
</div>