
.voucherPane {
    padding: 0 0.5rem;
}

.youSave span {
    background: lightgreen;
    padding: 0.3rem;
    border-radius: 0.3rem;
    margin-right: 1rem;
    font-size: 1.2rem;
}


.coupon {
    input {
        font-size: 1.5rem;
    }
    .mat-form-field-infix {
        background: blue;
    }
    .mat-hint {
        color: red;   
        font-weight: bold;
    }
}

.iconColor {
    &.green {
        color: green;
    }
    &.red {
        color: red;   
    } 
}