<!-- start of wrapper -->
<!--
<div
  fxLayout="row"
  class="moduleContainerWrapper"
  fxLayoutAlign="center center">
  <div
    class="moduleContainer"
    fxLayout="column"
    fxFlex="80"
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayoutGap="1rem">
  </div>

</div>
-->

<div 
  fxLayout="column"
  class="text-center"
  style="min-height: 100px">
  <h2>{{ 'apps.headline' | translate }}</h2>
  <p class="mat-title" [innerHTML]="'apps.header-paragraph' | translate">
    <!--Use our apps for preparing your sessions or practicing.<br> 
    Maximization and sequence of your apps will be the same in your session.-->
  </p>
</div>

<app-toolbar [toolbarVariant]="'apps'" [isMobile]="isMobile"></app-toolbar>

<app-footer></app-footer>


