<!--
<span style="font-size: 10px; background: rgba(#fff,0.8)">
  sessionState: {{ sessionState | async }};
  publishingState: {{ publishingState | async }}; 
  isSupported: {{ isSupported }};
  screenshareObserver: {{ screenshareObserver | async }} 
</span>
-->
<button 
  class="my-share-button"
  name="startShareScreen"
  mat-icon-button 
  (click)="preparePublish()"
  matTooltip="{{'room.screensharing.tooltip.start-screensharing' | translate}}"
  [disabled]="!sessionState"
  *ngIf="!(publishingState | async)">
  <mat-icon aria-label="go home">screen_share</mat-icon>
</button>

<button 
  class="my-share-button"
  name="stopShareScreen"
  mat-icon-button 
  (click)="stopPublish()"
  matTooltip="{{'room.screensharing.tooltip.stop-screensharing' | translate}}"
  [disabled]="!sessionState"
  *ngIf="(publishingState | async)">
  <mat-icon aria-label="go home">stop_screen_share</mat-icon>
</button>
