
<div 
    cdkDrag
    cdkDragLockAxis="x"
    fxLayout="row"
    fxLayoutAlign="center center"
    *ngIf="(vm$ | async) as vm">

    <section [hidden]="(vm.apps | appPosition:'metronomeId')?.mode !== 'default'">

        <div
            (stopped)="dragOnStop($event)"
            class="apps default mat-elevation-z6">

            <mat-icon class="ng-scope material-icons toggleMode" role="img" (click)="toggleMode()">
                remove_circle_outline
            </mat-icon>

            <!-- drag handle cross arrow -->
            <mat-icon
                cdkDragHandle
                class="drag-handle" 
                role="img">
                open_with
            </mat-icon>

            <div class="app-title">
                <span class="mat-title">
                    {{'apps.metronome.title' | translate}}
                    <!--Metronome MkII-->
                </span>
            </div>

            <div class="flex row space-between align-center">
                
                <button mat-icon-button (click)="doBpm(-1)">
                    <mat-icon md-font-set="material-icons">arrow_downward</mat-icon>
                </button>
                
                <div>
                    <input matInput class="bpmInput" type="text" length="3" min="1" max="500" (change)="changeBpm($event)" [(value)]="bpm" #bpmInput>
                </div>
                
                <button mat-icon-button (click)="doBpm(+1)">
                    <mat-icon md-font-set="material-icons">arrow_upward</mat-icon>
                </button>
                
            </div>

            <div class="flex row space-around align-center beat-row">

                <span class="beat">
                    {{'apps.metronome.beat' | translate}}
                    <!--Beat&nbsp;-->
                </span>

                <mat-form-field class="mat-title beat-input">
                    <mat-select 
                    [disabled]="loading"
                    [(value)]="selectedBeat" 
                    (selectionChange)="selectBeat($event.value)">
                        <mat-option *ngFor="let beat of beats" value="{{beat}}" selected="index === 2">
                        {{beat}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div id="bpm" class="flex row space-around align-center">
                <div>
                    <button 
                        [disabled]="loading || metronomeRunning"
                        mat-mini-fab color="basic" 
                        (mousedown)="tap()">
                        <mat-icon md-font-set="material-icons">fingerprint</mat-icon>
                    </button>
                </div>
                <div>  
                    <button 
                        name="metronome-start"
                        mat-mini-fab color="primary" 
                        *ngIf="!metronomeRunning" 
                        [disabled]="loading"
                        (click)="start()">
                        <mat-icon md-font-set="material-icons">play_arrow</mat-icon>
                    </button>
                    <button 
                        name="metronome-stop"
                        mat-mini-fab color="warn" 
                        *ngIf="metronomeRunning" 
                        [disabled]="loading"
                        (click)="stop()">
                        <mat-icon md-font-set="material-icons">pause</mat-icon>
                    </button>
                </div>
            </div>

            <div 
                class="flex row center align-center" 
                style="padding: 1em 0 0.5em 0"
                mat-tooltip="click bars to set accent and sounds"
                #myCanvasParent>
                <!--<canvas #myCanvas></canvas>-->
                <canvas id="stepLevelCanvas"></canvas>
            </div>

            <div
                fxLayout="row"
                fxLayoutAlign="center center"
                fxLayoutGap="0.5rem">

                <ng-container *ngIf="false">
                    <span flex>Vol</span>
                    <mat-slider min="-50" max="0" [(ngModel)]="metronomeGain.volume.value"></mat-slider>
                </ng-container>

                <ng-container *ngIf="toolbarVariant === 'session'">
                    <app-remote-rings 
                        [remoteStatus]="(sessionStoreVm$ | async)?.remoteStatus"
                        remoteRingsLabel="{{'apps.remote-rings.remote-status' | translate}}"
                        color="#333"
                        [disabled]="!this.isSender"
                        (setRemoteStatus)="setRemoteStatusFn($event)">
                    </app-remote-rings>
                </ng-container>

                <!--<div>  
                    <mat-checkbox
                        name="remote-checkbox"
                        [(ngModel)]="remoteStatus"
                        [disabled]="!showRemoteCheckbox"
                        matTooltip="Edit remote status">
                    </mat-checkbox>
                </div>

                <span
                    *ngIf="remoteStatus; else remoteOff"
                    class="mat-caption remoteCheckbox noUserSelect">
                    {{'apps.metronome.remoteOn' | translate}}
                </span>
                <ng-template #remoteOff>
                    <span
                    class="mat-caption remoteCheckbox noUserSelect">
                    {{'apps.metronome.remoteOff' | translate}}
                </span>
                </ng-template>

                <mat-icon 
                    *ngIf="remoteStatus"
                    class="remoteStatusLocal blink-fast" 
                    color="warn">
                    settings_remote
                </mat-icon>-->

            </div>

        </div>

    </section> 

    <section *ngIf="(vm.apps | appPosition:'metronomeId')?.mode === 'small'">
        <div 
            cdkDragHandle
            fxLayout="row"
            fxLayoutAlign="center center"
            class="apps small mat-elevation-z6">

            <mat-icon class="ng-scope material-icons toggleMode" role="img" (click)="toggleMode()">
                add_circle_outline
            </mat-icon>

            <button name="metronome-start" mat-mini-fab color="primary" *ngIf="!metronomeRunning" (click)="start()">
                <mat-icon md-font-set="material-icons">play_arrow</mat-icon>
            </button>
            <button name="metronome-stop" mat-mini-fab color="primary" *ngIf="metronomeRunning" class="md-fab md-mini md-raised" (click)="stop()">
                <mat-icon md-font-set="material-icons">pause</mat-icon>
            </button>

            <span class="appLabel md-caption">{{'apps.metronome.title' | translate}}</span>

        </div>            
    </section> 

</div>