$grey: #ccc;

#bpm>md-input-container {
	opacity: 1; 
	font-size: 1.6em; 
	margin: 0;

	.md-input { 
		text-align: center; 
		line-height: auto; 
		height: auto; 
		font-family: Quicksand ,sans-serif; 
	}
}

.bpmInput {
	text-align: center;
	font-size: 30px;
}

#subdiv>md-input-container { 
	opacity: 1;
	font-size: 1.6em; 
	margin: 0;

	.md-input { 
		text-align: center; 
		line-height: auto; 
		height: auto; 
		font-family: Quicksand ,sans-serif;  
	}

}

#bpm .label, #subdiv .label {
	font-size:0.6em; 
	font-weight: 200; 
	color: $grey;
} 

.beat-input {
	width: 60px;
}
.beat-row {
	font-size: 20px;
	.mat-form-field {
		font-size: 16px;
		margin: 0;
	}
}
.beat {
	margin-right: 1rem;
}

.mat-caption.remoteCheckbox {
	margin-top: 3px;
}

/* drag drop styles */
.drag-handle {
    position: absolute;
    padding: 0.5rem;
    border-radius: 50%;
    color: rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.1);
    cursor: grab;
    &.cdk-drag-placeholder {
      cursor: grabbing;
    }
    &:hover {
        color: rgba(0,0,0,1);
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drop-list-dragging .apps-container:not(.cdk-drag-placeholder) {
    /* transition: all 0.7s; */
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}