<div 
    cdkDrag
    cdkDragLockAxis="x"
    fxLayout="row"
    fxLayoutAlign="center center"
    class="apps-container"
    *ngIf="(vm$ | async) as vm">

    <section [hidden]="(vm.apps | appPosition:'mixerId')?.mode !== 'default'">

        <div
            class="apps default mat-elevation-z6">

            <mat-icon class="ng-scope material-icons toggleMode" role="img" (click)="toggleMode()">
                remove_circle_outline
            </mat-icon>

            <!-- drag handle cross arrow -->
            <mat-icon
                cdkDragHandle
                class="drag-handle" 
                role="img">
                open_with
            </mat-icon>

            <div class="app-title">
                <span class="mat-title">{{'apps.mixer.title' | translate}}</span>
            </div>

            <div class="flex row center">

                <div
                    fxLayout="column" 
                    class="legend">

                    <div 
                        fxLayout="column">
                        <span class="mat-caption">{{'apps.mixer.source' | translate}}</span>
                        <span class="mat-caption">Vol(dB)</span>
                    </div>

                    <div
                        fxLayout="column"
                        fxLayoutAlign="center center"
                        class="setDelayButton"
                        style="height: 30px; bottom: 146px;" 
                        matTooltipPosition="right"
                        matTooltip="{{'apps.mixer.tooltip.master-delay' | translate}}">

                        <mat-icon 
                            (click)="setMasterDelay(+0.001)" 
                            (dblclick)="setMasterDelay(+0.01)">
                            add_circle_outline
                        </mat-icon>
                        <span class="delayValue">{{ masterDelay | number : '1.3' }}</span>
                        <mat-icon 
                            (click)="setMasterDelay(-0.001)" 
                            (dblclick)="setMasterDelay(-0.01)">
                            remove_circle_outline
                        </mat-icon>

                    </div>

                    <div
                        fxLayout="row"
                        fxLayoutAlign="center" 
                        class="" 
                        style="height:30px; bottom: 60px;">
                        <span class="mat-caption cblabel">{{'apps.mixer.monitor' | translate}}</span>
                    </div>

                    <div 
                        fxLayout="row"
                        fxLayoutAlign="center" 
                        class="" 
                        style="height: 30px; bottom: 40px;">
                        <span class="mat-caption cblabel">{{'apps.mixer.to-class' | translate}}</span>
                    </div>

                    <div 
                        fxLayout="row"
                        fxLayoutAlign="center" 
                        class="" style="height:30px; bottom: 20px;">
                        <span class="mat-caption cblabel">{{'apps.mixer.mute' | translate}}</span>
                    </div>

                </div>

                <app-channelstrip *ngFor="let item of gainNodes" [gainObj]="item" [remoteStatus]="remoteStatus"
                    [isOwner]="isOwner">
                </app-channelstrip>

            </div>

        </div>

    </section>

    <section *ngIf="(vm.apps | appPosition:'mixerId')?.mode === 'small'">
        <div
            cdkDragHandle
            fxLayout="row"
            fxLayoutAlign="center center"
            class="apps small mat-elevation-z6">
            <mat-icon class="ng-scope material-icons toggleMode" role="img" (click)="toggleMode()">
                add_circle_outline
            </mat-icon>

            <mat-icon>speaker</mat-icon>

            <span class="appLabel md-caption">{{'apps.mixer.title' | translate}}</span>

        </div>
    </section>

</div>