
.legend { 
    color: rgb(0,85,150);
    font-size: 12px;
    width: 50px; 
}

.legend>* { 
    position: absolute; 
}

.mixer.green {
    background: lightgreen;
}

.apps.default {
    min-width: 200px;
    width: auto;
}

.mixer.small {
    width: 56px;
    height: 56px;
    transition: all .5s;
}

#tuner md-icon {
    box-sizing: unset; 
}

.setDelayButton mat-icon {
    padding: 0.5rem;
    cursor: pointer;
}

.delayValue {
    font-size: 18px;
    padding: 0.2rem 0;
}

#audioDebug {
  font-size: .6rem;
  position: fixed;
  top: 0;
  right: 0;
  background: 
  rgba(255,255,255,.8);
  padding: .5rem;
  max-width: 15rem;
  z-index: 20000;
}


     
