
<!-- start of wrapper -->
<div fxLayout="row"
  class="moduleContainerWrapper" 
  fxLayoutAlign="center center" 
  fxLayoutGap="1em">

  <!-- column container for modules -->
  <div 
    class="moduleContainer"
    fxLayout="column" 
    fxFlex="60" 
    fxFlex.sm="80"
    fxFlex.xs="100"
    fxLayoutGap="1em">

    <div 
      class="fxContent mat-elevation-z2 padding16"
      fxLayout="column" 
      fxLayoutGap="1em">

      <h1 class="mat-headline">Internal latency compensation</h1>
      <p>Measure and correct the internal latency of your local audio hardware. 
        After the test you can play your instrument along with your doozzoo metronome or audio player. The listeners in the meeting room will hear these two signals in sync. Make sure you are using headphones and you selected "headphone-mode" on page <a href="/presession">Pre session check</a></p>
      <p>Please follow this test-procedure:<br>
        1. Hold one headphone-shell - without wobbling - directly to your active microphone to prevent any disturbing noises during the test.<br>
        2. Start the test procedure. You will hear several clicks. Hold on until the test is finished.<br>
      </p>
      <p>Watch the HowTo Video on youtube:
      <a target="_blank" href="https://youtu.be/1mFGamscFf0">doozzoo latency compensation HowTo</a></p>
  
      <p class="mat-title center status-msg">{{ statusMsg }}</p>
      <div id="waveform" class="waveform" #waveform></div>
      <p name="masterDelay" class="mat-title center">Calculated compensation delay: <strong>{{ delay | number : '1.3' }} sec.</strong></p>
  
      <div 
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutAlign="space-between"
        fxLayoutGap="0.5em">
        <button name="delayTestStart" mat-raised-button class="delayTest mat-primary" (click)="startTest()" [disabled]="testIsRunning || delayCalculated">Start</button>
        <button name="delayTestNoDelay" mat-raised-button class="delayTest" (click)="startTestNoDelay()" [disabled]="!delayCalculated">NO compensation</button>
        <button name="delayTestDelay" mat-raised-button class="delayTest" (click)="startTestDelay()" [disabled]="!delayCalculated">Compensation applied: You should see ONE peak in the waveform.</button>
      </div>
      <button 
        *ngIf="delayCalculated" 
        name="saveDelayQuit" 
        mat-raised-button 
        class="delayTest mat-primary" 
        (click)="router.navigateByUrl('/presession')" 
        style="margin-top: 1em">
          Save value & quit
        </button>
      <span *ngIf="false">output: {{ output }}</span>

    </div>

  </div>

</div>

<!-- footer -->
<app-footer></app-footer>

