.delayComponent{
    padding: 2em;
    max-width: 768px;
    background: rgba(255, 255, 255, 0.7);

    p.center {
        text-align: center;
    }
    
    .status-msg {
        background: rgba(255, 165, 0, 0.5);
        padding: 0.3em;
        border-radius: 0.3em;
    }
}
.waveform {
    min-height: 80px;
    background: #efefef;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100vw;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    background: url('../../../assets/img/doozzoo_logo_w.png');
    background-position: calc(50vw - 60px) 50%;
    background-size: 120px;
    background-repeat: no-repeat;
    background-color: #005596;
    padding: 0 1em;
    color: #fff;
}
#footerLogo {
    height: 40px;
}
#footer span {
    align-self: center;
    font-size: 18px;
    /* letter-spacing: 0.02em; */
    font-weight: 200;
}
#footer button {
    align-self: center;
    margin-right: 1em;
}