.session-chat {
    width: 30vw;
    min-width: 380px;
    padding: 0 1rem;
}


/* legacy classes */
#chatSidenavButton>.highlight { color: #fff }
.noOverflow { overflow: visible } 
#chatSidenavButtonIcon.active { color: #fff; position: relative } 
#chatSidenavButtonIconBadge { position: absolute; top: -1px; right: -9px; background: rgba(255, 255, 255, 0.8); padding: 2px; border-radius: 10%; }
#chatSidenavButtonIconBadge>div { font-size: 10px; line-height:12px }

.chat-content { 
    overflow: scroll; 
    max-height: 80vh;

    ul {
        list-style: none;
        padding-left: 0;
    }
}
li { text-align: left; }
li.myself { text-align: right; }
li span.message { 
    display: inline-block;
    background: #00af00;
    color: #ffffff;
    padding: 0.5em;
    border-radius: 10px;
    margin-left: -7px;
    max-width:90%;
}
li polygon { 
    fill: #00af00;
}
li.myself span.message { 
    background: #ccc;
    color: #000;
    margin-left: -7px;
}
li.myself polygon { 
    fill: #ccc;
}
.chatInput .md-errors-spacer { display: none }
.chatInput { margin: 0; }