
<div
  class="session-chat"
  fxLayout="column wrap"
  fxLayoutAlign="start stretch">

  <h2 class="mat-title">Session chat</h2>

  <!-- chat input -->
  <div 
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="0.5rem">

      <mat-form-field
        fxFlex="80">
        <input 
          matInput
          name="chat-input"
          placeholder="chat..." 
          [(ngModel)]="message"
          (keyup.enter)="sendChat()">
      </mat-form-field>

      <button 
        mat-raised-button
        (click)="sendChat()">
        Send
      </button>
  </div>

  <!-- chat content -->
  <div class="chat-content">  
    <ul>
      <li 
        *ngFor="let msg of messageArr" 
        [ngClass]="{ 'myself': msg.user_id === user, 'others': msg.user_id !== user }">
        
        <span class="msgHeader mat-caption">{{ msg.nickname }} {{ msg.time | date : 'MMM d, y HH:mm:ss' }}</span><br>
        
        <svg width="15" height="20">
          <polygon points="0,0 17,0 15,17" [ngStyle]="{'fill': msg.connectionColor }"/>
          Sorry, your browser does not support inline SVG.
        </svg>
        <span 
          class="message"
          [ngStyle]="{'background-color':msg.connectionColor}"
          [innerHTML]="msg.message | urlify: 40">
        </span>
      </li>
    </ul>
  </div>

</div>


<!--

<md-sidenav id="sessionChat" md-component-id="sessionChat" class="md-sidenav-right" md-whiteframe="3" style="width:500px;max-width:500px">
  <div layout="row" layout-align="start center" layout-padding style="background: green; color: #fff; height: 64px">
      <div>
          <md-icon md-font-set="material-icons" style="color: lightblue">chat</md-icon>
      </div>
      <span class="md-title">Session Chat</span>
      <span flex></span>

  </div>
  <md-progress-linear md-mode="indeterminate" ng-disabled="!$ctrl.loadingStatus"></md-progress-linear>
  <div layout="column" layout-padding>
      <div layout="row" layout-align="start center">
          <md-input-container flex class="chatInput">
              <label>Your message</label>
              <input name="message" ng-model="$ctrl.message" ng-disabled="false" ng-keyup="$event.keyCode === 13 ? $ctrl.sendChat() : null">
          </md-input-container>
          <md-button class="md-raised" ng-click="$ctrl.sendChat()">Send</md-button>
      </div>
  </div>

  <md-content class="chatContent" layout-padding>  

      <ul>
          <li ng-repeat="msg in $ctrl.messageArr" ng-class="{ myself: msg.user_id === $ctrl.myUserId, others: msg.user_id !== $ctrl.myUserId }">
              <span class="msgHeader md-caption">{{ msg.nickname }} {{ msg.time | date : 'MMM d, y HH:mm' }}</span><br>
              <svg width="15" height="20">
                <polygon points="0,0 17,0 15,17" style="fill:{{ msg.connectionColor }}"/>
              Sorry, your browser does not support inline SVG.
              </svg>
              <span class="message" style="background:{{ msg.connectionColor }}" ng-bind-html="msg.message|urlify"></span>
          </li>
      </ul>
 
  </md-content>


  <md-divider></md-divider>
  <div layout="row" layout-align="end center">
      <md-button id="documentsClose" ng-click="$ctrl.toggle()">close</md-button>
  </div>            
<md-sidenav>

-->