<!--<h1 mat-dialog-title>{{'media.dialogs.delete-item' | translate}}</h1>-->
<div mat-dialog-content>
  <!--data.type: {{ data.type }}-->
  <ng-container *ngIf="data.type === 'itemConfirm'">
    <p innerHTML="{{'media.dialogs.delete-selected-file' | translate}}"></p>
    <!--Delete selected file? Please be aware, that this can not be undone!-->
  </ng-container>
  <ng-container *ngIf="data.type === 'tagConfirm'">
    <p innerHTML="{{'media.dialogs.delete-selected-folder' | translate}}"></p>
    <!-- Delete selected folder? Please be aware, that this can not be undone! Items will be available at "My documents" -->
  </ng-container>
  <ng-container  *ngIf="data.type === 'tagRenameConfirm'">
    <p>{{'media.dialogs.rename-selected' | translate}}</p>
    <mat-form-field
      fxFlexFill 
      class="rename-tag"
      appearance="outline">
      <input
        matInput 
        placeholder="{{'media.dialogs.rename-selected' | translate}}"
        (keyup.enter)="confirm()" 
        [(ngModel)]="tagLabel">
    </mat-form-field>
  </ng-container>
</div>
<div mat-dialog-actions class="flex row end">
  <button 
    mat-raised-button 
    (click)="cancel()">
    {{'buttons.standard.cancel' | translate}}
  </button>
  <span class="flex-item"></span>
  <button 
    mat-raised-button
    color="primary"
    (keyup.enter)="confirm()"
    (click)="confirm()"
    cdkFocusInitial>
    {{'buttons.standard.confirm' | translate}}
  </button>
</div>