
<div class="spacer"></div>
<ng-container *ngIf="!totalDuration; else showArchiving">
    <div class="hint text-center">
        <span>
            {{'media.archiving.no-archived' | translate}}
            <!--No archived videos in this subscription period-->
        </span><br>
        <span class="mat-caption">
            {{'media.archiving.current-subscription-period' | translate}}
            <!--Current subscription period-->: {{ current_period_start | date }} - {{ current_period_end | date }}</span>
    </div>
</ng-container>
<ng-template #showArchiving>
    <div class="hint text-center total-duration" [attr.data-total-duration]="totalDuration">
        <span>
            {{'media.archiving.hours-of-archived' | translate}}
            <!--Hours of archived video in this subscription period-->: <strong>{{ totalDuration | secToMin }} hrs</strong>; 
            <strong>{{'media.archiving.cost' | translate}}: {{ cost | currency:'EUR' }}</strong></span><br>
        <span class="mat-caption">
            {{'media.archiving.current-subscription-period' | translate}}
            <!--Current subscription period-->: {{ current_period_start | date }} - {{ current_period_end | date }}</span>
    </div>
</ng-template>



