
.completed { 
    background-color: lightgreen; 
}
.completed.error { 
    background-color: #f44336; 
}

.uploadItemRow {
    padding: 0.1rem 1.2rem 0 1rem;
}

.errorMessage {
    margin-left: 1em;
}

.errorMessageRow {
    padding: 0 0 0 1rem;
    span {
        background: orange;
    }
}

.doEllipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 80%;
}

.cancel-icon {
    cursor: pointer;
}

mat-icon {
    &.success-icon {
        color: green;
    }
    &.error-icon {
        color: orange;
    }
}
