
<div 
  *ngIf="!hideComponent"
  fxLayout="column"
  class="uploadItem" 
  [ngClass]="{ 'completed': (percentUploaded | async) === 100, 'error': errorMsg !== null }">
    <mat-progress-bar 
        mode="determinate" 
        [value]="percentUploaded | async">
    </mat-progress-bar>
    <div
      fxLayout="row"
      fxLayoutAlign="start center" 
      class="uploadItemRow">

      <div class="doEllipsis mat-caption" [title]="inputFileObj.name">
        <span>{{ inputFileObj.name }} ({{ inputFileObj.size | filesize }} MB)</span>
      </div>

      <span class="flex-item"></span>

      <div>

        <mat-icon 
          *ngIf="(percentUploaded | async) === 100"
          class="success-icon"
          [inline]="true">
          check_circle
        </mat-icon>

        <!--<span *ngIf="errorMsg" class="errorMessage mat-caption">Errors, see below</span>-->
      </div>

      <div *ngIf="(percentUploaded | async) < 100 && !errorMsg">
        <mat-icon 
          class="cancel-icon"
          (click)="cancelUpload()"
          [inline]="true">
          cancel
        </mat-icon>
      </div>

      <div *ngIf="errorMsg">
        <mat-icon 
          class="error-icon"
          [inline]="true">
          warning
        </mat-icon>
      </div>

    </div>
    <div 
      *ngIf="errorMsg" 
      fxLayout="row"
      fxLayoutAlign="start center"
      class="doEllipsis mat-caption errorMessageRow"
      title="{{ errorMsg?.message }}">
      <span>{{ errorMsg?.code }}; {{ errorMsg?.message }}</span>      
    </div>
</div>
<mat-divider *ngIf="!hideComponent"></mat-divider>
