
<ng-container *ngIf="(vm$ | async) as vm">
  <form 
    name="profileFormCoach"
    [formGroup]="profileForm"
    (ngSubmit)="saveProfile()"
    fxLayout="column">

    <h3 class="mat-title">{{'profile.private-data' | translate}} <!--Private data--></h3>
    <!--<span class="default">
      {{'profile.for-registration-only' | translate}}
    </span>-->
    <div class="spacer"></div>

    <div class="formRow" fxLayout="row" fxLayoutAlign="start center">

      <mat-form-field fxFlex="50" fxFlexFill>
        <input 
          matInput
          placeholder="{{'forms.firstname' | translate}}" 
          formControlName="firstname"
          required>
        <mat-error *ngIf="profileForm.get('firstname').errors">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50" fxFlexFill>
        <input 
          matInput
          placeholder="{{'forms.lastname' | translate}}" 
          formControlName="lastname"      
          required>
        <mat-error *ngIf="profileForm.get('lastname').errors">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>

    <div class="formRow" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="10" fxFlexFill>
          <app-avatar *ngIf="userId !== null" [userId]="userId" [avatarURL]="avatarURL"></app-avatar>
        </div>
      <mat-form-field fxFlex="45" fxFlexFill>
        <input 
          matInput
          name="nickname"
          placeholder="{{'forms.nickname' | translate}}" 
          formControlName="nickname"
          minlength="4"
          required>
        <mat-error *ngIf="profileForm.get('nickname').errors">{{'forms.required' | translate}} and {{'forms.at-least-4' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="45" fxFlexFill>
        <input 
          matInput
          name="email"
          placeholder="E-mail" 
          formControlName="email"
          disabled     
          required>
          <mat-error *ngIf="profileForm.get('email').errors">{{'forms.valid-email' | translate}}</mat-error>
      </mat-form-field>
    </div>

    <div class="formRow" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex="50" fxFlexFill>
        <input 
          matInput
          name="address_street1"
          placeholder="{{'profile.address-street' | translate}}" 
          formControlName="address_street1"
          required>
        <mat-error *ngIf="profileForm.get('address_street1').errors">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50" fxFlexFill>
        <input 
          matInput
          placeholder="{{'profile.address-other' | translate}}" 
          formControlName="address_street2">
      </mat-form-field>
    </div>

    <div class="formRow" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex="50" fxFlexFill>
        <input 
          matInput
          name="zipcode"
          placeholder="{{'profile.zip' | translate}}" 
          formControlName="zipcode"
          required>
        <mat-error *ngIf="profileForm.get('zipcode').errors">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50" fxFlexFill>
        <input 
          matInput
          name="city"
          placeholder="{{'profile.city' | translate}}" 
          formControlName="city"
          required>
          <mat-error *ngIf="profileForm.get('city').errors">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>

    <div class="formRow" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex="50" fxFlexFill>
        <mat-select 
          placeholder="{{'profile.country' | translate}}"
          name="country"
          formControlName="country"
          required>
          <mat-option *ngFor="let c of countries.countries" [value]="c[0]">
            {{c[0]}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="profileForm.get('country').errors">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50" fxFlexFill>
        <input 
          matInput
          name="company"
          placeholder="{{'profile.company' | translate}}" 
          formControlName="company">
      </mat-form-field>
    </div>

    <div class="formRow" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex="50" fxFlexFill>
        <input 
          matInput
          name="birthday"
          required
          placeholder="{{'profile.birthday' | translate}}" 
          formControlName="birthday"
          required>
        <mat-error *ngIf="profileForm.get('birthday').errors">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50" fxFlexFill>
        <input 
          matInput
          placeholder="Website" 
          formControlName="website">
      </mat-form-field>
    </div>

    <div class="formRow" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex="100" fxFlexFill>
        <input 
          matInput
          name="phone"
          placeholder="{{'profile.phone' | translate}}" 
          formControlName="phone"
          required>
        <mat-error *ngIf="profileForm.get('phone').errors">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>

    <div class="formRow padding" fxLayout="row" fxLayoutAlign="start center">
      <mat-checkbox 
        name="dataApproval"
        required
        formControlName="dataApproval">
      </mat-checkbox>

      <span 
        style="margin-left: 1em"
        [innerHTML]="'forms.accept-terms-conditions' | translate">
        <!--Please click here to accept our <a href="https://info.doozzoo.com/terms-conditions/" target="_blank">terms & conditions</a> and press "save profile" below to start using doozzoo.-->
      </span>
    </div>

    <!-- stripe customerId will be created by submitting a complete set of customer master data-->
    <!-- disabled -> !profileForm.valid || !profileForm.dirty -->
    <button 
      name="profileFormCoachSubmit"
      [disabled]="!profileForm.valid || (!profileForm.dirty && vm.state.profileType)"
      mat-raised-button
      color="primary">
      {{'buttons.standard.submit' | translate}}
    </button>

  </form>
</ng-container>

<!--<ng-container *ngIf="!userData?.betatester">
  <ng-container *ngIf="a.usr$ | async as usr"> 
    <div
      style="margin-top: 1.5rem; background: aliceblue; border-radius: 5px; overflow: hidden;" 
      fxLayout="column" fxLayoutAlign="center center"
      *ngIf="(usr.userActions === 'coachRequestPending') && !(stripeIdAvailable | async)">
      <mat-progress-bar 
        mode="indeterminate">
      </mat-progress-bar>
      <p class="waitForSubscriptionModule">
        {{'profile.loading-subscription' | translate}}
      </p>
    </div>
  </ng-container>
  
  <ng-container *ngIf="(stripeIdAvailable | async) else noStripeId">
    <app-stripe></app-stripe>
  </ng-container>

  <ng-template 
    *ngIf="stripeDebug" 
    #noStripeId>
    <p 
      class="warnMessage" 
      style="margin: 2rem 0"
      [innerHTML]="'profile.could-not-create-account' | translate">
    </p>
  </ng-template>

</ng-container>-->

<ng-container *ngIf="stripeDebug">
  <div id="stripeDebug">
    <pre>usr$:
  {{ a.usr$ | async | json }}
  loginStatus$: {{ a.loginStatus$ | async }}
  stripeIdAvailable: {{ stripeIdAvailable | async }}
  usr$.userActions: {{ a.usr$.userActions | async }}
  avatarURL: {{avatarURL}}
    </pre>  
  </div>
</ng-container>





