<button 
  mat-icon-button
  (click)="doClick.emit()"
  [disabled]="bulkActionThresholdStatus || user.role < 0">

  <mat-icon
    *ngIf="(status | async)?.length !== 0" 
    [matBadge]="(status | async)?.length" 
    matBadgeColor="alert"
    matBadgeSize="medium"
    class="sharing">
    person_add
  </mat-icon>
  
  <mat-icon
    *ngIf="(status | async)?.length === 0">
    person_add
  </mat-icon>
  
</button>
