
<div class="activitymeter-wrapper">
    <svg class="activitymeter pulse" width="100%" height="100%">
        <circle class="pulse1-background" fill="orange" cx="50%" cy="50%" r="25"/>
        <circle #activitymeterPulse1 class="activitymeterPulse1" fill="rgb(0,84,150)" cx="50%" cy="50%" r="5"/>
    </svg>
</div>

