$primary-color: rgb(0,84,150); /* #005596 */

.activitymeter-wrapper {
    .activitymeter.pulse {
        width: 10px;
        height: 10px;
    }
}

.meteractivity {
    width:100%;
    height:100px;
    /* border: 1px solid rgba($primary-color, 0.5); */
}

.activitymeter.default {
    border: 1px solid $primary-color !important;
}

.activitymeter.pulse {
    /* border: 1px solid $primary-color; */
}