
<!-- start of wrapper -->
<div fxLayout="row"
  class="moduleContainerWrapper" 
  fxLayoutAlign="center center" 
  fxLayoutGap="1em">

  <!-- column container for modules -->
  <div 
    class="moduleContainer"
    fxLayout="column" 
    fxFlex="60" 
    fxFlex.sm="80"
    fxFlex.xs="100"
    fxLayoutGap="1em">

    <div 
      class="fxContent mat-elevation-z2 padding16"
      fxLayout="column" 
      fxLayoutGap="1em">

      <h2 class="mat-headline">{{'invite.headline' | translate}}</h2>

      <ng-template #loading>
        <p>{{'general.wait-a-sec' | translate}}</p>
        <!--progress bar-->
        <mat-progress-bar 
          class="localProgressBar"
          mode="indeterminate">
        </mat-progress-bar>
      </ng-template>


      <ng-container *ngIf="(dsptchr | async) as dp; else loading">
        <!--action: <pre>{{ dp | json }}</pre>-->

        <p 
          *ngIf="dp?.action === 'faultyToken' && error === true"
          class="errorMessage"
          [innerHTML]="'invite.ooops' | translate">
          <!--Ooops, something went wrong. Your invite link is <strong>invalid</strong>, please try again.-->
        </p>

        <p 
          *ngIf="dp?.action === 'sameCoach'"
          class="errorMessage">
          {{'invite.same-coach' | translate}}
          <!-- Sorry but you can not invite yourselve ;-) -->
        </p>

        <p 
          *ngIf="dp?.action === 'error' && error"
          class="errorMessage">
          {{'login.messages.generic-error' | translate}}
          <!-- Ooops, something went wrong. Please try again -->
        </p>

        <div 
          *ngIf="dp?.action === 'userExists' && !(success === 'afterRegistrationOrLogin')"
          fxLayout="column">
          dp?.nickname: {{ dp?.nickname }}
          <p 
            class="successMessage"
            [innerHTML]="'invite.success-continue' | translate:{ nickname: inviteTokenData.nickname }">
            <!-- You have successfully logged in and connected to your coach "{{ dp?.nickname }}".<br>
            Visit "My coaches" to directly join your coach's lessons... -->
          </p>
          <button 
              mat-raised-button
              color="primary"   
              [routerLink]="['/mycoaches']">
              {{'invite.visit-my-coaches' | translate}}
            </button>
        </div>

        <div 
          *ngIf="dp?.action === 'registerOrLogin'"
          fxLayout="column" fxLayoutAlign="center">
          <p 
            class="successMessage"
            [innerHTML]="'invite.success-register' | translate:{ nickname: inviteTokenData.nickname }">
            <!-- Hello, you have been invited by coach "{{ dp?.nickname }}".<br>
            Please register or login below, to directly join your coach's lessons. -->
          </p>

          <!-- hide after login -->
          <button 
            name="register"
            mat-raised-button
            (click)="inviteRegister()">
            {{'buttons.standard.register' | translate}}
          </button>
          <p>{{'invite.if-you-have-an account' | translate}}</p>
          
          <app-login-button [layout]="'single'"></app-login-button>

        </div>

        <div 
          *ngIf="success === 'afterRegistrationOrLogin'"
          fxLayout="column">
          <p 
            class="successMessage"
            [innerHTML]="'invite.success-continue' | translate:{ nickname: inviteTokenData.nickname }">
            <!-- You have successfully logged in and connected to your coach "{{ dp?.nickname }}".<br>
            Visit "My coaches" to directly join your coach's lessons... -->
          </p>
          <button 
              mat-raised-button
              color="primary"   
              [routerLink]="['/mycoaches']">
              {{'invite.visit-my-coaches' | translate}}
            </button>
        </div>

      </ng-container>

    </div>
  </div>
</div>

<app-footer></app-footer>

