<div
    class="screensharer videoThumbnail  {{ status.class }} {{ thumbsObj?.layout }}"
    [ngStyle]="{ 'right.px': status?.right, 'left.px': status?.left, 'top.px': status?.top, 'height.px': status?.height, 'width.px': status?.width }"
    #screensharerDiv>

    <ng-container *ngIf="thumbsObj">

        <ng-container
            *ngIf="thumbsObj.layout === 'mini'; else default">
            <div
                class="mini-container"
                fxLayout="column"
                fxLayoutAlign="start center">
                <button 
                    mat-icon-button
                    matTooltip="Pin video"
                    (click)="tms.thumbsEmitter.next({ action: 'togglePin', id: thumbsId });">
                    <mat-icon>{{ thumbsObj.isPinned ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
                </button>
                <span
                    class="thumbs-label name mat-caption">
                    <!-- shared screen -->
                    {{ userName }} Shared screen
                </span>
            </div>
        </ng-container>

        <ng-template #default>

            <div
                fxLayout="row"
                fxLayoutAlign="start center"
                class="thumbs-toolbar">
                
                <button 
                    mat-icon-button
                    matTooltip="Pin video"
                    (click)="tms.thumbsEmitter.next({ action: 'togglePin', id: thumbsId });">
                    <mat-icon>{{ thumbsObj.isPinned ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
                </button>

                <ng-container>
                    <span class="thumbs-label name">{{ userName }}</span>
                    <span class="thumbs-label name mat-caption">Shared screen</span>
                    <span class="thumbs-label audio mat-caption">{{ audioLabel }}</span>
                </ng-container>

            </div>

        </ng-template>

    </ng-container>

</div>