button.my-fab-button {
    background: orange;
    width: calc(100vw / 50);
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 100 !important;
    position: fixed;
    right: 30px;
    bottom: 30px;
    color: #fff;
    border: none;
}
button.my-fab-button:hover {
    box-shadow: 0 0 20px rgba(0,0,0,1);
    bottom: 32px;
}
button.my-fab-button:disabled {
    opacity:0.5;
    background: #ccc;
}
#screenshareIcon {
    position: relative;
    top: 50%;
    left: 50%;
    color: #fff;  
}
#screenshareIcon>i {
    transform: translate(-50%, -50%);
    font-size: 400%;
}

.my-share-button {
    position: fixed;
    right: 2em;
    bottom: 5px;
    z-index: 300;
    color: #fff;
}