
.support-button {
    position: fixed;
    transform-origin: bottom right;
    transform: rotate(-90deg);
    top: 12rem;
    right: 0;
    min-width: 4rem;
    &:hover {
        right: 8px; 
    }
}

.mat-dialog-title {
    text-align: right;
    margin: -24px -24px 0 0;
}

.dialog-content {
    width: 80vw;
    max-width: 720px;
    height: calc(80vh - 50px);
    box-shadow: inset 0 0 20px rgba($color: #000000, $alpha: 0.1);

    iframe {
        width: calc(100%);
        height: 100%;
    }
}