
#userContentRow2 .userName { text-overflow: ellipsis; text-align: left !important; }

.profileWidgetImgFake {
    position: relative; 
    color: #fff;
    background: #005596;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    text-transform: uppercase;
    padding: 0 !important;
    margin: 0 0.5em 0 0.2rem;
}
.profileWidgetImgFake span {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    /*height: 36px;*/
    display: inline-block;
    /*line-height: 18px;*/
    transform: translateY(31%);
    font-family: Quicksand,'Helvetica Neue',sans-serif;
    font-size: 18px;
}
.avatarThumb {
    border-radius: 50%; 
    width: 36px; 
    height: 36px;
    margin: 0 0.5em 0 0.2rem;
}

.icon18.mat-icon.material-icons {
    font-size: 18px;
    height: 18px;
    width: 18px;
}
