
<ng-container *ngIf="layout === 'default'">
  <div 
    id="userContentRow1"
    [title]="userId" 
    class="padding8 doEllipsis"
    *ngIf="(userData | async) as ud; else showIdOnly" 
    fxLayout="row" 
    fxLayoutAlign="start center"> 
    <img 
      *ngIf="ud.contactData.avatar" 
      fxHide.lt-sm="true"
      class="avatarThumb"
      src="{{ ud.contactData.avatar }}"/>
    <div 
      *ngIf="!ud.contactData.avatar" 
      fxHide.lt-sm="true"
      class="profileWidgetImgFake">
      <span>{{ cut(ud) }}</span>
    </div>
    <div fxLayout="column">
      <!--<pre>{{ ud | json }}</pre>-->
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="listUserContentRowFullName">{{ ud.privateData.firstname }} {{ ud.privateData.lastname }}</span> 
        <span class="listUserContentRowStatus" *ngIf="!ud.privateData.firstname && !ud.privateData.lastname">No user name available</span>
      </div> 
      <div 
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayout.lt-sm="column"
        fxLayoutAlign="start center">
        <div *ngIf="ud.contactData.email" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="icon18">email</mat-icon>&nbsp;
          <span style="text-overflow: ellipsis">{{ ud.contactData.email }}</span>&nbsp;
        </div>
        <div 
          *ngIf="ud.contactData.phone" 
          fxLayout="row" 
          fxLayoutAlign="start center">
          <mat-icon class="icon18">phone</mat-icon>&nbsp;{{ ud.contactData.phone }}&nbsp;
        </div>
      </div> 
    </div>
  </div>
</ng-container>

<ng-container *ngIf="layout === 'mini'">
  <div 
    id="userContentRow2" 
    class="doEllipsis" 
    *ngIf="(userData | async) as ud; else showIdOnly"
    fxLayout="row" 
    fxLayoutAlign="start center">

    <ng-container *ngIf="ud.contactData.avatar; else noAvatar">
      <img  
        fxHide.lt-sm="true"
        class="avatarThumb"
        [src]="ud.contactData.avatar"/>
    </ng-container>
    <ng-template #noAvatar>
      <div
        fxHide.lt-sm="true"
        class="profileWidgetImgFake" 
        [matTooltip]="userId">
        <span>{{ cut(ud) }}</span>
      </div>
    </ng-template>
    
    <div 
      fxFlex="column"
      class="doEllipsis">
        <span 
          *ngIf="!ud.privateData.firstname && !!ud.privateData.lastname; else nameSpan"
          class="userName">
          <!-- show email as fallback -->
          {{ ud.contactData.email }}
        </span>
        <ng-template #nameSpan>
          <span 
            class="userName">
            {{ ud.privateData.firstname }} {{ ud.privateData.lastname }}
          </span> 
        </ng-template>
    </div>
  </div>
</ng-container>

<ng-template #showIdOnly>
  <div 
    id="userContentRow3" 
    class="padding8"
    fxLayout="row" 
    fxLayoutAlign="start center"> 

    <img  
      fxHide.lt-sm="true"
      class="avatarThumb"
      src="assets/img/avatars/avataaars-default.png"/>

    <div 
      fxLayout="column">
      <span [matTooltip]="userId">Anonymous</span>
    </div> 

  </div>

</ng-template>
