
<!-- start of wrapper -->
<div fxLayout="row"
  class="moduleContainerWrapper" 
  fxLayoutAlign="center center">

  <!-- column container for modules -->
  <div 
    class="moduleContainer"
    fxLayout="column" 
    fxFlex="80" 
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayoutGap="1em">

    <ng-container *ngIf="a.getInstitutionId$ | async as instId">
      <app-institution-profile [institutionId]="instId" layout="blockLogoRightImageBottom"></app-institution-profile>
    </ng-container>

    <div 
      class="fxContent mat-elevation-z2 padding16"
      fxLayout="column" 
      fxLayoutGap="1em">

      <h2 class="md-title">{{'my-coaches.content.list-of-coaches' | translate}}</h2>

      <!--progress bar-->
      <ng-template #waiting>
        <span class="wait-message">{{'general.wait-a-sec' | translate}}</span>
        <mat-progress-bar 
          class="localProgressBar"
          mode="indeterminate">
        </mat-progress-bar>
      </ng-template>

      <ng-container *ngIf="coachesList | async as cl; else waiting">
        <p 
          *ngIf="cl.length > 0">
          {{'my-coaches.content.description' | translate}}
        </p>
        <p 
          *ngIf="cl.length === 0"
          class="warn-message">
          {{'my-coaches.content.no-coaches' | translate}}
        </p>

        <ul id="listMyCoaches" style="padding:0">

          <li 
            class="my-coaches-row" 
            fxLayout="row" 
            style="border-bottom: 1px solid #efefef;" 
            *ngFor="let item of cl" 
            fxLayoutAlign="start center">

              <app-user-content-row [userId]="item.key"></app-user-content-row>

              <span fxFlex="1 1 auto"></span>

              <span 
                fxFlex="1 1 auto" 
                class="statusListMyCoaches" 
                *ngIf="!item.payload.val()[userId]">
                {{'general.waiting-for-approval' | translate}}
              </span>

              <app-my-coaches-button [coachId]="item.key" [userId]="userId"></app-my-coaches-button>
   
          </li>
        </ul>
      </ng-container>

    </div>
  </div>
</div>

<app-footer></app-footer>

