
.room-name {
    font-weight: bold;
}

.input-owner {
    margin: 0 0.5rem;
    padding: 0.2rem 0.2rem;
    font-size: 1rem;
}

.menu-caption {
    display: inline-block;
    padding: 1rem;
    background: #efefef;
}

.menu-highlight {
    font-weight: bolder;
}