<!-- start of wrapper -->
<div fxLayout="row"
  class="moduleContainerWrapper" 
  fxLayoutAlign="center center">

  <!-- column container for modules -->
  <div 
    class="moduleContainer"
    fxLayout="column" 
    fxFlex="80" 
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayoutGap="1em">

    <div 
      class="fxContent mat-elevation-z2 padding16"
      fxLayout="column" 
      fxLayoutGap="1em">

      <h2 class="md-header">Workshop rooms</h2>

      <!--<pre>{{ roomsList$ | async | json }}</pre>-->

      <!--<div class="flex row center align-center">

        <mat-form-field>
          <input 
            matInput 
            placeholder="enter user Id"
            [formControl]="filterValue">
        </mat-form-field>

        <span fxFlex></span>

      </div>-->

      <ng-template #noValues>
        <span>no data found....</span>
      </ng-template>

      <span class="mat-title">
          List of workshop rooms
      </span>

      <ng-container *ngIf="roomsList$ | async as rl; else noValues">

        <mat-list>
            <mat-list-item *ngFor="let item of rl; index as idx; trackBy: trackByFn"> 
                <span class="room-name" fxFlex="25"> {{item.key}} </span>
                
                <ng-container *ngIf="toggleFilenameEdit !== idx">
                    <app-user-content-row [userId]="item.owner" layout="mini"></app-user-content-row>
                </ng-container>
                
                <ng-container *ngIf="toggleFilenameEdit === idx">
                    <input
                        autocapitalize="none"
                        fxFlex="auto"
                        *ngIf="toggleFilenameEdit === idx"
                        class="input-owner"
                        type="text" 
                        [formControl]="updateOwnerInput"
                        (keyup.enter)="updateOwner(item.key)"
                        matTooltip="edit and press enter to save">
                    <button
                        [disabled]="!(ownerQueryObs$ | async)"
                        (click)="updateOwner(item.key)" 
                        mat-icon-button>
                        <mat-icon>check_circle</mat-icon>
                    </button>
                    <button
                        (click)="toggleFilenameEdit = null" 
                        mat-icon-button>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </ng-container>

                <button
                    *ngIf="toggleFilenameEdit !== idx"
                    (click)="setToggleFilenameEdit(item, idx)" 
                    mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>

                <span fxFlex></span>
                <button 
                    mat-icon-button
                    [matTooltip]="item.locked ? 'Room is locked' : 'Room is open'"
                    (click)="toggleLock(item.key, item.locked)">
                    <mat-icon>{{ item.locked ? 'lock' : 'lock_open' }}</mat-icon>
                </button>
                <button 
                    mat-icon-button
                    [matMenuTriggerFor]="appMenu">
                    <mat-icon>delete</mat-icon>
                </button>
                <mat-menu 
                    #appMenu="matMenu">
                    <span class="menu-caption">Are you sure to delete?</span>
                    <mat-divider></mat-divider>
                    <button
                        mat-menu-item>
                        Cancel
                    </button>
                    <mat-divider></mat-divider>
                    <button
                        mat-menu-item
                        class="menu-highlight"
                        (click)="deleteItem(item.key)">
                        Delete workshop room
                    </button>
                </mat-menu>

            </mat-list-item>
        </mat-list>
           
    </ng-container>

    <span class="mat-title">
        Create new workshop room
    </span>

    <div
        fxLayout="row"
        fxLayoutGap="1rem"
        fxLayoutAlign="start center">

        <mat-form-field>
            <input 
                matInput
                placeholder="Workshop room name"
                [formControl]="roomName"
                [minlength]="6"
                required>
            <mat-error *ngIf="roomName.errors?.required">
              Enter workshop room name!
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="25">
            <input 
                matInput
                placeholder="Owner Id"
                [formControl]="owner"
                [minlength]="6"
                required>
            <mat-error *ngIf="owner.errors?.required">
              Enter owner id!
            </mat-error>
        </mat-form-field>

        <button 
            [disabled]="roomName.invalid || owner.invalid"
            mat-raised-button
            color="primary"
            (click)="addWorkshopRoom()">
            create new
        </button>
    </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
