$primary-color: 		rgb(0,84,150);

.directShare {
    min-width: 630px;
    min-height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(128, 128, 128, 0.8);
    z-index: 20;
    border: 5px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    overflow: hidden;
}
.directShare:hover {
    box-shadow: 0 0 30px;
}
.directShare.focus {
    box-shadow: 0 0 40px;
    border: 5px solid $primary-color;
    z-index: 100;
}

.directShare.audio { 
    height: 235px; 
}

.dsHeader {
    background: #333;
    color: #efefef;
    padding-left: 8px;
    min-height: 40px;
}
.dsHeader button {
    z-index: 30;
}
.dsContent {
    overflow: scroll;

    &.audio {
      /* as the player has a fixed size */
      overflow: hidden;
    }
}

.directShare.remote {
    border-color: green;
}

.directShare 
.remoteCheckbox {
    margin: 0 0.5rem;    
}

#myFoo {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 5px;
    left: 5px;
    width: calc(100vw - 10px);
    height: calc(100vh - 55px);
    /* border: 1px solid grey; */
    /* 
    this element provides a boundary for the inline DSWindows
    setting this to -1 prevents the div overlaying other controls
    */
    z-index: -1;
}

.dragHandleHeader {
    height: 40px;
}

/* ### connect/disconnect button */
.remoteRingsLabel {
    vertical-align: middle;
}




