<div
  #directshareWindow
  class="directShare mat-elevation-z2"
  [ngClass]="{'focus': window.isInFocus, 'audio' : window.asset.contentType==='audio', 'remote' : remoteStatus }"
  fxLayout="column"

  [inBounds]="true"
  [bounds]="myboundary"

  (mousedown)="ds.setFocus(window.id)"
  (mouseup)="ds.setFocus(window.id)"

  [ngDraggable]="!(!window.isParent && window.isRemoteActive)"
  [handle]="dragHandleHeader"
  [ngResizable]="!(!window.isParent && window.isRemoteActive)"
  [rzHandles]="rzHandles"
  [position]="position"

  (movingOffset)="doEvents.emit({action:'drag', value: $event})"
  (endOffset)="foo()"

  (rzStart)="doEvents.emit({action:'resize', value: $event.size})"
  (rzStop)="doEvents.emit({action:'resize', value: $event.size})"
  (rzResizing)="doEvents.emit({action:'resize', value: $event.size});"

  [preventDefaultEvent]="true">

  <div
    #directshareHeader
    class="dsHeader"
    fxLayout="row"
    fxLayoutAlign="start center">
      <div 
        class="dragHandleHeader"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxFlex="1 1 auto" #dragHandleHeader>
        <span
          class="noUserSelect" 
          fxFlex="1 1 100%">{{ window.asset.filename }}</span>

        <mat-icon 
          *ngIf="remoteStatus"
          class="remoteStatus blink-slow" 
          color="warn">
          settings_remote
        </mat-icon>

        <span fxFlex="1 1 auto"></span>
      </div>
      <!-- show in room only -->
      <ng-container *ngIf="(url | async)"> 
        <!--     
        <div>  
          <mat-checkbox
            [(ngModel)]="window.isRemoteActive"
            [disabled]="false"
            (change)="toggleRemoteStatus($event.checked)"
            matTooltip="Edit remote status">
          </mat-checkbox>
        </div>
        <span 
          class="mat-caption remoteCheckbox noUserSelect">
          {{ remoteCheckboxLabel }}
        </span>
        --> 
        <ng-container>
          <div>
            <span 
            class="mat-caption noUserSelect remoteRingsLabel">
              {{ remoteCheckboxLabel }}
            </span>
            <button
              (click)="toggleRemoteStatus()"
              mat-icon-button>

              <ng-container *ngIf="window['isRemoteActive']; else notRemoteActive">             
                <svg id="svg-canvas-2" width="32" height="24">
                  <circle id="cone2" cx="12" cy="12" r="6" stroke="#efefef" stroke-width="2" fill="transparent" />
                  <circle id="ctwo2" cx="20" cy="12" r="6" stroke="#efefef" stroke-width="2" fill="transparent" />
                </svg> 
              </ng-container>

              <ng-template #notRemoteActive>
                <svg id="svg-canvas-1" width="32" height="24">
                  <circle id="cone" cx="8" cy="12" r="6" stroke="#efefef" stroke-width="2" fill="transparent" />
                  <circle id="ctwo" cx="24" cy="12" r="6" stroke="#efefef" stroke-width="2" fill="transparent" />
                </svg>
              </ng-template>
              
            </button>
          </div>
        </ng-container>

      </ng-container>

      <button 
        mat-icon-button
        [disabled]="!window.isParent && window.isRemoteActive"
        (click)="close()">
        <mat-icon>
          close
        </mat-icon>
      </button>
  </div>

  <div 
    #directshareContent
    class="dsContent"
    [ngClass]="{ audio: window.asset.contentType==='audio' }">
    <app-image 
      *ngIf="window.asset.contentType==='image'" 
      [inputAsset]="window.asset">
    </app-image>
    <app-pdf 
      *ngIf="window.asset.contentType==='pdf'"
      [remoteStatus]="remoteStatus" 
      [window]="window">
    </app-pdf>
    <app-looper 
      *ngIf="window.asset.contentType==='audio'"
      [window]="window"
      [width]="window.width">
    </app-looper>
    <app-video 
      *ngIf="window.asset.contentType==='video'" 
      [inputAsset]="window.asset">
    </app-video>
  </div>

</div>

<!-- boundaries for drag windows -->
<div id="myFoo" #myboundary></div>






