

<!--
<pre>registered roomData: {{ waitingroomData | json }}</pre>
<p>registered participantAccess: {{ participantAccess | async | json }}</p>
-->
<div
    fxLayout="column">

    <ng-container
        *ngIf="waitingroomData.userId === waitingroomData.roomOwner; else notOwner">
        <button
        name="joinSessionOwner"
        mat-raised-button 
        color="primary"
        [routerLink]="'/' + waitingroomData.prefix + '/' + waitingroomData.roomToken">
        {{'room.waitingroom.join-as-room-owner' | translate}}
        <!--Join session as Owner-->
        </button>
    </ng-container>

    <ng-template #notOwner>

        <ng-container *ngIf="(participant | async) as participant; else noParticipant">
            <p>
                <span>
                {{'room.waitingroom.click-to-join' | translate}}
                <!--Click the button below to join the session-->
                </span>
                <span *ngIf="displayName">as <strong>{{displayName}}</strong> ({{'room.waitingroom.guest' | translate}})</span>
            </p> 

            <!-- use hidden in sub-async templates! -->      
            <p [hidden]="participant.access === true">
                {{'room.waitingroom.host-has-been-informed' | translate}}
                <!--The session host has been informed that you are waiting to join. When the button below gets active, you can enter the session-->
            </p> 
            
            <p 
                *ngIf="waitingroomData.participantQuotaFull"
                class="warn-message">
                {{'room.waitingroom.no-access-quota' | translate}}
                <!--No access. The maximal number of participants has been reached for this session. Please contact your coach.-->
            </p>

            <button
                mat-raised-button
                name="joinSessionRegistered"
                color="primary"
                [routerLink]="'/' + waitingroomData.prefix + '/' + waitingroomData.roomToken"
                [disabled]="participant.access === false || waitingroomData.participantQuotaFull">
                {{'room.waitingroom.join-session' | translate}}
            </button>

        </ng-container>

        <ng-template #noParticipant>
            <p>
            {{'room.waitingroom.request-access-registered-hint' | translate}}
            <!--Request access to the session as Registered user.-->
            </p>
            <button
            name="requestSessionAccess"
            mat-raised-button
            color="primary"
            (click)="saveNameRegistered()"
            [disabled]="false">
            {{'room.waitingroom.request-session-access' | translate}}
            <!--Request session access-->
            </button>
        </ng-template>

    </ng-template>

</div>




