<div
    name="tangoButtonComponent"
    [fxFlex.lg]="btnConf.lg" 
    [fxFlex.gt-xs]="btnConf.gtxs" 
    [fxFlex.xs]="btnConf.xs"
    [ngClass]="btnConf.class">

    <div
        fxLayout="column">

        <button
            *ngIf="(a.role$ | async) !== 0"
            name="tangoButton" 
            mat-raised-button 
            class="startTango" 
            (click)="createTango()" 
            [disabled]="(a.role$ | async) < -1">
            {{'buttons.session.start-session' | translate}}
            <span 
                *ngIf="(a.role$ | async) < 0"
                class="button-caption">
                {{'buttons.session.test-mode' | translate}}
            </span>
        </button>

        <button
            *ngIf="(a.role$ | async) === 0" 
            name="mycoaches" 
            mat-raised-button 
            class="startTango" 
            [routerLink]="'/mycoaches'">
            {{'buttons.navigation.my-coaches' | translate}}
        </button>
    </div>

<!--
    <div
        fxLayout="row"
        fxLayoutAlign="center center">
        <button 
            mat-icon-button 
            [ngClass]="{ 'off' : !camStatus }"
            (click)="ots.camEmitter.next(!camStatus);"
            [matTooltip]="camStatus ? 'Cam ON' : 'Cam OFF'">
            <mat-icon aria-label="Cam on/off" [ngClass]="{ 'off' : !camStatus }">{{ camStatus ? 'videocam' : 'videocam_off' }}</mat-icon>
        </button>
        <button 
            mat-icon-button
            [ngClass]="{ 'off' : !micStatus }"
            (click)="ots.micEmitter.next(!micStatus);"
            [matTooltip]="micStatus ? 'Mic ON' : 'Mic OFF'">
            <mat-icon aria-label="Mic on/off" [ngClass]="{ 'off' : !micStatus }">{{ micStatus ? 'mic': 'mic_off' }}</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu 
            #appMenu="matMenu">

        <button 
          mat-menu-item 
          
          matTooltip="Media">
          <mat-icon aria-label="media">library_books</mat-icon>
          Media
        </button>

        <mat-divider></mat-divider>

        <p>hallo menü</p>

      </mat-menu>
    </div>
--> 

</div>

