
button.startTango {
    font-size:20px; 
    font-family:Quicksand;
    letter-spacing: 1px;
    font-weight: lighter;
    text-transform: uppercase; 
    border-radius:5px;
    border: none;
    min-height: 26px;
    width: 100%;
    padding: 0.3em 2em;
    margin: 0.5em 0;
    color: #fff;
    background: #005596;
    cursor: pointer;
}

button.startTango:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.button-caption {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 2px;
    text-transform: none;
    background: orange;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
    padding: 6px;
    color: #005596;
}

mat-icon.off {
    color: red;
}