
.avatarButton img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
}

#loginDebug {
    font-size: .6rem;
    position: fixed;
    top: 0;
    right: 1rem;
    color: #000;
    background: rgba(255,255,255,.8);
    padding: .5rem;
    max-width: 500px;
    overflow: hidden;
}

.footerLogin {
    color: #fff;;
}

.loginEmphasized {
    font-size: 1.4rem;
    padding: 0.3rem;
    min-width: 8rem;
}

button:hover:not(.avatarButton):not(mat-menu button) {
    box-shadow: 0 0 8px #000;
}

.language-flag {
    padding: 0.3rem 1rem 0.8rem 1rem;
    text-transform: uppercase;

    span {
        display: inline-block;
        padding: 0.2rem 0.8rem;
        border-radius: 0.5rem;
        background: lightgreen;
    }
}