
<section *ngIf="layout === 'both'">
  <button
    mat-button
    color="primary"
    [disabled]="a.loginStatus$ | async"
    (click)="cs.do('loginDialog', { tabIndex: 0, currentUrl: currentUrl })">
    Login remote
  </button>

  <button
    mat-button
    color="primary"
    [disabled]="!(a.loginStatus$ | async)"
    (click)="cs.do('logout', {})">
    Logout
  </button>
</section>

<section *ngIf="layout === 'single'">
  <div fxLayout="column">

    <ng-container *ngIf="preEduToggle | async else noEdu">
      <button
        class="loginEmphasized"
        name="login"
        color="primary"
        mat-flat-button
        *ngIf="!(a.loginStatus$ | async)"
        (click)="cs.do('loginDialog', { tabIndex: 0, currentUrl: currentUrl, isPreEdu: true })">
        {{'buttons.standard.login' | translate}}
      </button>
    </ng-container>

    <ng-template #noEdu>
      <button
        class="loginEmphasized"
        name="login"
        color="primary"
        mat-flat-button
        *ngIf="!(a.loginStatus$ | async)"
        (click)="cs.do('loginDialog', { tabIndex: 0, currentUrl: currentUrl, isPreEdu: false })">
        {{'buttons.standard.login' | translate}}
      </button>
    </ng-template>  

    <button
      name="logout"
      color="'primary'"
      mat-stroked-button
      *ngIf="a.loginStatus$ | async"
      (click)="cs.do('logout', {})">
      {{'buttons.standard.logout' | translate}}
    </button>
    
  </div>
</section>

<section *ngIf="layout === 'singleDefault'">
  <div fxLayout="column">

    <ng-container *ngIf="preEduToggle | async else noEdu">
      <button
        name="login"
        color="primary"
        mat-flat-button
        *ngIf="!(a.loginStatus$ | async)"
        (click)="cs.do('loginDialog', { tabIndex: 0, currentUrl: currentUrl, isPreEdu: true })">
        {{'buttons.standard.login' | translate}}
      </button>
    </ng-container>

    <ng-template #noEdu>
      <button
        name="login"
        color="primary"
        mat-flat-button
        *ngIf="!(a.loginStatus$ | async)"
        (click)="cs.do('loginDialog', { tabIndex: 0, currentUrl: currentUrl, isPreEdu: false })">
        {{'buttons.standard.login' | translate}}
      </button>
    </ng-template>  

    <button
      name="logout"
      color="'primary'"
      mat-stroked-button
      *ngIf="a.loginStatus$ | async"
      (click)="cs.do('logout', {})">
      {{'buttons.standard.logout' | translate}}
    </button>
    
  </div>
</section>

<section *ngIf="layout === 'footer'">

  <div fxLayout="row" fxLayoutAlign="start center">

    <ng-container *ngIf="preEduToggle | async else noEduFooter">
      <button
        name="footerLogin"
        class="footerLogin"
        color="primary"
        mat-stroked-button
        *ngIf="!(a.loginStatus$ | async)"
        (click)="cs.do('loginDialog', { tabIndex: 0, currentUrl: currentUrl, isPreEdu: true })">
        {{'buttons.standard.login' | translate}}
      </button>
    </ng-container>
  
    <ng-template #noEduFooter>
      <button
        name="footerLogin"
        class="footerLogin"
        color="primary"
        mat-stroked-button
        *ngIf="!(a.loginStatus$ | async)"
        (click)="cs.do('loginDialog', { tabIndex: 0, currentUrl: currentUrl })">
        {{'buttons.standard.login' | translate}}
      </button>
    </ng-template>

    <ng-container *ngIf="(a.loginStatus$ | async) && (a.userAvatar$ | async); else iconOnly">
      <button
        name="footerLogout"
        class="avatarButton"
        [color]="color"
        mat-icon-button
        [matMenuTriggerFor]="ProfileMenu"
        [matTooltip]="'Edit Profile'">
        <img [src]="a.userAvatar$ | async" />
      </button>
    </ng-container>

    <ng-template #iconOnly>
      <button
        name="footerLogout"
        color="primary"
        mat-icon-button
        *ngIf="a.loginStatus$ | async"
        [matMenuTriggerFor]="ProfileMenu"
        [matTooltip]="'Edit Profile'">
        <mat-icon aria-label="Cam on/off">account_box</mat-icon>
      </button>
    </ng-template>

    <mat-menu #ProfileMenu="matMenu" yPosition="above">
      <ng-container *ngIf="a.loginStatus$ | async">
<!--
        <div class="language-flag">
          <span>
            {{ this.translate.currentLang }}
          </span>
        </div>
        <mat-divider></mat-divider>
        <button
          name="toggleLanguage"
          *ngIf="(a.perm([0,1,3]) | async)"
          mat-menu-item
          (click)="toggleLanguage()">
          {{'buttons.standard.toggleLanguage' | translate}}
        </button>
        <mat-divider></mat-divider>
-->
        <!-- edu area START -->
        <ng-container *ngIf="a.isEdu$ | async; else notEdu">
          <button
            name="profile"
            *ngIf="(a.perm([0,1,3]) | async)"
            mat-menu-item
            [routerLink]="['/eduprofile']"
            [routerLinkActive]="['linkActive']">
            {{'buttons.standard.profile' | translate}}
          </button>
        </ng-container>
        <ng-template #notEdu>
          <button
            mat-menu-item
            [routerLink]="['/login']"
            [routerLinkActive]="['linkActive']">
            {{'buttons.standard.profile' | translate}}
          </button>
        </ng-template>

        <button mat-menu-item (click)="cs.do('loginDialog', { tabIndex: 2, currentUrl: currentUrl })">
          {{'buttons.standard.reset-password' | translate}}
        </button>
        <button mat-menu-item (click)="cs.do('logout', {})">
          {{'buttons.standard.logout' | translate}}
        </button>
        <mat-divider></mat-divider>

      </ng-container>

      <div
        mat-menu-item
        matRipple  
        (cdkCopyToClipboardCopied)="copySuccess($event)" 
        [cdkCopyToClipboard]="(a.usr$ | async)?.uid"
        matTooltip="{{'login.user-id-to-clipboard' | translate}}">
          <span class="mat-caption">
            {{ (a.usr$ | async)?.uid }}
          </span>
      </div>

    </mat-menu>
  </div>
</section>

<ng-container *ngIf="loginDebug">
  <div id="loginDebug">
    <pre>userdata emailVerified$ {{ a.emailVerified$ | async }}</pre>
    <pre>userdata loginStatus$ {{ a.loginStatus$ | async }}</pre>     
  </div>
</ng-container>
