
<!--<pre>mediaListTags$ {{ (mediaListTags$ | async)?.tags | json }}</pre>-->
<!--<pre>mediaListTags$ {{ tags | json }}</pre>-->

<div 
    class="main-pane"
    [ngClass]="{'standalone-mode': layout === 'standalone', 'session-mode': layout === 'session', 'session-mobile-mode': layout === 'session-mobile'}">
    
    <div
        *ngIf="layout === 'session-mobile'"
        fxLayout="column"
        class="upload-pane-session">
        
        <app-upload-area
            [layout]="layout"
            [disabled]="isQuotaExeeded$ | async" 
            [tagsSelectedIds]="tagsSelectedIds"
            [user]="user"
            [fileToUploadArray]="fileToUploadArray"
            [maxFileCount]="maxFileCount"
            (uploadStatus)="uploadStatus($event)">
        </app-upload-area>

    </div>
    
    <div
        class="media-pane header"
        fxLayout="row"
        fxLayoutAlign="start center">

        <h2
            *ngIf="layout !== 'session-mobile'"
            fxFlex="25" 
            class="mat-headline no-margin">
            {{'buttons.navigation.media' | translate}}
        </h2>

        <div
            fxFlex="{{ layout !== 'session-mobile' ? 75 : 100 }}"
            class="filter-pane"
            fxLayout="column">

            <div
                class="filter-pane-top"
                fxLayout="row"
                fxLayoutAlign="end center">

                <mat-form-field
                    #filterInput
                    class="filterInput"
                    appearance="outline" 
                    fxFlex="30"
                    fxFlex.lt-md="23">
                    <input 
                        matInput 
                        placeholder="{{'media.filter-documents' | translate}}" 
                        [(ngModel)]="filterargs">
                        <mat-icon
                            [ngClass]="{ showPointer: filterargs?.length > 0 }"
                            (click)="filterargs = null" 
                            matSuffix>
                            {{ filterargs?.length > 0 ? 'clear' : 'search' }}
                        </mat-icon>
                </mat-form-field>

                <span fxFlex></span>

                <mat-form-field
                    appearance="outline" 
                    matTooltip="{{'media.tooltips.sort-by' | translate}}"
                    fxFlex="30"
                    fxFlex.lt-md="23">
                    <mat-select 
                        [formControl]="sortByCtrl"
                        (selectionChange)="selectFilters()">
                        <mat-option *ngFor="let sortByItem of sortBy" [value]="sortByItem">
                            {{ sortByItem.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field
                    appearance="outline" 
                    matTooltip="{{'media.tooltips.content-types' | translate}}"
                    fxFlex="30"
                    fxFlex.lt-md="23">
                    <mat-select 
                        [formControl]="contentTypeCtrl"
                        (selectionChange)="selectFilters()">
                        <mat-option *ngFor="let contentType of contentTypes" [value]="contentType">
                            {{ contentType.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field
                    *ngIf="layout === 'session-mobile'"
                    appearance="outline" 
                    matTooltip="{{'media.tooltips.folder-tags' | translate}}"
                    fxFlex.lt-md="23">
                    <mat-select 
                        [formControl]="tagCtrl"
                        (selectionChange)="selectFilters()">
                        <mat-option *ngFor="let tag of tags" [value]="tag">
                            {{ tag.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            
            <div
                class="filter-pane-bottom"
                fxLayout="row"
                fxLayoutAlign="end center">
            </div>

        </div>

    </div>
    <!--<pre>media list: {{ mediaList$ | async | json }}</pre>-->
    <div
        class="media-pane"
        fxLayout="row">

        <!-- media pane left col -->
        <div
            *ngIf="layout !== 'session-mobile'"
            class="media-pane-left-col"
            fxFlex="25"
            fxLayout="column">

            <div class="anonymous-hint">
                <app-anonymous-hint [user]="user"></app-anonymous-hint>
            </div>
                   
            <app-upload-area
                [layout]="layout"
                [disabled]="isQuotaExeeded$ | async" 
                [tagsSelectedIds]="tagsSelectedIds"
                [user]="user"
                [fileToUploadArray]="fileToUploadArray"
                [maxFileCount]="maxFileCount"
                (uploadStatus)="uploadStatus($event)">
            </app-upload-area>

            <div
                #tagList
                class="tag-list"
                fxLayout="column">

                <!--<pre>mlt: {{ mediaListTags$ | async | json }}</pre>-->

                <div
                    [attr.data-dragdrop-allowed]="(isQuotaExeeded$ | async) ? 'disallowed' : 'allowed'"
                    [id]="item.id"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    class="tags drop-allowed drop-target"
                    [ngClass]="{ selected: item.selected, disabled: !uploadStatusIsIdle || (isQuotaExeeded$ | async), 'drop-ignore': (isQuotaExeeded$ | async) }"
                    (click)="selectTag(item)"
                    [attr.data-tag-id]="item.id"
                    *ngFor="let item of tags">

                    <ng-container>
                        {{ item.label }}
                    </ng-container>

                    <ng-container
                        *ngIf="item.id === 'default' && (stats$ | async)?.totalCount">
                        ({{ (stats$ | async)?.totalCount }})
                    </ng-container> 

                    <ng-container 
                        *ngIf="item.id === 'sharedWithMe' && (stats$ | async)?.totalSharedWithYou">
                        ({{ (stats$ | async)?.totalSharedWithYou }})
                    </ng-container>

                    <span fxFlex></span>

                    <button
                        *ngIf="item.id !== 'default' && item.id !== 'lesson_archive' && item.id !== 'sharedWithMe'"
                        [matMenuTriggerFor]="appMenu"
                        class="drop-ignore"
                        mat-icon-button>
                        <mat-icon>
                            more_vert
                        </mat-icon>
                    </button>

                    <!-- archivings dialog button -->
                    <ng-container *ngIf="item.id === 'lesson_archive' && user !== null">
                        <app-archives-fallback-button [userId]="user.uid"></app-archives-fallback-button>
                    </ng-container>

                    <mat-menu #appMenu="matMenu">
                        <mat-divider></mat-divider>
                        <button
                            (click)="openConfirmTag(item)"
                            mat-menu-item
                            name="delete">
                            {{'buttons.standard.delete' | translate}}
                        </button>
                        <mat-divider></mat-divider>
                        <button
                            (click)="openRenameTag(item)"
                        mat-menu-item
                        name="rename">
                        {{'buttons.standard.rename' | translate}}
                        </button>
                        <mat-divider></mat-divider>
                    </mat-menu>
                        
                </div>
                
                <mat-form-field
                    class="newTag">
                    <input 
                        class="drop-ignore"
                        (keyup.enter)="saveNewTag()"
                        autocapitalize="none"
                        matInput 
                        minlength="3"
                        maxlength="20"
                        [placeholder]="'media.create-new' | translate" 
                        [formControl]="newTagCtrl">
                    <button
                        (click)="saveNewTag()"
                        [disabled]="newTagCtrl.invalid"
                        matSuffix 
                        mat-icon-button>
                        <mat-icon 
                            [matTooltip]="'media.create-new' | translate"
                            matSuffix>
                            add_circle_outline
                        </mat-icon>
                    </button>
                    <mat-error *ngIf="newTagCtrl.invalid">{{'media.tooltips.minimum-3-maximum-20' | translate}}</mat-error>
                </mat-form-field>

                <div 
                    *ngIf="tags.length > (maxFolders + 2)"
                    class="warn-message">
                    <span 
                        class="mat-caption">{{'media.tooltips.folder-limit-reached' | translate}}</span>
                </div>

            </div>

            <div class="spacer"></div>
            <div class="spacer"></div>
            <ng-container *ngIf="stats$ | async as stats">
                <div
                    class="doEllipsis media-quotas"
                    fxLayout="column">

                    <div fxLayout="row">
                        <span class="doEllipsis mat-caption">{{ stats.totalCount }} {{'media.documents' | translate}}</span>
                        <span fxFlex></span>
                        <span class="doEllipsis mat-caption">{{ (stats.totalCount/((quotas$ | async)?.maxCount) * 100) | number:'1.0-0'}}% {{'media.of-quota' | translate}} (max. {{(quotas$ | async)?.maxCount}})</span>
                    </div>
                    <mat-progress-bar [value]="stats.totalCount/mediaQuotas.maxCount * 100"></mat-progress-bar>

                    <div fxLayout="row">
                        <span class="doEllipsis mat-caption">{{ stats.totalFilesize | filesize:'GB' }} GB</span>
                        <span fxFlex></span>
                        <span class="doEllipsis mat-caption">{{ (stats.totalFilesize/((quotas$ | async)?.maxFilesize * 1024 * 1024 * 1024) * 100) | number:'1.0-0'}}% {{'media.of-quota' | translate}} (max. {{ ((quotas$ | async)?.maxFilesize * 1024 * 1024 * 1024) | filesize:'GB' }} GB)</span>
                    </div>
                    <mat-progress-bar [value]="(stats.totalFilesize/((quotas$ | async)?.maxFilesize * 1024 * 1024 * 1024) * 100)"></mat-progress-bar>

                    <div fxLayout="row">
                        <span class="doEllipsis mat-caption">{{ stats.totalSharedFromYou > 0 ? stats.totalSharedFromYou : 0  }} {{'media.shared-from-you' | translate}}</span>
                        <span fxFlex></span>
                        <span *ngIf="stats.totalSharedWithYou" class="doEllipsis mat-caption">{{ stats.totalSharedWithYou }} {{'media.shared-with-me' | translate}}</span>
                    </div>
                
                </div>
            </ng-container>
            <div class="spacer"></div>
        </div>

        <!-- media list -->
        <div 
            #mediaList
            class="media-list media-pane-main-col doEllipsis"
            [ngClass]="{'standalone-mode': layout === 'standalone', 'session-mode': layout === 'session', 'session-mobile-mode': layout === 'session-mobile' }"
            fxLayout="column"
            fxFlex="{{ layout === 'standalone' ? 75 : 100 }}">
            <ng-container *ngIf="mediaListTagged$ | async as ml; else loading">

                <!-- media list header: bulk actions & pagination-->
                <div
                    fxLayout="row"
                    fxLayoutAlign="start center">

                    <!-- [indeterminate]="medialistIsCheckedCount > 0 && medialistIsCheckedCount < ml.length" -->
                    <mat-checkbox 
                        class="media-list-checkbox"
                        labelPosition="after"
                        [indeterminate]="indeterminateModel"
                        [formControl]="bulkSelect"
                        (change)="medialistToggleSelectAll($event.checked, ml)">
                        <span>{{ medialistIsCheckedCount }} {{'general.selected' | translate}}</span>
                    </mat-checkbox>

                    <ng-container *ngIf="medialistIsCheckedCount > 0">
                        <app-sharing-status
                            [user]="user" 
                            [asset]="item"
                            matTooltip="{{'media.tooltips.bulk-share-docs' | translate}} {{bulkActionThreshold}}"
                            [bulkActionThresholdStatus]="medialistIsCheckedCount > bulkActionThreshold"
                            (doClick)="shareAssetDialog(item, true)">
                        </app-sharing-status>

                        <button 
                            mat-icon-button
                            *ngIf="inputType === 'owner' || inputType === 'archives'"
                            (click)="openConfirm(item);"
                            matTooltip="{{'media.tooltips.bulk-delete-docs' | translate}} {{bulkActionThreshold}}"
                            [disabled]="medialistIsCheckedCount > bulkActionThreshold">
                            <mat-icon>
                                delete
                            </mat-icon>
                        </button>

                        <span 
                            *ngIf="medialistIsCheckedCount > bulkActionThreshold"
                            class="doEllipsis mat-caption "
                            [matTooltip]="'media.tooltips.too-many-long' | translate"
                            fxFlex="15">
                            {{'media.tooltips.too-many-short' | translate}}
                        </span>
                    </ng-container>

                    <span fxFlex="2 2 auto"></span>

                    <pagination-controls
                        [previousLabel]="'general.previous' | translate"
                        [nextLabel]="'general.next' | translate"
                        (pageChange)="p = $event" [id]="inputType">
                    </pagination-controls>

                </div>

                <!-- nothing found message -->
                <div 
                    *ngIf="ml.length === 0"
                    fxLayout="column">
                    <div
                        class="content-loader nothing-found" 
                        fxLayout="row" 
                        fxLayoutAlign="center center">
                        <p class="mat-title text-center">
                            {{'apps.media.nothing-found' | translate}}
                        </p>
                    </div>
                </div>

                <!-- media list rows -->
                <div
                    [draggable]="toggleFilenameEdit !== idx && layout !== 'session-mobile'"
                    [id]="item.key"
                    [attr.data-key]="item.key"
                    [attr.data-dragdrop-allowed]="'allowed'"
                    data-dragdrop-allowed="true"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    class="list-item" 
                    *ngFor="let item of ml | filterDocs: filterargs | paginate: { itemsPerPage: itemsPerPage, currentPage: p, id: inputType }; index as idx; trackBy: trackByFn">
                
                <!-- sortBy:sortDirection:sortAttribute | -->

                    <mat-checkbox 
                        class="media-list-checkbox"
                        (change)="doSelected($event, ml)"
                        [(ngModel)]="item.isChecked">
                    </mat-checkbox>

                    <ng-container *ngIf="(item.updatedOn | isNew:2); else notNew">
                        <mat-icon  
                            matBadge="new" 
                            matBadgeOverlap="true" 
                            inline="true">{{ item.contentType | contentType }}
                        </mat-icon>
                    </ng-container>
                    <ng-template #notNew>
                        <mat-icon  
                            inline="true">{{ item.contentType | contentType }}
                        </mat-icon>
                    </ng-template>

                    <!-- filename -->
                    <div
                        [title]="item.filename"
                        fxFlex.xs="60"
                        fxFlex="40"
                        fxFlex.gt-sm="30"
                        class="doEllipsis filename-container"
                        fxLayout="row"
                        fxLayoutAlign="start center">
                        
                        <!-- no editing for isSharedWithMe area -->
                        <span
                            *ngIf="toggleFilenameEdit !== idx" 
                            [ngClass]="{ 'item-delete blink': item.toBeDeleted || bulkDeleteRunning && item.isChecked, 'is-shared-with-me': isSharedWithMe }" 
                            class="filename"
                            (click)="!isSharedWithMe ? toggleFilenameEdit = idx : ''">
                            {{ item.filename }}
                        </span>
                        <!-- autocap.. because of touch/iOS devices to fire keyup.enter -->
                        <input
                            autocapitalize="none"
                            fxFlex="auto"
                            *ngIf="toggleFilenameEdit === idx"
                            class="inputFilenameLabel"
                            [ngClass]="{'toBeDeleted': item.toBeDeleted }"
                            type="text" 
                            [(ngModel)]="item.filename"
                            (keyup.enter)="updateFilename(item)"
                            matTooltip="edit and press enter to save">
                        <ng-container 
                            *ngIf="toggleFilenameEdit === idx">
                            <mat-icon
                                class="edit-close-icon"
                                (click)="updateFilename(item)">
                                cancel
                            </mat-icon>
                        </ng-container>
                        <!--<ng-container
                            *ngIf="!toggleFilenameEdit === idx && editIndicator">
                            <mat-icon
                                class="edit-close-icon"
                                (click)="updateFilename(item)">
                                cancel
                            </mat-icon>
                        </ng-container>-->
                    </div>
                    
                    <span class="doEllipsis filesize mat-caption">{{ item.size | filesize }} MB</span> 
    
                    <!-- flex spacer -->
                    <span fxFlex></span>
    
                    <!-- tags directshare share delete download -->
                    <div
                        fxHide fxShow.gt-sm
                        class="doEllipsis tag-list">
                        <ng-container 
                            *ngFor="let _item of item.tags">
                            <ng-container *ngIf="_item | getTagLabel:tags:'default' as _tag">
                                <span
                                    *ngIf="_tag !== 'default'" 
                                    class="inline-tags mat-caption">
                                    {{_tag}}
                                </span>
                            </ng-container>
                        </ng-container>
                    </div>

                    <!-- 3.00_hf1 removed isMobile() check -->
                    <button
                        *ngIf="(item.contentType | contenttypeAllowedCheck:['image','pdf','audio', 'video'])"
                        name="multi-share-item"
                        mat-icon-button
                        (click)="multiShare(item)">
                        <mat-icon>
                            input
                        </mat-icon>
                    </button>
                        
                    <app-sharing-status 
                        *ngIf="item.ownerId === user.uid"
                        [user]="user" 
                        [asset]="item"
                        [key]="item.key"
                        (doClick)="shareAssetDialog(item, false)">
                    </app-sharing-status>

                    <button 
                        mat-icon-button
                        *ngIf="item.ownerId === user.uid"
                        (click)="openConfirm(item); item.toBeDeleted = true;">
                        <mat-icon>
                            delete
                        </mat-icon>
                    </button>
    
                    <button
                        *ngIf="!isMobile"
                        mat-icon-button
                        (click)="downloadItem(item)">
                        <mat-icon>
                            file_download
                        </mat-icon>
                    </button>
    
                    <a
                        *ngIf="isMobile"
                        mat-icon-button
                        target="_blank"
                        [href]="item.downloadLink">
                        <mat-icon>
                            file_download
                        </mat-icon>
                    </a>
                    
                </div>
            </ng-container>
        </div>

        <ng-template #loading>
            <div 
              fxLayout="column">
              <div
                class="content-loader" 
                fxLayout="row" 
                fxLayoutAlign="center center">
                <mat-spinner diameter="120"></mat-spinner>
              </div>
            </div>
          </ng-template>
    </div>
</div>



