/// '/src/vars.scss';
@import '/src/vars.scss';

.main-pane {
    background: rgba(255,255,255, 0.8);
    padding: 1rem;
    &.session-mode {
        padding: 0 1rem 1rem 1rem;
    }
    .warn-message {
        padding: 0.5em;
        margin-right: 1rem;
        border-radius: $radius-default;
        background: orange;
    }
}

.media-pane {
    &.header {
        padding-bottom: 0.5rem;
    }

}

.list-item {
    margin: 0rem 0;
    mat-icon {
        font-size: 22px;
        color: $primary-color;
        background-color: $grey-light;
        border-radius: $radius-default;
    }
    /*
    .filename-container {
        cursor: text;
    }
    */
    .inputFilenameLabel {
        margin: 0 0.5rem;
        padding: 0.2rem 0.2rem;
        font-size: 1rem;
    }
    .filename {
        margin: 0 0.5rem;
        padding: 0 3px;
        opacity: 0.8;
        text-overflow: ellipsis;
        /* width: 15rem; */
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        cursor: text;
        &:hover:not(.is-shared-with-me) {
            background: #fff;
            border-radius: 2px;
        }
    }
    .filesize {
        margin-right: 0.5rem;
        opacity: 0.7;
    }

    /* !!! */
    display: flex;
    
    cursor: grab; /* hand grabbing */
    &:hover {
        background: rgba(255,165,0, 0.2);
    }
}

.session-mobile-mode {
    .list-item {
        cursor: default;
    }
}

.tags {
    min-height: 48px;
    padding: 0.2rem 0.5rem 0.2rem 1rem;
    margin-right: 0;
    border-bottom: 1px solid #efefef;
    border-top-left-radius: $radius-default;
    border-bottom-left-radius: $radius-default;
    &:hover:not(.disabled):not(.selected) {
        background: aquamarine;
        color: #000;
        cursor: pointer;
    }
    &.selected {
        background: $primary-color;
        color: $grey-light;
        cursor: pointer;
    }
    &.dragEnter {
        background: lightgreen;
        color: #000;
    }
    &.dragWasDropped {
        background: lightgreen;
        color: #000;
    }
    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.tag-list {
    margin-right: 0rem;
}
.inline-tags {
    margin-right: 0.1rem;
    background: gray;
    padding: 0 0.2rem;
    border-radius: 0.2rem;
    color: #fff;
}

.filter-pane-top mat-form-field:not(:last-child):not(:first-child) {
    margin-right: 0.5rem;
}

.inline-label {
    margin-right: 0.5rem;
}

.media-list {
    padding: 0 0 3rem 1rem;
    &:not(.session-mobile-mode) {
        box-shadow: -20px 0 20px -20px rgba(0, 0, 0, 0.5);
    }
    &.session-mobile-mode {
        padding-left: 0;
    }
}

.media-list-checkbox {
    margin-right: 0.5rem;

    span {
        background: $grey-light;
        padding: 0.1rem 0.3rem;
        border-radius: $radius-default;
    }
}

.mat-form-field.newTag {
    margin: 0 1rem 0 0;
    /* correction */
    line-height: unset !important;
    mat-icon {
        line-height: unset !important;
    }
    mat-icon:hover {
        cursor: pointer;
        color: #ffffff;
        background-color: $primary-color;
        border-radius: 50%;
    }
}

.mat-menu-content {
    padding: 0.7rem 1 rem;
}

/* upload area */
.upload-area {
    padding: 0.2rem 0.4rem 0.2rem 1rem;
    margin: 0 0 1rem 0;
    border: 3px dotted;
    border-color: lightgrey;
    border-right: none;
    border-radius: 0.3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:hover {
        background-color: aquamarine;
    }

    &.dragEnter {
        background-color: $primary-color;
        color: $grey-light;
    }

    .tag-label {
        padding: 0.2rem;
        background: aquamarine;
        border-radius: 0.1rem;
    }
}

.item-delete {
    text-decoration: line-through;
}

.content-loader {
    min-height: 70vh;
}

.media-quotas {
    margin-right: 1rem;
}

.anonymous-hint {
    margin: 0 1rem 1rem 0;
}

.edit-close-icon {
    margin-right: 0.5rem;
    cursor: pointer;
    background: unset !important;
}

.dragNotAllowed {
    cursor: not-allowed;
    text-decoration: line-through;
    opacity: 0.5;
    background-color: $primary-color;
    color: #fff;
}

.upload-progress-area {
    padding: 0.2rem 0 0.2rem 0;
    margin: 0 0 1rem 0;
    border-right: none;
    border-radius: 0.3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
    overflow: hidden;
}

.media-pane-left-col {
    margin-bottom: 2rem;
}

.tag-totals {
    margin-left: 0.5rem;
    color: $grey;
    /* !!! important, this stops the drag enter events to fire, when hovering this element !!! */
    pointer-events: none; 
}

.tag-label {
    /* !!! important, this stops the drag enter events to fire, when hovering this element !!! */
    pointer-events: none; 
}

.nothing-found {
    white-space: normal;
}
