<ng-container *ngIf="data.messageId === 'create-accounts.delete'">
  <h2 mat-dialog-title>Remove account?</h2>
</ng-container>

<ng-container *ngIf="data.messageId === 'create-accounts.removePeer'">
  <h2 mat-dialog-title>Remove connection to student?</h2>
</ng-container>

<ng-container *ngIf="data.messageId === 'peers.remove'">
  <h2 mat-dialog-title>Remove connection?</h2>
</ng-container>

<mat-dialog-content>

  <ng-container *ngIf="data.messageId === 'create-accounts.delete'">
    <span>Remove selected account from your list?</span><br>
    <span>Be aware, that you have to invite him again and that he has no access to your institutional area any more!</span>
  </ng-container>

  <ng-container *ngIf="data.messageId === 'create-accounts.removePeer'">
    <span>Disconnect selected student?</span><br>
    <span>Be aware, that he will be removed from this list and has to be invited again!</span>
  </ng-container>

  <ng-container *ngIf="data.messageId === 'peers.remove'">
    <span>Remove selected connection to account?</span><br>
    <span>Be aware, that you have to connect this account again, to grant access to the session room!</span>
  </ng-container>

</mat-dialog-content>
<mat-dialog-actions class="flex row end">
  <button 
  mat-raised-button 
    mat-dialog-close>
    Cancel
  </button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <span class="flex-item"></span>
  <button 
    mat-raised-button 
    color="primary"
    [mat-dialog-close]="true"
    cdkFocusInitial>
    Remove
  </button>
</mat-dialog-actions>
