
<div>
    <mat-radio-group 
      fxLayout="column" 
      class="headphoneSection"
      [value]="currentValue"
      (change)="toggleHeadphoneMode($event)">
      <div
        fxLayout="row"
        fxLayoutAlign="start center">
        <mat-radio-button 
          name="headphoneMode"
          [value]="true">
          {{'room.audioMode.headphone-mode' | translate}} ({{'room.audioMode.recommended' | translate}})
        </mat-radio-button>
        <mat-icon style="margin-left: 1rem; color: orange">headset_mic</mat-icon>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="start center">
        <mat-radio-button 
          name="speakerMode"
          [value]="false">
          {{'room.audioMode.speaker-mode' | translate}}
        </mat-radio-button>
        <mat-icon style="margin-left: 1rem; color: orange">volume_up</mat-icon>
      </div>
    </mat-radio-group>
  </div>
