

    <div
      name="profileForm"
      fxLayout="column"
      fxFlex="100">

      <h2>{{'profile.headline' | translate}}</h2>

      <ng-template #waiting>
        {{'general.wait-a-sec' | translate}}
        <!--Your profile data is loading, please wait a second...-->
      </ng-template>

      <ng-container
        *ngIf="(vm$ | async) as vm; else waiting">

        <!--<p 
          *ngIf="usr.role === -1 && !(usr.userActions === 'coachRequestPending')" 
          class="warnMessage">
          <ng-container *ngIf="(a.profileMissingStatus$ | async)"
            class="warnMessage">{{'profile.continue-registration' | translate}}&nbsp;
          </ng-container> 
          <span>
            {{'profile.hi-please-enter' | translate}}
          </span>
          <span *ngIf="inviteStatus">
            {{'profile.mandatory-to-complete-profile' | translate}}
          </span>
        </p>-->
        
        <!-- student registration success -->
        <!--<p 
          *ngIf="usr.role === 0 && !(usr.userActions === 'coachRequestPending' || usr.userActions === 'inviteComplete')" 
          class="successMessage student"
          [innerHTML]="'profile.you-successfully-registered-student' | translate">
        </p>-->

        <!-- success invite complete-->
        <!--<p 
          *ngIf="usr.userActions === 'inviteComplete'" 
          class="successMessage student"
          fxLayout="column">
          <span style="margin-bottom: 1em"
          [innerHTML]="'profile.you-successfully-connected-to-coach' | translate"></span>
          <button 
              mat-raised-button
              color="primary"   
              [routerLink]="['/mycoaches']">
              {{'profile.visit-my-coaches' | translate}}
            </button>
        </p>-->

        <!-- success coach -->
        <!--<p 
          *ngIf="usr.role === 1 && usr.userActions === 'coachRequestGranted'" 
          class="successMessage coach"
          [innerHTML]="'profile.you-successfully-applied-as-coach' | translate">
        </p>-->

        <!-- hint coach request is pending -->
        <!--<p 
          *ngIf="usr.userActions === 'coachRequestPending'" 
          class="successMessage coachRequestPending"
          [innerHTML]="'profile.apply-as-coach' | translate">
        </p>-->

        <ng-container
          *ngIf="showRadio$ | async">
          <div 
            class="formRow" 
            fxLayout="column">

            <mat-radio-group
              id="coachOrStudent"
              fxLayout="column"
              [(ngModel)]="coachOrStudent">

              <mat-radio-button 
                value="student">
                <span>
                  {{'profile.check-in-student-account' | translate}}
                  <!--Check in for a FREE student account-->
                </span>
              </mat-radio-button>
              <mat-radio-button 
                value="coach">
                <span>
                  {{'profile.check-in-coach-account' | translate}}
                  <!--Subscribe for a doozzoo PRO coach account-->
                  <sup>**</sup>
              </span>
              </mat-radio-button>

            </mat-radio-group>   
            <span class="mat-caption">
              <sup>**</sup> 
              {{'profile.coach-account-hint' | translate}}
              <!--Please select "Coach" only, if you would like to give lessons on the doozzoo plattform.-->
            </span>
          </div> 
        </ng-container>

        <app-customer *ngIf="coachOrStudent === 'student'"></app-customer>

        <app-coach *ngIf="coachOrStudent === 'coach'"></app-coach>

      </ng-container>

    </div>

    <div id="scrollDummy" style="height:2em"></div>
    
  <!--</div>-->

  



 
