
<mat-form-field fxFlexFill>
    <mat-select 
      placeholder="Select video in"
      [ngModel]="videoInSelected"
      (selectionChange)="doSelectVideoIn($event)"
      name="selectVideoIn">
      <mat-option 
        *ngFor="let item of deviceList$ | async; index as idx"
        [value]="item.deviceId">
        {{ item.label }}
      </mat-option>
    </mat-select>
</mat-form-field>

<!--<pre>{{ deviceList$ | async | json }}</pre>-->
