<div
  fxLayout="column"
  fxLayoutGap="0">

  <ng-container *ngIf="data.checked; else noArchiving">
    <span class="mat-title">
      {{'stripe.archiving.confirm-dialog.headline-cancelation' | translate}}
      <!--Confirm your cancelation-->
    </span>
    <div [innerHTML]="'stripe.archiving.confirm-dialog.confirm-cancelation-description' | translate">
      <!--
      <p>Please confirm that you cancel booking the <strong>Archiving</strong> add-on feature as a pay per use option.</p>
      <p>Please be aware that the archiving option in the session will be deactivated.</p>
      <p>Existing recordings will be still available on the Media page when selecting tab "My archived sessions".</p>
      -->
    </div>
  </ng-container>

  <ng-template #noArchiving>
    <span class="mat-title">
      {{'stripe.archiving.confirm-dialog.headline-booking' | translate}}
      <!-- Confirm your booking -->
    </span>
    <div [innerHTML]="'stripe.archiving.confirm-dialog.confirm-booking-description' | translate:param">
      <!--
      <p>Please confirm that you are booking the <strong>Archiving</strong> add-on feature as a pay per use option.</p>
      <p>Your archiving will be billed on a monthly basis. Price per minute recorded video is {{ data.pricePerMinute | currency:'EUR' }}.</p>
      <p>The status for the current period can be checked on the Media page when selecting tab "My archived sessions".</p>
      -->
    </div>
  </ng-template>

</div>
<div class="spacer"></div>
<div
  fxLayout="row">
  <button 
    name="archiving-dialog-cancel"
    mat-raised-button 
    (click)="cancel()">
    {{'buttons.standard.cancel' | translate}}
  </button>
  <span fxFlex="auto"></span>
  <button 
    name="archiving-dialog-confirm"
    mat-raised-button 
    color="primary" 
    (click)="confirm()">
    {{'buttons.standard.confirm' | translate}}
  </button>
</div>
