
<ng-container
    *ngIf="debug">
    <pre class="generic-debug left">myRoomsVM: {{ vm$ | async | json }}</pre>
    <!--<pre>myRoomsVM: {{ myRoomsStore.state$ | async | json }}</pre>-->
</ng-container>

<ng-container
    *ngIf="vm$ | async as vm">

    <div
        name="tangoButtonComponent"
        [fxFlex.lg]="btnConf.lg" 
        [fxFlex.gt-xs]="btnConf.gtxs" 
        [fxFlex.xs]="btnConf.xs"
        [ngClass]="btnConf.class">
    
        <button
            name="myRoomButton"
            [disabled]="vm.myRoomSelected?.minutesAvailable <= 0 || vm.state.disableUI" 
            mat-raised-button 
            class="startTango doEllipsis"
            ngClass="{'disabled': vm.myRoomSelected?.minutesAvailable <= 0 || vm.state.disableUI}" 
            (click)="vm.myRoomSelectedExists ? goToMyRoom(vm.myRoomSelected) : createMyRoom(vm.myRoomSelected)">

            <span class="tango-label">{{'buttons.session.start-session' | translate}}</span>
            
            <mat-icon class="my-room-icon" [inline]="true">meeting_room</mat-icon>
            <span 
                *ngIf="vm.myRoomSelected !== null; else noSelectionDone"
                class="my-room doEllipsis">
                {{ vm.myRoomSelected.roomToken }}
            </span>
            <ng-template #noSelectionDone>
                <span class="my-room">Select room...</span>
            </ng-template>

            <mat-icon
                *ngIf="vm.myRoomSelectedExists"
                matTooltip="Room is busy"
                class="my-room-exists blink" [inline]="true">
                do_not_disturb
            </mat-icon>

            <button
                class="select-my-room mat-icon-mini"
                *ngIf="vm.myRoomsList?.length > 1 || userData.plan === 'premium'"
                (click)="$event.stopPropagation()"
                [matMenuTriggerFor]="selectMyRooms"
                matTooltip="Select room"
                mat-icon-button>
                <mat-icon>expand_more</mat-icon>
            </button>

            <!--<app-myrooms-edit 
                *ngIf="vm.myRoomSelectedEditAllowed"
                [roomToken]="vm.myRoomSelected">
            </app-myrooms-edit>-->

        </button>

        <ng-container *ngIf="vm.myRoomSelected?.minutesAvailable <= 10">
            <div
                fxLayout="row"
                fxLayoutAlign="center center"
                class="mat-caption">
                <span 
                    fxFlex
                    [innerHTML]="'plan.session-time.hint-home' | translate: { minutesAvailable: vm.myRoomSelected?.minutesAvailable, plan: userData?.plan }">
                    <!--You have {{minutesAvailable}} minutes left in your plan "{{plan}}". Go to "Profile" to upgrade or click below-->
                </span>
                <button
                    mat-raised-button
                    class="mini"
                    [routerLink]="'/login'"
                    [queryParams]="{step: 'plan'}">
                    {{'plan.session-time.upgrade-plan' | translate}}
                </button>
            </div>
        </ng-container>
        <ng-container>
            <div
                class="to-clipboard mat-caption"
                matRipple   
                [cdkCopyToClipboard]="vm.myRoomSelected?.plan ? parseUrlPrefix() + vm.state.prefix + vm.myRoomSelected?.roomToken : parseUrlPrefix() + vm.myRoomSelected?.roomToken"
                fxLayout="row"
                fxLayoutAlign="center center">
                <span>{{'myrooms.session-id-to-clipboard' | translate}}&nbsp;</span>
                <mat-icon [inline]="true">content_paste</mat-icon>
            </div>
        </ng-container>

        <mat-menu #selectMyRooms="matMenu" yPosition="below">

            <ng-container *ngIf="vm.myRoomsList as myRooms; else noMyRooms">
                <button
                    fxLayoutAlign="start center"
                    *ngFor="let item of myRooms"
                    [ngClass]="{'selected': item === vm.myRoomSelected}"
                    (click)="myRoomsStore.setMyRoomsSelected(item)"
                    mat-menu-item>
                    <mat-icon>meeting_room</mat-icon>
                    {{ item.roomToken }}
                    <span fxFlex></span>
                    <mat-icon>{{ item.roomPassword ? 'lock' : 'lock_open' }}</mat-icon>
                </button>
                <mat-divider></mat-divider>
                <button
                    (click)="editMyRoom(vm.myRoomSelected, vm.state.prefix)"
                    [disabled]="vm.myRoomSelected?.key === 'randomToken'"
                    mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    Edit selected room name
                </button>
                <mat-divider></mat-divider>
                <button
                    *ngIf="vm.myRoomsList?.length <= 5 && userData.plan === 'premium'"
                    (click)="createRoomName()"
                    mat-menu-item>
                    <mat-icon>add_circle_outline</mat-icon>
                    Create new room name
                </button>
            </ng-container>

            <ng-template #noMyRooms>
                <span mat-menu-item>
                    no my-rooms-available
                </span>
            </ng-template>

        </mat-menu>

    </div>
    
</ng-container>



