@import '/src/vars.scss';

button.startTango {
    font-family:Quicksand;
    border-radius:5px;
    border: none;
    min-height: 26px;
    width: 100%;
    padding: 0.3em 2em;
    margin: 0.5em 0;
    color: #fff;
    background: #005596;
    cursor: pointer;

    .tango-label {
        font-size:20px; 
        letter-spacing: 1px;
        font-weight: lighter;
        text-transform: uppercase;
    }

    .my-room-icon {
        font-size:1.3rem; 
        margin: 0 0.4rem 0 0.4rem;
    }

    .my-room {
        font-size:1.1rem; 
        text-transform: none; 
        margin-right: 0.5rem;
    }

    .my-room-exists {
        font-size:1.1rem; 
        text-transform: none; 
        color: orange;
    }

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }
}

.button-caption {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 2px;
    text-transform: none;
    background: orange;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
    padding: 6px;
    color: #005596;
}

mat-icon.off {
    color: red;
}

.mat-icon-button {
    /*
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    */
    &.mat-icon-mini {
        width: 24px;
        height: 24px;
        line-height: 24px !important;
    }
}

.to-clipboard {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.mat-menu-item .mat-icon {
    margin-right: 0.5rem;
    vertical-align: middle;
}

button.selected {
    font-weight: bold !important;
    color: $primary-color;
    background: $grey-light;
    mat-icon {
        color: $primary-color;  
    }
}