.apps {
    position: relative;
    /* border-radius: 10px; */
}

.topProgress {
    position: absolute;
    width:100%;
    height:10px;
    top:0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow:hidden;
}
.apps.default {
    height: 300px;
    width: 360px;
    max-width: 360px;
    border-radius: 10px;
    background: #fff;
}
.apps.default.flexible {
    height: auto;
}

/* fade out the title row to save space */
.apps .appTitleRow {
    border-bottom: 1px solid #efefef;
    padding-bottom: 0;
    max-height: 50px; 
    height: 50px;
    opacity: 1; 
}
.apps .appTitleRow.ng-hide-add, 
.apps .appTitleRow.ng-hide-remove {
  transition: all 0.5s linear;
}
.apps .appTitleRow.ng-hide {
    max-height: 0;
    height: 0;
    opacity: 0; 
    overflow: hidden;
}

.apps .app-title {
    /* margin: 12px 0 0 0; */
    padding: 8px 8px 0 8px !important;
    .mat-title {
        margin: 0 !important;
    }
    mat-icon {
        margin-left: 0.5rem;
        color: #999;
    }
}

.apps .warning-row {
    margin-left: -8px;
    width: calc(100% + 16px);
}

.apps .controllersRow {
    /* min-width: 360px; */
    width: auto;
    min-height: 70px;
    padding: 0;
    margin: 0 0 0 8px !important;
}
.apps .controllersRow md-input-container {
    margin: 8px 0 0 8px;
}
.apps .controllersRow md-radio-button {
    margin: 0 0 8px 0;
}
.apps .firstRow {
    margin: 0 0.5em; 
}
.apps md-content {
    background: #efefef;
    border-radius: 10px;
}
.apps .recordingLabels {
    padding: 0.4em 0; 
} 
.apps .recordingTitle {
    margin-left: 1em;
    font-weight: bold;
}
.apps audio,
.apps audio-trimmer  {
    border-radius: 5px;
    width: 300px;
}
.apps video {
    border-radius: 5px;
    max-width: 312px;
    max-height: 240px;
}
.apps md-menu-item md-checkbox {
    margin-left: 48px;
}
.apps .clipList {
    margin: 0 0 16px 8px;
    padding-bottom: 16px;
    overflow-y: scroll;
    max-height: 70vh;
}
md-menu-item.checkbox {
    padding-left: 18px !important;
} 
span.onOff {
    font-weight: bold !important;
    color: rgba(255,110,64,0.87);
}
/* minimized version */
.audioRecorder.small {
    width: 56px;
    height: 56px;
    border-radius: 10px;
    background: #fff;
}

/* animate preview row */
.apps .previewVideoRow {
    /* min-width: 360px; */
    /* width: 100%; */
    padding: 0 8px;
    margin: 0.5em 0;
    position: relative;
    max-height: 240px;
    opacity: 1;
}
 .apps .previewVideoRow.ng-hide {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}
.apps .previewVideoRow.ng-hide-add, 
.apps .previewVideoRow.ng-hide-remove {
  transition: all 0.5s ease-in; /* linear ease-out ease in */
}
.apps .previewVideoRow video {
    min-width: 312px;
    /* width: 100%; */
    height: 170px;
    object-fit: cover;
}

.apps .previewVideoRow .previewOverlay {
    position: absolute;
    top: 0;
    left: 8px;
    width: 312px;
    height: 100%;
    border-radius: 4px;
    /* background: rgba(0,0,0,0.3); */
}
.apps .previewVideoRow .previewOverlay span {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    color: #fff;
    opacity: 0.5;
}

.recordButton {
    background-color: #fff;
    margin-right: 1em;
}
.small .recordButton {
    margin-right: 0;
}
.recordButton[disabled] {
    background-color: #efefef;
}
.recordButton mat-icon {
    color: red;
}
.recordButton[disabled] mat-icon  {
    opacity: 0.5;
}
.recordingLabelsTimestamp {
    margin: 6px 0 0 0;
}
.recordingLabelsTitle {
    font-size: 1em;
    margin-left: 0.5em;
    border-radius: 3px;
    border: 1px solid #efefef;
    padding: 5px;
}
.recordingLabelsTitle:focus {
    background: lightgreen;
}

.mat-menu-content {
    padding: 1em !important;
}

.apps button.pin-clip {
    margin-left: -10px;
}

mat-select {
    font-size: 0.8rem !important;
}

.selectInputDevices {
    padding: 0 8px;
}
.mat-form-field-infix {
    width: auto !important;
}

/* drag drop styles */
.drag-handle {
    position: absolute;
    padding: 0.5rem;
    border-radius: 50%;
    color: rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.1);
    cursor: grab;
    &.cdk-drag-placeholder {
      cursor: grabbing;
    }
    &:hover {
        color: rgba(0,0,0,1);
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drop-list-dragging .apps-container:not(.cdk-drag-placeholder) {
    transition: all 0.7s;
}