
<div 
  cdkDrag
  cdkDragLockAxis="x"
  fxLayout="row"
  fxLayoutAlign="center center"
  class="apps-container"
  *ngIf="vm$ | async as vm">

  <section *ngIf="(vm.apps | appPosition:'recorderId')?.mode === 'default'">

    <div 
      class="apps default mat-elevation-z6" 
      [ngClass]="{'flexible': inputHeight === 'flexible'}">

        <mat-icon class="material-icons toggleMode" role="img" (click)="toggleMode()">
            remove_circle_outline
        </mat-icon>

        <!-- drag handle cross arrow -->
        <mat-icon
          cdkDragHandle
          class="drag-handle" 
          role="img">
          open_with
        </mat-icon>

        <div 
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="1rem"
          class="app-title">
          <span class="mat-title">{{'apps.recorder.headline' | translate}}</span>
          <mat-icon
            [matTooltip]="'apps.recorder.tooltip-i' | translate">
            info
          </mat-icon>
        </div>

        <div 
          *ngIf="!(a.loginStatus$ | async)" 
          class="flex row center align-center warning warning-row"
          [@openClose]="isOpen ? 'open' : 'closed'">
          <span class="mat-caption">
            {{'apps.recorder.hint-anonymous-users' | translate}}
            <!-- Cloud storage functions are disabled for anonymous users -->
          </span>
        </div>

        <div class="flex row end align-center controllersRow">
          <div class="flex column center flex-item">
            <mat-radio-group 
              *ngIf="!recordButtonStatus"
              class="flex column headphoneSection" 
              [(ngModel)]="audioVideoGroup"
              (change)="toggleVideoTrack()">

              <mat-radio-button 
                [value]="true">
                {{'apps.recorder.audio-only' | translate}}
                <!--Audio only (mp3)-->
              </mat-radio-button>

              <mat-radio-button 
                [value]="false">
                {{'apps.recorder.video-and-audio' | translate}}
              </mat-radio-button>

            </mat-radio-group>
                
            <p style="margin-right:0.5em; margin-left:0.5em" class="firstRow" *ngIf="percentUploaded > 0">
              {{ percentUploaded }}{{'apps.recorder.percent-uploaded' | translate}}
            </p>
            <p style="margin-right:0.5em; margin-left:0.5em" class="firstRow" *ngIf="mediaRecorder?.timeRecorded > 0">
              {{ mediaRecorder?.timeRecorded | secToMin }} {{'apps.recorder.minutes-recorded' | translate}}
            </p>
          </div>
          <button 
            mat-mini-fab
            class="recordButton"
            [disabled]="audioArr.length > config.maxNrOfClips"
            (click)="recordButtonStatus ? stop() : record()">
            
            <mat-icon 
              *ngIf="!recordButtonStatus"
              class="material-icons" 
              role="img">
              lens
            </mat-icon>
            
            <mat-spinner
              [diameter]="30"
              *ngIf="recordButtonStatus"
              style="margin-top:-3px">
            </mat-spinner>
          </button>

          <mat-menu #appMenu="matMenu">
            <div 
              mat-menu-item
              (click)="$event.stopPropagation();">
              <mat-form-field 
                class="flex-item">
                <input 
                  matInput 
                  [placeholder]="'apps.recorder.menu.time-limit' | translate" 
                  [(ngModel)]="config.maxLengthOfClips"
                  (change)="setConfig()">
              </mat-form-field>
            </div>
            <div 
              mat-menu-item
              (click)="$event.stopPropagation();">
              <mat-form-field class="flex-item">
                <input 
                  matInput 
                  [placeholder]="'apps.recorder.menu.maximum-number' | translate" 
                  [(ngModel)]="config.maxNrOfClips"
                  (change)="setConfig()">
              </mat-form-field>
            </div>
            
          </mat-menu>
          
          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
<!--
        {{ devices?.video | json}}
        {{ devices?.audio | json}}
-->
        <div
          fxLayout="row"
          fxLayoutGap="0.5rem"
          class="selectInputDevices">
          <ng-container *ngIf="devices?.audio">
            <mat-form-field fxFlex="48">
              <mat-select 
                [(value)]="audioInputSelected"
                (selectionChange)="changeAV('audio', $event)"
                placeholder="{{'apps.recorder.audio-input' | translate}}" 
                name="audioInput">
                  <mat-option *ngFor="let item of devices.audio" [value]="item">{{item.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>

          <span fxFlex></span>

          <ng-container *ngIf="devices?.video">
            <mat-form-field fxFlex="48">
              <mat-select 
                [disabled]="!videoTrackEnabled || (devices.video.length < 2)"
                [(value)]="videoInputSelected"
                (selectionChange)="changeAV('video', $event)"
                placeholder="{{'apps.recorder.video-input' | translate}}" 
                name="videoInput">
                <mat-option *ngFor="let item of devices.video" [value]="item">{{item.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </div>


        <!--progresss bar-->
        <mat-progress-bar
          *ngIf="mediaRecorder?.percentRecorded > 0"           
          [value]="mediaRecorder?.percentRecorded">
        </mat-progress-bar>
        <mat-progress-bar
          *ngIf="(percentUploaded | async) > 0"           
          [value]="(percentUploaded | async)">
        </mat-progress-bar>
        <!-- video preview -->
        <div  
          class="flex row previewVideoRow"
          [@openClosePreview]="videoTrackEnabled ? 'open' : 'closed'">
          <video #videoPreview *ngIf="videoTrackEnabled" id="videoPreview" autoplay muted></video>
          <div class="previewOverlay">
              <span class="mat-headline">{{'general.preview' | translate}}</span>
          </div> 
        </div> 

        <!-- ### list of clips ### -->
        <div 
          class="flex column clipList">
          <!--no entries message-->
          <div *ngIf="audioArr.length === 0" class="flex column center align-center" style="height:200px">
              <p>
                {{'apps.recorder.no-recordings-available' | translate}}
                <!--No recordings available-->
              </p>
          </div>


          <!-- clips -->
          <div *ngFor="let item of audioArr; index as idx">
            <div layout="column">

              <div 
                fxLayout="row"
                fxLayoutAlign="start center"
                class="recordingLabels">

                <button 
                  class="pin-clip"
                  mat-icon-button
                  matTooltip="Pin video"
                  (click)="pinClip(idx)">
                  <mat-icon>{{ item.pinned ? 'push_pin' : 'check_box_outline_blank' }}</mat-icon>
                </button>

                <span 
                  class="mat-caption recordingLabelsTimestamp">
                    {{ item.timestamp | date : 'MMM d, HH:mm' }}
                </span>
                <!--<span class="recordingTitle">{{ item.title }}</span>-->
                <input 
                  class="recordingLabelsTitle flex-item" 
                  type="text" 
                  [(ngModel)]="item.title" 
                  (change)="updateTitle(item)"
                  [matTooltip]="'apps.recorder.tooltip.press-enter-to-save' | translate">
                <button
                  mat-icon-button
                  (click)="toggleClip(idx)">
                  <mat-icon>{{ unhideClip(idx) ? 'expand_less' : 'expand_more' }}</mat-icon>
                </button>
              </div>

              <div 
                *ngIf="unhideClip(idx)"
                class="flex row">
                <!--clip display-->
                <div class="flex column">
                    <app-audio-trimmer *ngIf="item.mimeType.indexOf('audio/') !== -1" [item]="item" [index]="idx"></app-audio-trimmer>
                    <app-video-trimmer *ngIf="item.mimeType.indexOf('video/') !== -1" [item]="item" [index]="idx"></app-video-trimmer>  
                </div>
                <span class="flex-item"></span>
                <!--upload buttons etc.-->
                <div class="flex column">
                    <button
                        mat-icon-button 
                        [disabled]="percentUploaded > 0 || item.uploaded === true || !(a.loginStatus$ | async)"
                        (click)="upload(item, idx)"
                        [matTooltip]="'apps.recorder.tooltip.upload-media' | translate">
                        <mat-icon>
                            cloud_upload
                        </mat-icon>
                    </button>
                    <button 
                        mat-icon-button 
                        [matTooltip]="'apps.recorder.tooltip.delete-clip' | translate"
                        (click)="openConfirm(item)">
                        <mat-icon>
                            delete
                        </mat-icon>
                    </button>
                </div> 
              </div>

            </div>
          </div>
        </div>

    </div>

  </section>

  <section *ngIf="(vm.apps | appPosition:'recorderId')?.mode === 'small'">

    <div 
    cdkDragHandle
    fxLayout="row"
    fxLayoutAlign="center center"
    class="apps small mat-elevation-z6">

      <mat-icon 
        class="ng-scope material-icons toggleMode" 
        role="img" 
        (click)="toggleMode()">
          add_circle_outline
      </mat-icon>

      <button 
        mat-mini-fab
        class="recordButton"
        [disabled]="audioArr.length > config.maxNrOfClips"
        (click)="recordButtonStatus ? stop() : record()">

        <mat-icon class="material-icons" role="img">
          lens
        </mat-icon>

      </button>

      <span class="appLabel md-caption">{{'apps.recorder.headline' | translate}}</span>

    </div> 

  </section> 

</div>