<ng-container 
  *ngIf="(avatar | async) as avtr; else defaultAvatar">
  <img class="avatarThumb" [src]="avtr">
</ng-container>
<ng-template #defaultAvatar>
  <img class="avatarThumb" src="assets/img/avatars/avataaars-default.png">
</ng-template>
