<!-- start of wrapper -->
<div
  fxLayout="row"
  class="moduleContainerWrapper"
  fxLayoutAlign="center center"
  fxLayoutGap="1em"
>
  <!-- column container for modules -->
  <div
    class="moduleContainer"
    fxLayout="column"
    fxFlex="60"
    fxFlex.sm="80"
    fxFlex.xs="100"
    fxLayoutGap="1em">

    <div
        class="fxContent mat-elevation-z2 padding16"
        fxLayout="column"
        fxLayoutGap="1em">

        <ng-container *ngIf="!(this.accessAllowed$ | async); else accessIsAllowed">

          <span class="mat-headline">{{'gum-access.headline' | translate}}!</span>

          <ng-container *ngIf="browserDetected$ | async as browserDetected">
            <!-- chrome version -->
            <ng-container *ngIf="browserDetected === 'chrome'">
              <mat-list>
                  <mat-list-item>
                    <mat-icon matListIcon>looks_one</mat-icon>
                    <h3 matLine>{{'gum-access.chrome.chrome-1' | translate}}</h3>
                    <span matLine>
                      <img style="width: 220px" src="assets/img/gum-access/chrome-urlbar-right.svg">
                    </span>
                  </mat-list-item>
                  <mat-list-item>
                      <mat-icon matListIcon>looks_two</mat-icon>
                      <h3 matLine>{{'gum-access.chrome.chrome-2' | translate}}</h3>
                      <span matLine>
                          <img style="width: 320px; border: 1px solid #efefef" src="assets/img/gum-access/chrome-always-allow-{{ translateService.currentLang === 'de' ? 'de' : 'en' }}.jpg">
                      </span>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon matListIcon>looks_3</mat-icon>
                      <h3 matLine>{{'gum-access.chrome.chrome-3' | translate}}</h3>
                    </mat-list-item>
              </mat-list>
            </ng-container>
            <!-- firefox version -->
            <ng-container *ngIf="browserDetected === 'firefox'">
                           
              <mat-list>
                <mat-list-item>
                  <mat-icon matListIcon>looks_one</mat-icon>
                  <p matLine>{{'gum-access.firefox.firefox-1' | translate}}</p>
                  <span matLine>
                    <img style="width: 220px" src="assets/img/gum-access/firefox-urlbar-left.jpg">
                  </span>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon matListIcon>looks_two</mat-icon>
                  <span matLine>{{'gum-access.firefox.firefox-2' | translate}}</span>
                  <div matLine>
                      <img style="width: 320px; border: 1px solid #efefef" src="assets/img/gum-access/firefox-unblock-permissions-{{ translateService.currentLang === 'de' ? 'de' : 'en' }}.jpg">
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon matListIcon>looks_3</mat-icon>
                  <span matLine>{{'gum-access.firefox.firefox-3' | translate}}</span>
                  <div matLine>
                    <img style="width: 320px; border: 1px solid #efefef" src="assets/img/gum-access/allow-firefox-{{ translateService.currentLang === 'de' ? 'de' : 'en' }}.jpg">
                </div>
                </mat-list-item>
            </mat-list>

            <!-- safari version --> 
            </ng-container>
            <ng-container *ngIf="browserDetected === 'safari'">
              <mat-list>

                <mat-list-item>
                  <mat-icon matListIcon>looks_one</mat-icon>
                  <span matLine>{{'gum-access.safari.safari-1' | translate}}</span>
                </mat-list-item>

                <mat-list-item>
                  <mat-icon matListIcon>looks_two</mat-icon>
                  <span matLine>{{'gum-access.safari.safari-2' | translate}}</span>
                  <div matLine>
                      <img style="width: 460px; border: 1px solid #efefef" src="assets/img/gum-access/allow-safari-{{ translateService.currentLang === 'de' ? 'de' : 'en' }}.jpg">
                  </div>
                </mat-list-item>

            </mat-list>
            </ng-container>
            <ng-template #otherBrowsers>
              other...
            </ng-template>
          </ng-container>

          <a
              *ngIf="true"
              name="save-settings"
              color="primary"
              href="/camera-access"
              mat-raised-button>
              {{'general.try-again' | translate}}
          </a>

        </ng-container>

        <ng-template #accessIsAllowed>
          <span class="mat-headline">{{'gum-access.is-granted' | translate}}!!</span>
          <div
            fxLayout="row"
            fxLayoutAlign="center center">
            <mat-icon 
              class="icon-display-4"
              style="color:green">
                check_circle
              </mat-icon>
          </div>

          <div
            fxLayout="row">

            <button 
              mat-raised-button 
              (click)="location.back()">
              <mat-icon>chevron_left</mat-icon>
              {{'general.back' | translate}}
            </button>

          </div>

        </ng-template>

        <!-- this.accessAllowed$: {{ this.accessAllowed$ | async }} -->
        <!-- browserDetected$ {{ browserDetected$ | async }} -->
        
    </div>
    
  </div>

</div>
