/*
.moduleContainerWrapper {
    min-height: calc(100vh - 50px) !important;
    overflow: scroll;
}
*/

.moduleContainer {
    padding-bottom: 2rem;
}

.icon-display-4 {
    /* transform: scale(4); */
    height: 96px;
    width: 96px;
    font-size: 96px;
}

.mat-list-item {
    height: auto !important;
    padding-bottom: 0.5rem !important;
}

.mat-line {
    margin-bottom: 0.3rem !important;
}

