
.homeWidget {
    position: absolute;
    top: 1rem;
    left: 1rem;
    max-width: 20rem;
    background: rgba(255, 246, 230, 0.8);
    border-radius: 0.4rem;

    img {
        width: 100%;
    }

    h2 {
        font-size: 1.3rem !important;
        padding: 0.6rem 0rem 0.6rem 1rem;
        margin: 0;
    }

    .body {
        font-size: 0.9rem;
        padding: 1rem;

        ul {
            list-style: none;
            padding-left: 0;
    
            li {
                border-bottom: 1px dashed rgba(0,0,0,0.1);
                border-color: rgba(0,0,0,0.2);
                padding: 0.2rem;
            }
        }

    }

    .body ul {
        list-style: none !important;
        padding-left: 0 !important;
    }
    
    .caption {
        font-size: 0.8rem;
        margin: 0.8rem 1rem 0 1rem;
        text-align: right;
    }


    
}