<div
  class="homeWidget"
  *ngIf="widgetShow"
  (mouseenter)="hover = !hover" 
  (mouseleave)="hover = !hover"
  [class.mat-elevation-z2]="hover"
  [class.mat-elevation-z10]="hover" 
  fxLayout="column">

  <div
    fxLayout="row"
    fxLayoutAlign="start start" 
    class="header">
    
    <h2 [innerHTML]="header"></h2>
    <span fxFlex></span>
    <button
      class="widgetButton"
      name="close"
      mat-icon-button
      (click)="widgetSubmit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="url; else img">
    <div *ngIf="imgLink">
      <a [href]="imgLink" target="_blank">
        <img [src]="url">
      </a>
    </div>
    <div *ngIf="!imgLink">
      <img [src]="url">
    </div>
  </ng-container>
  <ng-template #img>
    <div>
      <img src="assets/img/cap-keyvisual.jpg">
    </div>
  </ng-template>

  <div
    fxLayout="column" 
    class="body">
    <div [innerHTML]="body"></div>
    <div class="caption">{{ date }}</div>
  </div>
</div>

