<!-- start of wrapper -->
<div fxLayout="row"
  class="moduleContainerWrapper" 
  fxLayoutAlign="center center">

  <!-- column container for modules -->
  <div 
    class="moduleContainer"
    fxLayout="column" 
    fxFlex="80" 
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayoutGap="1em">

    <div fxLayout="row">
      <a 
        mat-stroked-button
        [routerLink]="'/admin/listusers'">
        go back
      </a>
    </div>

    <div 
      class="fxContent mat-elevation-z2 padding16"
      fxLayout="column" 
      fxLayoutGap="1em">

      <h2 class="mat-headline">User details</h2>

      <p>User Id: {{ userId }}</p>

      <pre>{{ userData | async | json }}</pre>

      <div>
        <a 
          color="primary"
          mat-raised-button
          target="_blank"
          href="{{ httpFunctionsUrl }}verifyUserEmail?email={{ userId | userName:'email' | async }}">
          Verify E-Mail {{ userId | userName:'email' | async }}
        </a>
      </div>

      <app-user-content-row [userId]="userId"></app-user-content-row>

      <ng-container *ngIf="(studentList | async) as sl; else nothingfound">
        
        <h2 class="md-title">Students</h2>
        <ul id="listMyCoaches" style="padding:0">
          <li 
            fxLayout="row" 
            fxLayoutGap="1rem"
            style="border-bottom: 1px solid #efefef;"
            *ngFor="let item of sl">
              <!--<pre class="mat-caption">{{ item | json }}</pre>-->
              <app-user-content-row [userId]="item.key"></app-user-content-row>
          </li>
        </ul>

        <ng-template #nothingfound>
          <p>No Students found...</p>
        </ng-template>

      </ng-container>

      <!--progress bar-->
      <mat-progress-bar 
        class="localProgressBar"
        mode="indeterminate"
        *ngIf="!(studentList | async)">
      </mat-progress-bar>

    </div>
  </div>
</div>

<app-footer></app-footer>