<button 
  *ngIf="(a.perm([-1,1,2]) | async)"
  name="copyToClipboard"
  mat-icon-button 
  (click)="copyToClipboard()"
  (mouseleave)="hoverState = false"
  (mouseenter)="doShowTooltip()">
  <mat-icon aria-label="clipboard">content_paste</mat-icon>
</button>

<div 
  *ngIf="showTooltip"
  class="clipboardTooltip">
  <div class="content mat-caption">
      <span>1. Click <mat-icon aria-label="clipboard">content_paste</mat-icon> to copy meeting room link</span><br>
      <span>2. Send it to your test partner</span><br>
      <span>3. Open link and test doozzoo</span><br>
      <span>Test-mode limited in time and features</span>
  </div>
  <div class="arrow">
      <svg 
        viewBox="0 0 200 100"
        fill="#efefef" 
        style="width: 15px; height: 15px;">
          <path d="
              M 0,0 
              l 200,0 
              l -100,100 
              Z
            " />        
        </svg>
  </div>
  <div class="close">
    <button 
      mat-icon-button
      (click)="doClose()">
      <mat-icon aria-label="close">close</mat-icon>
    </button>
  </div>
</div>