
button {
    margin-right: 1rem;
}
.clipboardTooltip {
    position: absolute;
    bottom: 70px;
    /* left: 100px; */
}
.clipboardTooltip > .content {
    padding: 1rem 2rem 1rem 1rem;
    background: #efefef;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    z-index: 100;
    color: #333;
}
.clipboardTooltip > .content mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
}
.clipboardTooltip > .arrow {
    z-index: 99;
    position: absolute;
    bottom: -15px;
    left: 10px;
}
.clipboardTooltip > .close {
    position: absolute;
    top: 0px;
    right: 0px;
}
.close button {
    margin: 0;
    color: #000;
}