/* global imports */
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// @import url('https://fonts.googleapis.com/css?family=Fira+Mono:200,300|Quicksand:300,400,600,800');

/* fira-mono-regular - latin */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('assets/fonts/fira-mono-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/fira-mono-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* quicksand-300 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('assets/fonts/quicksand-v22-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/quicksand-v22-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('assets/fonts/quicksand-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/quicksand-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-600 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('assets/fonts/quicksand-v22-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/quicksand-v22-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('assets/icons/MaterialIcons-Regular.woff2') format('woff2'),
    url('assets/icons/MaterialIcons-Regular.woff') format('woff'),
    /* url(https://example.com/MaterialIcons-Regular.ttf) format('truetype'); */
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* Vars */
@import './vars.scss';
/*
$primary-color: rgb(0,84,150); 
$primary-color-light: rgb(112, 190, 250);
$secondary-color: aquamarine; 
$grey: #ccc;
$grey-light: rgb(239, 239, 239);
$footer-height: 50px;
$primary-font-family: Quicksand, sans-serif;
$radius-default: 4px;
*/
/*
  <color name="primaryColor">#005596</color>
  <color name="primaryLightColor">#4d81c7</color>
  <color name="primaryDarkColor">#002d67</color>
  <color name="primaryTextColor">#ffffff</color>
*/

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-doozzoo: (
    50 : #e0ebf2,
    100 : #b3cce0,
    200 : #80aacb,
    300 : #4d88b6,
    400 : #266fa6,
    500 : #005596,
    600 : #004e8e,
    700 : #004483,
    800 : #003b79,
    900 : #002a68,
    A100 : #97b8ff,
    A200 : #6495ff,
    A400 : #3173ff,
    A700 : #1861ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$doozzoo-app-primary: mat-palette($mat-doozzoo);
$doozzoo-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$doozzoo-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$doozzoo-app-theme: mat-light-theme($doozzoo-app-primary, $doozzoo-app-accent, $doozzoo-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($doozzoo-app-theme);


/* ### main body ### */
/* no default margins */
body {
  margin:0;
  padding:0;
  background: url('./assets/img/morphbackground4.jpg') center / cover; 
  background-attachment: fixed;
  min-height: 70vh; /* 1vh = 1% of window height */
  min-width: 100vw; /* 1vh = 1% of window width */
  height: 99vh;
  color: #333;
}

body, 
h1, h2, h3, h4,
p,
span,
th,td,
button,
.mat-button-wrapper,
input,
.mat-title,
.mat-headline,
.mat-display-1,
.mat-display-2,
.mat-display-3,
.mat-display-4,
.mat-caption,
.mat-radio-button,
.mat-checkbox,
.mat-slide-toggle-content,
.mat-tab-label,
.mat-tab-group,
.mat-menu-item,
.mat-expansion-panel,
.mat-expansion-panel-header,
.mat-expansion-panel-body,
.mat-list-item-content
{
  font-family: Quicksand, sans-serif !important;
}

h1, h2, h3,
.mat-headline {
  font-weight: bold;
}

/* ### MISC ### */
/* remove outline */
*:focus {
  outline: none;
}
.no-margin {
  margin: 0 !important;
}
.textcenter,
.text-center {
  text-align: center;
}

.spacer {
  height: 1.5rem;
}

.mat-title.no-margin,
.mat-title.nomargin {
  margin-bottom:0;
}

/* fixes */
.mat-mini-fab>.mat-button-wrapper>.mat-icon {
  /* otherwise icons are to low */
  vertical-align: unset !important;
}

/* icons in mat-icons not centered */
.mat-icon-button {
  line-height: unset !important; /* modified here from 24px */
}

/* fixes material */
/* mat-sidebar created a white backgrounded extension of the screen on the right, otherwise */
.mat-drawer-content {
  overflow: unset !important;
}

/* otherwise not vertically centered with input text */
.mat-form-field-prefix, 
.mat-form-field-suffix {
    position: unset !important;
}

/** 
* make mat-radio-button lables text, wrapping 
*/
.mat-tab-label {
  font-weight: bold;
}
mat-radio-button {
  margin-bottom: 0.3em;
}
.mat-radio-label-content {
    white-space: normal !important;
}

/* mat-button */
button.mat-menu-item.linkActive {
  background: $primary-color !important;
  color: #fff;
  .mat-icon {
    color: #fff !important;
  }
}

/* mat-badges */
.mat-badge-content {
  font-size: 9px;
  background: green !important;
  width: auto !important;
  min-width: 1rem;
  padding: 0 2px;
  border-radius: 0.3rem;
  height: 1.1rem !important;
  line-height: 1.1rem !important;
}
.sharing > .mat-badge-content,
.waitingParticipants .mat-badge-content {
  font-size: 12px;
}

/* colors */
.warning {
  background: orange;
}

/* no user select for lables/title etc. */
.noUserSelect {
  user-select: none;
}

/* ### end MISC ### */

/* general wrapper div */
.wrapper {
  width: auto;
  height: auto;
  min-width: 100vw;
  min-height: 100vh;
  overflow: scroll;
  padding: 1em;
}

/* ### room layout ### */

/* video thumbs */
/* 
  videothumbs should always be on top for beeing clickable 
  default full width/height
*/
.videoThumbnail {
  z-index: 100;
  width:100vw;
  height:calc(100vh - 50px); 
  /* if screen is not big enough, overflow hidden */
  &.overflow {
    display: none;
  }
  transition: all 0.7s;
}

.items {
  position: absolute;
  bottom: 0;
  right: 0;
  float: right;
  width:180px;
  height:135px;
  min-width:180px;
  min-height:135px;
  z-index:2;
  transition: all 0.7s;
  opacity: 1;
  /* border-left: 5px solid green; */

  :not(.mini).OT_video-poster {
    background-size: 50% !important;
  }

  &:hover {
    bottom: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,1);
  } 

  /* overrides for thumbnail display */
  .thumbs-label {
      &.video,
      &.audio {
          display: none;
      }
      &.name {
          margin-left: 0.2rem;
          font-size: 0.8rem;
      }
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }
  /*
  .toggle-screen-coverage-button {
      display: none;
  }
  */
  /* overrides for mini display */
  &.mini {
    width: 40px !important;
    min-width: 40px !important;
    border-left: none !important;

    :hover {
      bottom: 0 !important; 
      box-shadow: none !important;
    };

    .OT_root,
    video {
      display: none !important;
    }
    .mini-container {
      width: 40px !important;
      height: 135px !important;
      background: rgba(#efefef,0.7);
      overflow: hidden;
      /* like video thumbs */
      z-index: 100;
  
      .thumbs-label {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .thumbs-label.name {
      margin: 0.5rem 0 0.2rem 0;
    } 
  }

/* end of .items */
}

.OT_root.OT_Subscriber {
  width: 100%;
  height: 100%;
}

.thumbs-toolbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(white,0.5);
  z-index: 2000 !important;
  padding: 0 1rem 0 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  .mat-icon-button {
    z-index: 10;
  }

}

.thumbs-label {
  margin: 0 0.5rem 0 0.5rem;
  &.name {
      margin-left: 1rem;
  }
}



/* ### wrapper in room ### */
#wrapper {
  height: calc(100vh - 50px);
  width: 100vw;
  // background:#efefef;
  background: url('./assets/img/morphbackground4.jpg') center / cover; 
  background-attachment: fixed;
  position: relative;
  /* flex */
}

.hero {
  background:#000;
  opacity:1;
  position:absolute !important;
  bottom:0;
  right:0;
  width:100vw !important;
  height:calc(100vh - 50px) !important; 
  z-index:1 !important;
  transition: all 0.7s;
}

.dual {
  position:absolute !important;
  bottom:0;
  right:0;
  height:100% !important; 
  z-index:1 !important;
  transition: all 0.7s;
  width:50vw !important;

  &.one {
    right:50vw !important;
  }
  &.two {
    right:0 !important;
  }
}

.multi {
  position:absolute !important;
  bottom:0;
  right:0;
  width:50vw !important;
  height: 50% !important; 
  z-index:1 !important;
  transition: all 0.7s;

  &.one {
    right:50vw !important;
    bottom:50% !important;
  }
  &.two {
    right:0 !important;
    bottom:50% !important;
  }
  &.three {
    right:50vw !important;
    bottom:0 !important;
  }
  &.four {
    right:0 !important;
    bottom:0 !important;
  }
}

/* galery grid view */
.galery {
  position:absolute !important;
}

/* marks */
.publisher {
  /* border-left: 5px solid $primary-color !important; */
  .thumbs-toolbar,
  .mini-container {
    background: rgba($primary-color-light, 0.5) !important;
  }
}

.screensharer {
  /* border-left: 5px solid lightblue !important; */
  .thumbs-toolbar,
  .mini-container {
    background: rgba($primary-color-light, 0.5) !important;
  }
}


/* publisher/subscriber video title */
h1.OT_name.OT_edge-bar-item {
	display: none !important;
}
.OT_bar {
	display: none !important;
}
.OT_video-poster {
  background-position: center center !important;
  background-size: 20% !important;
  opacity: 0.7 !important;
}

// audio activity indicator -> recolor
.OT_audio-level-meter__value {
  background-image: radial-gradient(circle, rgba($primary-color, 1) 0%, rgba(151, 206, 0, 0) 100%) !important;
}
// hide vendor audio status
.OT_edge-bar-item.OT_mute {
  display: none !important;
}

/* ### END room layout ### */

/* MAT FORMS */
.mat-form-field, .mat-select {
  font-family: Quicksand, sans-serif !important;
}

/* fxLayout Module */
.fxContent {
  background-color: #ffffff;
  border-radius: $radius-default;
}
/* fxlayout padding helper */
.padding,
.padding8
{
  padding: 8px;
}
.padding16
{
  padding: 16px;
}

.moduleContainerWrapper {
  /* for handling footer */
  /* must be min-height, otherwise the content backgrounds are squeezed */
  min-height: calc(100vh - 50px);
  overflow: scroll;
}
.moduleContainer {
  /* for handling footer */
  padding-bottom: 140px;
}

/* flexbox */

.flex {
	display: flex;
	&.row {
		flex-direction: row;
    justify-content: flex-start;
    /* overflow-y: scroll; */

    &.wrap {
      /* nowrap | wrap | wrap-reverse */
      flex-wrap: wrap;
    }   
		&.align-center { 
			align-items: center;	
		}
		&.end {
			justify-content: flex-end;
			&.align-center { 
				align-items: center;	
			}
		}
		&.center {
			justify-content: center;
			&.align-center { 
				align-items: center;	
			}
    }
    &.space-around {
			justify-content: space-around;
			&.align-center { 
				align-items: center;	
			}
    }
    &.space-between {
			justify-content: space-between;
			&.align-center { 
				align-items: center;	
			}
		}
	}
	&.column {
		flex-direction: column;
    justify-content: flex-start;
    /* overflow-y: scroll; */
		/* We tell all items to be 100% width, via flex-basis */
		> * {
			flex: auto 100%;
		}
		&.end {
      justify-content: flex-end;
      &.align-center { 
				align-items: center;	
			}
			
		}
		&.center {
      justify-content: center;
      &.align-center { 
				align-items: center;	
			}
			
		}
  }
  &.padding {
    padding: 8px;
  }
}
/* acts as a flexible spacer in rows, where other items have no flex attribution */
.flex-item {
	/* flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
	flex: 1;
}
/* flexbox end */

/* all apps */
.toggleMode {
  color: #fff;
  position: absolute;
  right:-10px;
  top:-10px;
  border-radius: 50%;
  padding: 0px;
  background: #333;
  z-index:1;
}
.toggleMode:hover {
  color: blue;
  background: #efefef;
  cursor: pointer;
}
.appLabel {
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  color: #efefef;
  font-size: 10px;
  background-color: rgba(0,0,0,0.4);
  border-radius: $radius-default;
  padding: 2px;
  z-index:auto;
}

.apps {
  position: relative;
  background-color: #efefef;
  border-radius: 10px;
  margin: 0 2em 1em 0;
}
.apps {
  &.default {
    width: 200px;
    height: 300px;
    padding: 8px;
  }
  &.small {
    width: 56px;
    height: 56px;	
  }
  .remoteStatus {
    position: absolute;
    left: 0;
    top: 6px;
  }
}

.app-title { 
  padding: 8px;
  text-align: center;
}

/* all apps end */

.hint {
  background: lightgreen;
  border-radius: $radius-default;
  padding: 0.5em;
}

/* set-constraints-component */
.mat-checkbox-disabled .mat-checkbox-label 
{
    /* color: #333; */
    margin-left: 4px;
}

/* */
// blink animation
@keyframes blink {
  50% {
    opacity: 0.2;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.2;
  }
}
.blink-slow {
  animation: blink 3s step-start 0s infinite;
  -webkit-animation: blink 3s step-start 0s infinite;
}
.blink {
  animation: blink 1.5s step-start 0s infinite;
  -webkit-animation: blink 1.5s step-start 0s infinite;
}
.blink-fast {
  animation: blink 0.5s step-start 0s infinite;
  -webkit-animation: blink 0.5s step-start 0s infinite;
}

.blink-faster {
  animation: blink 0.2s step-start 0s infinite;
  -webkit-animation: blink 0.2s step-start 0s infinite;
}


/* ### wavesurfer ### */

.wavesurfer-handle {
    //width: 3% !important;
    width: 4px !important;
    max-width: 4px !important;
    background-color: red;
}

button.loopMarkerButton {
  margin: 0 0;
}

span.loopMarker {
  font-size: 18px;
  color: #fff;
  margin-bottom: -16px;
  background: #333; 
  border-radius: 50%;
  width:1.3em;
  height:1.3em;
  text-align:center;
}

section[name="loopMarker"] {
  margin-top:10px;
}

.wavesurfer-handle {
  //width: 3% !important;
  width: 2px !important;
  max-width: 2px !important;
  background-color: #efefef;
}

.subControlsRow {
  background-color: rgba(255,255,255,0.3);
  color: #efefef;
}

.controlsRow {
  background-color: rgba(255,255,255,0.3);
  margin-bottom: 0px;
  padding: 7px 0;
}
.regionLabels {
  padding: 0 0.5em;
}

#waveform .wavesurfer-region {
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: rgba(10, 10, 10, 0.3) !important;
}

#waveform .wavesurfer-region.looped {
  background-color: rgba(100, 255, 255, 0.4) !important;
}

#waveform .wavesurfer-region.looped.selected {
  background-color: rgba(100, 100, 255, 0.4) !important;
}
.regionMarkerA {
  float: left;
  background: #333;
  padding: 3px;
  color: #fff;
}
.regionMarkerB {
  float: right;
  background: #333;
  padding: 3px;
  color: #fff;
}
region div {
  text-align: center;
}

.iconBackground {
  background:#efefef;
  border-radius:50%;
  padding:3px;
}
.iconHighlight {
  background:#efefef;
  border-radius:50%;
  padding:3px;
  box-shadow: 0 0 5px #333;
}

.monospaceControlls,
.monospace {
  font-family: 'Fira Mono', monospace !important;
  font-size: 14px;
  font-weight: 200;
}

/* otherwise unwanted horizontal scroll */
.mat-tab-body-content {
  overflow-x: hidden !important;
  overflow-y: scroll;
}

/* general */
.errorMessage,
.warnMessage,
.warn-message {
  padding: 0.5em;
  border-radius: $radius-default;
  background: orange;
}
.successMessage,
.success-message {
  padding: 0.5em;
  border-radius: $radius-default;
  background: lightgreen;
}
.waitMessage,
.wait-message {
  padding: 0.5em;
  /*
  border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  */
  border-radius: $radius-default;
  background: orange;
  background: lightgrey;
}

/* TODO: looper styles were not applied in component styles */


.audio {
  .ng-resizable-handle.ng-resizable-e,
  .ng-resizable-handle.ng-resizable-w 
  {
      width: 10px !important; /* original 7px, this extends the "sensitive" mouse area */
      right: 0px !important;
  }
  .ng-resizable-handle.ng-resizable-e:hover,
  .ng-resizable-handle.ng-resizable-w:hover
  {
      right: 0px !important;
      background: rgba(255, 255, 255, 0.3);    
  }
}

/* ngx-pagination overrides */
.ngx-pagination .current {
  background: rgb(0,84,150) !important;
}

/* create tango button */
.tangoFAB {
  position: fixed;
  width: 100%;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.tangoFABRight {
  position: fixed;
  width: 100%;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

/* Help */
/* freshdesk widget */
iframe#launcher-frame {
  z-index: 1 !important;
  bottom: 187px !important; /* 187px -> room */
  /* background: green; */
  .launcher-button {
    background: rgb(0,84,150);
  }
  &.room {
    bottom: 168px !important;  
  }
}

/* ### general snackbar styles ### */
.background-orange {
  font-family: $primary-font-family !important;
  opacity: 0.9  !important;
  color: #333;
  max-width: 50vw !important;
  background-color: orange;
  font-weight: 400;
  text-align: center;
  span {
    font-size: 1rem !important;
    color:  #333;
  }
  .mat-simple-snackbar {
    font-family: $primary-font-family !important;  
  }
}

.background-green {
  opacity: 0.8  !important;
  color: #333;
  background-color: lightgreen;
  font-weight: 300;
  text-align: center;
  span {
    font-size: 1.2rem !important;
  }
}

/* overrides for mat-dialog */
.mat-dialog-container {
    overflow: unset !important;
}
/* helper for spacing */
div.spacer {
  height: 1rem;
}

/* ### general EDU styles ### */
.institution-logo {
  max-width: 300px;
  max-height: 300px;
}

.mat-form-field-appearance-outline .mat-form-field-infix  {
  padding: 0.5rem 0 1rem 0 !important;
}

/* creates horizontal dividers with label */
div.labelDivider {
  hr {
    border: none;
    background: $grey-light;
    height: 1px;
  }
  span.label {
    text-align: center;
    padding: 0.5rem 1rem;
  }
}

/* pagination of edu list */
[name="listHeadlinePaginationRow"] {
  ul.ngx-pagination {
      padding: 0 !important;
      padding-inline-start: 0px !important;
  }
}
ul.ngx-pagination {
  padding: 0 !important;
  padding-inline-start: 0px !important;
}

/* looper/Player styles */
.mat-menu-panel.fader-menu {
  min-width: 2rem !important;
}

/* fixes flicker for the expansion panel when openend in a dialog window */
.ng-animating div mat-expansion-panel mat-expansion-panel-header {
  height: 48px !important;
}
.ng-animating div mat-expansion-panel div.mat-expansion-panel-content {
  height: 0px !important;
  visibility: hidden !important;
}

/* media list */
.filter-pane  {
  .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
}

/* helper function */
.doEllipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.showPointer {
  cursor: pointer;
}

/* for media module */
.mat-select-panel {
  max-height: 356px !important;
}

/* drag drop apps styles */
.drag-handle {
  position: absolute;
  padding: 0.5rem;
  border-radius: 50%;
  color: rgba(0,0,0,0.5);
  background: rgba(0,0,0,0.1);
  cursor: grab;
  &.cdk-drag-placeholder {
    cursor: grabbing;
  }
  &:hover {
      color: rgba(0,0,0,1);
  }
}

.apps.small {
  cursor: grab; 
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drop-list-dragging .apps-container:not(.cdk-drag-placeholder) {
  /* transition: all 0.7s; */
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  
}

.cdk-drag-preview .apps {
  box-shadow: 0 0 15px rgba($primary-color, 1);
}


.generic-debug 
{
  font-size: .6rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255,255,255,.8);
  padding: .5rem;
  max-width: 15rem;
  z-index: 20000;
  &.left {
    left: 0;
    transform: none;
  }
  &.right {
    left: unset !important;
    right: 0;
    transform: none;
  }
}

.mat-button,
.mat-stroked-button,
.mat-raised-button {
  &.mini {
    line-height: 24px !important;
    padding: 0 8px !important;
  }
}





