/* Vars */
$primary-color: 		rgb(0,84,150); /* #005596 */
$primary-color-light: 		rgb(112, 190, 250);
$secondary-color: 		aquamarine; // rgb(127, 255, 212)
$grey: #ccc;
$grey-light: rgb(239, 239, 239);
$footer-height:     50px;
$primary-font-family: Quicksand, sans-serif;
$radius-default: 4px;