
<div 
  class="wrapper"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="8px">

  <!-- test -->

  <div
    class="moduleContainer" 
    fxLayout="column"
    fxFlex.gt-sm="40"
    fxFlex="60"
    fxFlex.xs="100"  
    fxFlexFill>

    <div>
      <img 
        id="homeLogo" 
        [src]="(a.isEdu$ | async) ? 'assets/img/doozzoo_logo_edu_1200.png' : 'assets/img/doozzoo_logo_master_1200.png'"
        [ngClass]="{ edu: (a.isEdu$ | async) }" />
    </div>

    <!-- content container START -->
    <div fxLayout="column">

      <!-- login section START -->
      <div
        *ngIf="!(a.loginStatus$ | async) else afterLogin"
        style="margin-top: 2em" 
        fxLayout="column" 
        fxLayoutGap="0.5em">

        <span 
          class="mat-title textcenter landingContent"
          [innerHTML]="'home.content.anonymous' | translate">
          <!--To <strong>start</strong> or <strong>join</strong> a lesson, login first!-->
        </span>
        <app-login-button [layout]="'single'"></app-login-button>
        <button
          name="passwordForgotten" 
          mat-button
          (click)="cs.do('loginDialog', { tabIndex: 2 })"> 
          {{'buttons.standard.passwordForgotten' | translate}}
        </button>

      </div>

      <ng-container *ngIf="(a.perm([-2,-1]) | async)">
        <!-- role anonymous -->
        <div class="spacer"></div>
        <span 
          class="mat-title textcenter landingContent"
          [innerHTML]="'home.content.new-user' | translate">
          <!--<strong>New user?</strong> Please, register first!-->
        </span>
        <button 
          class="register"
          name="register"
          mat-flat-button
          (click)="cs.do('loginDialog', { tabIndex: 1 })"> 
          {{'buttons.standard.register' | translate}}
        </button>
      </ng-container>

      <ng-container *ngIf="(a.perm([-2,-1]) | async)">
          <div class="spacer"></div>
          <div class="spacer"></div>
          <span class="textcenter landingContent">
            {{'home.content.testdrive' | translate}}
          </span>
          <button 
            name="testdrive"
            mat-stroked-button
            routerLink="testdrive"> 
            {{'buttons.standard.free-test-drive' | translate}}
          </button>
      </ng-container>
      <!-- login section END -->

      <ng-template #afterLogin>
        <!--  after login section START -->

        <ng-container *ngIf="(a.getInstitutionId$ | async) as institutionId">
          <app-institution-profile layout="homeWelcomeLogo" [institutionId]="institutionId"></app-institution-profile>
        </ng-container>

        <ng-container *ngIf="(a.perm([1]) | async)">
            <!-- role coach -->
            <span 
              class="mat-title textcenter landingContent">
              <span>Hey coach {{ (a.usr$ | async)?.displayName }},</span> 
              <span [innerHTML]="'home.content.institution-coach' | translate"></span>
            </span>
            <!--<app-tango-button buttonConfig="default"></app-tango-button>-->
            <div class="spacer"></div>
            <ng-container *ngIf="(a.usr$ | async) as userData">
              <app-myrooms-list [userData]="userData"></app-myrooms-list>
            </ng-container>
            
        </ng-container>

        <ng-container *ngIf="(a.perm([0]) | async)">
            <!-- role student -->
            <div 
              class="mat-title textcenter landingContent">
              <span>Hey {{ (a.usr$ | async)?.displayName }},</span> 
              <span [innerHTML]="'home.content.institution-student' | translate"></span>
          </div>
            <app-tango-button buttonConfig="default"></app-tango-button>
        </ng-container>

        <ng-container *ngIf="(a.perm([3]) | async)">
          <!-- role institutional admin -->
          <div class="spacer"></div>
          <span class="mat-title textcenter landingContent">
            {{'home.content.institution' | translate}}
          </span>
          <button 
            class="rregister"
            name="toEduBackend"
            mat-raised-button
            color="primary"
            [routerLink]="['/edu']"> 
            {{'buttons.standard.enter-institution-backoffice' | translate}}
          </button>
        </ng-container>
        <!--  after login section END -->
      </ng-template>
       
    </div>

    <div 
      class="cbdReferrer mat-caption"
      fxLayout="row"
      fxLayoutAlign="center center">
      <img src="assets/img/powered-by_bechstein_logo_2021_1.00.png">
    </div>

    <div 
      id="footerInfo"
      class="mat-caption"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="0.5rem">
      <span>Version {{ version }}</span>
      <span><a target="_blank" href="https://info.doozzoo.com/imprint/">Imprint</a></span>
      <span><a target="_blank" href="https://info.doozzoo.com/privacy-policy/">Privacy Policy</a></span>
      <span><a target="_blank" href="https://info.doozzoo.com/terms-conditions/">Terms & Conditions</a></span>
    </div>

  </div>

<!-- wrapper end -->
</div>

<div id="infoNavigation"
  fxLayout="row"
  fxLayoutAlign="end start">
  <app-info-navigation [deviceService]="deviceInfo"></app-info-navigation>
</div>

<app-footer></app-footer>

<app-widget></app-widget>




