
.messages {
    padding: 1em;
    margin: 0 0 0.5em 0;
    border-radius:5px;
    background: rgba(255,255,255,0.5);
}

.messages.warn{
    background: rgba(255, 200, 0, 0.8);
}

.messages.warn:not(.active-msg){
    display: none;
}

.messages span:not(.active-msg){
    display: none;
}

#homeLogo {
    width: 100%;
    height: auto;
    margin: 2em 0;
}

button.startTango {
    font-size:20px; 
    font-family:Quicksand;
    letter-spacing: 1px;
    font-weight: lighter;
    text-transform: uppercase; 
    border-radius:5px;
    border: none;
    padding: 0.3em;
    margin: 0.5em 0;
    color: #fff;
    background: #005596;
    cursor: pointer;
}

button.startTango:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.moduleContainer {
    padding-bottom: 70px;
}

#infoNavigation {
    position: absolute;
    top: 1rem;
    /* width: calc(100% - 2rem); */
    width: 100%;
}

span.landingContent {
    margin-bottom: 0.5rem;
}

button.mat-stroked-button {
    background: rgba(#fff, 0.6);
}

button:hover {
    box-shadow: 0 0 10px rgba(#000, 0.6);
}

.cbdReferrer {
    margin-top: 6rem;
    span {
        margin-right: 0.8rem;
    }
    img {
        width: 220px;
    }
}

#footerInfo { 
    margin-top: 1rem;
}