
<ng-container *ngIf="layout === 'app'; else default">
  <div
    class="test-tone mat-elevation-z6"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="1rem">

    <div class="mat-title">
      Test tone
    </div>

    <button
      mat-mini-fab
      [ngStyle]="{'background-color': oscillator.state === 'stopped' ? '#005596' : 'red' }"
      color="primary" 
      (click)="togglePlay()">
      <mat-icon>{{ oscillator.state === 'stopped' ? 'play_arrow' : 'stop'}}</mat-icon>
    </button>
  </div>
</ng-container>

<ng-template #default>
  <button
    mat-mini-fab
    [ngStyle]="{'background-color': oscillator.state === 'stopped' ? '#005596' : 'red' }"
    color="primary" 
    (click)="togglePlay()">
    <mat-icon>{{ oscillator.state === 'stopped' ? 'play_arrow' : 'stop'}}</mat-icon>
  </button>
</ng-template>

