<div
  *ngIf="(vm$ | async) as vm"
  id="footer" 
  fxLayout="row" 
  fxLayoutAlign="flex-start center">
  
  <button
    name="home"
    mat-icon-button
    [routerLink]="['/']"
    [routerLinkActive]="['linkActive']"
    matTooltip="Home">
    <mat-icon aria-label="go home">home</mat-icon>
  </button>

  <!-- mobile menue START -->
  <ng-container *ngIf="deviceService.isMobile()">
    <mat-menu #appMenu="matMenu">
      <mat-divider></mat-divider>
      <button
        mat-menu-item
        name="media"
        [routerLink]="['/media']"
        [routerLinkActive]="['linkActive']">
        <mat-icon aria-label="media">library_books</mat-icon>
        {{'buttons.navigation.media' | translate}}
      </button>
      <mat-divider></mat-divider>

      <button
        mat-menu-item
        name="apps"
        [routerLink]="['/apps']"
        [routerLinkActive]="['linkActive']">
        <mat-icon aria-label="show/hide toolbar">apps</mat-icon>
        {{'buttons.navigation.apps' | translate}}
      </button>
      <mat-divider></mat-divider>

      <button
        mat-menu-item
        name="myCoaches"
        *ngIf="a.perm([0, 1]) | async"
        [routerLink]="['/mycoaches']"
        [routerLinkActive]="['linkActive']">
        <mat-icon aria-label="show/hide toolbar">school</mat-icon>
        {{'buttons.navigation.my-coaches' | translate}}
      </button>
      <mat-divider></mat-divider>

      <button
        mat-menu-item
        name="myStudents"
        *ngIf="a.perm([1]) | async"
        [routerLink]="['/mystudents']"
        [routerLinkActive]="['linkActive']">
        <mat-icon aria-label="show/hide toolbar">people</mat-icon>
        {{'buttons.navigation.my-students' | translate}}
      </button>
      <mat-divider></mat-divider>

      <ng-container *ngIf="!(a.isEdu$ | async)">
        <button
          mat-menu-item
          name="profile"
          *ngIf="a.perm([1]) | async"
          [routerLink]="['/login']"
          [routerLinkActive]="['linkActive']">
          <mat-icon aria-label="show/hide toolbar">account_box</mat-icon>
          {{'buttons.standard.profile' | translate}}
        </button>
        <mat-divider></mat-divider>
      </ng-container>
  
      <!-- edu area START -->
      <ng-container *ngIf="a.isEdu$ | async">
        <button
          name="profile"
          *ngIf="(a.perm([0,1,3]) | async)"
          mat-menu-item
          [routerLink]="['/eduprofile']"
          [routerLinkActive]="['linkActive']">
          {{'buttons.standard.profile' | translate}}
        </button>
  
        <button
          name="edu"
          class="edu-footer-button"
          *ngIf="(a.perm([2,3]) | async)"
          mat-menu-item
          [routerLink]="['/edu']"
          [routerLinkActive]="['linkActive']">
          {{'buttons.navigation.institution' | translate}}
        </button>
  
      </ng-container>
      <!-- edu area END -->

      <button
        mat-menu-item
        name="preflight"
        [routerLink]="['/presession']"
        [routerLinkActive]="['linkActive']">
        <mat-icon aria-label="airplane mode">settings_applications</mat-icon>
        {{'buttons.navigation.pre-session-check' | translate}}
      </button>
      <mat-divider></mat-divider>

      <button
        mat-menu-item
        name="admin"
        *ngIf="a.perm([2]) | async"
        [routerLink]="['/admin/listusers']"
        [routerLinkActive]="['linkActive']">
        {{'buttons.navigation.admin' | translate}}
      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </ng-container>
  <!-- mobile menue END -->

  <!-- standard menue START -->
  <ng-container *ngIf="!deviceService.isMobile()">
    
    <button
      name="apps"
      *ngIf="(a.perm([-2,-1]) | async)"
      mat-stroked-button
      [routerLink]="['/testdrive']"
      [routerLinkActive]="['linkActive']">
      {{'buttons.navigation.test-drive' | translate}}
    </button>
    
    <ng-container *ngIf="!(a.perm([3]) | async)">
      <button
        name="preflight"
        mat-stroked-button
        [routerLink]="['/presession']"
        [routerLinkActive]="['linkActive']"
        matTooltip="{{'buttons.navigation.pre-session-check' | translate}}">
        <mat-icon aria-label="airplane mode">settings_applications</mat-icon>
        <span fxShow fxHide.xs="true" fxHide.sm="true">{{'buttons.navigation.pre-session-check' | translate}}</span>
      </button>

      <app-media-button
        *ngIf="(a.role$ | async) > -2">
      </app-media-button>

      <button
        name="apps"
        *ngIf="(a.role$ | async) > -2"
        mat-stroked-button
        [routerLink]="['/apps']"
        [routerLinkActive]="['linkActive']">
        {{'buttons.navigation.apps' | translate}}
      </button>
    </ng-container>

    <ng-container *ngIf="vm.state.plan !== 'starter'">
      <button
        name="myCoaches"
        *ngIf="(a.perm([0,1]) | async)"
        mat-stroked-button
        [routerLink]="['/mycoaches']"
        [routerLinkActive]="['linkActive']">
        {{'buttons.navigation.my-coaches' | translate}}
      </button>

      <button
        name="myStudents"
        *ngIf="a.perm([1]) | async"
        mat-stroked-button
        [routerLink]="['/mystudents']"
        [routerLinkActive]="['linkActive']">
        {{'buttons.navigation.my-students' | translate}}
      </button>
    </ng-container>

    <ng-container *ngIf="!(a.isEdu$ | async)">
      <button
        name="profile"
        *ngIf="(a.perm([1]) | async)"
        mat-stroked-button
        [routerLink]="['/login']"
        [routerLinkActive]="['linkActive']">
        {{'buttons.navigation.profile' | translate}}
      </button>
    </ng-container>

    <!-- edu area START -->
    <ng-container *ngIf="a.isEdu$ | async">

      <button
        name="profile"
        *ngIf="(a.perm([0,1,3]) | async)"
        mat-stroked-button
        [routerLink]="['/eduprofile']"
        [routerLinkActive]="['linkActive']">
        {{'buttons.navigation.profile' | translate}}
      </button>

      <button
        name="edu"
        class="edu-footer-button"
        *ngIf="(a.perm([2,3]) | async)"
        mat-stroked-button
        [routerLink]="['/edu']"
        [routerLinkActive]="['linkActive']">
        {{'buttons.navigation.institution' | translate}}
      </button>

    </ng-container>
    <!-- edu area END -->

    <!-- admin area START -->
    <ng-container *ngIf="a.perm([2]) | async">
      <button
        name="admin"
        mat-stroked-button
        [routerLink]="['/admin/listusers']"
        [routerLinkActive]="['linkActive']">
        {{'buttons.navigation.admin' | translate}}
      </button>

      <button
        name="widget"
        mat-stroked-button
        [routerLink]="['/admin/widget']"
        [routerLinkActive]="['linkActive']">
        {{'buttons.navigation.widget' | translate}}
      </button>

      <button
        name="statistics"
        mat-stroked-button
        [routerLink]="['/admin/statistics']"
        [routerLinkActive]="['linkActive']">
        Statistics
      </button>

      <button
        name="statistics"
        mat-stroked-button
        [routerLink]="['/admin/workshop-rooms']"
        [routerLinkActive]="['linkActive']">
        Workshop-rooms
      </button>

    </ng-container>
    <!-- admin area END -->

  </ng-container>

  <span style="flex: 2"></span>

  <!--<app-cookie-consent></app-cookie-consent>-->

  <app-language></app-language>

  <app-login-button
    [layout]="'footer'"
    class="footerLoginButton"
    [routerLinkActive]="['linkActive']">
  </app-login-button>

  <div fxShow fxHide.lt-md="true" class="footerLogoImage">
    <img src="assets/img/doozzoo_bechstein_logo_2021_500_w.png" />
  </div>
</div>
