
#footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100vw;

    overflow-x: scroll;
    overflow: visible;
    z-index: 100;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    /*
    background: url('assets/img/doozzoo_logo_w.png');
    background-position: calc(94vw - 60px) 50%;
    background-size: 120px;
    background-repeat: no-repeat;
    */
    background-color: #005596;
    padding: 0 1em;
    color: #fff;
}
#footer .footerLogoImage {
    align-self: center;
    margin: 0 2em 0 2em;
    height: 40px;
}
#footer .footerLogoImage img {
    height: 40px;
}
.content-logo-img img {
    position: absolute;
    bottom: 60px;
    z-index: 2;
    height: 40px;
    left: 16px;
}

#footer button {
    margin-right: 1em;
}
.mat-button.linkActive:not(.mat-stroked-button) {
    color: #005596;
    background-color: #fff;
}
.mat-stroked-button {
    /* padding: 0 8px; */
    border-color: #005596;
}
.mat-stroked-button.linkActive {
    color: #fff;
    border-color: #fff;
}
.footerLoginButton {
    margin-left: 1em;
}
#footer button:hover {
    background: rgba(#fff, 0.3);
}
