<mat-form-field fxFlex="50" fxFlexFill>
  <mat-select 
    placeholder="{{'presession.select-audio-bitrate' | translate}}"
    [ngModel]="selectedBitrate"
    (selectionChange)="doSetBitrate($event)"
    name="Bitrate">
    <mat-option 
      *ngFor="let c of audioBitrateOptions; index as idx"
      [value]="c">
      {{ c }}
    </mat-option>
  </mat-select>
</mat-form-field>
