
<div 
  class="audioMode mat-caption"
  fxLayout="row"
  fxLayoutAlign="center center">
  <mat-icon>{{ ots.getAudioMode() ? 'headset_mic' : 'volume_up '}}</mat-icon>
  <span
    *ngIf="ots.getAudioMode(); else audioModeSpeaker"
    class="audioModeLabel">{{'room.audioMode.headphone-mode' | translate}}</span>
  <ng-template #audioModeSpeaker>
    {{'room.audioMode.speaker-mode' | translate}}
  </ng-template>
</div>

