
.audioMode {
    margin-left: 1rem;
    width: auto;
    height: 40px;
    text-align: center;
}
.audioMode mat-icon {
    color: orange;
}
.audioModeLabel {
    margin-left: 0.5rem;
    width: 80px;
    line-height: 12px;
    text-align: left;
}
