
<div
  *ngIf="(vm$ | async) as vm"
  class="room-settings"
  fxLayout="column wrap"
  fxLayoutAlign="start stretch">

  <span class="mat-title">{{'general.video-settings' | translate}}</span>
  <app-video-in-list 
  [videoInSelected]="vm.state.videoSource" 
  (selectVideoIn)="selectVideoIn($event)"></app-video-in-list>

  <div class="spacer"></div>

  <span class="mat-title">{{'general.audio-settings' | translate}}</span>
  <app-audio-in-list 
  [audioInSelected]="vm.state.audioSource" 
  (selectAudioIn)="selectAudioIn($event)"></app-audio-in-list>

  <app-toggle-audio-mode
    class="headphone-mode-toggle" 
    [currentValue]="publisherStore.headphoneMode$ | async" 
    (setHeadphoneMode)="setHeadphoneMode($event)">
  </app-toggle-audio-mode>

  <mat-selection-list name="audio-constraints" (selectionChange)="selectAudioOption($event)">
    <mat-list-option id="echoCancellation" checkboxPosition="before" value="echoCancellation" [selected]="vm.state.echoCancellation">
      {{'presession.constraints.echo-cancelation' | translate}}
    </mat-list-option>
    <mat-list-option id="noiseSuppression" checkboxPosition="before" value="noiseSuppression" [selected]="vm.state.noiseSuppression">
      {{'presession.constraints.noise-supression' | translate}}
    </mat-list-option>
    <mat-list-option id="autoGainControl" checkboxPosition="before" value="autoGainControl" [selected]="vm.state.autoGainControl">
      {{'presession.constraints.auto-gain-control' | translate}}
    </mat-list-option>
  </mat-selection-list>

  <div class="spacer"></div>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span><strong [innerHTML]="'room.room-settings.you-hear-echoes-headline' | translate"><!--DU hörst ein Echo? Dein Gegenüber hört ein Echo?...--></strong></span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div [innerHTML]="'room.room-settings.pannel1' | translate"></div>
  </mat-expansion-panel>

  <div class="spacer"></div>

  <span class="successMessage" [innerHTML]="'room.room-settings.headphones-best' | translate">
    <!--Den besten Sound mit allen Funktionen erreichst du unter der Verwendung eines <strong>Kopfhörers.</strong><sup>*</sup>-->
  </span>

  <div class="spacer"></div>
   
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span><strong [innerHTML]="'room.room-settings.why-headphones' | translate"><!--<sup>*</sup> Warum Kopfhörer?--></strong></span>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <div [innerHTML]="'room.room-settings.pannel2' | translate"></div>  
    </mat-expansion-panel>
</div>

<pre *ngIf="debug" class="generic-debug left">{{ vm$ | async | json }}</pre>



        

        