/* Vars */
@import '../../../vars.scss';

.room-settings {
    max-width: 480px !important;
}

.mat-selection-list {
    border: 1px solid #efefef !important;
    border-radius: $radius-default !important;
    padding-top: 0;
}

.headphone-mode-toggle {
    margin-left: 0.9rem;
    margin-bottom: 0.5rem;
}

.mat-expansion-panel {
    border: 1px solid #efefef;
    box-shadow: none !important;
    font-size: 16px !important;
}

.mat-expansion-panel-header {
    padding: 0 1rem 0 0.5rem;
}

/* we need ::deep otherwise will be ignored */
::ng-deep .mat-expansion-panel-body {
    padding: 0 0.5rem 0.5rem 0.5rem !important;
}
