
/* Vars */
$primary-color: 		rgb(0,84,150); /* #005596 */
$primary-color-light: 		rgb(112, 190, 250);
$grey: #ccc;
$grey-light: rgb(239, 239, 239);
$footer-height:     50px;
$primary-font-family: Quicksand, sans-serif;
$radius-default: 4px;

.mat-badge-content {
    font-size: 12px !important;
}

.waitingParticipants button {
    position: absolute;
    top: 14rem; // pos 4 / + 3.3rem
    left: 16px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
    color: green;
    border: 1px solid rgba($color: green, $alpha: 0.4);
    &.locked {
        color: orange;
        mat-icon {
            color: orange;
        }
    }
    &:hover {
        border-color: rgba($color: orange, $alpha: 0.8);
    }
}

.waitingParticipants {
    background: transparent;
}

.participantsNoAccess {
    position: absolute;
    top: 18rem;
    left: 16px;
    z-index: 100;
    background: rgb(70, 50, 5);
    color: orange;
    padding: 6px;
    border-radius: $radius-default;
    line-height: 1rem;
    cursor: pointer;
}

.arrowSvg {
    fill: rgb(70, 50, 5);
    transform: rotate(180deg);
    position: absolute;
    top: -11px;
    left: 12px;
    width: 15px;
    height: 15px;
}