<!--
haveAccess: {{ haveAccess | async | json }}<br>
participantsArr: {{ participantsArr | async | json }}<br>
-->
<!--<ng-container *ngIf="participantsArr | async as pa">-->
<ng-container>
    <div
        *ngIf="true"
        class="waitingParticipants">
        <button
            name="participantsSidenavButton"
            [ngClass]="{ 'isWaiting': isWaiting > 0 }"
            mat-icon-button
            [matTooltip]="'room.waiting-participants.show-students-list' | translate"
            matTooltipPosition="right"
            (click)="cs.roomSidenavEmitter.emit('participants')">
            <mat-icon
                [matBadgeHidden]="isWaiting === 0"
                [matBadge]="isWaiting"
                matBadgeColor="warn"> 
                {{ isWaiting > 0 ? 'emoji_people' : 'people' }} 
            </mat-icon>
        </button>
    </div>
</ng-container>
<ng-container *ngIf="!haveAccess">
    <div  
        class="mat-caption participantsNoAccess"
        (click)="cs.roomSidenavEmitter.emit('participants')">
        <div class="arrow">
            <svg 
              viewBox="0 0 200 100"
              class="arrowSvg">
                <path d="
                    M 0,0 
                    l 200,0 
                    l -100,100 
                    Z
                  " />        
              </svg>
        </div>
        <span [innerHTML]="'room.waiting-participants.check-settings-no-access' | translate">
            <!--Check your participants settings:<br>No student has access to the session!-->
        </span>
    </div>
</ng-container>