$grey-light: rgb(239, 239, 239);

#preflight-wrapper {
    height: calc(100vh - 50px);
    width: 100vw;
    position: relative;
    padding-bottom: 320px;
}
#preflight-wrapper>div {
    height: calc(100vh - 50px);
}

.myVideo {
    width: 100%;
}

/* The only rule that matters */
/*
#myVideo {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
}
*/

#myVideo {
    width: 100%;
}

.device-row {
    min-height: calc(160px - 2em);
}

._select-box {
    background: rgba(255,255,255,0.8);
    border: 1px solid rgba(201, 200, 200, 0.8);
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;   
}

._select-box-content {
    padding: 1em;  
}

._select-box.headphone-mode {
    background: rgba(255,255,255,0.8);
    border: 1px solid rgba(0,84,150,0.8);
    
}

.headphoneSection {
    margin-right: 2em;
}

.headphone-mode-toggle {
    margin-left: 0.9rem;
    margin-bottom: 0.5rem;
}

button.startTango {
    font-size:20px; 
    font-family:Quicksand;
    letter-spacing: 1px;
    font-weight: lighter;
    text-transform: uppercase; 
    border-radius:5px;
    border: none;
    padding: 0.3em 2em;
    margin: 0.5em 0;
    color: #fff;
    background: #005596;
    cursor: pointer;
}

.warn {
    background: rgba(255, 120, 0, 0.8);
    padding: 1em;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

/* overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: row;
    justify-content: center;
    z-index: 500;
    background: rgba(0,0,0,0.7);
}

.overlay>div {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.overlay>div>mat-spinner {
    margin-left: calc(50% - 50px);
    margin-bottom: 3em;
}

.overlay>div>p {
    /* */
    color: #333;
    text-align: center;
    padding: 1em;
    border-radius:5px;
    background: rgba(255,255,255,0.7);
}

.mirrorMode {
    transform: scaleX(-1);
    /* same */
    /*
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); 
    -moz-transform:rotateY(180deg); 
    */
}

.setDelayButton {
    padding: 0 1rem;
}

.setDelayButton mat-icon {
    padding: 0.5rem;
    cursor: pointer;
}

p[name="masterDelay"] {
    background: $grey-light;
    padding: 0.5rem;
    border-radius: 5px;
}

