
<div
  *ngIf="vm$ | async as vm"
  id="preflight-wrapper">

  <div>
    
    <div 
      fxLayout="row" 
      fxLayoutAlign="center start"
      style="min-height: 100px">
      <h2>
        {{'presession.headline' | translate}}
        <!--presession-->
      </h2>
    </div>

    <div 
      fxLayout="row" 
      fxLayout.lt-md="column">
      
      <div
        fxFlex="2 2 calc(33%-2em)"
        fxFlex.lt-md="2 2 calc(100%-2em)"
        class="_select-box"
        fxLayout="column">

        <!--<app-video-in-list 
          [videoInSelected]="vm.state.videoSource" 
          (selectVideoIn)="selectVideoIn($event)"></app-video-in-list>

        <app-audio-in-list 
          [audioInSelected]="vm.state.audioSource" 
          (selectAudioIn)="selectAudioIn($event)"></app-audio-in-list>-->

        <p class="mat-title">{{'presession.select-video-input' | translate}}</p>

        <mat-radio-group 
          fxLayout="column" 
          class="mat-primary" 
          [value]="videoInputSelected"
          (change)="onSelectionChange($event, {type:'videoinput'})">
          <mat-radio-button 
            *ngFor="let item of videoInput" 
            [value]="item.deviceId">
            {{item.label}}
          </mat-radio-button>
        </mat-radio-group>

        <p>{{'presession.video-preview' | translate}}</p>
        <div>
          <video 
            #myVideo 
            [ngClass]="{
              'mirrorMode': vm.state.mirror, 
              '16-9': vm.state.resolution === '1280x720',
              '4-3': vm.state.resolution === '640x480'}"
            id="myVideo" autoplay muted></video>  
        </div>

        <div class="spacer"></div>

        <div 
          fxLayout="column"
          fxLayoutGap="1rem">

          <mat-slide-toggle
            class="toggleMirrorMode"
            [color]="'primary'"
            [checked]="vm.state.mirror"
            [labelPosition]="'after'"
            (change)="publisherStore.toggleMirror()"
            matTooltip="toggle mirror mode">
            <span *ngIf="vm.state.mirror">{{'presession.video-mirrored-ON' | translate}}</span>
            <span *ngIf="!vm.state.mirror">{{'presession.video-mirrored-OFF' | translate}}</span>
          </mat-slide-toggle> 

          <!--<mat-slide-toggle
            class="toggleResolution"
            [color]="'primary'"
            [checked]="ots.getResolution() === '640x480'"
            [labelPosition]="'after'"
            (change)="ots.toggleResolution()"
            matTooltip="toggle Resolution between 1280x720 and 640x480">
            <span *ngIf="ots.getResolution() === '1280x720'">1280x720px - 16/9</span>
            <span *ngIf="ots.getResolution() === '640x480'">640x480px - 4/3</span>
          </mat-slide-toggle>-->

        </div>

        <div class="spacer"></div>

        <p class="mat-title">{{'presession.video-resolution' | translate}}</p>
        <div>
          <mat-radio-group 
            fxLayout="column" 
            class="resolutionSection" 
            (change)="publisherStore.toggleResolution()">
            <div
              fxLayout="row">
              <mat-radio-button 
                [checked]="vm.state.resolution === '1280x720'"
                name="resolution_1280x720"
                value="1280x720">
                1280x720px - 16/9
              </mat-radio-button>
            </div>
            <div
              fxLayout="row">
              <mat-radio-button 
                [checked]="vm.state.resolution === '640x480'"
                name="resolution_640x480"
                value="640x480">
                640x480px - 4/3
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
        <div class="spacer"></div>

        <!-- relevant only for coaches -->
        <ng-container *ngIf="a.perm([1]) | async">
          <app-mediamode [user]="a.usr$ | async"></app-mediamode>
        </ng-container>

      </div>

      <div 
        fxLayout="row wrap"
        fxFlex="2 2 calc(66%-2em)">

        <div
          fxFlex="2 2 calc(50%-2em)"
          fxFlex.lt-sm="2 2 calc(100%-2em)"
          class="_select-box headphone-mode">

          <p class="mat-title">{{'presession.select-audio-mode' | translate}}</p>

        <ng-container *ngIf="vm$ | async as vm">

          <div class="headphone-mode-toggle">
            <app-toggle-audio-mode
              [currentValue]="publisherStore.headphoneMode$ | async" 
              (setHeadphoneMode)="setHeadphoneMode($event)">
            </app-toggle-audio-mode>
          </div>

          <mat-selection-list name="audio-constraints" (selectionChange)="selectAudioOption($event)">
            <mat-list-option id="echoCancellation" checkboxPosition="before" value="echoCancellation" [selected]="vm.state.echoCancellation">
              {{'presession.constraints.echo-cancelation' | translate}}
            </mat-list-option>
            <mat-list-option id="noiseSuppression" checkboxPosition="before" value="noiseSuppression" [selected]="vm.state.noiseSuppression">
              {{'presession.constraints.noise-supression' | translate}}
            </mat-list-option>
            <mat-list-option id="autoGainControl" checkboxPosition="before" value="autoGainControl" [selected]="vm.state.autoGainControl">
              {{'presession.constraints.auto-gain-control' | translate}}
            </mat-list-option>
          </mat-selection-list>

        </ng-container>

        <div class="spacer"></div>
        <div class="spacer"></div>

        <p class="mat-title no-margin">{{'presession.audio-output' | translate}}</p>
        <ng-container>
          <div 
            fxLayout="column"
            fxLayoutGap="1rem">
            <p>
              {{'presession.test-tones' | translate}}
              <!--Test tones-->
            </p>
            <div 
              fxLayout="row wrap"
              fxLayoutAlign="start center"
              fxLayoutGap="1rem">

              <!--<span class="testnote-label">C3</span>
              <app-test-tone
                note="C3"
                layout="default">
              </app-test-tone>
              <span class="testnote-label">A3</span>
              <app-test-tone
                note="A3"
                layout="default">
              </app-test-tone>-->
              
              <span class="testnote-label">C4</span>
              <app-test-tone
                note="C4"
                layout="default">
              </app-test-tone>

              <!--<span class="testnote-label">A4</span>
              <app-test-tone
                note="A4"
                layout="default">
              </app-test-tone>-->
              
            </div>
          </div>
        </ng-container>

      </div>

        <div
          fxFlex="2 2 calc(50%-2em)"
          fxFlex.lt-sm="2 2 calc(100%-2em)"
          class="_select-box">

          <p class="mat-title">{{'presession.select-audio-input' | translate}}</p>
          <mat-radio-group 
            fxLayout="column" 
            [value]="audioInputSelected"
            (change)="onSelectionChange($event, {type:'audioinput'})">
              <mat-radio-button 
                [name]="item.label"
                *ngFor="let item of audioInput" 
                [value]="item.deviceId">
                {{item.label}}
              </mat-radio-button>
            </mat-radio-group>

            <ng-container 
              *ngIf="stream">

              <p>{{'presession.microphone-level-indicator' | translate}}</p>

              <app-levelmeter
                layout="default"
                [stream]="stream">
              </app-levelmeter>

              <!--<app-levelmeter
                layout="pulse"
                [stream]="stream">
              </app-levelmeter>-->

            </ng-container>

            <div class="spacer"></div>

            <app-set-bitrate 
              [selectedBitrate]="vm.state.audioBitrate" 
              (setBitrate)="setAudioBitrate($event)">
            </app-set-bitrate>

            <div class="spacer"></div>

            <p class="mat-title">{{'presession.audio-channels' | translate}}<sup>*</sup></p>
            <mat-radio-group 
              fxLayout="column" 
              class="stereoSection" 
              [value]="vm.state.enableStereo"
              (change)="publisherStore.toggleStereo()">
              <div
                fxLayout="row">
                <mat-radio-button
                  [value]="false">
                  Mono (Standard)
                </mat-radio-button>
              </div>
              <div
                fxLayout="row">
                <mat-radio-button 
                  [value]="true">
                  Stereo
                </mat-radio-button>
              </div>
            </mat-radio-group>
            <p *ngIf="ots.getStereoMode()" class="mat-caption">
              <sup>*</sup>
              {{'presession.be-aware-stereo' | translate}}.
              <!--Be aware that publishing in Stereo needs significantly more bandwidt! A high quality network connection is required.-->
            </p>
        </div>
        
        <div
          fxFlex="2 2 calc(50%-2em)"
          fxFlex.lt-sm="2 2 calc(100%-2em)"
          class="_select-box">

          <ng-container *ngIf="deviceInfo.browser.toLowerCase() === 'chrome'">
            <p class="mat-title">{{'presession.select-audio-output' | translate}}</p>
            <mat-radio-group 
              fxLayout="column"  
              [(ngModel)]="audioOutputSelected"
              (change)="onSelectionChange($event, {type:'audiooutput',deviceId:audioOutputSelected})">
              <mat-radio-button 
                *ngFor="let item of audioOutput" 
                [value]="item.deviceId">
                {{item.label}}
              </mat-radio-button>
            </mat-radio-group>
          </ng-container>
        </div>

        <!-- due to MediaRecorder not available, makes no sense for Safari -->
        <div
          fxFlex="2 2 calc(50%-2em)"
          fxFlex.lt-sm="2 2 calc(100%-2em)"
          class="_select-box">
            
          <p class="mat-title">{{'presession.mic-latency-compensation' | translate}}</p>
          <!--<p *ngIf="deviceInfo.browser.toLowerCase() === 'safari'">
            {{'presession.latency-calc-not-supported-safari' | translate}}
          </p>-->

          <p class="no-margin">{{'presession.manual-settings' | translate}}</p>

          <div 
            fxLayout="row"
            fxLayoutAlign="center center">
            <!-- Latency calibration not supported by Safari, use Chrome or Firefox please. Default value applied for Safari. -->
            <p name="masterDelay" class="mat-title" style="margin-top: 1em; text-align: center"><strong>{{ masterDelay | number : '1.3' }} sec.</strong></p>

            <!-- manual settings master delay START -->
            <div 
              fxLayout="column"
              class="setDelayButton" 
              matTooltip="{{'apps.mixer.tooltip.master-delay' | translate}}">
              <mat-icon
                  (click)="setMasterDelay(+0.001)" 
                  (dblclick)="setMasterDelay(+0.01)">
                  add_circle_outline
              </mat-icon>
              <!--<span class="mat-caption">{{ masterDelay | number : '1.3' }}</span>-->
              <mat-icon 
                  (click)="setMasterDelay(-0.001)" 
                  (dblclick)="setMasterDelay(-0.01)">
                  remove_circle_outline
              </mat-icon>
            </div>
            <!-- manual settings master delay END -->

          </div>

          <div class="spacer"></div>
          <p>
            {{'presession.automatic-calculation' | translate}}
            <span 
              *ngIf="deviceInfo.browser.toLowerCase() === 'safari'" 
              class="mat-caption">
              <sup>*</sup>
            </span>
          </p>
          <button 
            name="calculateDelay"
            [disabled]="deviceInfo.browser.toLowerCase() === 'safari'"
            mat-raised-button
            (click)="router.navigateByUrl('/apps/delay')"
            matTooltip="calculate delay"
            style="width: 100%">
            <mat-icon aria-label="go home" style="transform: rotate(270deg)">filter_list</mat-icon>
            {{'presession.recalculate-here' | translate}}
          </button>
          <span 
            *ngIf="deviceInfo.browser.toLowerCase() === 'safari'" 
            class="mat-caption">
            <sup>*</sup>{{'presession.not-supported' | translate}}
          </span>

        </div>

      </div>

    </div>

    <div 
      fxLayout="column" 
      fxLayoutAlign="">

      <div
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutAlign="center center"
        fxFlex="2 2 calc(100%-2em)"
        fxFlex.lt-md="2 2 calc(100%-2em)"
        class="_select-box">

        <div
          fxFlex="2 2 calc(30%-2em)"
          fxFlex.lt-sm="2 2 calc(100%-2em)"
          class="_select-box-content">
          <p>
            {{'presession.updating-doozzoo-text' | translate}}
            <!--When we are updating doozzoo and have implemented new features concerning audio, it is recommended to refresh your settings. Simply click the button.-->
          </p>
        </div>

        <div
          fxLayout="column"
          fxFlex="2 2 calc(60%-2em)"
          fxFlex.lt-sm="2 2 calc(100%-2em)"
          class="_select-box-content">

          <button
            *ngIf="!completeButton" 
            mat-raised-button
            (click)="refreshStorageSettings()">
            {{'presession.refresh-doozzoo-version' | translate}}
          </button>

          <a
            *ngIf="completeButton"
            class="blink"
            color="primary"
            name="save-settings"
            href="/presession"
            mat-raised-button>
            {{'presession.click-to-complete-refresh' | translate}}
          </a>

        </div>

      </div>

      <div
        style="height: 120px">
      </div>
    </div>

    <div 
      fxLayout="column" 
      fxLayoutAlign="center center"
      style="margin:2em 0">
        <div *ngIf="uiError !== null" class="warn">
          <span>
            {{'general.something-went-wrong' | translate}} ({{ uiError.name }}; {{ uiError.message }}): {{'general.reload-browser-try-again' | translate}}
            <!--Changing settings failed ({{ uiError.name }}; {{ uiError.message }}): Please reload Browser and try again!-->
          </span>
        </div>
    </div>

  </div>

</div>

<!-- overlay -->
<div *ngIf="overlay" class="overlay">
    <div>
        <mat-spinner></mat-spinner>
        <p class="mat-headline">
          {{'general.wait-a-sec' | translate}}
          <!--Please wait a sec, settings are changed and will be ready in a moment...-->
        </p>
    </div>
</div>

<ng-container 
  *ngIf="(a.perm([0,1,3]) | async)">
  <!--<app-tango-button buttonConfig="center"></app-tango-button>-->
  <ng-container 
    *ngIf="(a.usr$ | async) as userData">
    <app-myrooms-list [userData]="userData" buttonConfig="center"></app-myrooms-list>
  </ng-container>
</ng-container>

<app-footer></app-footer>

<ng-container *ngIf="debug">
  <div class="generic-debug">
    <pre>{{ vm$ | async | json }}</pre> 
  </div>
</ng-container>
