

<div
    *ngIf="(vm$ | async) as vm"
    fxLayout="column">
    <span class="mat-title">
        {{'login.email-handler.account-verification' | translate}}
        <!--Account verification-->
    </span>
    <ng-container *ngIf="vm.state.emailVerified; else notVerified">
        <p class="successMessage">
            {{'login.email-handler.account-verified' | translate}}
            <!--Your account has been verified!-->
        </p>
    </ng-container>
    <ng-template #notVerified>

        <ng-container
            *ngIf="successMessage">

            <p class="successMessage">
                {{'login.email-handler.account-verified' | translate}}
                <!--Your account has been verified!-->
            </p>

            <a
                class="verificationContinue"
                href="/login"
                color="primary" 
                mat-raised-button>
                {{'profile.continue-registration' | translate}}
            </a>
        </ng-container>

        <ng-container *ngIf="errorCode">
            <p class="errorMessage" *ngIf="errorCode === 'generic'">{{'general.something-went-wrong-try-again' | translate}}</p>
            <p class="errorMessage" *ngIf="errorCode === 'auth/invalid-action-code'">
            {{'login.email-handler.invalid-code' | translate}}
            <!--The action code is invalid. This can happen if the code is malformed, expired, or has already been used.-->
            </p>
        </ng-container>

        <span><strong>{{email}}</strong></span>

    </ng-template>
</div>