<!-- wrapper START -->
<div
  fxLayout="row"
  class="moduleContainerWrapper"
  fxLayoutAlign="center center"
>
  <!-- column container for modules -->
  <div
    class="moduleContainer"
    fxLayout="column"
    fxFlex="80"
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxLayoutGap="1em">

    <div
      class="fxContent mat-elevation-z2 padding16"
      fxLayout="column"
      fxFlex.gt-sm="40"
      fxFlex="60"
      fxFlex.xs="100"
      fxLayoutGap="1rem">

      <h2 class="md-title" i18>{{'edu.edu-profile.headline' | translate}}</h2>

      <p *ngIf="!(ats.loginStatus$ | async)">
        {{'edu.edu-profile.login-hint' | translate}}
        <!-- Bitte melde dich mit den Zugangsdaten ein, die du von deiner Institution erhalten hast.-->
      </p>

      <ng-container *ngIf="institutionId">
        <app-institution-profile [institutionId]="institutionId"></app-institution-profile>
      </ng-container>

      <mat-divider></mat-divider>

      <ng-container *ngIf="true">
        <div
          fxLayout="row"
          fxLayoutGap="0"
          fxLayout="center center" 
          class="warnMessage"> 
          <span class="mat-title no-margin">
            {{'general.security-hint-change-password' | translate}}
            <!--Stay secure, reset your password regularly-->
          </span>
          <span fxFlex="auto"></span>
          <button
            name="resetPassword" 
            mat-raised-button
            (click)="cs.do('loginDialog', { tabIndex: 2 })"> 
            {{'buttons.standard.reset-password' | translate}}
          </button>
        </div>
      </ng-container>
      
      <span class="mat-title">{{'edu.edu-profile.headline' | translate}}</span>

      <form 
      name="profileFormEduCoach"
      [formGroup]="profileForm"
      (ngSubmit)="saveProfile()"
      fxLayout="column">

        <div class="formRow" fxLayout="row" fxLayoutAlign="start center">

          <mat-form-field fxFlex="50" fxFlexFill>
            <input 
              matInput
              name="firstname"
              placeholder="{{'forms.placeholder.first-name' | translate}}" 
              formControlName="firstname"
              required>
            <mat-error *ngIf="profileForm.get('firstname').errors">{{'forms.required' | translate}}</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="50" fxFlexFill>
            <input 
              matInput
              name="lastname"
              placeholder="{{'forms.placeholder.last-name' | translate}}" 
              formControlName="lastname"      
              required>
            <mat-error *ngIf="profileForm.get('lastname').errors">{{'forms.required' | translate}}</mat-error>
          </mat-form-field>
        </div>
        
        <div class="formRow" fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="10" fxFlexFill>
              <app-avatar *ngIf="userId !== null" [userId]="userId" [avatarURL]="avatarURL"></app-avatar>
            </div>
          <mat-form-field fxFlex="45" fxFlexFill>
            <input 
              matInput
              placeholder="Nickname" 
              formControlName="nickname"
              minlength="4"
              required>
            <mat-error *ngIf="profileForm.get('nickname').errors">{{'forms.required' | translate}} {{'forms.at-least-4' | translate}}</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="45" fxFlexFill>
            <input 
              matInput
              placeholder="E-mail" 
              formControlName="email"
              disabled     
              required>
              <mat-error *ngIf="profileForm.get('email').errors">{{'forms.valid-email' | translate}}</mat-error>
          </mat-form-field>
        </div>

        <div class="formRow padding" fxLayout="row" fxLayoutAlign="start center">
          <!-- TODO: issues to integrate with reactive forms -->
          <mat-checkbox 
            required
            name="dataApproval"
            formControlName="dataApproval">
          </mat-checkbox>

          <span 
            style="margin-left: 1em"
            [innerHTML]="'edu.edu-profile.legal' | translate">
            <!-- Ich habe die <a target="_blank" href="https://info.doozzoo.com/nutzungsbedingungen">Nutzungsbedingungen</a> zur Kenntnis genommen -->
          </span>

        </div>

        <div class="spacer"></div>

        <button
          name="profileFormEduCoachSubmit" 
          [disabled]="!profileForm.valid || !profileForm.dirty"
          mat-raised-button
          color="primary">
          {{'buttons.standard.submit' | translate}}
        </button>

      </form>

      </div>

</div>

<!-- wrapper END -->
</div>

<app-footer></app-footer>

